# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.float_format", "{:,.2f}".format)

### Step 2. Create a data dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

pd.DataFrame(raw_data)

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 3. Assign it to a variable called pokemon

In [3]:
df = pd.DataFrame(raw_data)
df

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
df.columns = ["name", "type", "hp", "evolution", "pokedex"]
df

         name        type     hp  evolution pokedex
0   Bulbasaur     Ivysaur  grass         45     yes
1  Charmander  Charmeleon   fire         39      no
2    Squirtle   Wartortle  water         44     yes
3    Caterpie     Metapod    bug         45      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
raw_col = df['pokedex']+'_added'
raw_col
df.insert(
    loc=len(df.columns)
    , column='place'
    , value=raw_col
    , allow_duplicates=True
)
df

         name        type     hp  evolution pokedex      place
0   Bulbasaur     Ivysaur  grass         45     yes  yes_added
1  Charmander  Charmeleon   fire         39      no   no_added
2    Squirtle   Wartortle  water         44     yes  yes_added
3    Caterpie     Metapod    bug         45      no   no_added

### Step 6. Present the type of each column

In [6]:
df.dtypes

name         object
type         object
hp           object
evolution     int64
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.