<div style=" border-bottom: 8px solid #e3f56c; overflow: hidden; border-radius: 10px; height: 95%; width: 100%; display: flex;">
  <div style="height: 100%; width: 100%; background-color: #3800BB; float: left; text-align: center; display: flex; justify-content: left; align-items: center; font-size: 40px; ">
    <b><span style="color: #FFFFFF; padding: 20px 20px;">Make a Pandas DataFrame with Two-dimensional List - Python</span></b>
  </div>
</div>

<div class="alert" style="background-color: #FFFFFF; border-left: 8px solid #B12111; padding: 14px; border-radius: 8px; font-size: 14px; color: #000000;">

If you already have data stored as a two-dimensional list (a list inside another list, like a table), you can turn it into a Pandas DataFrame so itâ€™s easier to view, label, and work with similar to working in Excel.

<div class="alert alert-danger">

**Using pd.DataFrame()**
</div>

The **pd.DataFrame()** method is most direct way to create a DataFrame. You pass a 2D list directly to the constructor and can optionally provide column names.

**Example:** In this example, a DataFrame is created from a 2D list with columns "Tag" and "number".

</div>

In [ ]:
import pandas as pd
lst = [['Geek', 25], ['is', 30], ['for', 26], ['Geeksforgeeks', 22]]
df = pd.DataFrame(
    lst
    , columns=['Tag', 'number']
)
display(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

<div class="alert" style="background-color: #FFFFFF; border-left: 8px solid #B12111; padding: 14px; border-radius: 8px; font-size: 14px; color: #000000;">

<div class="alert alert-danger">

**Using pd.DataFrame.from_records()**
</div>

The **from_records()** method is designed for structured or record-oriented data. Each inner list of the 2D list is treated as a record (row) and column names can be explicitly provided.

**Example:** This code creates a DataFrame from a 2D list with columns "Name", "Age" and "Occupation".

</div>

In [3]:
import pandas as pd
data = [
    ['Geek1', 28, 'Analyst']
    , ['Geek2', 35, 'Manager']
    , ['Geek3', 29, 'Developer']
]
columns = ['Name', 'Age', 'Occupation']
df = pd.DataFrame.from_records(
    data
    , columns=columns
)
display(df)

    Name  Age Occupation
0  Geek1   28    Analyst
1  Geek2   35    Manager
2  Geek3   29  Developer

<div class="alert" style="background-color: #FFFFFF; border-left: 8px solid #B12111; padding: 14px; border-radius: 8px; font-size: 14px; color: #000000;">

<div class="alert alert-danger">

**Using pd.DataFrame.from_dict()**
</div>


**from_dict()** creates a DataFrame from a dictionary where keys become column names and values are the column data. A 2D list can be transposed using zip(*data) to convert rows into columns before creating the dictionary.

**Example:** Here we create a DataFrame from a 2D list using from_dict() and specify column names "Name", "Age" and "Occupation".

</div>

In [4]:
import pandas as pd
data = [
    ['Geek1', 26, 'Scientist']
    , ['Geek2', 31, 'Researcher']
    , ['Geek3', 24, 'Engineer']
]
columns = ['Name', 'Age', 'Occupation']
df = pd.DataFrame.from_dict(dict(zip(columns, zip(*data))))
display(df)

    Name  Age  Occupation
0  Geek1   26   Scientist
1  Geek2   31  Researcher
2  Geek3   24    Engineer

<div class="alert" style="background-color: #FFFFFF; border-left: 8px solid #B12111; padding: 14px; border-radius: 8px; font-size: 14px; color: #000000;">

<div class="alert alert-danger">

**Creating a DataFrame with Specified Data Types**
</div>

This approach allows you to explicitly define column names and control the structure of the DataFrame. It is suitable for datasets where consistent column labeling and type handling are important.

**Example:** This program creates a DataFrame from a 2D list with columns "FName", "LName" and "Age".****

</div>

In [5]:
import pandas as pd
data = [
    ['Geek1', 'Reacher', 25]
    , ['Geek2', 'Pete', 30]
    , ['Geek3', 'Wilson', 26]
    , ['Geek4', 'Williams', 22]
]
columns = ['FName', 'LName', 'Age']
df = pd.DataFrame(
    data = data
    , columns=columns
)
display(df)

   FName     LName  Age
0  Geek1   Reacher   25
1  Geek2      Pete   30
2  Geek3    Wilson   26
3  Geek4  Williams   22