[Pandas Missing Values](https://www.w3resource.com/python-exercises/pandas/missing-values/index.php)

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-warning">

**1. Detect Missing Values**

**Write a Pandas program to detect missing values of a given DataFrame. Display True or False.**

</div>

In [2]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1541,170,1,12.65,0.17,10.4995,7,North,Cash,...,3,37,Female,Clothing,3.3,Returned,Positive,NaN,SAVE10,4.7
1,2023-01-02,1673,189,2,41.45,0.02,81.2420,7,West,Credit Card,...,1,68,Male,Electronics,4.3,Not Returned,Positive,17.87,nan,3.2
2,2023-01-03,1573,177,5,20.78,0.02,101.8220,5,South,Cash,...,2,63,Female,Clothing,3.2,Returned,Neutral,12.65,nan,4.1
3,2023-01-04,1034,191,2,97.96,0.24,148.8992,5,South,Cash,...,1,67,Other,Food,2.7,Returned,Positive,7.99,SAVE10,3.6
4,2023-01-05,1768,169,5,89.79,0.07,417.5235,9,East,Cash,...,1,69,Male,Food,5.0,Not Returned,Negative,10.00,SAVE10,NaN
5,2023-01-06,1179,174,1,52.76,0.01,52.2324,2,South,Online,...,1,67,Other,Books,4.9,Returned,Negative,14.94,nan,4.4
6,2023-01-07,1435,131,7,39.55,0.30,193.7950,1,East,Credit Card,...,3,59,Female,Electronics,5.0,Not Returned,Negative,17.44,SAVE10,3.5
7,2023-01-08,1541,192,6,95.36,0.05,543.5520,8,North,Cash,...,3,51,Other,Clothing,3.0,Not Returned,Neutral,14.39,nan,3.4
8,2023-01-09,1592,106,7,88.39,0.00,618.7300,2,West,Credit Card,...,4,28,Male,Books,1.8,Not Returned,Neutral,13.36,nan,4.3
9,2023-01-10,1273,192,6,28.80,0.27,126.1440,3,North,Online,...,6,42,Other,Food,3.7,Not Returned,Negative,18.92,nan,2.5
10,2023-01-11,1631,128,1,56.30,0.14,48.4180,9,West,Credit Card,...,3,49,Male,Clothing,3.7,Returned,Negative,18.58,nan,NaN
11,2023-01-12,1030,109,6,55.86,0.17,278.1828,7,West,Online,...,6,28,Female,Food,2.2,Not Returned,Neutral,12.17,nan,1.7
12,2023-01-13,1069,184,3,52.51,0.26,116.5722,7,North,Cash,...,3,35,Other,Food,3.8,Not Returned,Positive,8.28,SAVE10,NaN
13,2023-01-14,1733,169,7,98.23,0.26,508.8314,2,South,Credit Card,...,1,61,Male,Clothing,2.0,Returned,Negative,14.76,nan,NaN
14,2023-01-15,1796,164,2,66.59,0.01,131.8482,9,South,Online,...,3,51,Male,Electronics,1.9,Not Returned,Neutral,6.61,SAVE10,NaN
15,2023-01-16,1915,130,5,45.06,0.13,196.0110,3,East,Cash,...,5,23,Male,Electronics,3.4,Returned,Positive,16.96,nan,NaN
16,2023-01-17,1556,176,5,10.31,0.11,45.8795,1,North,Cash,...,4,19,Male,Electronics,2.0,Returned,Negative,5.40,WELCOME5,1.7
17,2023-01-18,1201,174,8,59.54,0.24,362.0032,3,North,Credit Card,...,4,36,Female,Food,2.6,Not Returned,Negative,17.29,nan,4.3
18,2023-01-19,1112,110,7,89.72,0.14,540.1144,5,East,Online,...,4,56,Other,Electronics,1.6,Returned,Neutral,9.31,SAVE10,NaN
19,2023-01-20,1173,132,2,97.35,0.09,177.1770,9,North,Credit Card,...,6,65,Other,Food,4.7,Returned,Negative,18.54,WELCOME5,1.2
20,2023-01-21,1828,190,7,22.00,0.18,126.2800,5,South,Credit Card,...,2,52,Male,Books,3.4,Returned,Neutral,NaN,nan,2.2
21,2023-01-22,1023,199,5,17.29,0.29,61.3795,6,West,Credit Card,...,3,44,Male,Books,1.5,Returned,Positive,13.56,FREESHIP,3.4
22,2023-01-23,1878,166,4,98.02,0.03,380.3176,8,West,Credit Card,...,6,58,Other,Electronics,2.3,Returned,Neutral,17.51,WELCOME5,1.1
23,2023-01-24,1089,166,2,23.12,0.17,38.3792,3,North,Credit Card,...,1,47,Other,Books,3.9,Returned,Negative,14.80,FREESHIP,3.1
24,2023-01-25,1729,160,9,95.67,0.10,774.9270,5,East,Credit Card,...,1,36,Male,Food,3.9,Returned,Positive,NaN,nan,3.2
25,2023-01-26,1972,123,7,89.29,0.13,543.7761,6,North,Online,...,6,28,Female,Clothing,1.1,Returned,Negative,11.11,nan,2.8
26,2023-01-27,1770,124,7,36.23,0.02,248.5378,6,North,Online,...,5,66,Male,Electronics,3.4,Not Returned,Neutral,NaN,WELCOME5,NaN
27,2023-01-28,1679,199,6,85.35,0.18,419.9220,1,East,Online,...,2,30,Other,Clothing,1.3,Returned,Negative,13.53,nan,1.4
28,2023-01-29,1828,156,1,59.88,0.06,56.2872,5,West,Cash,...,5,41,Female,Electronics,3.0,Returned,Negative,NaN,FREESHIP,3.7
29,2023-01-30,1477,136,8,62.14,0.28,357.9264,9,South,Cash,...,4,25,Male,Food,4.7,Not Returned,Neutral,NaN,nan,NaN
30,2023-01-31,1165,182,8,68.04,0.11,484.4448,7,South,Credit Card,...,6,51,Other,Electronics,2.3,Returned,Positive,15.36,nan,NaN
31,2023-02-01,1867,128,6,69.16,0.28,298.7712,3,West,Credit Card,...,2,34,Other,Food,3.3,Returned,Positive,19.56,SAVE10,1.2
32,2023-02-02,1294,168,2,60.78,0.16,102.1104,7,South,Online,...,1,33,Other,Clothing,2.9,Not Returned,Negative,11.82,nan,4.3
33,2023-02-03,1748,112,5,13.76,0.05,65.3600,3,East,Credit Card,...,3,21,Other,Electronics,2.6,Not Returned,Neutral,NaN,SAVE10,1.8
34,2023-02-04,1050,173,4,37.02,0.04,142.1568,6,East,Online,...,5,23,Other,Food,2.8,Not Returned,Negative,12.40,FREESHIP,NaN

<div class="alert alert-success">

**Solution 01:**
</div>

In [3]:
print(type(df.isna()))
df.isna()

<class 'pandas.core.frame.DataFrame'>

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [4]:
print(df.isna().any())  
df.isna().sum()

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
dtype: bool

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        7
coupon_code          0
delivery_rating     11
dtype: int64

<div class="alert alert-warning">

**2. Identify Columns with Missing Values**

**Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.**

</div>

In [5]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1312,112,2,13.52,0.17,22.4432,2,South,Credit Card,...,2,33,Female,Books,1.2,Not Returned,Positive,NaN,FREESHIP,1.9
1,2023-01-02,1045,119,2,59.47,0.11,105.8566,6,West,Credit Card,...,2,68,Other,Books,1.0,Not Returned,Negative,NaN,SAVE10,2.8
2,2023-01-03,1118,128,5,17.98,0.03,87.2030,5,West,Credit Card,...,3,30,Female,Food,3.7,Returned,Neutral,17.10,SAVE10,NaN
3,2023-01-04,1688,188,8,61.03,0.18,400.3568,3,West,Cash,...,1,63,Male,Food,1.9,Not Returned,Negative,7.70,WELCOME5,NaN
4,2023-01-05,1792,111,8,68.47,0.22,427.2528,6,East,Cash,...,1,40,Other,Electronics,2.6,Returned,Negative,8.55,SAVE10,3.8
5,2023-01-06,1031,160,7,78.43,0.05,521.5595,2,West,Cash,...,3,49,Male,Clothing,1.7,Returned,Negative,15.23,WELCOME5,2.4
6,2023-01-07,1950,101,3,25.18,0.27,55.1442,9,East,Online,...,1,22,Female,Electronics,2.3,Returned,Negative,8.99,FREESHIP,NaN
7,2023-01-08,1449,187,6,29.81,0.07,166.3398,2,South,Cash,...,5,63,Other,Food,3.1,Not Returned,Neutral,15.21,nan,1.2
8,2023-01-09,1170,128,8,97.02,0.08,714.0672,8,West,Cash,...,3,23,Male,Food,2.7,Not Returned,Negative,6.33,nan,4.7
9,2023-01-10,1200,158,8,75.54,0.20,483.4560,3,East,Credit Card,...,3,54,Male,Electronics,4.9,Returned,Positive,5.54,WELCOME5,4.5
10,2023-01-11,1210,179,8,55.37,0.28,318.9312,1,East,Online,...,5,36,Female,Clothing,2.3,Not Returned,Negative,5.29,nan,4.7
11,2023-01-12,1114,125,4,24.06,0.19,77.9544,9,West,Cash,...,2,23,Male,Electronics,3.6,Not Returned,Negative,NaN,SAVE10,NaN
12,2023-01-13,1675,188,7,60.31,0.27,308.1841,1,East,Online,...,5,62,Other,Books,4.3,Returned,Negative,13.37,FREESHIP,2.3
13,2023-01-14,1467,107,2,35.59,0.13,61.9266,7,West,Credit Card,...,6,25,Other,Electronics,1.1,Returned,Negative,10.53,SAVE10,1.5
14,2023-01-15,1089,149,1,17.38,0.14,14.9468,2,West,Cash,...,2,68,Male,Food,1.7,Not Returned,Neutral,NaN,nan,3.6
15,2023-01-16,1266,136,5,82.11,0.00,410.5500,9,West,Online,...,5,44,Other,Food,3.6,Not Returned,Neutral,17.70,nan,4.6
16,2023-01-17,1079,194,8,53.52,0.05,406.7520,2,South,Credit Card,...,6,30,Female,Clothing,3.4,Not Returned,Negative,9.27,nan,4.7
17,2023-01-18,1617,165,7,38.08,0.06,250.5664,8,North,Cash,...,6,40,Other,Electronics,2.1,Returned,Negative,6.52,FREESHIP,NaN
18,2023-01-19,1988,110,9,68.46,0.05,585.3330,9,North,Credit Card,...,1,63,Male,Books,2.6,Returned,Positive,18.08,SAVE10,2.4
19,2023-01-20,1404,118,5,86.71,0.01,429.2145,6,West,Credit Card,...,4,50,Female,Food,1.7,Not Returned,Neutral,NaN,nan,2.8
20,2023-01-21,1811,161,8,11.40,0.03,88.4640,5,South,Online,...,4,52,Female,Food,2.0,Not Returned,Negative,5.44,FREESHIP,NaN
21,2023-01-22,1043,109,2,58.25,0.12,102.5200,2,East,Cash,...,5,47,Other,Food,3.2,Not Returned,Positive,NaN,WELCOME5,NaN
22,2023-01-23,1664,142,6,23.91,0.10,129.1140,9,North,Cash,...,3,37,Other,Electronics,2.3,Returned,Negative,11.31,SAVE10,3.9
23,2023-01-24,1142,177,8,31.28,0.30,175.1680,3,South,Cash,...,2,28,Other,Clothing,2.8,Returned,Neutral,17.49,WELCOME5,3.0
24,2023-01-25,1955,168,1,42.97,0.30,30.0790,3,North,Cash,...,1,69,Female,Food,3.7,Returned,Neutral,11.60,FREESHIP,NaN
25,2023-01-26,1454,127,2,51.93,0.29,73.7406,5,East,Online,...,4,69,Female,Electronics,1.8,Returned,Neutral,16.53,WELCOME5,3.5
26,2023-01-27,1283,170,5,80.24,0.25,300.9000,1,East,Credit Card,...,4,53,Male,Books,1.7,Returned,Negative,NaN,nan,4.0
27,2023-01-28,1721,138,7,69.40,0.04,466.3680,2,East,Online,...,6,29,Male,Food,2.0,Returned,Positive,14.23,SAVE10,3.4
28,2023-01-29,1656,195,9,96.11,0.22,674.6922,7,South,Cash,...,3,40,Male,Clothing,2.2,Not Returned,Neutral,17.91,nan,2.7
29,2023-01-30,1501,148,5,14.26,0.22,55.6140,8,South,Credit Card,...,1,21,Male,Food,1.5,Not Returned,Negative,13.55,nan,4.4
30,2023-01-31,1971,179,7,76.21,0.15,453.4495,2,South,Online,...,3,69,Male,Books,2.9,Returned,Neutral,18.45,nan,3.5
31,2023-02-01,1199,128,8,88.19,0.03,684.3544,2,West,Cash,...,4,19,Female,Food,4.8,Returned,Positive,NaN,nan,1.7
32,2023-02-02,1278,144,6,68.55,0.29,292.0230,3,East,Cash,...,5,54,Female,Books,3.4,Not Returned,Positive,NaN,SAVE10,NaN
33,2023-02-03,1202,181,4,19.81,0.10,71.3160,7,North,Credit Card,...,3,39,Female,Books,4.3,Not Returned,Positive,5.09,nan,4.1
34,2023-02-04,1072,191,6,41.53,0.04,239.2128,1,South,Credit Card,...,6,35,Other,Food,4.4,Not Returned,Neutral,18.31,SAVE10,4.1

<div class="alert alert-success">

**Solution 02:**
</div>

In [6]:
df.isna().any()
cols_have_na = df.isna().any()[lambda x: x].index.tolist()

<div class="alert alert-warning">

**3. Count Missing Values in Each Column**

**Write a Pandas program to count the number of missing values in each column of a given DataFrame.**

</div>

In [7]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1185,142,6,91.78,0.16,462.5712,6,East,Cash,...,5,35,Male,Electronics,2.7,Not Returned,Neutral,NaN,FREESHIP,4.4
1,2023-01-02,1173,198,8,77.82,0.30,435.7920,5,South,Online,...,4,34,Male,Electronics,2.6,Returned,Negative,8.65,nan,NaN
2,2023-01-03,1703,106,2,20.77,0.02,40.7092,7,North,Cash,...,4,62,Female,Books,2.9,Returned,Negative,9.32,SAVE10,1.6
3,2023-01-04,1898,197,3,33.20,0.15,84.6600,4,West,Cash,...,1,54,Female,Electronics,2.9,Not Returned,Positive,13.58,nan,NaN
4,2023-01-05,1876,133,1,45.76,0.02,44.8448,1,East,Credit Card,...,3,56,Female,Electronics,4.4,Returned,Positive,15.28,nan,3.1
5,2023-01-06,1734,153,3,68.87,0.10,185.9490,3,North,Cash,...,6,46,Male,Books,4.3,Returned,Negative,10.27,nan,1.3
6,2023-01-07,1945,199,8,27.65,0.12,194.6560,9,North,Online,...,2,45,Female,Food,1.3,Not Returned,Positive,14.06,nan,4.3
7,2023-01-08,1905,168,3,99.84,0.20,239.6160,4,East,Credit Card,...,1,28,Male,Electronics,4.4,Not Returned,Negative,5.20,WELCOME5,NaN
8,2023-01-09,1319,106,6,47.50,0.15,242.2500,6,South,Cash,...,6,29,Female,Books,1.1,Returned,Negative,NaN,nan,4.5
9,2023-01-10,1588,150,3,22.52,0.19,54.7236,9,West,Online,...,4,61,Other,Electronics,1.5,Not Returned,Neutral,19.56,nan,4.2
10,2023-01-11,1045,107,6,72.42,0.07,404.1036,1,South,Online,...,6,42,Female,Clothing,1.0,Returned,Positive,NaN,nan,3.0
11,2023-01-12,1866,181,2,95.81,0.02,187.7876,1,South,Online,...,6,36,Other,Electronics,4.7,Not Returned,Positive,15.44,nan,3.6
12,2023-01-13,1027,135,1,63.63,0.10,57.2670,1,East,Online,...,6,66,Male,Clothing,2.0,Not Returned,Negative,8.48,WELCOME5,2.1
13,2023-01-14,1988,142,8,73.16,0.18,479.9296,3,North,Credit Card,...,5,56,Other,Electronics,2.1,Not Returned,Positive,5.14,SAVE10,2.5
14,2023-01-15,1620,100,8,45.48,0.26,269.2416,8,East,Credit Card,...,4,25,Male,Books,4.2,Not Returned,Neutral,NaN,nan,2.4
15,2023-01-16,1628,175,3,36.99,0.15,94.3245,9,North,Credit Card,...,2,64,Male,Books,4.6,Not Returned,Positive,13.30,nan,4.6
16,2023-01-17,1689,191,9,41.14,0.22,288.8028,8,East,Online,...,5,60,Female,Electronics,2.2,Returned,Neutral,15.78,nan,1.1
17,2023-01-18,1586,163,9,24.33,0.20,175.1760,3,North,Online,...,3,65,Male,Food,2.3,Returned,Neutral,NaN,nan,NaN
18,2023-01-19,1051,147,5,28.49,0.00,142.4500,3,North,Online,...,1,28,Female,Clothing,4.4,Not Returned,Positive,15.81,SAVE10,NaN
19,2023-01-20,1245,162,3,19.86,0.03,57.7926,9,South,Credit Card,...,5,55,Female,Clothing,2.3,Not Returned,Negative,13.12,SAVE10,NaN
20,2023-01-21,1648,124,5,40.22,0.09,183.0010,2,South,Cash,...,3,63,Other,Food,2.6,Not Returned,Positive,14.66,nan,2.8
21,2023-01-22,1666,122,9,41.22,0.12,326.4624,6,South,Credit Card,...,1,45,Female,Books,3.4,Returned,Positive,5.81,nan,NaN
22,2023-01-23,1076,182,4,36.39,0.17,120.8148,2,South,Online,...,2,43,Female,Electronics,2.0,Not Returned,Neutral,12.90,SAVE10,NaN
23,2023-01-24,1541,162,7,79.98,0.03,543.0642,7,South,Online,...,1,52,Female,Clothing,2.1,Returned,Neutral,15.09,nan,4.2
24,2023-01-25,1379,190,5,49.53,0.04,237.7440,5,East,Online,...,1,69,Female,Clothing,4.7,Not Returned,Neutral,8.67,nan,1.7
25,2023-01-26,1527,182,5,77.03,0.28,277.3080,3,North,Credit Card,...,4,50,Male,Electronics,4.6,Not Returned,Positive,17.39,nan,NaN
26,2023-01-27,1186,103,9,63.07,0.16,476.8092,6,South,Cash,...,6,53,Male,Books,1.3,Returned,Neutral,18.69,nan,2.8
27,2023-01-28,1527,111,7,22.58,0.16,132.7704,5,East,Cash,...,4,26,Other,Food,3.1,Returned,Negative,19.93,FREESHIP,NaN
28,2023-01-29,1716,178,5,87.96,0.07,409.0140,2,West,Online,...,4,58,Female,Books,1.3,Returned,Negative,NaN,nan,1.8
29,2023-01-30,1993,127,9,73.24,0.16,553.6944,6,West,Cash,...,2,40,Male,Clothing,5.0,Returned,Positive,17.79,FREESHIP,2.2
30,2023-01-31,1557,131,4,92.57,0.19,299.9268,3,South,Online,...,4,37,Male,Clothing,3.4,Returned,Neutral,NaN,SAVE10,1.7
31,2023-02-01,1093,173,5,83.14,0.11,369.9730,9,East,Cash,...,5,68,Male,Books,2.7,Not Returned,Negative,13.19,SAVE10,3.1
32,2023-02-02,1885,184,9,17.06,0.26,113.6196,6,South,Online,...,4,30,Other,Electronics,2.5,Returned,Neutral,6.16,SAVE10,1.2
33,2023-02-03,1810,115,6,52.24,0.07,291.4992,3,South,Cash,...,1,32,Other,Books,1.7,Returned,Positive,7.99,WELCOME5,2.1
34,2023-02-04,1389,110,1,62.35,0.09,56.7385,9,North,Cash,...,4,63,Male,Electronics,1.5,Returned,Positive,6.77,nan,4.3

<div class="alert alert-success">

**Solution 03:**
</div>

In [8]:
df.isna().sum()

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        7
coupon_code          0
delivery_rating     10
dtype: int64

<div class="alert alert-warning">

**4. Replace Non-Valuable Missing Values**

**Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.**

</div>

In [9]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1057,126,5,85.96,0.24,326.6480,1,South,Cash,...,Other,Books,3.4,Returned,Neutral,8.19,WELCOME5,3.7,unknown,value_5
1,2023-01-02,1438,162,1,94.02,0.13,81.7974,4,East,Cash,...,Male,Food,3.2,Returned,Negative,18.57,WELCOME5,3.9,unknown,unknown
2,2023-01-03,1777,133,1,60.39,0.02,59.1822,5,West,Cash,...,Male,Electronics,2.1,Not Returned,Negative,19.77,nan,NaN,no_data,value_3
3,2023-01-04,1417,128,4,94.09,0.10,338.7240,3,East,Online,...,Male,Books,3.1,Not Returned,Positive,10.19,SAVE10,1.2,unknown,unknown
4,2023-01-05,1968,149,2,16.21,0.14,27.8812,8,South,Cash,...,Other,Electronics,2.2,Not Returned,Positive,13.44,WELCOME5,2.9,unknown,value_2
5,2023-01-06,1585,165,8,49.79,0.00,398.3200,2,North,Credit Card,...,Other,Books,1.6,Returned,Neutral,16.02,SAVE10,2.3,unknown,value_5
6,2023-01-07,1635,155,7,67.12,0.01,465.1416,5,North,Cash,...,Other,Electronics,1.1,Returned,Neutral,5.55,WELCOME5,NaN,First-time customer,unknown
7,2023-01-08,1363,144,1,98.67,0.04,94.7232,8,North,Online,...,Male,Clothing,2.2,Not Returned,Neutral,6.11,nan,3.7,Frequent buyer,value_4
8,2023-01-09,1436,106,8,18.49,0.27,107.9816,3,North,Online,...,Male,Books,2.9,Returned,Neutral,11.82,nan,1.5,Used loyalty points,value_1
9,2023-01-10,1561,177,3,40.72,0.06,114.8304,1,West,Credit Card,...,Male,Books,4.1,Returned,Positive,11.69,SAVE10,1.8,unknown,value_3
10,2023-01-11,1404,168,4,84.03,0.04,322.6752,2,North,Online,...,Male,Electronics,4.9,Not Returned,Positive,14.57,SAVE10,2.4,Frequent buyer,value_3
11,2023-01-12,1580,159,9,53.57,0.17,400.1679,8,West,Credit Card,...,Female,Books,3.2,Not Returned,Negative,7.11,nan,3.7,Frequent buyer,value_2
12,2023-01-13,1015,166,8,46.71,0.27,272.7864,7,West,Cash,...,Male,Electronics,3.3,Not Returned,Neutral,19.96,nan,NaN,Requested gift wrap,unknown
13,2023-01-14,1620,155,2,77.37,0.01,153.1926,4,East,Online,...,Other,Books,3.7,Returned,Neutral,10.76,nan,NaN,First-time customer,value_3
14,2023-01-15,1065,127,2,55.37,0.21,87.4846,8,North,Cash,...,Female,Food,3.4,Returned,Positive,19.91,nan,4.0,Used loyalty points,unknown
15,2023-01-16,1122,153,2,73.34,0.10,132.0120,7,South,Online,...,Male,Clothing,4.8,Not Returned,Positive,11.87,SAVE10,4.1,Used loyalty points,unknown
16,2023-01-17,1135,130,6,65.62,0.23,303.1644,1,North,Online,...,Female,Books,1.6,Not Returned,Negative,7.43,nan,1.9,no_data,no_data
17,2023-01-18,1366,137,2,37.14,0.24,56.4528,5,South,Credit Card,...,Female,Clothing,2.7,Returned,Positive,10.36,SAVE10,4.4,Frequent buyer,no_data
18,2023-01-19,1081,131,2,93.26,0.27,136.1596,4,North,Online,...,Male,Books,2.7,Returned,Neutral,16.92,FREESHIP,4.9,Used loyalty points,no_data
19,2023-01-20,1474,195,8,79.27,0.06,596.1104,8,North,Credit Card,...,Male,Electronics,2.3,Returned,Negative,9.01,nan,NaN,Requested gift wrap,value_5
20,2023-01-21,1488,147,5,72.32,0.28,260.3520,9,South,Online,...,Other,Clothing,2.1,Not Returned,Neutral,18.97,nan,NaN,Requested gift wrap,value_1
21,2023-01-22,1672,183,1,97.22,0.14,83.6092,9,South,Credit Card,...,Other,Food,3.5,Not Returned,Neutral,19.43,FREESHIP,NaN,no_data,unknown
22,2023-01-23,1156,179,1,43.32,0.28,31.1904,4,North,Online,...,Female,Electronics,3.4,Not Returned,Neutral,17.05,nan,2.1,unknown,no_data
23,2023-01-24,1288,184,9,11.19,0.01,99.7029,5,South,Cash,...,Female,Food,1.4,Returned,Positive,8.43,SAVE10,2.6,First-time customer,unknown
24,2023-01-25,1332,136,2,60.67,0.00,121.3400,2,East,Online,...,Other,Food,1.6,Not Returned,Positive,13.00,SAVE10,NaN,Requested gift wrap,no_data
25,2023-01-26,1510,129,3,14.91,0.17,37.1259,5,North,Cash,...,Other,Electronics,2.8,Not Returned,Positive,10.35,FREESHIP,1.3,Frequent buyer,value_1
26,2023-01-27,1897,176,7,73.34,0.28,369.6336,4,West,Credit Card,...,Other,Clothing,4.7,Returned,Neutral,12.38,nan,4.3,First-time customer,value_3
27,2023-01-28,1348,193,4,38.40,0.22,119.8080,8,South,Cash,...,Other,Clothing,1.4,Returned,Negative,NaN,SAVE10,4.3,unknown,unknown
28,2023-01-29,1206,123,8,89.05,0.28,512.9280,5,West,Cash,...,Male,Food,4.5,Not Returned,Positive,11.87,FREESHIP,NaN,no_data,unknown
29,2023-01-30,1454,137,7,44.22,0.21,244.5366,8,West,Cash,...,Other,Books,1.9,Returned,Neutral,16.88,FREESHIP,1.7,First-time customer,unknown
30,2023-01-31,1600,130,6,52.26,0.17,260.2548,5,West,Online,...,Female,Clothing,2.4,Not Returned,Positive,10.21,SAVE10,1.1,unknown,value_2
31,2023-02-01,1897,112,9,14.73,0.24,100.7532,1,West,Credit Card,...,Male,Electronics,2.0,Not Returned,Positive,14.61,nan,3.1,unknown,unknown
32,2023-02-02,1981,192,9,12.74,0.24,87.1416,1,North,Online,...,Male,Food,1.3,Returned,Negative,7.02,FREESHIP,NaN,Preferred morning delivery,value_2
33,2023-02-03,1786,117,2,47.82,0.01,94.6836,6,West,Credit Card,...,Female,Food,4.3,Returned,Neutral,15.33,WELCOME5,NaN,Frequent buyer,no_data
34,2023-02-04,1825,105,6,30.86,0.04,177.7536,5,North,Online,...,Male,Electronics,2.4,Returned,Neutral,10.56,FREESHIP,3.8,Preferred morning delivery,value_2

<div class="alert alert-success">

**Solution 04:**
</div>

In [10]:
df.replace({
    'customer_note': {
        'no_data': np.nan,
        'unknown': np.nan
    },
    'customer_values': {
        'no_data': np.nan,
        'unknown': np.nan
    }
}, inplace=True)

display(df.isna().any())
display(df.isna().sum())

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
customer_note        True
customer_values      True
dtype: bool

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        1
coupon_code          0
delivery_rating     11
customer_note       14
customer_values     18
dtype: int64

<div class="alert alert-warning">

**5. Drop Rows with Any Missing Value**

**Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.**

</div>

In [11]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1393,175,6,44.71,0.00,268.2600,5,North,Credit Card,...,Male,Electronics,3.6,Not Returned,Negative,11.98,nan,NaN,unknown,value_5
1,2023-01-02,1201,107,8,49.29,0.17,327.2856,4,North,Online,...,Male,Electronics,1.1,Returned,Positive,NaN,WELCOME5,4.1,unknown,value_3
2,2023-01-03,1048,184,4,27.99,0.06,105.2424,4,East,Cash,...,Male,Electronics,4.3,Not Returned,Positive,9.77,nan,3.8,Preferred morning delivery,unknown
3,2023-01-04,1144,185,5,71.27,0.10,320.7150,3,West,Online,...,Male,Electronics,3.0,Returned,Negative,13.84,nan,4.2,unknown,value_5
4,2023-01-05,1144,106,5,27.20,0.27,99.2800,9,North,Credit Card,...,Other,Clothing,1.1,Returned,Negative,18.36,FREESHIP,2.1,no_data,value_4
5,2023-01-06,1185,135,6,52.41,0.15,267.2910,5,North,Online,...,Other,Food,2.9,Returned,Neutral,18.73,nan,1.6,First-time customer,no_data
6,2023-01-07,1269,159,8,85.98,0.16,577.7856,8,West,Online,...,Other,Books,2.0,Returned,Neutral,NaN,nan,3.8,no_data,no_data
7,2023-01-08,1683,142,5,36.93,0.22,144.0270,6,North,Cash,...,Other,Clothing,2.2,Returned,Negative,16.71,SAVE10,1.1,unknown,value_2
8,2023-01-09,1123,191,1,68.43,0.25,51.3225,3,North,Cash,...,Male,Electronics,3.6,Not Returned,Negative,5.16,nan,2.7,Used loyalty points,no_data
9,2023-01-10,1967,181,9,22.80,0.25,153.9000,9,South,Credit Card,...,Male,Clothing,2.7,Returned,Negative,NaN,SAVE10,4.9,First-time customer,value_5
10,2023-01-11,1806,173,7,72.80,0.22,397.4880,1,South,Cash,...,Other,Food,1.4,Returned,Neutral,8.76,SAVE10,1.4,First-time customer,unknown
11,2023-01-12,1940,102,4,27.15,0.01,107.5140,4,South,Online,...,Male,Clothing,4.5,Returned,Neutral,NaN,SAVE10,NaN,no_data,value_1
12,2023-01-13,1781,157,5,12.12,0.16,50.9040,7,East,Credit Card,...,Female,Clothing,3.4,Not Returned,Negative,5.92,nan,1.6,First-time customer,no_data
13,2023-01-14,1627,123,1,34.87,0.19,28.2447,3,North,Online,...,Female,Food,1.6,Returned,Positive,5.97,SAVE10,2.8,unknown,unknown
14,2023-01-15,1464,166,3,43.61,0.21,103.3557,8,South,Cash,...,Male,Food,1.8,Not Returned,Negative,NaN,SAVE10,3.1,no_data,unknown
15,2023-01-16,1018,130,3,68.82,0.10,185.8140,2,North,Online,...,Male,Books,4.2,Not Returned,Positive,16.03,WELCOME5,2.5,Requested gift wrap,value_1
16,2023-01-17,1593,194,8,70.66,0.12,497.4464,1,South,Cash,...,Other,Food,1.6,Not Returned,Negative,8.92,FREESHIP,2.6,Preferred morning delivery,value_5
17,2023-01-18,1349,172,6,41.78,0.08,230.6256,2,South,Online,...,Male,Food,1.9,Returned,Positive,NaN,nan,1.0,unknown,value_5
18,2023-01-19,1652,147,7,46.95,0.02,322.0770,8,South,Cash,...,Male,Electronics,4.3,Returned,Positive,13.08,FREESHIP,NaN,First-time customer,unknown
19,2023-01-20,1683,188,4,94.88,0.26,280.8448,9,East,Cash,...,Female,Electronics,3.3,Not Returned,Positive,17.43,nan,2.5,no_data,unknown
20,2023-01-21,1534,176,9,10.96,0.05,93.7080,5,South,Online,...,Other,Electronics,4.2,Returned,Positive,8.40,WELCOME5,NaN,no_data,value_4
21,2023-01-22,1519,194,5,24.23,0.09,110.2465,6,East,Cash,...,Male,Clothing,4.1,Not Returned,Negative,7.73,nan,4.2,no_data,value_2
22,2023-01-23,1207,104,5,48.47,0.00,242.3500,9,West,Credit Card,...,Other,Food,2.7,Not Returned,Neutral,9.98,nan,1.9,no_data,value_4
23,2023-01-24,1184,175,3,28.48,0.06,80.3136,9,South,Online,...,Female,Clothing,3.0,Not Returned,Positive,17.96,nan,NaN,no_data,no_data
24,2023-01-25,1935,107,4,66.89,0.27,195.3188,7,East,Cash,...,Other,Clothing,4.0,Returned,Positive,15.74,SAVE10,NaN,First-time customer,value_5
25,2023-01-26,1326,168,1,29.47,0.12,25.9336,7,South,Cash,...,Female,Books,3.1,Returned,Positive,8.37,WELCOME5,NaN,Frequent buyer,value_3
26,2023-01-27,1837,128,6,70.58,0.21,334.5492,8,South,Credit Card,...,Other,Books,4.5,Returned,Neutral,9.72,FREESHIP,4.0,unknown,value_5
27,2023-01-28,1155,169,4,22.50,0.17,74.7000,7,West,Cash,...,Female,Electronics,3.4,Returned,Neutral,NaN,nan,NaN,Requested gift wrap,no_data
28,2023-01-29,1277,150,6,83.28,0.26,369.7632,9,East,Credit Card,...,Male,Books,2.6,Returned,Negative,12.70,SAVE10,4.9,Preferred morning delivery,value_4
29,2023-01-30,1339,121,4,70.63,0.16,237.3168,8,North,Cash,...,Male,Electronics,1.2,Not Returned,Neutral,13.75,SAVE10,4.5,Requested gift wrap,value_4
30,2023-01-31,1678,190,8,66.53,0.26,393.8576,9,South,Cash,...,Other,Books,3.1,Not Returned,Positive,6.60,nan,NaN,unknown,value_4
31,2023-02-01,1547,143,1,99.60,0.07,92.6280,8,North,Credit Card,...,Other,Clothing,2.5,Not Returned,Negative,11.06,nan,NaN,unknown,no_data
32,2023-02-02,1055,116,8,77.67,0.29,441.1656,8,North,Credit Card,...,Female,Food,2.4,Not Returned,Positive,13.11,nan,3.5,no_data,no_data
33,2023-02-03,1487,160,6,45.12,0.28,194.9184,4,North,Cash,...,Female,Food,3.5,Not Returned,Positive,16.53,SAVE10,2.8,no_data,value_1
34,2023-02-04,1203,107,9,16.44,0.02,145.0008,6,North,Online,...,Other,Food,4.4,Not Returned,Positive,NaN,SAVE10,1.6,unknown,value_4

<div class="alert alert-success">

**Solution 05:**
</div>

In [12]:
dropped_df = df.dropna(how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
2,2023-01-03,1048,184,4,27.99,0.06,105.2424,4,East,Cash,...,Male,Electronics,4.3,Not Returned,Positive,9.77,nan,3.8,Preferred morning delivery,unknown
3,2023-01-04,1144,185,5,71.27,0.10,320.7150,3,West,Online,...,Male,Electronics,3.0,Returned,Negative,13.84,nan,4.2,unknown,value_5
4,2023-01-05,1144,106,5,27.20,0.27,99.2800,9,North,Credit Card,...,Other,Clothing,1.1,Returned,Negative,18.36,FREESHIP,2.1,no_data,value_4
5,2023-01-06,1185,135,6,52.41,0.15,267.2910,5,North,Online,...,Other,Food,2.9,Returned,Neutral,18.73,nan,1.6,First-time customer,no_data
7,2023-01-08,1683,142,5,36.93,0.22,144.0270,6,North,Cash,...,Other,Clothing,2.2,Returned,Negative,16.71,SAVE10,1.1,unknown,value_2
8,2023-01-09,1123,191,1,68.43,0.25,51.3225,3,North,Cash,...,Male,Electronics,3.6,Not Returned,Negative,5.16,nan,2.7,Used loyalty points,no_data
10,2023-01-11,1806,173,7,72.80,0.22,397.4880,1,South,Cash,...,Other,Food,1.4,Returned,Neutral,8.76,SAVE10,1.4,First-time customer,unknown
12,2023-01-13,1781,157,5,12.12,0.16,50.9040,7,East,Credit Card,...,Female,Clothing,3.4,Not Returned,Negative,5.92,nan,1.6,First-time customer,no_data
13,2023-01-14,1627,123,1,34.87,0.19,28.2447,3,North,Online,...,Female,Food,1.6,Returned,Positive,5.97,SAVE10,2.8,unknown,unknown
15,2023-01-16,1018,130,3,68.82,0.10,185.8140,2,North,Online,...,Male,Books,4.2,Not Returned,Positive,16.03,WELCOME5,2.5,Requested gift wrap,value_1
16,2023-01-17,1593,194,8,70.66,0.12,497.4464,1,South,Cash,...,Other,Food,1.6,Not Returned,Negative,8.92,FREESHIP,2.6,Preferred morning delivery,value_5
19,2023-01-20,1683,188,4,94.88,0.26,280.8448,9,East,Cash,...,Female,Electronics,3.3,Not Returned,Positive,17.43,nan,2.5,no_data,unknown
21,2023-01-22,1519,194,5,24.23,0.09,110.2465,6,East,Cash,...,Male,Clothing,4.1,Not Returned,Negative,7.73,nan,4.2,no_data,value_2
22,2023-01-23,1207,104,5,48.47,0.00,242.3500,9,West,Credit Card,...,Other,Food,2.7,Not Returned,Neutral,9.98,nan,1.9,no_data,value_4
26,2023-01-27,1837,128,6,70.58,0.21,334.5492,8,South,Credit Card,...,Other,Books,4.5,Returned,Neutral,9.72,FREESHIP,4.0,unknown,value_5
28,2023-01-29,1277,150,6,83.28,0.26,369.7632,9,East,Credit Card,...,Male,Books,2.6,Returned,Negative,12.70,SAVE10,4.9,Preferred morning delivery,value_4
29,2023-01-30,1339,121,4,70.63,0.16,237.3168,8,North,Cash,...,Male,Electronics,1.2,Not Returned,Neutral,13.75,SAVE10,4.5,Requested gift wrap,value_4
32,2023-02-02,1055,116,8,77.67,0.29,441.1656,8,North,Credit Card,...,Female,Food,2.4,Not Returned,Positive,13.11,nan,3.5,no_data,no_data
33,2023-02-03,1487,160,6,45.12,0.28,194.9184,4,North,Cash,...,Female,Food,3.5,Not Returned,Positive,16.53,SAVE10,2.8,no_data,value_1

<div class="alert alert-warning">

**6. Drop Columns with Any Missing Value**

**Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.**

</div>

In [13]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1935,128,1,37.14,0.02,36.3972,7,North,Online,...,Female,Books,2.3,Not Returned,Positive,NaN,nan,NaN,no_data,no_data
1,2023-01-02,1501,129,2,44.16,0.27,64.4736,8,South,Cash,...,Other,Books,1.9,Returned,Positive,NaN,WELCOME5,4.0,no_data,value_5
2,2023-01-03,1308,192,8,37.17,0.19,240.8616,6,South,Cash,...,Female,Electronics,1.4,Not Returned,Negative,5.01,nan,3.0,no_data,value_2
3,2023-01-04,1419,140,7,70.09,0.18,402.3166,1,North,Credit Card,...,Female,Clothing,4.1,Not Returned,Negative,6.21,nan,4.1,Preferred morning delivery,unknown
4,2023-01-05,1694,146,9,30.70,0.01,273.5370,5,West,Credit Card,...,Other,Food,3.4,Not Returned,Negative,NaN,FREESHIP,2.3,unknown,value_2
5,2023-01-06,1965,199,1,70.77,0.12,62.2776,4,South,Credit Card,...,Female,Electronics,1.4,Not Returned,Neutral,NaN,SAVE10,2.1,no_data,unknown
6,2023-01-07,1932,113,8,97.45,0.16,654.8640,5,East,Online,...,Female,Clothing,5.0,Returned,Negative,15.96,nan,1.6,unknown,value_1
7,2023-01-08,1904,195,4,42.89,0.20,137.2480,5,East,Cash,...,Other,Books,2.8,Not Returned,Neutral,NaN,FREESHIP,1.3,no_data,no_data
8,2023-01-09,1654,109,4,89.89,0.15,305.6260,8,East,Credit Card,...,Female,Clothing,4.5,Returned,Negative,15.66,nan,1.2,unknown,no_data
9,2023-01-10,1401,180,8,80.72,0.25,484.3200,9,North,Cash,...,Female,Electronics,4.7,Not Returned,Negative,16.80,FREESHIP,1.6,Requested gift wrap,unknown
10,2023-01-11,1743,157,6,91.25,0.11,487.2750,2,North,Cash,...,Other,Clothing,1.4,Not Returned,Positive,8.83,FREESHIP,2.5,Requested gift wrap,value_3
11,2023-01-12,1963,179,2,30.43,0.25,45.6450,5,South,Online,...,Other,Clothing,4.9,Not Returned,Positive,7.57,nan,NaN,Preferred morning delivery,value_5
12,2023-01-13,1844,178,9,78.98,0.25,533.1150,1,East,Online,...,Female,Books,3.4,Returned,Positive,NaN,WELCOME5,4.9,First-time customer,no_data
13,2023-01-14,1004,199,4,33.74,0.13,117.4152,9,East,Online,...,Female,Food,3.9,Returned,Positive,9.04,nan,4.3,unknown,value_1
14,2023-01-15,1180,106,4,12.12,0.21,38.2992,1,East,Online,...,Male,Clothing,2.3,Returned,Positive,10.69,nan,3.5,Requested gift wrap,value_4
15,2023-01-16,1416,191,7,52.01,0.14,313.1002,8,West,Cash,...,Female,Electronics,4.3,Not Returned,Positive,10.55,nan,NaN,Frequent buyer,unknown
16,2023-01-17,1841,195,9,41.43,0.28,268.4664,6,North,Online,...,Other,Books,2.2,Not Returned,Neutral,9.73,nan,2.8,no_data,no_data
17,2023-01-18,1229,138,9,27.54,0.21,195.8094,6,South,Online,...,Female,Food,2.7,Not Returned,Negative,15.28,FREESHIP,4.8,First-time customer,no_data
18,2023-01-19,1114,188,7,31.15,0.25,163.5375,9,West,Cash,...,Female,Clothing,3.7,Not Returned,Positive,15.06,WELCOME5,1.8,Preferred morning delivery,value_5
19,2023-01-20,1167,118,2,64.88,0.12,114.1888,9,West,Online,...,Female,Electronics,3.3,Returned,Neutral,19.94,SAVE10,NaN,unknown,no_data
20,2023-01-21,1885,117,5,77.08,0.25,289.0500,8,North,Cash,...,Male,Books,1.1,Returned,Positive,NaN,nan,4.1,Used loyalty points,unknown
21,2023-01-22,1347,128,7,59.57,0.20,333.5920,3,East,Online,...,Other,Electronics,4.5,Not Returned,Positive,8.11,nan,3.0,Frequent buyer,value_1
22,2023-01-23,1508,181,2,78.56,0.19,127.2672,3,East,Credit Card,...,Other,Food,4.6,Not Returned,Negative,6.53,WELCOME5,1.7,no_data,value_3
23,2023-01-24,1705,117,9,79.74,0.11,638.7174,2,South,Cash,...,Male,Clothing,2.4,Not Returned,Negative,14.43,FREESHIP,3.4,Requested gift wrap,value_2
24,2023-01-25,1014,112,1,89.35,0.28,64.3320,4,South,Online,...,Female,Food,4.5,Not Returned,Positive,NaN,SAVE10,NaN,First-time customer,value_4
25,2023-01-26,1713,140,7,41.93,0.08,270.0292,9,East,Credit Card,...,Female,Electronics,2.1,Not Returned,Positive,16.92,FREESHIP,NaN,no_data,value_5
26,2023-01-27,1693,146,7,48.48,0.04,325.7856,7,West,Cash,...,Female,Clothing,4.8,Not Returned,Negative,NaN,FREESHIP,1.3,no_data,unknown
27,2023-01-28,1014,171,3,77.32,0.02,227.3208,1,North,Cash,...,Female,Books,4.7,Not Returned,Neutral,11.27,FREESHIP,3.1,unknown,value_5
28,2023-01-29,1779,177,4,30.54,0.11,108.7224,5,West,Credit Card,...,Female,Food,3.7,Not Returned,Neutral,NaN,FREESHIP,3.4,Preferred morning delivery,no_data
29,2023-01-30,1223,146,5,11.32,0.27,41.3180,8,East,Online,...,Male,Books,4.1,Not Returned,Positive,7.59,nan,1.7,unknown,unknown
30,2023-01-31,1780,131,6,63.67,0.14,328.5372,7,West,Credit Card,...,Other,Clothing,4.8,Returned,Negative,NaN,WELCOME5,2.9,Used loyalty points,value_3
31,2023-02-01,1365,121,2,44.92,0.21,70.9736,9,East,Cash,...,Male,Clothing,4.2,Returned,Neutral,NaN,SAVE10,NaN,Requested gift wrap,no_data
32,2023-02-02,1453,166,6,71.45,0.17,355.8210,6,South,Online,...,Male,Electronics,1.4,Not Returned,Neutral,5.43,FREESHIP,NaN,Used loyalty points,value_2
33,2023-02-03,1708,128,7,82.15,0.07,534.7965,7,West,Online,...,Female,Food,3.4,Not Returned,Positive,5.84,FREESHIP,NaN,no_data,no_data
34,2023-02-04,1699,132,2,75.13,0.00,150.2600,1,East,Credit Card,...,Other,Food,2.6,Not Returned,Positive,13.06,WELCOME5,1.6,no_data,value_1

<div class="alert alert-success">

**Solution 06:**
</div>

In [14]:
# Drop columns with any missing value
dropped_df = df.dropna(axis=1, how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,coupon_code,customer_note,customer_values
0,2023-01-01,1935,128,1,37.14,0.02,36.3972,7,North,Online,...,5,30,Female,Books,2.3,Not Returned,Positive,nan,no_data,no_data
1,2023-01-02,1501,129,2,44.16,0.27,64.4736,8,South,Cash,...,4,65,Other,Books,1.9,Returned,Positive,WELCOME5,no_data,value_5
2,2023-01-03,1308,192,8,37.17,0.19,240.8616,6,South,Cash,...,4,60,Female,Electronics,1.4,Not Returned,Negative,nan,no_data,value_2
3,2023-01-04,1419,140,7,70.09,0.18,402.3166,1,North,Credit Card,...,5,19,Female,Clothing,4.1,Not Returned,Negative,nan,Preferred morning delivery,unknown
4,2023-01-05,1694,146,9,30.70,0.01,273.5370,5,West,Credit Card,...,4,66,Other,Food,3.4,Not Returned,Negative,FREESHIP,unknown,value_2
5,2023-01-06,1965,199,1,70.77,0.12,62.2776,4,South,Credit Card,...,6,35,Female,Electronics,1.4,Not Returned,Neutral,SAVE10,no_data,unknown
6,2023-01-07,1932,113,8,97.45,0.16,654.8640,5,East,Online,...,5,38,Female,Clothing,5.0,Returned,Negative,nan,unknown,value_1
7,2023-01-08,1904,195,4,42.89,0.20,137.2480,5,East,Cash,...,1,47,Other,Books,2.8,Not Returned,Neutral,FREESHIP,no_data,no_data
8,2023-01-09,1654,109,4,89.89,0.15,305.6260,8,East,Credit Card,...,3,67,Female,Clothing,4.5,Returned,Negative,nan,unknown,no_data
9,2023-01-10,1401,180,8,80.72,0.25,484.3200,9,North,Cash,...,2,69,Female,Electronics,4.7,Not Returned,Negative,FREESHIP,Requested gift wrap,unknown
10,2023-01-11,1743,157,6,91.25,0.11,487.2750,2,North,Cash,...,3,56,Other,Clothing,1.4,Not Returned,Positive,FREESHIP,Requested gift wrap,value_3
11,2023-01-12,1963,179,2,30.43,0.25,45.6450,5,South,Online,...,5,20,Other,Clothing,4.9,Not Returned,Positive,nan,Preferred morning delivery,value_5
12,2023-01-13,1844,178,9,78.98,0.25,533.1150,1,East,Online,...,2,45,Female,Books,3.4,Returned,Positive,WELCOME5,First-time customer,no_data
13,2023-01-14,1004,199,4,33.74,0.13,117.4152,9,East,Online,...,3,50,Female,Food,3.9,Returned,Positive,nan,unknown,value_1
14,2023-01-15,1180,106,4,12.12,0.21,38.2992,1,East,Online,...,6,68,Male,Clothing,2.3,Returned,Positive,nan,Requested gift wrap,value_4
15,2023-01-16,1416,191,7,52.01,0.14,313.1002,8,West,Cash,...,2,30,Female,Electronics,4.3,Not Returned,Positive,nan,Frequent buyer,unknown
16,2023-01-17,1841,195,9,41.43,0.28,268.4664,6,North,Online,...,1,28,Other,Books,2.2,Not Returned,Neutral,nan,no_data,no_data
17,2023-01-18,1229,138,9,27.54,0.21,195.8094,6,South,Online,...,2,20,Female,Food,2.7,Not Returned,Negative,FREESHIP,First-time customer,no_data
18,2023-01-19,1114,188,7,31.15,0.25,163.5375,9,West,Cash,...,3,59,Female,Clothing,3.7,Not Returned,Positive,WELCOME5,Preferred morning delivery,value_5
19,2023-01-20,1167,118,2,64.88,0.12,114.1888,9,West,Online,...,6,39,Female,Electronics,3.3,Returned,Neutral,SAVE10,unknown,no_data
20,2023-01-21,1885,117,5,77.08,0.25,289.0500,8,North,Cash,...,5,58,Male,Books,1.1,Returned,Positive,nan,Used loyalty points,unknown
21,2023-01-22,1347,128,7,59.57,0.20,333.5920,3,East,Online,...,3,54,Other,Electronics,4.5,Not Returned,Positive,nan,Frequent buyer,value_1
22,2023-01-23,1508,181,2,78.56,0.19,127.2672,3,East,Credit Card,...,6,41,Other,Food,4.6,Not Returned,Negative,WELCOME5,no_data,value_3
23,2023-01-24,1705,117,9,79.74,0.11,638.7174,2,South,Cash,...,4,61,Male,Clothing,2.4,Not Returned,Negative,FREESHIP,Requested gift wrap,value_2
24,2023-01-25,1014,112,1,89.35,0.28,64.3320,4,South,Online,...,3,36,Female,Food,4.5,Not Returned,Positive,SAVE10,First-time customer,value_4
25,2023-01-26,1713,140,7,41.93,0.08,270.0292,9,East,Credit Card,...,2,28,Female,Electronics,2.1,Not Returned,Positive,FREESHIP,no_data,value_5
26,2023-01-27,1693,146,7,48.48,0.04,325.7856,7,West,Cash,...,1,28,Female,Clothing,4.8,Not Returned,Negative,FREESHIP,no_data,unknown
27,2023-01-28,1014,171,3,77.32,0.02,227.3208,1,North,Cash,...,3,24,Female,Books,4.7,Not Returned,Neutral,FREESHIP,unknown,value_5
28,2023-01-29,1779,177,4,30.54,0.11,108.7224,5,West,Credit Card,...,5,48,Female,Food,3.7,Not Returned,Neutral,FREESHIP,Preferred morning delivery,no_data
29,2023-01-30,1223,146,5,11.32,0.27,41.3180,8,East,Online,...,2,43,Male,Books,4.1,Not Returned,Positive,nan,unknown,unknown
30,2023-01-31,1780,131,6,63.67,0.14,328.5372,7,West,Credit Card,...,6,30,Other,Clothing,4.8,Returned,Negative,WELCOME5,Used loyalty points,value_3
31,2023-02-01,1365,121,2,44.92,0.21,70.9736,9,East,Cash,...,4,32,Male,Clothing,4.2,Returned,Neutral,SAVE10,Requested gift wrap,no_data
32,2023-02-02,1453,166,6,71.45,0.17,355.8210,6,South,Online,...,6,36,Male,Electronics,1.4,Not Returned,Neutral,FREESHIP,Used loyalty points,value_2
33,2023-02-03,1708,128,7,82.15,0.07,534.7965,7,West,Online,...,2,36,Female,Food,3.4,Not Returned,Positive,FREESHIP,no_data,no_data
34,2023-02-04,1699,132,2,75.13,0.00,150.2600,1,East,Credit Card,...,4,54,Other,Food,2.6,Not Returned,Positive,WELCOME5,no_data,value_1

<div class="alert alert-warning">

**7. Drop Rows with All Missing Values**

**Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.**

</div>

In [15]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1076.0,129.0,4.0,58.96,0.01,233.4816,1.0,North,Cash,...,Books,2.2,Returned,Negative,17.67,FREESHIP,1.7,Used loyalty points,value_4,NaN
1,2023-01-02,1398.0,141.0,7.0,53.28,0.11,331.9344,4.0,South,Credit Card,...,Food,4.8,Returned,Neutral,6.24,nan,NaN,Preferred morning delivery,value_1,NaN
2,2023-01-03,1426.0,146.0,7.0,87.98,0.20,492.6880,5.0,West,Online,...,Food,2.1,Returned,Positive,15.86,SAVE10,NaN,Frequent buyer,value_5,NaN
3,2023-01-04,1431.0,183.0,7.0,65.82,0.25,345.5550,9.0,West,Credit Card,...,Electronics,4.1,Not Returned,Positive,19.03,WELCOME5,NaN,unknown,no_data,NaN
4,2023-01-05,1169.0,160.0,1.0,16.52,0.14,14.2072,4.0,North,Online,...,Food,2.2,Returned,Positive,8.30,SAVE10,NaN,unknown,unknown,NaN
5,2023-01-06,1543.0,110.0,6.0,31.23,0.26,138.6612,5.0,West,Online,...,Books,3.5,Not Returned,Positive,11.23,FREESHIP,4.0,Frequent buyer,value_2,NaN
6,2023-01-07,1461.0,159.0,4.0,39.37,0.26,116.5352,8.0,South,Credit Card,...,Books,1.4,Returned,Negative,14.99,WELCOME5,NaN,no_data,value_3,NaN
7,2023-01-08,1555.0,188.0,5.0,46.71,0.27,170.4915,4.0,South,Credit Card,...,Clothing,3.0,Returned,Positive,19.47,nan,4.6,unknown,unknown,NaN
8,2023-01-09,1379.0,130.0,8.0,83.96,0.28,483.6096,9.0,West,Online,...,Electronics,4.6,Not Returned,Neutral,6.30,WELCOME5,NaN,no_data,unknown,NaN
9,2023-01-10,1465.0,141.0,6.0,15.08,0.06,85.0512,3.0,North,Credit Card,...,Books,1.3,Not Returned,Neutral,NaN,nan,NaN,Preferred morning delivery,value_3,NaN
10,2023-01-11,1449.0,118.0,9.0,30.64,0.13,239.9112,5.0,East,Credit Card,...,Food,3.4,Returned,Positive,10.32,WELCOME5,3.3,Preferred morning delivery,no_data,NaN
11,2023-01-12,1001.0,122.0,4.0,67.61,0.28,194.7168,1.0,East,Cash,...,Books,3.6,Not Returned,Negative,18.62,WELCOME5,1.4,First-time customer,value_4,NaN
12,2023-01-13,1648.0,123.0,2.0,15.58,0.09,28.3556,7.0,West,Cash,...,Electronics,4.4,Returned,Positive,18.90,nan,3.6,Preferred morning delivery,value_5,NaN
13,2023-01-14,1505.0,185.0,7.0,13.00,0.02,89.1800,9.0,West,Credit Card,...,Clothing,4.8,Not Returned,Positive,6.36,nan,NaN,unknown,unknown,NaN
14,2023-01-15,1240.0,169.0,3.0,61.15,0.14,157.7670,9.0,West,Cash,...,Books,2.9,Returned,Negative,NaN,nan,4.2,Requested gift wrap,no_data,NaN
15,2023-01-16,1319.0,109.0,5.0,57.36,0.18,235.1760,4.0,East,Cash,...,Books,3.9,Not Returned,Negative,12.01,nan,1.8,Used loyalty points,no_data,NaN
16,2023-01-17,1204.0,159.0,1.0,39.87,0.15,33.8895,9.0,North,Cash,...,Electronics,4.2,Returned,Positive,8.96,WELCOME5,2.0,Preferred morning delivery,unknown,NaN
17,2023-01-18,1650.0,150.0,1.0,65.90,0.09,59.9690,7.0,West,Cash,...,Food,1.8,Returned,Positive,13.68,WELCOME5,3.2,unknown,value_1,NaN
18,2023-01-19,1660.0,112.0,4.0,85.50,0.13,297.5400,4.0,South,Online,...,Books,4.8,Not Returned,Negative,12.25,WELCOME5,NaN,no_data,value_2,NaN
19,2023-01-20,1092.0,134.0,5.0,23.79,0.27,86.8335,7.0,West,Online,...,Electronics,2.0,Not Returned,Negative,9.33,WELCOME5,NaN,Used loyalty points,value_2,NaN
20,2023-01-21,1719.0,190.0,3.0,81.63,0.20,195.9120,9.0,South,Credit Card,...,Clothing,2.1,Not Returned,Positive,18.00,WELCOME5,NaN,unknown,value_5,NaN
21,2023-01-22,1179.0,137.0,5.0,78.71,0.01,389.6145,9.0,South,Cash,...,Electronics,4.4,Not Returned,Positive,11.10,SAVE10,2.0,no_data,unknown,NaN
22,2023-01-23,1464.0,108.0,8.0,93.14,0.19,603.5472,7.0,North,Online,...,Electronics,2.3,Returned,Neutral,17.79,nan,2.0,First-time customer,value_1,NaN
23,2023-01-24,1473.0,137.0,8.0,96.49,0.17,640.6936,7.0,West,Cash,...,Clothing,2.6,Not Returned,Positive,14.96,nan,NaN,unknown,value_1,NaN
24,2023-01-25,1568.0,109.0,9.0,87.20,0.16,659.2320,6.0,South,Online,...,Food,1.3,Not Returned,Negative,7.82,SAVE10,2.7,unknown,value_1,NaN
25,2023-01-26,1428.0,148.0,9.0,36.24,0.13,283.7592,9.0,West,Cash,...,Food,2.1,Not Returned,Positive,15.86,nan,NaN,unknown,value_1,NaN
26,2023-01-27,1168.0,172.0,6.0,57.89,0.23,267.4518,7.0,North,Cash,...,Books,3.3,Not Returned,Positive,19.32,SAVE10,NaN,Requested gift wrap,unknown,NaN
27,2023-01-28,1651.0,101.0,9.0,86.04,0.03,751.1292,4.0,North,Credit Card,...,Food,4.8,Not Returned,Negative,NaN,SAVE10,3.7,unknown,no_data,NaN
28,2023-01-29,1012.0,163.0,4.0,68.14,0.00,272.5600,9.0,West,Online,...,Electronics,1.8,Not Returned,Positive,12.95,WELCOME5,NaN,First-time customer,no_data,NaN
29,2023-01-30,1330.0,110.0,7.0,92.75,0.25,486.9375,2.0,South,Cash,...,Books,3.4,Not Returned,Neutral,19.88,nan,3.8,First-time customer,value_2,NaN
30,2023-01-31,1270.0,102.0,2.0,87.14,0.23,134.1956,6.0,North,Credit Card,...,Electronics,2.5,Returned,Neutral,8.21,FREESHIP,3.3,no_data,unknown,NaN
31,2023-02-01,1550.0,190.0,1.0,59.54,0.01,58.9446,1.0,North,Credit Card,...,Electronics,2.2,Returned,Negative,11.82,nan,1.3,Requested gift wrap,value_5,NaN
32,2023-02-02,1098.0,173.0,9.0,40.77,0.10,330.2370,2.0,East,Online,...,Books,4.7,Not Returned,Neutral,18.25,FREESHIP,2.9,Used loyalty points,value_5,NaN
33,2023-02-03,1007.0,165.0,9.0,78.46,0.19,571.9734,7.0,West,Cash,...,Clothing,4.1,Not Returned,Negative,15.67,SAVE10,1.1,unknown,value_5,NaN
34,2023-02-04,1408.0,118.0,8.0,21.80,0.10,156.9600,6.0,North,Credit Card,...,Clothing,4.2,Not Returned,Negative,6.67,FREESHIP,2.0,no_data,value_4,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 07:**
</div>

In [16]:
# Write a Pandas program to drop the rows where all elements are missing in a given DataFrame
df_dropped = df.dropna(how='all')

# Display the DataFrame after dropping rows
display(df_dropped)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1076.0,129.0,4.0,58.96,0.01,233.4816,1.0,North,Cash,...,Books,2.2,Returned,Negative,17.67,FREESHIP,1.7,Used loyalty points,value_4,NaN
1,2023-01-02,1398.0,141.0,7.0,53.28,0.11,331.9344,4.0,South,Credit Card,...,Food,4.8,Returned,Neutral,6.24,nan,NaN,Preferred morning delivery,value_1,NaN
2,2023-01-03,1426.0,146.0,7.0,87.98,0.20,492.6880,5.0,West,Online,...,Food,2.1,Returned,Positive,15.86,SAVE10,NaN,Frequent buyer,value_5,NaN
3,2023-01-04,1431.0,183.0,7.0,65.82,0.25,345.5550,9.0,West,Credit Card,...,Electronics,4.1,Not Returned,Positive,19.03,WELCOME5,NaN,unknown,no_data,NaN
4,2023-01-05,1169.0,160.0,1.0,16.52,0.14,14.2072,4.0,North,Online,...,Food,2.2,Returned,Positive,8.30,SAVE10,NaN,unknown,unknown,NaN
5,2023-01-06,1543.0,110.0,6.0,31.23,0.26,138.6612,5.0,West,Online,...,Books,3.5,Not Returned,Positive,11.23,FREESHIP,4.0,Frequent buyer,value_2,NaN
6,2023-01-07,1461.0,159.0,4.0,39.37,0.26,116.5352,8.0,South,Credit Card,...,Books,1.4,Returned,Negative,14.99,WELCOME5,NaN,no_data,value_3,NaN
7,2023-01-08,1555.0,188.0,5.0,46.71,0.27,170.4915,4.0,South,Credit Card,...,Clothing,3.0,Returned,Positive,19.47,nan,4.6,unknown,unknown,NaN
8,2023-01-09,1379.0,130.0,8.0,83.96,0.28,483.6096,9.0,West,Online,...,Electronics,4.6,Not Returned,Neutral,6.30,WELCOME5,NaN,no_data,unknown,NaN
9,2023-01-10,1465.0,141.0,6.0,15.08,0.06,85.0512,3.0,North,Credit Card,...,Books,1.3,Not Returned,Neutral,NaN,nan,NaN,Preferred morning delivery,value_3,NaN
10,2023-01-11,1449.0,118.0,9.0,30.64,0.13,239.9112,5.0,East,Credit Card,...,Food,3.4,Returned,Positive,10.32,WELCOME5,3.3,Preferred morning delivery,no_data,NaN
11,2023-01-12,1001.0,122.0,4.0,67.61,0.28,194.7168,1.0,East,Cash,...,Books,3.6,Not Returned,Negative,18.62,WELCOME5,1.4,First-time customer,value_4,NaN
12,2023-01-13,1648.0,123.0,2.0,15.58,0.09,28.3556,7.0,West,Cash,...,Electronics,4.4,Returned,Positive,18.90,nan,3.6,Preferred morning delivery,value_5,NaN
13,2023-01-14,1505.0,185.0,7.0,13.00,0.02,89.1800,9.0,West,Credit Card,...,Clothing,4.8,Not Returned,Positive,6.36,nan,NaN,unknown,unknown,NaN
14,2023-01-15,1240.0,169.0,3.0,61.15,0.14,157.7670,9.0,West,Cash,...,Books,2.9,Returned,Negative,NaN,nan,4.2,Requested gift wrap,no_data,NaN
15,2023-01-16,1319.0,109.0,5.0,57.36,0.18,235.1760,4.0,East,Cash,...,Books,3.9,Not Returned,Negative,12.01,nan,1.8,Used loyalty points,no_data,NaN
16,2023-01-17,1204.0,159.0,1.0,39.87,0.15,33.8895,9.0,North,Cash,...,Electronics,4.2,Returned,Positive,8.96,WELCOME5,2.0,Preferred morning delivery,unknown,NaN
17,2023-01-18,1650.0,150.0,1.0,65.90,0.09,59.9690,7.0,West,Cash,...,Food,1.8,Returned,Positive,13.68,WELCOME5,3.2,unknown,value_1,NaN
18,2023-01-19,1660.0,112.0,4.0,85.50,0.13,297.5400,4.0,South,Online,...,Books,4.8,Not Returned,Negative,12.25,WELCOME5,NaN,no_data,value_2,NaN
19,2023-01-20,1092.0,134.0,5.0,23.79,0.27,86.8335,7.0,West,Online,...,Electronics,2.0,Not Returned,Negative,9.33,WELCOME5,NaN,Used loyalty points,value_2,NaN
20,2023-01-21,1719.0,190.0,3.0,81.63,0.20,195.9120,9.0,South,Credit Card,...,Clothing,2.1,Not Returned,Positive,18.00,WELCOME5,NaN,unknown,value_5,NaN
21,2023-01-22,1179.0,137.0,5.0,78.71,0.01,389.6145,9.0,South,Cash,...,Electronics,4.4,Not Returned,Positive,11.10,SAVE10,2.0,no_data,unknown,NaN
22,2023-01-23,1464.0,108.0,8.0,93.14,0.19,603.5472,7.0,North,Online,...,Electronics,2.3,Returned,Neutral,17.79,nan,2.0,First-time customer,value_1,NaN
23,2023-01-24,1473.0,137.0,8.0,96.49,0.17,640.6936,7.0,West,Cash,...,Clothing,2.6,Not Returned,Positive,14.96,nan,NaN,unknown,value_1,NaN
24,2023-01-25,1568.0,109.0,9.0,87.20,0.16,659.2320,6.0,South,Online,...,Food,1.3,Not Returned,Negative,7.82,SAVE10,2.7,unknown,value_1,NaN
25,2023-01-26,1428.0,148.0,9.0,36.24,0.13,283.7592,9.0,West,Cash,...,Food,2.1,Not Returned,Positive,15.86,nan,NaN,unknown,value_1,NaN
26,2023-01-27,1168.0,172.0,6.0,57.89,0.23,267.4518,7.0,North,Cash,...,Books,3.3,Not Returned,Positive,19.32,SAVE10,NaN,Requested gift wrap,unknown,NaN
27,2023-01-28,1651.0,101.0,9.0,86.04,0.03,751.1292,4.0,North,Credit Card,...,Food,4.8,Not Returned,Negative,NaN,SAVE10,3.7,unknown,no_data,NaN
28,2023-01-29,1012.0,163.0,4.0,68.14,0.00,272.5600,9.0,West,Online,...,Electronics,1.8,Not Returned,Positive,12.95,WELCOME5,NaN,First-time customer,no_data,NaN
29,2023-01-30,1330.0,110.0,7.0,92.75,0.25,486.9375,2.0,South,Cash,...,Books,3.4,Not Returned,Neutral,19.88,nan,3.8,First-time customer,value_2,NaN
30,2023-01-31,1270.0,102.0,2.0,87.14,0.23,134.1956,6.0,North,Credit Card,...,Electronics,2.5,Returned,Neutral,8.21,FREESHIP,3.3,no_data,unknown,NaN
31,2023-02-01,1550.0,190.0,1.0,59.54,0.01,58.9446,1.0,North,Credit Card,...,Electronics,2.2,Returned,Negative,11.82,nan,1.3,Requested gift wrap,value_5,NaN
32,2023-02-02,1098.0,173.0,9.0,40.77,0.10,330.2370,2.0,East,Online,...,Books,4.7,Not Returned,Neutral,18.25,FREESHIP,2.9,Used loyalty points,value_5,NaN
33,2023-02-03,1007.0,165.0,9.0,78.46,0.19,571.9734,7.0,West,Cash,...,Clothing,4.1,Not Returned,Negative,15.67,SAVE10,1.1,unknown,value_5,NaN
34,2023-02-04,1408.0,118.0,8.0,21.80,0.10,156.9600,6.0,North,Credit Card,...,Clothing,4.2,Not Returned,Negative,6.67,FREESHIP,2.0,no_data,value_4,NaN

<div class="alert alert-warning">

**8. Keep Rows with at Least 2 NaN Values**

**Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.**

</div>

In [17]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1691.0,116.0,7.0,89.61,0.02,614.7246,8.0,East,Cash,...,Electronics,3.1,Returned,Negative,15.36,nan,NaN,no_data,value_3,NaN
1,2023-01-02,1161.0,185.0,9.0,89.12,0.30,561.4560,5.0,West,Online,...,Food,1.9,Returned,Neutral,10.38,nan,1.4,Requested gift wrap,value_2,NaN
2,2023-01-03,1935.0,185.0,7.0,14.89,0.01,103.1877,5.0,South,Credit Card,...,Books,3.9,Not Returned,Negative,12.81,FREESHIP,3.2,no_data,unknown,NaN
3,2023-01-04,1707.0,199.0,4.0,64.34,0.12,226.4768,7.0,North,Online,...,Books,2.1,Returned,Negative,18.80,WELCOME5,NaN,no_data,value_1,NaN
4,2023-01-05,1812.0,117.0,1.0,85.98,0.18,70.5036,4.0,North,Online,...,Books,1.1,Not Returned,Positive,NaN,WELCOME5,2.2,Frequent buyer,value_5,NaN
5,2023-01-06,1526.0,130.0,1.0,25.50,0.23,19.6350,3.0,West,Cash,...,Books,3.3,Returned,Positive,12.44,WELCOME5,4.6,unknown,no_data,NaN
6,2023-01-07,1729.0,148.0,3.0,90.75,0.19,220.5225,3.0,South,Credit Card,...,Electronics,4.4,Returned,Neutral,7.89,SAVE10,1.2,Frequent buyer,unknown,NaN
7,2023-01-08,1370.0,197.0,9.0,74.19,0.22,520.8138,3.0,South,Credit Card,...,Electronics,1.0,Not Returned,Negative,NaN,nan,2.2,Used loyalty points,no_data,NaN
8,2023-01-09,1251.0,102.0,4.0,84.38,0.18,276.7664,6.0,West,Credit Card,...,Books,1.3,Returned,Neutral,NaN,nan,4.2,Frequent buyer,no_data,NaN
9,2023-01-10,1207.0,170.0,1.0,41.95,0.14,36.0770,9.0,West,Cash,...,Food,1.1,Returned,Positive,16.01,WELCOME5,4.0,First-time customer,value_3,NaN
10,2023-01-11,1233.0,111.0,9.0,98.16,0.21,697.9176,7.0,South,Online,...,Electronics,3.5,Returned,Neutral,NaN,WELCOME5,1.2,Requested gift wrap,value_4,NaN
11,2023-01-12,1211.0,110.0,2.0,67.73,0.17,112.4318,6.0,East,Online,...,Books,4.6,Not Returned,Neutral,NaN,FREESHIP,2.7,unknown,no_data,NaN
12,2023-01-13,1428.0,103.0,6.0,86.56,0.04,498.5856,6.0,East,Cash,...,Clothing,4.3,Returned,Negative,11.31,nan,4.8,no_data,no_data,NaN
13,2023-01-14,1859.0,155.0,5.0,67.95,0.25,254.8125,5.0,East,Cash,...,Electronics,3.3,Not Returned,Positive,8.82,nan,1.9,unknown,unknown,NaN
14,2023-01-15,1034.0,160.0,7.0,63.45,0.05,421.9425,2.0,North,Credit Card,...,Electronics,4.5,Not Returned,Negative,12.43,FREESHIP,NaN,no_data,no_data,NaN
15,2023-01-16,1313.0,133.0,2.0,15.60,0.24,23.7120,6.0,West,Online,...,Books,3.4,Returned,Neutral,9.23,FREESHIP,4.3,Requested gift wrap,value_3,NaN
16,2023-01-17,1905.0,111.0,8.0,65.28,0.02,511.7952,2.0,West,Online,...,Clothing,2.7,Not Returned,Neutral,18.64,nan,NaN,First-time customer,value_5,NaN
17,2023-01-18,1788.0,189.0,2.0,95.66,0.04,183.6672,1.0,North,Credit Card,...,Clothing,1.5,Not Returned,Neutral,10.65,nan,1.7,no_data,unknown,NaN
18,2023-01-19,1123.0,109.0,6.0,56.13,0.14,289.6308,4.0,South,Credit Card,...,Electronics,4.1,Not Returned,Positive,NaN,WELCOME5,NaN,unknown,value_3,NaN
19,2023-01-20,1388.0,181.0,1.0,29.98,0.29,21.2858,1.0,South,Credit Card,...,Electronics,4.8,Not Returned,Neutral,NaN,SAVE10,NaN,unknown,unknown,NaN
20,2023-01-21,1611.0,109.0,6.0,58.03,0.09,316.8438,8.0,West,Cash,...,Clothing,4.2,Returned,Neutral,19.67,nan,1.2,no_data,no_data,NaN
21,2023-01-22,1653.0,155.0,3.0,52.96,0.04,152.5248,1.0,South,Cash,...,Books,1.6,Returned,Neutral,10.26,WELCOME5,2.1,unknown,no_data,NaN
22,2023-01-23,1564.0,163.0,6.0,43.79,0.03,254.8578,4.0,South,Online,...,Electronics,4.5,Returned,Neutral,16.97,nan,NaN,Frequent buyer,value_3,NaN
23,2023-01-24,1770.0,102.0,4.0,20.85,0.17,69.2220,5.0,East,Credit Card,...,Books,4.1,Returned,Neutral,11.29,SAVE10,NaN,unknown,no_data,NaN
24,2023-01-25,1741.0,155.0,3.0,86.23,0.14,222.4734,6.0,North,Cash,...,Electronics,3.2,Not Returned,Neutral,13.01,nan,NaN,no_data,unknown,NaN
25,2023-01-26,1504.0,164.0,3.0,85.86,0.26,190.6092,7.0,South,Credit Card,...,Electronics,2.3,Returned,Negative,13.73,FREESHIP,NaN,unknown,no_data,NaN
26,2023-01-27,1313.0,164.0,1.0,53.18,0.08,48.9256,7.0,South,Credit Card,...,Books,3.8,Returned,Neutral,18.64,WELCOME5,NaN,Preferred morning delivery,value_2,NaN
27,2023-01-28,1629.0,176.0,2.0,91.70,0.30,128.3800,6.0,West,Online,...,Food,3.4,Returned,Neutral,12.15,FREESHIP,NaN,no_data,value_5,NaN
28,2023-01-29,1923.0,103.0,7.0,21.86,0.04,146.8992,2.0,West,Cash,...,Clothing,4.8,Not Returned,Neutral,5.30,WELCOME5,NaN,unknown,value_4,NaN
29,2023-01-30,1745.0,163.0,9.0,25.79,0.23,178.7247,6.0,South,Online,...,Books,3.1,Not Returned,Neutral,7.23,FREESHIP,2.2,no_data,value_2,NaN
30,2023-01-31,1083.0,105.0,5.0,39.69,0.14,170.6670,8.0,West,Online,...,Books,3.2,Not Returned,Positive,NaN,nan,2.3,First-time customer,unknown,NaN
31,2023-02-01,1743.0,123.0,2.0,49.53,0.21,78.2574,8.0,South,Cash,...,Books,2.7,Not Returned,Negative,18.92,nan,3.8,no_data,value_3,NaN
32,2023-02-02,1458.0,179.0,5.0,82.93,0.04,398.0640,5.0,North,Online,...,Food,2.1,Returned,Positive,11.29,nan,2.0,unknown,value_3,NaN
33,2023-02-03,1154.0,154.0,2.0,52.65,0.14,90.5580,9.0,North,Online,...,Books,3.3,Returned,Positive,8.13,WELCOME5,1.5,Used loyalty points,no_data,NaN
34,2023-02-04,1266.0,190.0,3.0,64.02,0.23,147.8862,5.0,West,Credit Card,...,Electronics,1.3,Not Returned,Positive,19.14,FREESHIP,1.4,Frequent buyer,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 08:**
</div>

In [18]:
pd.DataFrame.sum?

Signature:
pd.DataFrame.sum(
    self,
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    min_count: 'int' = 0,
    **kwargs,
)
Docstring:
Return the sum of the values over the requested axis.

This is equivalent to the method ``numpy.sum``.

Parameters
----------
axis : {index (0), columns (1)}
    Axis for the function to be applied on.
    For `Series` this parameter is unused and defaults to 0.

    .. warning::

        The behavior of DataFrame.sum with ``axis=None`` is deprecated,
        in a future version this will reduce over both axes and return a scalar
        To retain the old behavior, pass axis=0 (or do not pass axis).

    .. versionadded:: 2.0.0

skipna : bool, default True
    Exclude NA/null values when computing the result.
numeric_only : bool, default False
    Include only float, int, boolean columns. Not implemented for Series.

min_count : int, default 0
    The required number of valid values to perform the operation. If fewer than
    ``min_count`` non-NA values are present the result will be NA.
**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
Series or scalar

See Also
--------
Series.sum : Return the sum.
Series.min : Return the minimum.
Series.max : Return the maximum.
Series.idxmin : Return the index of the minimum.
Series.idxmax : Return the index of the maximum.
DataFrame.sum : Return the sum over the requested axis.
DataFrame.min : Return the minimum over the requested axis.
DataFrame.max : Return the maximum over the requested axis.
DataFrame.idxmin : Return the index of the minimum over the requested axis.
DataFrame.idxmax : Return the index of the maximum over the requested axis.

Examples
--------
>>> idx = pd.MultiIndex.from_arrays([
...     ['warm', 'warm', 'cold', 'cold'],
...     ['dog', 'falcon', 'fish', 'spider']],
...     names=['blooded', 'animal'])
>>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
>>> s
blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

>>> s.sum()
14

By default, the sum of an empty or all-NA Series is ``0``.

>>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
0.0

This can be controlled with the ``min_count`` parameter. For example, if
you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

>>> pd.Series([], dtype="float64").sum(min_count=1)
nan

Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
empty series identically.

>>> pd.Series([np.nan]).sum()
0.0

>>> pd.Series([np.nan]).sum(min_count=1)
nan
File:      ~/dev/pandas-exercises/.venv/lib/python3.12/site-packages/pandas/core/frame.py
Type:      function

In [19]:
df.isnull().sum(axis=0)

date                 1
customer_id          1
product_id           1
quantity             1
price                1
discount             1
revenue              1
store_id             1
region               1
payment_method       1
is_member            1
delivery_days        1
customer_age         1
gender               1
product_category     1
rating               1
return_status        1
feedback             1
shipping_cost        9
coupon_code          1
delivery_rating     14
customer_note        1
customer_values      1
all_nan_column      36
dtype: int64

In [20]:
df.isnull().sum(axis=1)

0      2
1      1
2      1
3      2
4      2
5      1
6      1
7      2
8      2
9      1
10     2
11     2
12     1
13     1
14     2
15     1
16     2
17     1
18     3
19     3
20     1
21     1
22     2
23     2
24     2
25     2
26     2
27     2
28     2
29     1
30     2
31     1
32     1
33     1
34     1
35    24
dtype: int64

In [21]:
df_kept = df[df.isnull().sum(axis=1) >= 2]

# Display the DataFrame after keeping rows
display(df_kept.reset_index(drop=True))

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1691.0,116.0,7.0,89.61,0.02,614.7246,8.0,East,Cash,...,Electronics,3.1,Returned,Negative,15.36,nan,NaN,no_data,value_3,NaN
1,2023-01-04,1707.0,199.0,4.0,64.34,0.12,226.4768,7.0,North,Online,...,Books,2.1,Returned,Negative,18.80,WELCOME5,NaN,no_data,value_1,NaN
2,2023-01-05,1812.0,117.0,1.0,85.98,0.18,70.5036,4.0,North,Online,...,Books,1.1,Not Returned,Positive,NaN,WELCOME5,2.2,Frequent buyer,value_5,NaN
3,2023-01-08,1370.0,197.0,9.0,74.19,0.22,520.8138,3.0,South,Credit Card,...,Electronics,1.0,Not Returned,Negative,NaN,nan,2.2,Used loyalty points,no_data,NaN
4,2023-01-09,1251.0,102.0,4.0,84.38,0.18,276.7664,6.0,West,Credit Card,...,Books,1.3,Returned,Neutral,NaN,nan,4.2,Frequent buyer,no_data,NaN
5,2023-01-11,1233.0,111.0,9.0,98.16,0.21,697.9176,7.0,South,Online,...,Electronics,3.5,Returned,Neutral,NaN,WELCOME5,1.2,Requested gift wrap,value_4,NaN
6,2023-01-12,1211.0,110.0,2.0,67.73,0.17,112.4318,6.0,East,Online,...,Books,4.6,Not Returned,Neutral,NaN,FREESHIP,2.7,unknown,no_data,NaN
7,2023-01-15,1034.0,160.0,7.0,63.45,0.05,421.9425,2.0,North,Credit Card,...,Electronics,4.5,Not Returned,Negative,12.43,FREESHIP,NaN,no_data,no_data,NaN
8,2023-01-17,1905.0,111.0,8.0,65.28,0.02,511.7952,2.0,West,Online,...,Clothing,2.7,Not Returned,Neutral,18.64,nan,NaN,First-time customer,value_5,NaN
9,2023-01-19,1123.0,109.0,6.0,56.13,0.14,289.6308,4.0,South,Credit Card,...,Electronics,4.1,Not Returned,Positive,NaN,WELCOME5,NaN,unknown,value_3,NaN
10,2023-01-20,1388.0,181.0,1.0,29.98,0.29,21.2858,1.0,South,Credit Card,...,Electronics,4.8,Not Returned,Neutral,NaN,SAVE10,NaN,unknown,unknown,NaN
11,2023-01-23,1564.0,163.0,6.0,43.79,0.03,254.8578,4.0,South,Online,...,Electronics,4.5,Returned,Neutral,16.97,nan,NaN,Frequent buyer,value_3,NaN
12,2023-01-24,1770.0,102.0,4.0,20.85,0.17,69.2220,5.0,East,Credit Card,...,Books,4.1,Returned,Neutral,11.29,SAVE10,NaN,unknown,no_data,NaN
13,2023-01-25,1741.0,155.0,3.0,86.23,0.14,222.4734,6.0,North,Cash,...,Electronics,3.2,Not Returned,Neutral,13.01,nan,NaN,no_data,unknown,NaN
14,2023-01-26,1504.0,164.0,3.0,85.86,0.26,190.6092,7.0,South,Credit Card,...,Electronics,2.3,Returned,Negative,13.73,FREESHIP,NaN,unknown,no_data,NaN
15,2023-01-27,1313.0,164.0,1.0,53.18,0.08,48.9256,7.0,South,Credit Card,...,Books,3.8,Returned,Neutral,18.64,WELCOME5,NaN,Preferred morning delivery,value_2,NaN
16,2023-01-28,1629.0,176.0,2.0,91.70,0.30,128.3800,6.0,West,Online,...,Food,3.4,Returned,Neutral,12.15,FREESHIP,NaN,no_data,value_5,NaN
17,2023-01-29,1923.0,103.0,7.0,21.86,0.04,146.8992,2.0,West,Cash,...,Clothing,4.8,Not Returned,Neutral,5.30,WELCOME5,NaN,unknown,value_4,NaN
18,2023-01-31,1083.0,105.0,5.0,39.69,0.14,170.6670,8.0,West,Online,...,Books,3.2,Not Returned,Positive,NaN,nan,2.3,First-time customer,unknown,NaN
19,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-warning">

**9. Drop Rows with Missing Values in Specific Columns**

**Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.**

</div>

In [22]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1600.0,127.0,8.0,19.14,0.01,151.5888,6.0,North,Cash,...,Clothing,4.4,Returned,Negative,16.31,FREESHIP,NaN,unknown,value_3,NaN
1,2023-01-02,1341.0,167.0,7.0,64.43,0.20,360.8080,6.0,South,Online,...,Clothing,4.0,Returned,Positive,15.08,WELCOME5,NaN,First-time customer,no_data,NaN
2,2023-01-03,1798.0,163.0,8.0,41.39,0.08,304.6304,8.0,West,Cash,...,Clothing,2.3,Returned,Positive,9.14,SAVE10,2.4,unknown,value_5,NaN
3,2023-01-04,1282.0,114.0,8.0,32.58,0.30,182.4480,9.0,East,Credit Card,...,Food,2.5,Returned,Neutral,NaN,SAVE10,NaN,First-time customer,no_data,NaN
4,2023-01-05,1434.0,157.0,7.0,45.37,0.06,298.5346,6.0,East,Cash,...,Food,1.3,Not Returned,Negative,12.60,FREESHIP,2.8,Frequent buyer,value_4,NaN
5,2023-01-06,1571.0,196.0,6.0,93.04,0.13,485.6688,6.0,West,Credit Card,...,Books,4.9,Not Returned,Neutral,8.93,nan,2.7,unknown,no_data,NaN
6,2023-01-07,1180.0,135.0,8.0,59.00,0.06,443.6800,9.0,South,Online,...,Food,1.7,Not Returned,Positive,6.48,nan,2.2,Frequent buyer,value_1,NaN
7,2023-01-08,1593.0,151.0,5.0,94.03,0.03,456.0455,1.0,South,Credit Card,...,Clothing,2.7,Not Returned,Negative,5.37,SAVE10,2.2,Frequent buyer,no_data,NaN
8,2023-01-09,1197.0,184.0,3.0,78.24,0.09,213.5952,5.0,South,Online,...,Food,1.5,Not Returned,Negative,18.33,nan,4.8,no_data,value_3,NaN
9,2023-01-10,1062.0,131.0,1.0,59.88,0.07,55.6884,8.0,East,Credit Card,...,Electronics,1.7,Not Returned,Positive,10.16,FREESHIP,3.0,unknown,value_1,NaN
10,2023-01-11,1493.0,120.0,1.0,74.17,0.25,55.6275,3.0,West,Credit Card,...,Electronics,1.2,Returned,Neutral,6.87,nan,3.2,First-time customer,value_4,NaN
11,2023-01-12,1257.0,181.0,2.0,63.32,0.29,89.9144,3.0,East,Online,...,Books,2.5,Returned,Neutral,17.62,SAVE10,4.4,Preferred morning delivery,no_data,NaN
12,2023-01-13,1349.0,167.0,4.0,25.55,0.20,81.7600,6.0,West,Online,...,Clothing,3.9,Not Returned,Neutral,18.92,FREESHIP,2.5,Frequent buyer,unknown,NaN
13,2023-01-14,1212.0,112.0,6.0,95.48,0.05,544.2360,5.0,East,Online,...,Food,1.5,Returned,Positive,6.97,FREESHIP,4.0,unknown,no_data,NaN
14,2023-01-15,1620.0,147.0,1.0,30.46,0.26,22.5404,2.0,North,Credit Card,...,Electronics,3.6,Not Returned,Neutral,18.05,nan,4.4,First-time customer,no_data,NaN
15,2023-01-16,1609.0,113.0,6.0,34.18,0.28,147.6576,2.0,South,Online,...,Food,4.8,Not Returned,Positive,5.19,nan,NaN,unknown,value_5,NaN
16,2023-01-17,1377.0,124.0,6.0,14.40,0.26,63.9360,5.0,East,Online,...,Food,3.0,Returned,Neutral,5.96,nan,NaN,unknown,unknown,NaN
17,2023-01-18,1699.0,188.0,6.0,97.87,0.29,416.9262,5.0,North,Online,...,Books,1.2,Returned,Neutral,19.45,nan,3.0,Frequent buyer,unknown,NaN
18,2023-01-19,1065.0,181.0,4.0,58.13,0.27,169.7396,6.0,North,Online,...,Food,1.8,Not Returned,Positive,10.31,FREESHIP,NaN,Used loyalty points,value_5,NaN
19,2023-01-20,1808.0,127.0,9.0,80.99,0.22,568.5498,3.0,East,Cash,...,Food,2.8,Not Returned,Positive,9.70,nan,3.6,unknown,no_data,NaN
20,2023-01-21,1897.0,156.0,1.0,66.87,0.14,57.5082,2.0,East,Cash,...,Food,1.1,Returned,Neutral,17.88,SAVE10,4.9,no_data,value_4,NaN
21,2023-01-22,1906.0,172.0,6.0,80.86,0.13,422.0892,4.0,North,Credit Card,...,Food,3.2,Returned,Positive,10.55,WELCOME5,NaN,Used loyalty points,unknown,NaN
22,2023-01-23,1305.0,150.0,7.0,32.45,0.01,224.8785,1.0,West,Cash,...,Clothing,3.9,Not Returned,Neutral,13.94,nan,5.0,Used loyalty points,value_4,NaN
23,2023-01-24,1568.0,117.0,7.0,53.98,0.23,290.9522,4.0,South,Credit Card,...,Electronics,2.1,Not Returned,Positive,10.27,SAVE10,2.5,no_data,no_data,NaN
24,2023-01-25,1675.0,128.0,8.0,20.36,0.29,115.6448,1.0,West,Online,...,Electronics,1.1,Not Returned,Negative,NaN,nan,3.2,Frequent buyer,no_data,NaN
25,2023-01-26,1405.0,143.0,3.0,90.02,0.13,234.9522,1.0,South,Credit Card,...,Books,2.3,Returned,Neutral,5.04,SAVE10,3.1,Used loyalty points,no_data,NaN
26,2023-01-27,1655.0,121.0,8.0,62.80,0.27,366.7520,6.0,East,Credit Card,...,Books,3.4,Returned,Neutral,19.07,SAVE10,2.9,no_data,no_data,NaN
27,2023-01-28,1131.0,176.0,9.0,63.75,0.03,556.5375,3.0,East,Online,...,Electronics,1.0,Not Returned,Negative,19.79,nan,2.8,Requested gift wrap,value_2,NaN
28,2023-01-29,1088.0,176.0,6.0,27.49,0.29,117.1074,3.0,West,Online,...,Books,1.8,Returned,Positive,16.00,nan,1.1,no_data,value_5,NaN
29,2023-01-30,1013.0,141.0,5.0,92.89,0.10,418.0050,6.0,West,Cash,...,Electronics,4.4,Not Returned,Neutral,19.20,SAVE10,1.8,Requested gift wrap,value_2,NaN
30,2023-01-31,1960.0,196.0,4.0,66.10,0.06,248.5360,7.0,East,Credit Card,...,Clothing,4.9,Returned,Negative,11.25,nan,NaN,unknown,value_2,NaN
31,2023-02-01,1822.0,166.0,3.0,93.93,0.23,216.9783,2.0,East,Credit Card,...,Electronics,2.7,Returned,Negative,13.29,FREESHIP,4.0,no_data,value_1,NaN
32,2023-02-02,1663.0,179.0,7.0,99.78,0.03,677.5062,4.0,East,Online,...,Clothing,3.8,Returned,Neutral,NaN,nan,4.0,Frequent buyer,unknown,NaN
33,2023-02-03,1346.0,148.0,6.0,11.12,0.14,57.3792,4.0,North,Cash,...,Electronics,2.9,Returned,Negative,12.54,nan,1.6,unknown,value_3,NaN
34,2023-02-04,1146.0,101.0,7.0,64.47,0.24,342.9804,9.0,East,Credit Card,...,Clothing,2.3,Returned,Positive,NaN,nan,1.5,First-time customer,value_2,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 09:**
</div>

In [23]:
# Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values
dropped_df = df.dropna(subset=['shipping_cost', 'coupon_code', 'delivery_rating'])
dropped_df

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
2,2023-01-03,1798.0,163.0,8.0,41.39,0.08,304.6304,8.0,West,Cash,...,Clothing,2.3,Returned,Positive,9.14,SAVE10,2.4,unknown,value_5,NaN
4,2023-01-05,1434.0,157.0,7.0,45.37,0.06,298.5346,6.0,East,Cash,...,Food,1.3,Not Returned,Negative,12.60,FREESHIP,2.8,Frequent buyer,value_4,NaN
5,2023-01-06,1571.0,196.0,6.0,93.04,0.13,485.6688,6.0,West,Credit Card,...,Books,4.9,Not Returned,Neutral,8.93,nan,2.7,unknown,no_data,NaN
6,2023-01-07,1180.0,135.0,8.0,59.00,0.06,443.6800,9.0,South,Online,...,Food,1.7,Not Returned,Positive,6.48,nan,2.2,Frequent buyer,value_1,NaN
7,2023-01-08,1593.0,151.0,5.0,94.03,0.03,456.0455,1.0,South,Credit Card,...,Clothing,2.7,Not Returned,Negative,5.37,SAVE10,2.2,Frequent buyer,no_data,NaN
8,2023-01-09,1197.0,184.0,3.0,78.24,0.09,213.5952,5.0,South,Online,...,Food,1.5,Not Returned,Negative,18.33,nan,4.8,no_data,value_3,NaN
9,2023-01-10,1062.0,131.0,1.0,59.88,0.07,55.6884,8.0,East,Credit Card,...,Electronics,1.7,Not Returned,Positive,10.16,FREESHIP,3.0,unknown,value_1,NaN
10,2023-01-11,1493.0,120.0,1.0,74.17,0.25,55.6275,3.0,West,Credit Card,...,Electronics,1.2,Returned,Neutral,6.87,nan,3.2,First-time customer,value_4,NaN
11,2023-01-12,1257.0,181.0,2.0,63.32,0.29,89.9144,3.0,East,Online,...,Books,2.5,Returned,Neutral,17.62,SAVE10,4.4,Preferred morning delivery,no_data,NaN
12,2023-01-13,1349.0,167.0,4.0,25.55,0.20,81.7600,6.0,West,Online,...,Clothing,3.9,Not Returned,Neutral,18.92,FREESHIP,2.5,Frequent buyer,unknown,NaN
13,2023-01-14,1212.0,112.0,6.0,95.48,0.05,544.2360,5.0,East,Online,...,Food,1.5,Returned,Positive,6.97,FREESHIP,4.0,unknown,no_data,NaN
14,2023-01-15,1620.0,147.0,1.0,30.46,0.26,22.5404,2.0,North,Credit Card,...,Electronics,3.6,Not Returned,Neutral,18.05,nan,4.4,First-time customer,no_data,NaN
17,2023-01-18,1699.0,188.0,6.0,97.87,0.29,416.9262,5.0,North,Online,...,Books,1.2,Returned,Neutral,19.45,nan,3.0,Frequent buyer,unknown,NaN
19,2023-01-20,1808.0,127.0,9.0,80.99,0.22,568.5498,3.0,East,Cash,...,Food,2.8,Not Returned,Positive,9.70,nan,3.6,unknown,no_data,NaN
20,2023-01-21,1897.0,156.0,1.0,66.87,0.14,57.5082,2.0,East,Cash,...,Food,1.1,Returned,Neutral,17.88,SAVE10,4.9,no_data,value_4,NaN
22,2023-01-23,1305.0,150.0,7.0,32.45,0.01,224.8785,1.0,West,Cash,...,Clothing,3.9,Not Returned,Neutral,13.94,nan,5.0,Used loyalty points,value_4,NaN
23,2023-01-24,1568.0,117.0,7.0,53.98,0.23,290.9522,4.0,South,Credit Card,...,Electronics,2.1,Not Returned,Positive,10.27,SAVE10,2.5,no_data,no_data,NaN
25,2023-01-26,1405.0,143.0,3.0,90.02,0.13,234.9522,1.0,South,Credit Card,...,Books,2.3,Returned,Neutral,5.04,SAVE10,3.1,Used loyalty points,no_data,NaN
26,2023-01-27,1655.0,121.0,8.0,62.80,0.27,366.7520,6.0,East,Credit Card,...,Books,3.4,Returned,Neutral,19.07,SAVE10,2.9,no_data,no_data,NaN
27,2023-01-28,1131.0,176.0,9.0,63.75,0.03,556.5375,3.0,East,Online,...,Electronics,1.0,Not Returned,Negative,19.79,nan,2.8,Requested gift wrap,value_2,NaN
28,2023-01-29,1088.0,176.0,6.0,27.49,0.29,117.1074,3.0,West,Online,...,Books,1.8,Returned,Positive,16.00,nan,1.1,no_data,value_5,NaN
29,2023-01-30,1013.0,141.0,5.0,92.89,0.10,418.0050,6.0,West,Cash,...,Electronics,4.4,Not Returned,Neutral,19.20,SAVE10,1.8,Requested gift wrap,value_2,NaN
31,2023-02-01,1822.0,166.0,3.0,93.93,0.23,216.9783,2.0,East,Credit Card,...,Electronics,2.7,Returned,Negative,13.29,FREESHIP,4.0,no_data,value_1,NaN
33,2023-02-03,1346.0,148.0,6.0,11.12,0.14,57.3792,4.0,North,Cash,...,Electronics,2.9,Returned,Negative,12.54,nan,1.6,unknown,value_3,NaN

<div class="alert alert-warning">

**10. Keep Only Valid Entries**

**Write a Pandas program to keep the valid entries of a given DataFrame.**

</div>

In [24]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1739.0,177.0,3.0,46.52,0.03,135.3732,4.0,North,Cash,...,Food,4.4,Returned,Neutral,14.07,nan,NaN,no_data,no_data,NaN
1,2023-01-02,1294.0,130.0,1.0,38.22,0.13,33.2514,6.0,South,Online,...,Food,3.1,Not Returned,Negative,NaN,FREESHIP,2.3,no_data,value_1,NaN
2,2023-01-03,1433.0,105.0,3.0,33.43,0.15,85.2465,7.0,South,Online,...,Food,1.9,Returned,Neutral,8.20,nan,NaN,unknown,value_1,NaN
3,2023-01-04,1539.0,180.0,1.0,18.85,0.18,15.4570,8.0,East,Cash,...,Electronics,3.4,Returned,Neutral,18.87,WELCOME5,2.3,no_data,value_1,NaN
4,2023-01-05,1117.0,119.0,5.0,52.96,0.16,222.4320,1.0,East,Cash,...,Electronics,2.9,Not Returned,Positive,8.53,nan,2.4,no_data,unknown,NaN
5,2023-01-06,1165.0,124.0,2.0,84.18,0.27,122.9028,3.0,West,Credit Card,...,Books,1.2,Returned,Negative,19.89,FREESHIP,NaN,no_data,unknown,NaN
6,2023-01-07,1181.0,128.0,5.0,23.18,0.27,84.6070,8.0,West,Cash,...,Food,1.4,Returned,Positive,6.30,nan,4.2,unknown,value_3,NaN
7,2023-01-08,1577.0,152.0,5.0,50.24,0.22,195.9360,6.0,South,Credit Card,...,Clothing,2.5,Not Returned,Neutral,NaN,nan,2.9,no_data,no_data,NaN
8,2023-01-09,1590.0,122.0,2.0,76.43,0.01,151.3314,8.0,East,Cash,...,Electronics,3.3,Returned,Neutral,11.20,nan,1.2,First-time customer,unknown,NaN
9,2023-01-10,1234.0,167.0,7.0,58.47,0.03,397.0113,9.0,West,Online,...,Food,2.4,Returned,Positive,18.77,SAVE10,3.8,unknown,value_4,NaN
10,2023-01-11,1588.0,193.0,5.0,28.73,0.22,112.0470,1.0,East,Online,...,Food,4.2,Returned,Positive,13.00,SAVE10,NaN,Used loyalty points,value_5,NaN
11,2023-01-12,1090.0,182.0,2.0,24.10,0.07,44.8260,5.0,North,Cash,...,Electronics,4.3,Not Returned,Positive,11.04,FREESHIP,NaN,no_data,value_5,NaN
12,2023-01-13,1716.0,127.0,6.0,34.22,0.09,186.8412,2.0,South,Cash,...,Books,4.9,Not Returned,Positive,17.87,nan,4.4,First-time customer,no_data,NaN
13,2023-01-14,1055.0,196.0,4.0,77.73,0.16,261.1728,2.0,West,Online,...,Food,3.4,Not Returned,Positive,NaN,WELCOME5,4.5,Frequent buyer,value_1,NaN
14,2023-01-15,1286.0,108.0,7.0,83.17,0.06,547.2586,2.0,South,Online,...,Clothing,1.5,Not Returned,Neutral,NaN,nan,2.2,First-time customer,no_data,NaN
15,2023-01-16,1438.0,120.0,8.0,68.38,0.10,492.3360,5.0,West,Online,...,Books,2.3,Not Returned,Positive,18.72,WELCOME5,NaN,Frequent buyer,no_data,NaN
16,2023-01-17,1236.0,106.0,1.0,73.89,0.27,53.9397,4.0,West,Credit Card,...,Clothing,3.8,Returned,Positive,NaN,SAVE10,4.4,First-time customer,unknown,NaN
17,2023-01-18,1374.0,193.0,3.0,34.88,0.24,79.5264,8.0,West,Online,...,Electronics,1.8,Not Returned,Positive,NaN,FREESHIP,1.5,unknown,no_data,NaN
18,2023-01-19,1412.0,181.0,9.0,80.29,0.06,679.2534,6.0,West,Online,...,Clothing,4.5,Not Returned,Neutral,10.92,nan,NaN,no_data,value_3,NaN
19,2023-01-20,1185.0,152.0,6.0,47.06,0.17,234.3588,9.0,South,Credit Card,...,Books,2.0,Not Returned,Positive,9.39,FREESHIP,NaN,First-time customer,value_4,NaN
20,2023-01-21,1395.0,173.0,8.0,94.57,0.00,756.5600,4.0,North,Online,...,Food,2.3,Not Returned,Neutral,NaN,FREESHIP,NaN,Preferred morning delivery,value_5,NaN
21,2023-01-22,1032.0,110.0,4.0,89.36,0.05,339.5680,2.0,West,Online,...,Food,2.5,Returned,Neutral,9.40,nan,3.4,Requested gift wrap,unknown,NaN
22,2023-01-23,1112.0,132.0,6.0,80.68,0.23,372.7416,1.0,South,Credit Card,...,Food,3.7,Returned,Positive,10.84,FREESHIP,NaN,no_data,unknown,NaN
23,2023-01-24,1481.0,121.0,1.0,90.23,0.26,66.7702,9.0,North,Credit Card,...,Clothing,5.0,Not Returned,Positive,15.46,FREESHIP,4.1,unknown,unknown,NaN
24,2023-01-25,1560.0,163.0,1.0,58.89,0.17,48.8787,8.0,West,Cash,...,Electronics,5.0,Returned,Neutral,16.38,nan,4.7,Requested gift wrap,value_4,NaN
25,2023-01-26,1198.0,163.0,8.0,67.66,0.24,411.3728,4.0,South,Online,...,Clothing,2.8,Not Returned,Neutral,14.72,nan,NaN,no_data,value_3,NaN
26,2023-01-27,1928.0,127.0,6.0,23.38,0.11,124.8492,3.0,South,Credit Card,...,Electronics,1.6,Returned,Negative,5.45,WELCOME5,4.4,Used loyalty points,value_1,NaN
27,2023-01-28,1513.0,157.0,9.0,80.52,0.16,608.7312,2.0,East,Credit Card,...,Books,2.4,Returned,Positive,19.88,nan,2.5,Used loyalty points,no_data,NaN
28,2023-01-29,1697.0,107.0,5.0,96.35,0.20,385.4000,9.0,South,Online,...,Books,4.5,Returned,Neutral,NaN,nan,NaN,unknown,value_4,NaN
29,2023-01-30,1800.0,178.0,3.0,84.06,0.02,247.1364,4.0,North,Credit Card,...,Books,4.5,Not Returned,Neutral,13.03,SAVE10,3.2,Used loyalty points,unknown,NaN
30,2023-01-31,1574.0,156.0,9.0,53.32,0.00,479.8800,2.0,North,Credit Card,...,Electronics,1.4,Not Returned,Neutral,NaN,SAVE10,NaN,Requested gift wrap,no_data,NaN
31,2023-02-01,1855.0,135.0,2.0,51.35,0.19,83.1870,6.0,South,Cash,...,Clothing,3.2,Not Returned,Positive,8.79,nan,2.8,Requested gift wrap,value_5,NaN
32,2023-02-02,1025.0,191.0,9.0,15.29,0.18,112.8402,7.0,South,Online,...,Clothing,2.9,Not Returned,Negative,16.70,nan,1.4,unknown,no_data,NaN
33,2023-02-03,1757.0,170.0,4.0,63.25,0.18,207.4600,8.0,South,Cash,...,Food,2.4,Returned,Positive,11.48,SAVE10,3.1,no_data,no_data,NaN
34,2023-02-04,1738.0,187.0,7.0,56.35,0.20,315.5600,2.0,South,Online,...,Clothing,4.3,Returned,Negative,8.19,SAVE10,2.5,no_data,value_5,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 10:**
</div>

In [25]:
# Write a Pandas program to keep the valid entries of a given DataFrame
valid_entries_df = df.dropna(subset=['customer_id', 'product_id', 'quantity', 'price', 'revenue', 'delivery_rating'])
display(valid_entries_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
1,2023-01-02,1294.0,130.0,1.0,38.22,0.13,33.2514,6.0,South,Online,...,Food,3.1,Not Returned,Negative,NaN,FREESHIP,2.3,no_data,value_1,NaN
3,2023-01-04,1539.0,180.0,1.0,18.85,0.18,15.4570,8.0,East,Cash,...,Electronics,3.4,Returned,Neutral,18.87,WELCOME5,2.3,no_data,value_1,NaN
4,2023-01-05,1117.0,119.0,5.0,52.96,0.16,222.4320,1.0,East,Cash,...,Electronics,2.9,Not Returned,Positive,8.53,nan,2.4,no_data,unknown,NaN
6,2023-01-07,1181.0,128.0,5.0,23.18,0.27,84.6070,8.0,West,Cash,...,Food,1.4,Returned,Positive,6.30,nan,4.2,unknown,value_3,NaN
7,2023-01-08,1577.0,152.0,5.0,50.24,0.22,195.9360,6.0,South,Credit Card,...,Clothing,2.5,Not Returned,Neutral,NaN,nan,2.9,no_data,no_data,NaN
8,2023-01-09,1590.0,122.0,2.0,76.43,0.01,151.3314,8.0,East,Cash,...,Electronics,3.3,Returned,Neutral,11.20,nan,1.2,First-time customer,unknown,NaN
9,2023-01-10,1234.0,167.0,7.0,58.47,0.03,397.0113,9.0,West,Online,...,Food,2.4,Returned,Positive,18.77,SAVE10,3.8,unknown,value_4,NaN
12,2023-01-13,1716.0,127.0,6.0,34.22,0.09,186.8412,2.0,South,Cash,...,Books,4.9,Not Returned,Positive,17.87,nan,4.4,First-time customer,no_data,NaN
13,2023-01-14,1055.0,196.0,4.0,77.73,0.16,261.1728,2.0,West,Online,...,Food,3.4,Not Returned,Positive,NaN,WELCOME5,4.5,Frequent buyer,value_1,NaN
14,2023-01-15,1286.0,108.0,7.0,83.17,0.06,547.2586,2.0,South,Online,...,Clothing,1.5,Not Returned,Neutral,NaN,nan,2.2,First-time customer,no_data,NaN
16,2023-01-17,1236.0,106.0,1.0,73.89,0.27,53.9397,4.0,West,Credit Card,...,Clothing,3.8,Returned,Positive,NaN,SAVE10,4.4,First-time customer,unknown,NaN
17,2023-01-18,1374.0,193.0,3.0,34.88,0.24,79.5264,8.0,West,Online,...,Electronics,1.8,Not Returned,Positive,NaN,FREESHIP,1.5,unknown,no_data,NaN
21,2023-01-22,1032.0,110.0,4.0,89.36,0.05,339.5680,2.0,West,Online,...,Food,2.5,Returned,Neutral,9.40,nan,3.4,Requested gift wrap,unknown,NaN
23,2023-01-24,1481.0,121.0,1.0,90.23,0.26,66.7702,9.0,North,Credit Card,...,Clothing,5.0,Not Returned,Positive,15.46,FREESHIP,4.1,unknown,unknown,NaN
24,2023-01-25,1560.0,163.0,1.0,58.89,0.17,48.8787,8.0,West,Cash,...,Electronics,5.0,Returned,Neutral,16.38,nan,4.7,Requested gift wrap,value_4,NaN
26,2023-01-27,1928.0,127.0,6.0,23.38,0.11,124.8492,3.0,South,Credit Card,...,Electronics,1.6,Returned,Negative,5.45,WELCOME5,4.4,Used loyalty points,value_1,NaN
27,2023-01-28,1513.0,157.0,9.0,80.52,0.16,608.7312,2.0,East,Credit Card,...,Books,2.4,Returned,Positive,19.88,nan,2.5,Used loyalty points,no_data,NaN
29,2023-01-30,1800.0,178.0,3.0,84.06,0.02,247.1364,4.0,North,Credit Card,...,Books,4.5,Not Returned,Neutral,13.03,SAVE10,3.2,Used loyalty points,unknown,NaN
31,2023-02-01,1855.0,135.0,2.0,51.35,0.19,83.1870,6.0,South,Cash,...,Clothing,3.2,Not Returned,Positive,8.79,nan,2.8,Requested gift wrap,value_5,NaN
32,2023-02-02,1025.0,191.0,9.0,15.29,0.18,112.8402,7.0,South,Online,...,Clothing,2.9,Not Returned,Negative,16.70,nan,1.4,unknown,no_data,NaN
33,2023-02-03,1757.0,170.0,4.0,63.25,0.18,207.4600,8.0,South,Cash,...,Food,2.4,Returned,Positive,11.48,SAVE10,3.1,no_data,no_data,NaN
34,2023-02-04,1738.0,187.0,7.0,56.35,0.20,315.5600,2.0,South,Online,...,Clothing,4.3,Returned,Negative,8.19,SAVE10,2.5,no_data,value_5,NaN

<div class="alert alert-warning">

**11. Total Number of Missing Values in DataFrame**

**Write a Pandas program to calculate the total number of missing values in a DataFrame.**

</div>

In [26]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1559.0,157.0,8.0,32.31,0.26,191.2752,1.0,West,Cash,...,Food,2.2,Returned,Negative,14.40,WELCOME5,3.8,Frequent buyer,value_2,NaN
1,2023-01-02,1390.0,199.0,5.0,52.73,0.07,245.1945,2.0,South,Credit Card,...,Clothing,2.9,Returned,Positive,11.36,nan,NaN,no_data,unknown,NaN
2,2023-01-03,1447.0,186.0,1.0,44.03,0.11,39.1867,8.0,West,Credit Card,...,Electronics,3.4,Returned,Positive,8.21,nan,NaN,Frequent buyer,no_data,NaN
3,2023-01-04,1699.0,111.0,6.0,55.66,0.02,327.2808,3.0,North,Credit Card,...,Food,2.0,Not Returned,Negative,10.82,nan,3.1,First-time customer,value_5,NaN
4,2023-01-05,1214.0,138.0,6.0,39.03,0.29,166.2678,8.0,North,Cash,...,Books,2.0,Returned,Positive,NaN,FREESHIP,5.0,Frequent buyer,value_2,NaN
5,2023-01-06,1954.0,161.0,7.0,15.29,0.17,88.8349,8.0,East,Cash,...,Clothing,3.3,Returned,Positive,16.49,WELCOME5,4.6,Requested gift wrap,value_3,NaN
6,2023-01-07,1305.0,137.0,1.0,33.83,0.28,24.3576,6.0,East,Credit Card,...,Electronics,4.1,Returned,Positive,7.85,SAVE10,NaN,no_data,no_data,NaN
7,2023-01-08,1743.0,171.0,8.0,98.48,0.03,764.2048,8.0,North,Credit Card,...,Electronics,3.5,Not Returned,Positive,16.84,SAVE10,3.7,no_data,unknown,NaN
8,2023-01-09,1329.0,119.0,8.0,17.22,0.13,119.8512,8.0,East,Credit Card,...,Clothing,1.6,Not Returned,Positive,8.27,nan,NaN,unknown,unknown,NaN
9,2023-01-10,1908.0,120.0,3.0,18.68,0.18,45.9528,3.0,East,Online,...,Electronics,1.5,Returned,Negative,8.86,WELCOME5,2.8,Used loyalty points,unknown,NaN
10,2023-01-11,1849.0,195.0,9.0,58.93,0.16,445.5108,8.0,West,Cash,...,Electronics,2.4,Not Returned,Neutral,18.43,nan,4.9,no_data,no_data,NaN
11,2023-01-12,1170.0,113.0,4.0,65.53,0.21,207.0748,8.0,West,Online,...,Clothing,1.1,Not Returned,Neutral,6.52,SAVE10,NaN,unknown,value_2,NaN
12,2023-01-13,1253.0,105.0,7.0,24.57,0.17,142.7517,4.0,West,Cash,...,Books,5.0,Returned,Positive,NaN,nan,4.1,no_data,value_2,NaN
13,2023-01-14,1697.0,159.0,5.0,34.78,0.11,154.7710,5.0,West,Credit Card,...,Electronics,1.4,Returned,Neutral,9.09,SAVE10,2.2,Used loyalty points,unknown,NaN
14,2023-01-15,1657.0,164.0,5.0,48.69,0.05,231.2775,5.0,North,Cash,...,Books,4.0,Returned,Positive,NaN,SAVE10,2.1,Frequent buyer,no_data,NaN
15,2023-01-16,1567.0,197.0,7.0,53.30,0.12,328.3280,5.0,East,Online,...,Food,4.7,Returned,Negative,NaN,SAVE10,2.3,First-time customer,value_4,NaN
16,2023-01-17,1735.0,172.0,7.0,65.57,0.04,440.6304,6.0,South,Online,...,Books,2.8,Not Returned,Positive,NaN,SAVE10,NaN,unknown,value_1,NaN
17,2023-01-18,1052.0,131.0,6.0,62.38,0.04,359.3088,6.0,South,Credit Card,...,Food,1.4,Returned,Negative,7.23,SAVE10,NaN,no_data,value_5,NaN
18,2023-01-19,1237.0,177.0,4.0,19.46,0.27,56.8232,7.0,North,Online,...,Clothing,4.9,Returned,Neutral,15.59,WELCOME5,1.6,Frequent buyer,value_2,NaN
19,2023-01-20,1215.0,150.0,9.0,25.24,0.19,183.9996,9.0,South,Online,...,Books,3.3,Not Returned,Positive,NaN,nan,NaN,unknown,value_2,NaN
20,2023-01-21,1176.0,188.0,9.0,10.81,0.04,93.3984,2.0,North,Credit Card,...,Clothing,1.2,Not Returned,Negative,NaN,FREESHIP,5.0,no_data,no_data,NaN
21,2023-01-22,1446.0,159.0,7.0,84.14,0.07,547.7514,4.0,East,Credit Card,...,Electronics,3.1,Returned,Neutral,NaN,WELCOME5,2.4,unknown,value_2,NaN
22,2023-01-23,1335.0,188.0,4.0,30.22,0.01,119.6712,9.0,West,Credit Card,...,Clothing,4.7,Returned,Negative,9.86,FREESHIP,3.9,unknown,value_2,NaN
23,2023-01-24,1447.0,168.0,4.0,80.95,0.12,284.9440,4.0,East,Credit Card,...,Books,1.7,Returned,Negative,10.57,nan,3.3,Requested gift wrap,no_data,NaN
24,2023-01-25,1480.0,197.0,5.0,19.78,0.01,97.9110,7.0,West,Online,...,Clothing,1.3,Not Returned,Neutral,NaN,FREESHIP,NaN,Requested gift wrap,unknown,NaN
25,2023-01-26,1588.0,189.0,4.0,45.60,0.08,167.8080,9.0,South,Cash,...,Food,1.8,Returned,Negative,NaN,nan,4.9,no_data,no_data,NaN
26,2023-01-27,1439.0,129.0,9.0,85.97,0.14,665.4078,7.0,North,Cash,...,Food,1.7,Returned,Neutral,12.92,WELCOME5,1.4,no_data,value_4,NaN
27,2023-01-28,1996.0,156.0,1.0,98.09,0.30,68.6630,6.0,West,Online,...,Clothing,4.5,Returned,Neutral,8.08,FREESHIP,1.1,no_data,value_4,NaN
28,2023-01-29,1790.0,164.0,3.0,58.65,0.03,170.6715,4.0,South,Credit Card,...,Food,3.5,Not Returned,Negative,16.04,FREESHIP,NaN,unknown,value_2,NaN
29,2023-01-30,1296.0,179.0,3.0,59.77,0.30,125.5170,6.0,West,Cash,...,Books,3.3,Not Returned,Negative,18.25,nan,NaN,unknown,no_data,NaN
30,2023-01-31,1730.0,129.0,8.0,94.40,0.06,709.8880,4.0,West,Cash,...,Clothing,2.9,Returned,Negative,6.86,SAVE10,1.8,Used loyalty points,unknown,NaN
31,2023-02-01,1917.0,147.0,1.0,87.83,0.22,68.5074,1.0,South,Online,...,Food,1.7,Returned,Positive,7.51,FREESHIP,NaN,Used loyalty points,value_5,NaN
32,2023-02-02,1587.0,123.0,9.0,24.69,0.17,184.4343,7.0,South,Credit Card,...,Clothing,4.9,Returned,Neutral,11.98,nan,NaN,no_data,value_4,NaN
33,2023-02-03,1939.0,100.0,3.0,87.00,0.09,237.5100,8.0,West,Cash,...,Books,4.5,Returned,Positive,17.36,nan,3.7,First-time customer,value_3,NaN
34,2023-02-04,1065.0,144.0,8.0,94.10,0.15,639.8800,4.0,East,Credit Card,...,Electronics,1.5,Returned,Neutral,12.16,WELCOME5,1.2,Preferred morning delivery,no_data,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 11:**
</div>

In [27]:
print(df.isna().sum().sum())

82

<div class="alert alert-warning">

**12. Replace NaNs with a Constant in Specified Columns**

**Write a Pandas program to replace NaNs with a single constant value in specified columns in a DataFrame.**

</div>

In [28]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1920.0,192.0,3.0,78.09,0.08,215.5284,6.0,North,Cash,...,Electronics,1.5,Not Returned,Positive,10.34,nan,NaN,unknown,value_2,NaN
1,2023-01-02,1311.0,119.0,2.0,72.18,0.17,119.8188,4.0,South,Online,...,Food,1.6,Returned,Neutral,NaN,FREESHIP,3.1,no_data,value_3,NaN
2,2023-01-03,1258.0,158.0,4.0,37.56,0.15,127.7040,1.0,West,Online,...,Clothing,1.1,Returned,Positive,NaN,FREESHIP,1.4,unknown,value_2,NaN
3,2023-01-04,1867.0,134.0,3.0,99.05,0.02,291.2070,9.0,South,Online,...,Books,2.5,Not Returned,Neutral,10.08,SAVE10,NaN,Frequent buyer,value_5,NaN
4,2023-01-05,1847.0,115.0,2.0,49.36,0.25,74.0400,3.0,South,Online,...,Electronics,1.3,Returned,Neutral,16.66,FREESHIP,1.8,no_data,value_2,NaN
5,2023-01-06,1386.0,159.0,4.0,76.97,0.08,283.2496,4.0,East,Credit Card,...,Food,3.5,Not Returned,Negative,5.54,SAVE10,NaN,unknown,value_3,NaN
6,2023-01-07,1368.0,102.0,8.0,20.55,0.28,118.3680,9.0,East,Online,...,Food,3.6,Not Returned,Negative,8.68,nan,NaN,unknown,unknown,NaN
7,2023-01-08,1701.0,160.0,9.0,75.04,0.08,621.3312,6.0,East,Online,...,Food,4.1,Returned,Negative,11.74,FREESHIP,2.1,unknown,value_2,NaN
8,2023-01-09,1264.0,164.0,6.0,45.81,0.20,219.8880,9.0,South,Cash,...,Food,1.6,Returned,Neutral,11.83,SAVE10,1.2,no_data,unknown,NaN
9,2023-01-10,1120.0,141.0,5.0,12.90,0.20,51.6000,8.0,North,Cash,...,Clothing,1.9,Returned,Neutral,11.98,nan,1.7,no_data,value_4,NaN
10,2023-01-11,1426.0,176.0,5.0,40.48,0.11,180.1360,6.0,South,Cash,...,Books,1.5,Returned,Neutral,19.65,nan,3.7,unknown,no_data,NaN
11,2023-01-12,1115.0,176.0,7.0,49.55,0.27,253.2005,6.0,East,Cash,...,Food,3.1,Not Returned,Negative,14.82,nan,NaN,no_data,value_1,NaN
12,2023-01-13,1709.0,190.0,4.0,42.33,0.01,167.6268,7.0,West,Credit Card,...,Electronics,1.7,Returned,Negative,15.22,nan,NaN,unknown,unknown,NaN
13,2023-01-14,1935.0,119.0,3.0,14.47,0.24,32.9916,6.0,North,Credit Card,...,Clothing,1.2,Not Returned,Negative,NaN,nan,1.3,Used loyalty points,value_3,NaN
14,2023-01-15,1526.0,119.0,4.0,73.70,0.23,226.9960,5.0,South,Online,...,Electronics,1.5,Not Returned,Positive,12.44,SAVE10,4.1,Used loyalty points,value_4,NaN
15,2023-01-16,1163.0,168.0,1.0,19.23,0.26,14.2302,2.0,South,Cash,...,Clothing,4.3,Returned,Negative,13.92,WELCOME5,4.8,Requested gift wrap,value_3,NaN
16,2023-01-17,1085.0,104.0,3.0,66.90,0.01,198.6930,1.0,West,Cash,...,Electronics,3.7,Returned,Positive,13.23,FREESHIP,2.8,no_data,value_1,NaN
17,2023-01-18,1868.0,129.0,5.0,68.06,0.10,306.2700,6.0,West,Online,...,Electronics,2.6,Returned,Negative,18.61,nan,1.4,unknown,value_4,NaN
18,2023-01-19,1911.0,133.0,8.0,73.56,0.28,423.7056,4.0,West,Credit Card,...,Books,3.2,Not Returned,Neutral,14.32,nan,2.7,unknown,value_2,NaN
19,2023-01-20,1416.0,122.0,3.0,37.09,0.29,79.0017,5.0,East,Online,...,Clothing,1.7,Returned,Negative,16.51,SAVE10,3.9,unknown,value_3,NaN
20,2023-01-21,1603.0,177.0,4.0,60.69,0.19,196.6356,2.0,North,Credit Card,...,Books,1.9,Not Returned,Negative,14.07,FREESHIP,2.4,Frequent buyer,unknown,NaN
21,2023-01-22,1396.0,158.0,5.0,44.91,0.11,199.8495,6.0,East,Credit Card,...,Clothing,3.5,Not Returned,Positive,15.25,FREESHIP,1.4,no_data,no_data,NaN
22,2023-01-23,1117.0,104.0,6.0,55.29,0.14,285.2964,2.0,East,Online,...,Clothing,4.8,Not Returned,Positive,13.30,FREESHIP,1.0,Requested gift wrap,no_data,NaN
23,2023-01-24,1893.0,161.0,9.0,76.58,0.19,558.2682,4.0,West,Credit Card,...,Clothing,2.2,Not Returned,Positive,9.80,FREESHIP,1.4,Frequent buyer,value_4,NaN
24,2023-01-25,1163.0,140.0,9.0,54.80,0.15,419.2200,2.0,South,Credit Card,...,Clothing,1.7,Not Returned,Neutral,7.57,nan,3.9,no_data,value_4,NaN
25,2023-01-26,1042.0,141.0,2.0,38.02,0.01,75.2796,6.0,North,Credit Card,...,Books,4.9,Returned,Negative,NaN,nan,2.0,no_data,value_4,NaN
26,2023-01-27,1153.0,164.0,3.0,49.48,0.11,132.1116,9.0,West,Online,...,Clothing,4.9,Not Returned,Neutral,11.24,nan,1.5,unknown,unknown,NaN
27,2023-01-28,1088.0,103.0,1.0,80.27,0.26,59.3998,6.0,North,Cash,...,Food,3.9,Not Returned,Neutral,5.45,SAVE10,4.7,Used loyalty points,value_3,NaN
28,2023-01-29,1310.0,126.0,4.0,85.08,0.10,306.2880,8.0,West,Online,...,Electronics,1.6,Not Returned,Neutral,8.06,WELCOME5,3.3,Used loyalty points,value_5,NaN
29,2023-01-30,1496.0,150.0,1.0,40.77,0.12,35.8776,9.0,North,Cash,...,Clothing,1.7,Not Returned,Negative,14.38,nan,NaN,no_data,no_data,NaN
30,2023-01-31,1229.0,147.0,7.0,46.46,0.04,312.2112,4.0,South,Cash,...,Clothing,3.4,Returned,Negative,16.20,nan,4.1,no_data,value_5,NaN
31,2023-02-01,1009.0,199.0,6.0,50.52,0.23,233.4024,2.0,West,Cash,...,Clothing,2.1,Returned,Negative,11.87,nan,1.2,Requested gift wrap,unknown,NaN
32,2023-02-02,1283.0,126.0,2.0,40.70,0.20,65.1200,2.0,North,Online,...,Books,3.1,Not Returned,Negative,9.55,nan,3.1,no_data,unknown,NaN
33,2023-02-03,1663.0,163.0,6.0,65.43,0.12,345.4704,4.0,East,Credit Card,...,Books,1.7,Returned,Neutral,15.51,SAVE10,1.6,Preferred morning delivery,unknown,NaN
34,2023-02-04,1172.0,132.0,5.0,42.84,0.22,167.0760,3.0,South,Credit Card,...,Electronics,3.5,Not Returned,Negative,NaN,SAVE10,3.3,unknown,no_data,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 12:**
</div>

In [29]:
# Write a Pandas program to fill the missing values in specific columns of a given DataFrame
df_filled = df.fillna({'shipping_cost': 0, 'coupon_code': 'NO_COUPON', 'delivery_rating': 0})
df_filled

# or we can use the `fillna` method directly on the DataFrame
df['shipping_cost'].fillna(0, inplace=True)

# or we can use the `fillna` method directly on the DataFrame with multiple columns
df.fillna(
    {
        'shipping_cost': 0
        , 'coupon_code': 'NO_COUPON'
        , 'delivery_rating': 0
    }
    , inplace=True
)

df

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_96118/3401518830.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['shipping_cost'].fillna(0, inplace=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1920.0,192.0,3.0,78.09,0.08,215.5284,6.0,North,Cash,...,Electronics,1.5,Not Returned,Positive,10.34,nan,0.0,unknown,value_2,NaN
1,2023-01-02,1311.0,119.0,2.0,72.18,0.17,119.8188,4.0,South,Online,...,Food,1.6,Returned,Neutral,0.00,FREESHIP,3.1,no_data,value_3,NaN
2,2023-01-03,1258.0,158.0,4.0,37.56,0.15,127.7040,1.0,West,Online,...,Clothing,1.1,Returned,Positive,0.00,FREESHIP,1.4,unknown,value_2,NaN
3,2023-01-04,1867.0,134.0,3.0,99.05,0.02,291.2070,9.0,South,Online,...,Books,2.5,Not Returned,Neutral,10.08,SAVE10,0.0,Frequent buyer,value_5,NaN
4,2023-01-05,1847.0,115.0,2.0,49.36,0.25,74.0400,3.0,South,Online,...,Electronics,1.3,Returned,Neutral,16.66,FREESHIP,1.8,no_data,value_2,NaN
5,2023-01-06,1386.0,159.0,4.0,76.97,0.08,283.2496,4.0,East,Credit Card,...,Food,3.5,Not Returned,Negative,5.54,SAVE10,0.0,unknown,value_3,NaN
6,2023-01-07,1368.0,102.0,8.0,20.55,0.28,118.3680,9.0,East,Online,...,Food,3.6,Not Returned,Negative,8.68,nan,0.0,unknown,unknown,NaN
7,2023-01-08,1701.0,160.0,9.0,75.04,0.08,621.3312,6.0,East,Online,...,Food,4.1,Returned,Negative,11.74,FREESHIP,2.1,unknown,value_2,NaN
8,2023-01-09,1264.0,164.0,6.0,45.81,0.20,219.8880,9.0,South,Cash,...,Food,1.6,Returned,Neutral,11.83,SAVE10,1.2,no_data,unknown,NaN
9,2023-01-10,1120.0,141.0,5.0,12.90,0.20,51.6000,8.0,North,Cash,...,Clothing,1.9,Returned,Neutral,11.98,nan,1.7,no_data,value_4,NaN
10,2023-01-11,1426.0,176.0,5.0,40.48,0.11,180.1360,6.0,South,Cash,...,Books,1.5,Returned,Neutral,19.65,nan,3.7,unknown,no_data,NaN
11,2023-01-12,1115.0,176.0,7.0,49.55,0.27,253.2005,6.0,East,Cash,...,Food,3.1,Not Returned,Negative,14.82,nan,0.0,no_data,value_1,NaN
12,2023-01-13,1709.0,190.0,4.0,42.33,0.01,167.6268,7.0,West,Credit Card,...,Electronics,1.7,Returned,Negative,15.22,nan,0.0,unknown,unknown,NaN
13,2023-01-14,1935.0,119.0,3.0,14.47,0.24,32.9916,6.0,North,Credit Card,...,Clothing,1.2,Not Returned,Negative,0.00,nan,1.3,Used loyalty points,value_3,NaN
14,2023-01-15,1526.0,119.0,4.0,73.70,0.23,226.9960,5.0,South,Online,...,Electronics,1.5,Not Returned,Positive,12.44,SAVE10,4.1,Used loyalty points,value_4,NaN
15,2023-01-16,1163.0,168.0,1.0,19.23,0.26,14.2302,2.0,South,Cash,...,Clothing,4.3,Returned,Negative,13.92,WELCOME5,4.8,Requested gift wrap,value_3,NaN
16,2023-01-17,1085.0,104.0,3.0,66.90,0.01,198.6930,1.0,West,Cash,...,Electronics,3.7,Returned,Positive,13.23,FREESHIP,2.8,no_data,value_1,NaN
17,2023-01-18,1868.0,129.0,5.0,68.06,0.10,306.2700,6.0,West,Online,...,Electronics,2.6,Returned,Negative,18.61,nan,1.4,unknown,value_4,NaN
18,2023-01-19,1911.0,133.0,8.0,73.56,0.28,423.7056,4.0,West,Credit Card,...,Books,3.2,Not Returned,Neutral,14.32,nan,2.7,unknown,value_2,NaN
19,2023-01-20,1416.0,122.0,3.0,37.09,0.29,79.0017,5.0,East,Online,...,Clothing,1.7,Returned,Negative,16.51,SAVE10,3.9,unknown,value_3,NaN
20,2023-01-21,1603.0,177.0,4.0,60.69,0.19,196.6356,2.0,North,Credit Card,...,Books,1.9,Not Returned,Negative,14.07,FREESHIP,2.4,Frequent buyer,unknown,NaN
21,2023-01-22,1396.0,158.0,5.0,44.91,0.11,199.8495,6.0,East,Credit Card,...,Clothing,3.5,Not Returned,Positive,15.25,FREESHIP,1.4,no_data,no_data,NaN
22,2023-01-23,1117.0,104.0,6.0,55.29,0.14,285.2964,2.0,East,Online,...,Clothing,4.8,Not Returned,Positive,13.30,FREESHIP,1.0,Requested gift wrap,no_data,NaN
23,2023-01-24,1893.0,161.0,9.0,76.58,0.19,558.2682,4.0,West,Credit Card,...,Clothing,2.2,Not Returned,Positive,9.80,FREESHIP,1.4,Frequent buyer,value_4,NaN
24,2023-01-25,1163.0,140.0,9.0,54.80,0.15,419.2200,2.0,South,Credit Card,...,Clothing,1.7,Not Returned,Neutral,7.57,nan,3.9,no_data,value_4,NaN
25,2023-01-26,1042.0,141.0,2.0,38.02,0.01,75.2796,6.0,North,Credit Card,...,Books,4.9,Returned,Negative,0.00,nan,2.0,no_data,value_4,NaN
26,2023-01-27,1153.0,164.0,3.0,49.48,0.11,132.1116,9.0,West,Online,...,Clothing,4.9,Not Returned,Neutral,11.24,nan,1.5,unknown,unknown,NaN
27,2023-01-28,1088.0,103.0,1.0,80.27,0.26,59.3998,6.0,North,Cash,...,Food,3.9,Not Returned,Neutral,5.45,SAVE10,4.7,Used loyalty points,value_3,NaN
28,2023-01-29,1310.0,126.0,4.0,85.08,0.10,306.2880,8.0,West,Online,...,Electronics,1.6,Not Returned,Neutral,8.06,WELCOME5,3.3,Used loyalty points,value_5,NaN
29,2023-01-30,1496.0,150.0,1.0,40.77,0.12,35.8776,9.0,North,Cash,...,Clothing,1.7,Not Returned,Negative,14.38,nan,0.0,no_data,no_data,NaN
30,2023-01-31,1229.0,147.0,7.0,46.46,0.04,312.2112,4.0,South,Cash,...,Clothing,3.4,Returned,Negative,16.20,nan,4.1,no_data,value_5,NaN
31,2023-02-01,1009.0,199.0,6.0,50.52,0.23,233.4024,2.0,West,Cash,...,Clothing,2.1,Returned,Negative,11.87,nan,1.2,Requested gift wrap,unknown,NaN
32,2023-02-02,1283.0,126.0,2.0,40.70,0.20,65.1200,2.0,North,Online,...,Books,3.1,Not Returned,Negative,9.55,nan,3.1,no_data,unknown,NaN
33,2023-02-03,1663.0,163.0,6.0,65.43,0.12,345.4704,4.0,East,Credit Card,...,Books,1.7,Returned,Neutral,15.51,SAVE10,1.6,Preferred morning delivery,unknown,NaN
34,2023-02-04,1172.0,132.0,5.0,42.84,0.22,167.0760,3.0,South,Credit Card,...,Electronics,3.5,Not Returned,Negative,0.00,SAVE10,3.3,unknown,no_data,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,NO_COUPON,0.0,NaN,NaN,NaN