[Pandas Missing Values](https://www.w3resource.com/python-exercises/pandas/missing-values/index.php)

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-warning">

**1. Detect Missing Values**

**Write a Pandas program to detect missing values of a given DataFrame. Display True or False.**

</div>

In [2]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1908,128,5,81.72,0.25,306.4500,7,West,Cash,...,6,63,Other,Clothing,3.1,Returned,Neutral,NaN,FREESHIP,2.6
1,2023-01-02,1546,194,2,52.79,0.26,78.1292,1,South,Online,...,2,47,Female,Books,3.3,Returned,Negative,11.21,nan,NaN
2,2023-01-03,1477,129,7,65.26,0.08,420.2744,4,North,Credit Card,...,5,65,Female,Electronics,3.9,Returned,Neutral,NaN,nan,4.7
3,2023-01-04,1684,118,2,13.92,0.05,26.4480,9,North,Credit Card,...,3,20,Female,Books,4.1,Returned,Positive,16.92,WELCOME5,2.5
4,2023-01-05,1551,145,3,63.12,0.13,164.7432,4,East,Online,...,4,42,Male,Food,3.4,Not Returned,Positive,19.01,SAVE10,NaN
5,2023-01-06,1710,198,3,85.91,0.10,231.9570,1,East,Credit Card,...,4,30,Female,Electronics,1.0,Not Returned,Neutral,6.46,nan,2.9
6,2023-01-07,1760,173,4,48.89,0.16,164.2704,4,East,Cash,...,1,30,Female,Books,2.9,Returned,Neutral,15.42,SAVE10,1.3
7,2023-01-08,1330,128,3,19.68,0.28,42.5088,9,West,Cash,...,4,68,Other,Food,1.6,Not Returned,Neutral,13.52,nan,4.2
8,2023-01-09,1388,154,5,32.23,0.06,151.4810,4,North,Online,...,1,46,Other,Electronics,4.5,Not Returned,Positive,5.41,nan,4.1
9,2023-01-10,1297,106,9,85.88,0.02,757.4616,2,West,Credit Card,...,2,33,Male,Books,4.8,Not Returned,Negative,8.35,nan,2.7
10,2023-01-11,1291,156,9,29.86,0.17,223.0542,3,West,Cash,...,5,44,Other,Electronics,2.1,Not Returned,Neutral,13.85,nan,1.2
11,2023-01-12,1885,101,7,48.40,0.16,284.5920,3,East,Online,...,3,20,Female,Food,2.7,Returned,Negative,7.15,nan,NaN
12,2023-01-13,1150,145,1,30.29,0.13,26.3523,9,North,Cash,...,2,56,Female,Books,1.9,Not Returned,Positive,13.54,WELCOME5,2.6
13,2023-01-14,1346,112,9,68.50,0.04,591.8400,9,South,Online,...,4,47,Female,Food,2.1,Returned,Positive,11.66,WELCOME5,NaN
14,2023-01-15,1981,151,5,86.17,0.12,379.1480,9,West,Online,...,2,27,Male,Books,3.0,Returned,Positive,13.07,WELCOME5,NaN
15,2023-01-16,1692,147,5,29.47,0.26,109.0390,5,East,Credit Card,...,4,67,Female,Food,2.3,Returned,Neutral,NaN,SAVE10,3.4
16,2023-01-17,1204,122,4,30.71,0.26,90.9016,5,West,Cash,...,1,19,Female,Clothing,2.8,Returned,Positive,16.20,WELCOME5,4.9
17,2023-01-18,1435,106,8,60.27,0.16,405.0144,6,West,Cash,...,2,62,Female,Books,3.3,Not Returned,Neutral,NaN,nan,3.5
18,2023-01-19,1748,169,6,93.89,0.11,501.3726,7,North,Online,...,5,44,Other,Electronics,5.0,Returned,Neutral,NaN,WELCOME5,4.2
19,2023-01-20,1026,157,1,51.05,0.02,50.0290,2,East,Online,...,2,30,Male,Clothing,2.4,Returned,Negative,NaN,FREESHIP,1.9
20,2023-01-21,1396,195,7,16.55,0.30,81.0950,7,West,Credit Card,...,4,68,Other,Books,1.6,Returned,Neutral,11.72,nan,4.3
21,2023-01-22,1598,169,3,36.74,0.12,96.9936,3,West,Cash,...,4,26,Male,Food,4.0,Returned,Negative,6.41,SAVE10,NaN
22,2023-01-23,1071,177,7,66.86,0.08,430.5784,7,South,Credit Card,...,2,31,Male,Books,2.3,Not Returned,Negative,9.23,FREESHIP,NaN
23,2023-01-24,1243,182,8,86.94,0.28,500.7744,5,East,Cash,...,3,36,Male,Electronics,4.9,Not Returned,Negative,17.88,nan,1.9
24,2023-01-25,1800,106,6,19.83,0.08,109.4616,7,West,Online,...,6,57,Female,Electronics,1.9,Returned,Negative,5.44,nan,NaN
25,2023-01-26,1617,129,4,21.63,0.29,61.4292,1,West,Online,...,1,64,Other,Food,4.1,Not Returned,Neutral,17.95,nan,NaN
26,2023-01-27,1718,150,7,16.26,0.05,108.1290,5,West,Credit Card,...,6,56,Male,Electronics,3.5,Returned,Negative,16.93,WELCOME5,2.4
27,2023-01-28,1856,134,6,80.31,0.26,356.5764,5,North,Credit Card,...,5,48,Male,Books,2.9,Not Returned,Negative,13.98,nan,2.0
28,2023-01-29,1725,146,8,95.52,0.20,611.3280,2,West,Online,...,4,66,Other,Food,4.4,Not Returned,Positive,9.14,nan,NaN
29,2023-01-30,1172,104,1,67.88,0.18,55.6616,8,North,Credit Card,...,2,58,Other,Electronics,4.6,Returned,Positive,10.76,FREESHIP,4.1
30,2023-01-31,1355,181,5,37.41,0.03,181.4385,8,South,Online,...,2,65,Female,Electronics,2.7,Returned,Negative,NaN,nan,1.6
31,2023-02-01,1328,108,4,34.33,0.18,112.6024,8,West,Credit Card,...,2,31,Male,Clothing,4.0,Not Returned,Positive,NaN,nan,4.2
32,2023-02-02,1482,169,3,20.11,0.16,50.6772,4,West,Online,...,5,29,Female,Electronics,1.7,Not Returned,Neutral,14.59,nan,4.2
33,2023-02-03,1698,134,9,28.63,0.10,231.9030,8,North,Online,...,2,46,Male,Food,1.5,Not Returned,Positive,10.38,FREESHIP,4.3
34,2023-02-04,1044,187,3,69.01,0.04,198.7488,4,South,Cash,...,1,48,Female,Food,3.6,Returned,Positive,NaN,nan,4.7

<div class="alert alert-success">

**Solution 01:**
</div>

In [3]:
print(type(df.isna()))
df.isna()

<class 'pandas.core.frame.DataFrame'>

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [4]:
print(df.isna().any())  
df.isna().sum()

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
dtype: bool

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        9
coupon_code          0
delivery_rating     10
dtype: int64

<div class="alert alert-warning">

**2. Identify Columns with Missing Values**

**Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.**

</div>

In [5]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1668,138,7,22.71,0.01,157.3803,6,North,Credit Card,...,3,25,Female,Electronics,1.9,Returned,Neutral,16.66,FREESHIP,NaN
1,2023-01-02,1596,188,5,96.67,0.10,435.0150,7,South,Online,...,6,25,Female,Food,3.6,Not Returned,Neutral,13.33,SAVE10,2.6
2,2023-01-03,1688,191,4,13.75,0.23,42.3500,3,South,Credit Card,...,4,24,Female,Books,4.0,Returned,Neutral,13.11,nan,NaN
3,2023-01-04,1071,183,8,84.79,0.04,651.1872,1,West,Cash,...,6,27,Female,Electronics,3.1,Returned,Neutral,15.93,SAVE10,1.5
4,2023-01-05,1494,106,6,57.84,0.14,298.4544,4,North,Online,...,5,46,Female,Electronics,4.9,Returned,Positive,6.61,nan,NaN
5,2023-01-06,1079,153,7,94.77,0.11,590.4171,8,West,Online,...,4,34,Male,Clothing,1.9,Not Returned,Negative,NaN,WELCOME5,1.5
6,2023-01-07,1647,107,2,19.98,0.12,35.1648,3,South,Credit Card,...,2,31,Female,Food,3.9,Not Returned,Positive,10.07,SAVE10,4.7
7,2023-01-08,1615,187,9,78.02,0.24,533.6568,9,East,Online,...,5,62,Male,Books,3.3,Not Returned,Negative,19.02,SAVE10,NaN
8,2023-01-09,1990,145,7,50.82,0.00,355.7400,3,North,Cash,...,6,25,Female,Electronics,3.2,Not Returned,Negative,7.82,nan,NaN
9,2023-01-10,1757,162,9,39.06,0.00,351.5400,5,South,Credit Card,...,1,67,Male,Books,2.8,Not Returned,Neutral,19.63,nan,NaN
10,2023-01-11,1400,169,2,96.23,0.09,175.1386,5,East,Online,...,5,66,Other,Electronics,3.0,Not Returned,Negative,9.22,WELCOME5,4.3
11,2023-01-12,1284,145,8,42.86,0.26,253.7312,2,North,Online,...,6,45,Other,Clothing,4.0,Not Returned,Positive,15.99,nan,NaN
12,2023-01-13,1308,137,4,19.61,0.16,65.8896,7,North,Credit Card,...,5,49,Male,Electronics,2.9,Not Returned,Positive,6.12,WELCOME5,NaN
13,2023-01-14,1006,166,6,53.49,0.24,243.9144,8,West,Credit Card,...,1,30,Female,Electronics,3.1,Returned,Negative,6.83,nan,3.8
14,2023-01-15,1268,182,1,66.35,0.24,50.4260,6,North,Cash,...,6,38,Male,Food,2.5,Returned,Negative,19.92,FREESHIP,NaN
15,2023-01-16,1211,118,9,14.34,0.21,101.9574,1,South,Online,...,4,21,Female,Food,2.7,Returned,Positive,16.67,SAVE10,4.3
16,2023-01-17,1144,116,5,23.96,0.04,115.0080,6,East,Cash,...,2,30,Male,Food,4.7,Not Returned,Neutral,7.26,nan,NaN
17,2023-01-18,1500,157,1,79.27,0.26,58.6598,9,North,Cash,...,2,66,Male,Food,1.6,Not Returned,Negative,19.05,nan,NaN
18,2023-01-19,1472,170,6,40.78,0.12,215.3184,3,East,Online,...,1,42,Female,Electronics,3.1,Not Returned,Positive,5.13,nan,1.3
19,2023-01-20,1621,134,7,76.28,0.28,384.4512,9,North,Credit Card,...,3,26,Other,Clothing,4.2,Not Returned,Positive,18.25,SAVE10,NaN
20,2023-01-21,1718,172,4,12.07,0.18,39.5896,5,East,Online,...,3,18,Other,Clothing,2.5,Not Returned,Positive,6.60,nan,NaN
21,2023-01-22,1183,157,2,21.14,0.17,35.0924,7,East,Credit Card,...,1,64,Other,Clothing,2.0,Returned,Negative,NaN,FREESHIP,3.8
22,2023-01-23,1754,167,1,78.97,0.29,56.0687,8,West,Credit Card,...,2,33,Female,Electronics,3.5,Returned,Negative,17.56,WELCOME5,1.4
23,2023-01-24,1677,194,8,35.84,0.23,220.7744,7,South,Online,...,2,27,Other,Clothing,4.8,Not Returned,Positive,12.32,nan,4.0
24,2023-01-25,1311,103,1,52.33,0.25,39.2475,7,West,Credit Card,...,4,19,Other,Electronics,2.5,Not Returned,Negative,13.52,SAVE10,3.7
25,2023-01-26,1144,137,5,37.03,0.24,140.7140,7,South,Cash,...,3,58,Male,Food,3.4,Not Returned,Neutral,NaN,FREESHIP,3.5
26,2023-01-27,1537,144,3,59.87,0.13,156.2607,2,West,Online,...,4,34,Female,Clothing,2.1,Returned,Negative,13.67,SAVE10,NaN
27,2023-01-28,1840,180,3,35.05,0.13,91.4805,4,South,Online,...,3,65,Female,Electronics,2.2,Returned,Positive,13.96,nan,NaN
28,2023-01-29,1188,163,9,79.54,0.25,536.8950,7,South,Cash,...,4,48,Other,Books,1.2,Returned,Neutral,13.25,WELCOME5,1.2
29,2023-01-30,1729,120,8,25.50,0.03,197.8800,5,South,Cash,...,5,52,Male,Food,3.4,Returned,Neutral,16.22,WELCOME5,NaN
30,2023-01-31,1759,139,2,30.00,0.02,58.8000,4,West,Cash,...,5,51,Female,Clothing,4.5,Not Returned,Positive,13.80,nan,NaN
31,2023-02-01,1803,134,5,99.29,0.21,392.1955,3,East,Cash,...,3,40,Other,Food,2.0,Not Returned,Neutral,11.63,FREESHIP,1.2
32,2023-02-02,1409,158,6,13.14,0.02,77.2632,3,East,Credit Card,...,2,45,Other,Clothing,3.9,Not Returned,Neutral,8.41,FREESHIP,1.9
33,2023-02-03,1711,155,4,51.23,0.09,186.4772,4,West,Online,...,4,61,Other,Books,2.1,Not Returned,Negative,19.80,WELCOME5,NaN
34,2023-02-04,1862,115,6,88.11,0.13,459.9342,8,East,Online,...,5,49,Female,Food,2.5,Not Returned,Positive,11.63,WELCOME5,4.8

<div class="alert alert-success">

**Solution 02:**
</div>

In [6]:
df.isna().any()
cols_have_na = df.isna().any()[lambda x: x].index.tolist()

<div class="alert alert-warning">

**3. Count Missing Values in Each Column**

**Write a Pandas program to count the number of missing values in each column of a given DataFrame.**

</div>

In [7]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1574,181,6,92.90,0.28,401.3280,1,East,Cash,...,5,29,Female,Books,4.1,Not Returned,Negative,5.02,nan,NaN
1,2023-01-02,1003,126,1,19.12,0.15,16.2520,7,West,Online,...,3,35,Male,Clothing,2.3,Not Returned,Positive,NaN,nan,1.2
2,2023-01-03,1588,142,9,11.97,0.01,106.6527,5,East,Online,...,2,43,Other,Books,3.1,Returned,Neutral,7.14,WELCOME5,1.4
3,2023-01-04,1368,164,3,15.52,0.22,36.3168,8,South,Online,...,1,53,Female,Books,1.1,Not Returned,Positive,11.85,FREESHIP,NaN
4,2023-01-05,1917,195,1,97.82,0.03,94.8854,7,East,Cash,...,5,44,Male,Books,1.0,Not Returned,Negative,12.70,FREESHIP,NaN
5,2023-01-06,1418,197,9,32.95,0.05,281.7225,1,South,Cash,...,1,51,Female,Food,3.3,Not Returned,Neutral,14.67,nan,3.5
6,2023-01-07,1886,124,7,51.28,0.16,301.5264,6,West,Online,...,6,48,Other,Food,4.3,Not Returned,Negative,NaN,WELCOME5,NaN
7,2023-01-08,1308,167,8,22.39,0.29,127.1752,6,South,Online,...,5,30,Male,Food,2.5,Returned,Negative,17.65,nan,2.2
8,2023-01-09,1342,124,9,85.25,0.05,728.8875,6,East,Credit Card,...,4,36,Female,Food,4.1,Returned,Neutral,18.80,nan,4.6
9,2023-01-10,1680,174,1,62.90,0.07,58.4970,9,East,Credit Card,...,6,32,Other,Food,1.0,Not Returned,Neutral,NaN,WELCOME5,3.6
10,2023-01-11,1025,129,9,53.88,0.02,475.2216,8,West,Cash,...,2,33,Male,Food,4.7,Returned,Neutral,11.86,FREESHIP,1.1
11,2023-01-12,1444,175,6,84.11,0.25,378.4950,2,East,Cash,...,1,45,Other,Electronics,1.5,Not Returned,Neutral,8.38,FREESHIP,NaN
12,2023-01-13,1608,128,1,92.60,0.00,92.6000,5,South,Cash,...,2,40,Male,Clothing,3.3,Not Returned,Positive,14.74,WELCOME5,NaN
13,2023-01-14,1322,197,2,19.17,0.22,29.9052,8,West,Online,...,6,30,Other,Electronics,1.8,Returned,Neutral,NaN,WELCOME5,1.3
14,2023-01-15,1940,120,5,21.86,0.25,81.9750,3,West,Online,...,5,18,Other,Electronics,3.7,Not Returned,Positive,8.13,nan,NaN
15,2023-01-16,1136,129,7,60.29,0.10,379.8270,7,North,Online,...,2,57,Male,Books,4.8,Not Returned,Neutral,NaN,FREESHIP,3.3
16,2023-01-17,1777,184,1,18.78,0.24,14.2728,5,South,Online,...,3,30,Female,Books,3.6,Not Returned,Neutral,10.35,nan,NaN
17,2023-01-18,1581,135,5,11.07,0.11,49.2615,1,North,Credit Card,...,4,57,Other,Electronics,1.5,Returned,Neutral,16.05,WELCOME5,NaN
18,2023-01-19,1693,147,8,90.66,0.18,594.7296,3,North,Credit Card,...,5,20,Other,Electronics,3.4,Returned,Negative,12.33,SAVE10,2.7
19,2023-01-20,1037,198,3,51.27,0.27,112.2813,4,East,Cash,...,3,51,Other,Books,2.5,Returned,Negative,18.69,WELCOME5,NaN
20,2023-01-21,1496,182,5,89.95,0.29,319.3225,1,South,Cash,...,5,56,Other,Books,1.9,Returned,Neutral,18.83,nan,3.8
21,2023-01-22,1011,124,9,48.98,0.07,409.9626,1,South,Cash,...,1,55,Male,Electronics,2.1,Returned,Negative,5.13,nan,NaN
22,2023-01-23,1671,145,2,90.17,0.28,129.8448,4,North,Credit Card,...,2,54,Female,Clothing,2.0,Returned,Positive,18.18,SAVE10,3.5
23,2023-01-24,1009,130,3,23.51,0.12,62.0664,8,West,Credit Card,...,5,59,Male,Electronics,1.3,Not Returned,Neutral,NaN,nan,2.7
24,2023-01-25,1141,189,9,53.07,0.25,358.2225,7,South,Credit Card,...,4,33,Female,Electronics,2.4,Not Returned,Neutral,6.34,nan,5.0
25,2023-01-26,1457,102,8,53.07,0.08,390.5952,1,West,Online,...,3,37,Male,Books,2.3,Returned,Negative,14.61,nan,1.8
26,2023-01-27,1829,185,1,19.00,0.08,17.4800,2,South,Cash,...,4,62,Female,Books,1.7,Not Returned,Neutral,17.47,SAVE10,4.7
27,2023-01-28,1564,129,7,46.97,0.05,312.3505,9,North,Online,...,4,47,Other,Electronics,1.3,Returned,Neutral,NaN,nan,NaN
28,2023-01-29,1263,162,3,64.51,0.09,176.1123,2,South,Credit Card,...,4,63,Other,Clothing,2.2,Not Returned,Neutral,15.53,nan,NaN
29,2023-01-30,1858,186,2,92.94,0.03,180.3036,2,West,Cash,...,6,58,Male,Clothing,1.5,Returned,Negative,11.84,FREESHIP,3.9
30,2023-01-31,1836,152,7,63.86,0.03,433.6094,7,East,Credit Card,...,2,68,Other,Electronics,1.6,Returned,Negative,19.49,FREESHIP,4.5
31,2023-02-01,1161,117,5,75.43,0.11,335.6635,2,East,Credit Card,...,3,39,Other,Clothing,4.7,Not Returned,Negative,7.61,nan,2.9
32,2023-02-02,1165,138,7,84.07,0.23,453.1373,9,South,Cash,...,5,53,Female,Books,2.9,Returned,Neutral,NaN,FREESHIP,3.9
33,2023-02-03,1523,127,5,68.60,0.21,270.9700,3,North,Online,...,6,63,Other,Books,1.7,Not Returned,Negative,16.23,nan,4.0
34,2023-02-04,1275,123,9,20.94,0.28,135.6912,5,North,Online,...,6,39,Other,Books,2.2,Not Returned,Positive,11.92,SAVE10,NaN

<div class="alert alert-success">

**Solution 03:**
</div>

In [8]:
df.isna().sum()

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        8
coupon_code          0
delivery_rating     14
dtype: int64

<div class="alert alert-warning">

**4. Replace Non-Valuable Missing Values**

**Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.**

</div>

In [9]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1132,151,2,60.09,0.17,99.7494,8,North,Online,...,Female,Electronics,3.4,Returned,Neutral,17.17,WELCOME5,3.7,unknown,no_data
1,2023-01-02,1059,198,2,52.11,0.03,101.0934,2,North,Credit Card,...,Female,Electronics,3.3,Returned,Neutral,11.07,FREESHIP,3.4,Requested gift wrap,unknown
2,2023-01-03,1635,170,2,14.82,0.26,21.9336,5,East,Online,...,Other,Food,5.0,Returned,Negative,NaN,nan,3.6,First-time customer,unknown
3,2023-01-04,1071,105,3,96.43,0.29,205.3959,1,South,Cash,...,Other,Books,1.2,Returned,Negative,NaN,SAVE10,3.2,Used loyalty points,no_data
4,2023-01-05,1482,193,3,31.58,0.16,79.5816,5,West,Online,...,Female,Books,2.8,Returned,Negative,16.68,nan,1.2,unknown,value_1
5,2023-01-06,1907,158,3,88.85,0.26,197.2470,6,North,Online,...,Male,Clothing,1.3,Returned,Positive,7.25,nan,3.0,unknown,unknown
6,2023-01-07,1586,114,4,57.85,0.16,194.3760,4,South,Credit Card,...,Female,Food,1.2,Not Returned,Negative,5.89,nan,3.1,no_data,unknown
7,2023-01-08,1467,148,8,39.23,0.15,266.7640,7,North,Online,...,Other,Food,3.6,Returned,Negative,15.20,nan,2.2,Used loyalty points,value_3
8,2023-01-09,1559,103,6,31.70,0.08,174.9840,8,North,Credit Card,...,Female,Clothing,1.8,Returned,Negative,NaN,SAVE10,1.1,unknown,no_data
9,2023-01-10,1848,147,4,62.59,0.09,227.8276,8,West,Cash,...,Male,Electronics,4.2,Not Returned,Negative,8.78,SAVE10,3.0,unknown,no_data
10,2023-01-11,1751,181,5,83.99,0.07,390.5535,7,West,Credit Card,...,Female,Books,1.8,Returned,Negative,10.58,nan,4.4,unknown,value_4
11,2023-01-12,1335,125,2,52.37,0.15,89.0290,3,North,Cash,...,Other,Clothing,1.8,Not Returned,Neutral,13.39,SAVE10,2.3,no_data,value_1
12,2023-01-13,1612,107,1,60.98,0.07,56.7114,2,North,Online,...,Male,Clothing,3.5,Returned,Negative,6.22,nan,4.1,unknown,no_data
13,2023-01-14,1334,101,2,39.19,0.15,66.6230,3,South,Cash,...,Male,Food,1.3,Returned,Positive,15.06,nan,2.5,unknown,unknown
14,2023-01-15,1504,180,9,67.98,0.11,544.5198,4,South,Credit Card,...,Male,Books,3.6,Returned,Negative,15.45,nan,3.7,no_data,value_1
15,2023-01-16,1798,179,9,74.12,0.06,627.0552,2,North,Online,...,Other,Books,3.0,Returned,Negative,14.10,nan,NaN,no_data,value_2
16,2023-01-17,1400,177,7,11.94,0.21,66.0282,9,South,Online,...,Male,Electronics,1.5,Returned,Positive,18.00,SAVE10,1.4,no_data,value_5
17,2023-01-18,1170,154,5,46.47,0.11,206.7915,5,West,Cash,...,Male,Books,2.5,Not Returned,Neutral,18.79,SAVE10,3.4,Frequent buyer,no_data
18,2023-01-19,1615,101,4,69.64,0.28,200.5632,2,West,Cash,...,Other,Clothing,1.1,Returned,Positive,NaN,nan,2.5,Used loyalty points,value_3
19,2023-01-20,1855,185,2,82.93,0.09,150.9326,3,East,Cash,...,Other,Electronics,1.8,Returned,Neutral,NaN,WELCOME5,2.7,unknown,no_data
20,2023-01-21,1398,130,5,67.69,0.11,301.2205,5,East,Online,...,Male,Food,4.8,Returned,Negative,18.13,nan,NaN,unknown,value_4
21,2023-01-22,1492,125,3,52.35,0.05,149.1975,3,North,Cash,...,Other,Books,4.1,Not Returned,Negative,16.53,WELCOME5,4.1,Requested gift wrap,no_data
22,2023-01-23,1045,119,4,83.91,0.25,251.7300,4,North,Credit Card,...,Female,Electronics,3.0,Returned,Positive,10.22,WELCOME5,NaN,no_data,value_5
23,2023-01-24,1481,145,6,71.95,0.29,306.5070,7,South,Online,...,Female,Food,3.9,Returned,Neutral,11.08,SAVE10,1.7,First-time customer,value_4
24,2023-01-25,1830,103,3,23.28,0.17,57.9672,8,South,Credit Card,...,Male,Electronics,1.3,Not Returned,Neutral,6.96,FREESHIP,2.8,First-time customer,no_data
25,2023-01-26,1154,154,4,95.54,0.04,366.8736,9,West,Online,...,Female,Books,1.9,Not Returned,Neutral,18.33,nan,1.0,no_data,no_data
26,2023-01-27,1480,118,5,42.64,0.21,168.4280,4,West,Credit Card,...,Male,Books,4.2,Returned,Negative,15.89,WELCOME5,NaN,Requested gift wrap,value_3
27,2023-01-28,1266,157,7,30.11,0.08,193.9084,4,West,Online,...,Female,Clothing,3.4,Returned,Neutral,15.61,nan,1.5,no_data,unknown
28,2023-01-29,1716,171,5,80.54,0.11,358.4030,1,West,Cash,...,Male,Clothing,2.5,Returned,Positive,15.68,SAVE10,NaN,Requested gift wrap,unknown
29,2023-01-30,1980,136,5,48.52,0.18,198.9320,7,South,Credit Card,...,Male,Clothing,2.1,Not Returned,Neutral,16.73,SAVE10,3.7,unknown,value_4
30,2023-01-31,1462,190,9,74.41,0.27,488.8737,8,North,Cash,...,Female,Books,4.1,Returned,Negative,7.46,WELCOME5,4.2,Preferred morning delivery,no_data
31,2023-02-01,1962,192,8,46.78,0.28,269.4528,6,South,Cash,...,Female,Electronics,3.1,Returned,Negative,NaN,WELCOME5,3.6,no_data,no_data
32,2023-02-02,1590,199,6,37.61,0.09,205.3506,1,West,Credit Card,...,Female,Food,1.8,Returned,Neutral,14.38,WELCOME5,2.3,no_data,value_2
33,2023-02-03,1780,111,8,84.53,0.14,581.5664,1,East,Online,...,Female,Electronics,2.5,Returned,Neutral,NaN,SAVE10,NaN,unknown,no_data
34,2023-02-04,1436,116,6,17.73,0.03,103.1886,9,South,Credit Card,...,Other,Electronics,1.7,Not Returned,Neutral,11.82,WELCOME5,1.9,no_data,unknown

<div class="alert alert-success">

**Solution 04:**
</div>

In [10]:
df.replace({
    'customer_note': {
        'no_data': np.nan,
        'unknown': np.nan
    },
    'customer_values': {
        'no_data': np.nan,
        'unknown': np.nan
    }
}, inplace=True)

display(df.isna().any())
display(df.isna().sum())

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
customer_note        True
customer_values      True
dtype: bool

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        7
coupon_code          0
delivery_rating      6
customer_note       23
customer_values     21
dtype: int64

<div class="alert alert-warning">

**5. Drop Rows with Any Missing Value**

**Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.**

</div>

In [11]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1936,129,4,44.09,0.27,128.7428,6,North,Credit Card,...,Female,Books,1.5,Returned,Neutral,NaN,SAVE10,2.5,unknown,value_1
1,2023-01-02,1786,190,4,67.07,0.05,254.8660,4,West,Online,...,Female,Books,2.9,Not Returned,Neutral,7.95,FREESHIP,2.5,no_data,value_3
2,2023-01-03,1553,189,5,38.84,0.14,167.0120,1,East,Online,...,Male,Electronics,3.2,Returned,Neutral,NaN,WELCOME5,4.2,unknown,value_5
3,2023-01-04,1092,133,5,97.65,0.18,400.3650,7,West,Cash,...,Other,Electronics,4.4,Returned,Positive,18.12,nan,NaN,First-time customer,value_1
4,2023-01-05,1068,116,2,12.38,0.24,18.8176,3,West,Credit Card,...,Male,Electronics,2.4,Returned,Negative,11.98,nan,1.4,Frequent buyer,value_4
5,2023-01-06,1047,105,3,27.84,0.13,72.6624,8,North,Cash,...,Female,Electronics,4.6,Not Returned,Positive,19.19,SAVE10,3.4,unknown,unknown
6,2023-01-07,1587,178,5,31.90,0.06,149.9300,9,South,Credit Card,...,Other,Clothing,2.6,Not Returned,Negative,NaN,nan,4.2,Used loyalty points,value_2
7,2023-01-08,1653,161,4,50.66,0.15,172.2440,7,South,Cash,...,Other,Food,1.8,Not Returned,Negative,6.84,nan,2.0,First-time customer,value_4
8,2023-01-09,1949,182,6,21.75,0.27,95.2650,9,West,Online,...,Male,Electronics,3.6,Returned,Neutral,15.81,SAVE10,4.1,Used loyalty points,no_data
9,2023-01-10,1508,149,1,38.22,0.03,37.0734,2,South,Credit Card,...,Male,Books,1.9,Returned,Negative,15.43,WELCOME5,4.6,unknown,unknown
10,2023-01-11,1797,169,4,14.14,0.15,48.0760,2,North,Cash,...,Other,Electronics,1.7,Returned,Negative,11.27,SAVE10,3.8,Requested gift wrap,unknown
11,2023-01-12,1479,179,8,28.23,0.10,203.2560,7,East,Credit Card,...,Male,Electronics,1.1,Not Returned,Negative,10.49,nan,NaN,Preferred morning delivery,no_data
12,2023-01-13,1331,163,7,14.80,0.12,91.1680,5,West,Online,...,Male,Books,1.4,Not Returned,Positive,18.74,nan,2.1,Preferred morning delivery,unknown
13,2023-01-14,1870,191,8,47.46,0.16,318.9312,1,South,Online,...,Male,Electronics,3.9,Returned,Positive,12.31,FREESHIP,2.6,no_data,no_data
14,2023-01-15,1035,101,7,10.73,0.21,59.3369,3,North,Cash,...,Other,Books,4.8,Not Returned,Positive,NaN,nan,1.6,Used loyalty points,value_1
15,2023-01-16,1824,123,3,69.59,0.08,192.0684,5,West,Cash,...,Male,Clothing,4.6,Not Returned,Neutral,20.00,SAVE10,3.9,Used loyalty points,value_4
16,2023-01-17,1346,111,8,11.66,0.03,90.4816,1,North,Cash,...,Male,Food,3.6,Not Returned,Positive,5.65,WELCOME5,2.6,Preferred morning delivery,no_data
17,2023-01-18,1755,143,4,12.83,0.02,50.2936,5,North,Online,...,Male,Electronics,1.7,Returned,Neutral,17.27,nan,1.3,unknown,no_data
18,2023-01-19,1162,177,6,24.03,0.16,121.1112,2,South,Online,...,Female,Clothing,4.2,Returned,Positive,13.55,FREESHIP,4.6,unknown,value_4
19,2023-01-20,1668,102,7,59.08,0.29,293.6276,6,South,Cash,...,Male,Food,4.0,Returned,Positive,16.65,SAVE10,2.0,Used loyalty points,no_data
20,2023-01-21,1502,148,7,48.08,0.04,323.0976,2,West,Cash,...,Other,Books,1.6,Not Returned,Positive,11.40,nan,1.5,no_data,value_2
21,2023-01-22,1363,177,2,11.99,0.02,23.5004,1,South,Credit Card,...,Male,Food,4.1,Not Returned,Negative,11.86,nan,1.7,First-time customer,value_2
22,2023-01-23,1067,193,2,46.27,0.12,81.4352,4,East,Cash,...,Male,Electronics,3.6,Not Returned,Positive,16.97,WELCOME5,1.7,unknown,value_1
23,2023-01-24,1318,173,3,90.58,0.24,206.5224,7,South,Online,...,Other,Clothing,2.9,Returned,Neutral,10.91,WELCOME5,4.9,Used loyalty points,value_1
24,2023-01-25,1568,184,5,32.77,0.26,121.2490,7,North,Credit Card,...,Other,Food,2.5,Not Returned,Neutral,13.88,nan,2.7,unknown,value_1
25,2023-01-26,1413,116,1,71.63,0.20,57.3040,6,North,Cash,...,Female,Books,4.2,Not Returned,Negative,19.19,SAVE10,NaN,no_data,value_4
26,2023-01-27,1660,191,3,76.99,0.17,191.7051,5,South,Credit Card,...,Male,Food,2.6,Returned,Positive,7.92,SAVE10,4.6,First-time customer,value_3
27,2023-01-28,1410,132,4,11.85,0.21,37.4460,7,West,Credit Card,...,Female,Clothing,4.3,Not Returned,Neutral,11.13,nan,3.5,no_data,value_1
28,2023-01-29,1845,144,5,60.38,0.12,265.6720,3,East,Cash,...,Male,Clothing,5.0,Not Returned,Neutral,NaN,nan,NaN,Preferred morning delivery,unknown
29,2023-01-30,1514,119,7,79.76,0.07,519.2376,1,West,Credit Card,...,Other,Food,1.4,Returned,Positive,18.72,SAVE10,3.6,First-time customer,unknown
30,2023-01-31,1007,184,5,10.48,0.22,40.8720,9,North,Credit Card,...,Female,Food,1.3,Returned,Neutral,NaN,nan,4.7,First-time customer,unknown
31,2023-02-01,1175,185,4,45.86,0.30,128.4080,1,South,Credit Card,...,Other,Clothing,2.8,Returned,Negative,5.58,SAVE10,4.0,no_data,no_data
32,2023-02-02,1720,115,3,47.78,0.28,103.2048,6,West,Cash,...,Other,Clothing,3.3,Returned,Neutral,NaN,FREESHIP,4.4,Frequent buyer,no_data
33,2023-02-03,1168,112,1,79.44,0.29,56.4024,1,West,Credit Card,...,Female,Books,4.7,Returned,Negative,10.79,nan,NaN,Requested gift wrap,value_1
34,2023-02-04,1239,158,1,26.19,0.07,24.3567,8,South,Credit Card,...,Female,Electronics,2.8,Returned,Neutral,8.24,SAVE10,4.8,no_data,value_4

<div class="alert alert-success">

**Solution 05:**
</div>

In [12]:
dropped_df = df.dropna(how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
1,2023-01-02,1786,190,4,67.07,0.05,254.8660,4,West,Online,...,Female,Books,2.9,Not Returned,Neutral,7.95,FREESHIP,2.5,no_data,value_3
4,2023-01-05,1068,116,2,12.38,0.24,18.8176,3,West,Credit Card,...,Male,Electronics,2.4,Returned,Negative,11.98,nan,1.4,Frequent buyer,value_4
5,2023-01-06,1047,105,3,27.84,0.13,72.6624,8,North,Cash,...,Female,Electronics,4.6,Not Returned,Positive,19.19,SAVE10,3.4,unknown,unknown
7,2023-01-08,1653,161,4,50.66,0.15,172.2440,7,South,Cash,...,Other,Food,1.8,Not Returned,Negative,6.84,nan,2.0,First-time customer,value_4
8,2023-01-09,1949,182,6,21.75,0.27,95.2650,9,West,Online,...,Male,Electronics,3.6,Returned,Neutral,15.81,SAVE10,4.1,Used loyalty points,no_data
9,2023-01-10,1508,149,1,38.22,0.03,37.0734,2,South,Credit Card,...,Male,Books,1.9,Returned,Negative,15.43,WELCOME5,4.6,unknown,unknown
10,2023-01-11,1797,169,4,14.14,0.15,48.0760,2,North,Cash,...,Other,Electronics,1.7,Returned,Negative,11.27,SAVE10,3.8,Requested gift wrap,unknown
12,2023-01-13,1331,163,7,14.80,0.12,91.1680,5,West,Online,...,Male,Books,1.4,Not Returned,Positive,18.74,nan,2.1,Preferred morning delivery,unknown
13,2023-01-14,1870,191,8,47.46,0.16,318.9312,1,South,Online,...,Male,Electronics,3.9,Returned,Positive,12.31,FREESHIP,2.6,no_data,no_data
15,2023-01-16,1824,123,3,69.59,0.08,192.0684,5,West,Cash,...,Male,Clothing,4.6,Not Returned,Neutral,20.00,SAVE10,3.9,Used loyalty points,value_4
16,2023-01-17,1346,111,8,11.66,0.03,90.4816,1,North,Cash,...,Male,Food,3.6,Not Returned,Positive,5.65,WELCOME5,2.6,Preferred morning delivery,no_data
17,2023-01-18,1755,143,4,12.83,0.02,50.2936,5,North,Online,...,Male,Electronics,1.7,Returned,Neutral,17.27,nan,1.3,unknown,no_data
18,2023-01-19,1162,177,6,24.03,0.16,121.1112,2,South,Online,...,Female,Clothing,4.2,Returned,Positive,13.55,FREESHIP,4.6,unknown,value_4
19,2023-01-20,1668,102,7,59.08,0.29,293.6276,6,South,Cash,...,Male,Food,4.0,Returned,Positive,16.65,SAVE10,2.0,Used loyalty points,no_data
20,2023-01-21,1502,148,7,48.08,0.04,323.0976,2,West,Cash,...,Other,Books,1.6,Not Returned,Positive,11.40,nan,1.5,no_data,value_2
21,2023-01-22,1363,177,2,11.99,0.02,23.5004,1,South,Credit Card,...,Male,Food,4.1,Not Returned,Negative,11.86,nan,1.7,First-time customer,value_2
22,2023-01-23,1067,193,2,46.27,0.12,81.4352,4,East,Cash,...,Male,Electronics,3.6,Not Returned,Positive,16.97,WELCOME5,1.7,unknown,value_1
23,2023-01-24,1318,173,3,90.58,0.24,206.5224,7,South,Online,...,Other,Clothing,2.9,Returned,Neutral,10.91,WELCOME5,4.9,Used loyalty points,value_1
24,2023-01-25,1568,184,5,32.77,0.26,121.2490,7,North,Credit Card,...,Other,Food,2.5,Not Returned,Neutral,13.88,nan,2.7,unknown,value_1
26,2023-01-27,1660,191,3,76.99,0.17,191.7051,5,South,Credit Card,...,Male,Food,2.6,Returned,Positive,7.92,SAVE10,4.6,First-time customer,value_3
27,2023-01-28,1410,132,4,11.85,0.21,37.4460,7,West,Credit Card,...,Female,Clothing,4.3,Not Returned,Neutral,11.13,nan,3.5,no_data,value_1
29,2023-01-30,1514,119,7,79.76,0.07,519.2376,1,West,Credit Card,...,Other,Food,1.4,Returned,Positive,18.72,SAVE10,3.6,First-time customer,unknown
31,2023-02-01,1175,185,4,45.86,0.30,128.4080,1,South,Credit Card,...,Other,Clothing,2.8,Returned,Negative,5.58,SAVE10,4.0,no_data,no_data
34,2023-02-04,1239,158,1,26.19,0.07,24.3567,8,South,Credit Card,...,Female,Electronics,2.8,Returned,Neutral,8.24,SAVE10,4.8,no_data,value_4

<div class="alert alert-warning">

**6. Drop Columns with Any Missing Value**

**Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.**

</div>

In [13]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1336,195,5,53.24,0.25,199.6500,1,South,Online,...,Other,Books,2.3,Returned,Negative,6.07,FREESHIP,NaN,First-time customer,value_1
1,2023-01-02,1059,196,9,54.85,0.19,399.8565,3,South,Credit Card,...,Female,Food,4.1,Not Returned,Neutral,17.76,WELCOME5,1.3,Frequent buyer,value_5
2,2023-01-03,1122,152,6,76.61,0.06,432.0804,8,East,Credit Card,...,Other,Clothing,4.8,Returned,Negative,NaN,nan,1.5,no_data,no_data
3,2023-01-04,1349,199,7,20.34,0.03,138.1086,6,North,Cash,...,Male,Clothing,1.1,Returned,Positive,9.66,FREESHIP,3.8,no_data,no_data
4,2023-01-05,1712,113,8,78.24,0.07,582.1056,6,East,Credit Card,...,Female,Food,4.4,Not Returned,Positive,19.24,WELCOME5,2.2,First-time customer,no_data
5,2023-01-06,1410,199,9,49.58,0.08,410.5224,7,North,Credit Card,...,Male,Clothing,4.6,Not Returned,Neutral,5.51,FREESHIP,3.7,no_data,unknown
6,2023-01-07,1358,185,2,71.23,0.04,136.7616,1,South,Cash,...,Other,Food,2.9,Returned,Positive,9.17,WELCOME5,NaN,no_data,no_data
7,2023-01-08,1392,184,5,57.31,0.12,252.1640,9,North,Online,...,Other,Electronics,4.8,Not Returned,Negative,NaN,WELCOME5,2.2,Preferred morning delivery,unknown
8,2023-01-09,1577,194,7,93.87,0.27,479.6757,2,South,Cash,...,Female,Electronics,2.9,Not Returned,Positive,14.78,FREESHIP,1.5,Frequent buyer,unknown
9,2023-01-10,1850,139,4,42.90,0.02,168.1680,7,North,Online,...,Other,Electronics,2.5,Not Returned,Negative,10.12,WELCOME5,1.4,no_data,value_5
10,2023-01-11,1958,142,1,16.80,0.18,13.7760,9,North,Cash,...,Male,Books,4.7,Returned,Negative,19.75,WELCOME5,3.1,no_data,unknown
11,2023-01-12,1990,128,2,44.93,0.30,62.9020,4,North,Cash,...,Female,Books,2.0,Not Returned,Negative,19.75,FREESHIP,5.0,Frequent buyer,value_3
12,2023-01-13,1886,101,8,90.19,0.04,692.6592,8,West,Cash,...,Other,Electronics,4.0,Returned,Neutral,17.45,SAVE10,NaN,First-time customer,value_1
13,2023-01-14,1989,106,5,13.76,0.03,66.7360,4,South,Cash,...,Male,Books,2.3,Not Returned,Positive,17.10,FREESHIP,1.5,no_data,no_data
14,2023-01-15,1742,148,6,39.45,0.28,170.4240,1,West,Online,...,Female,Electronics,3.8,Returned,Positive,NaN,WELCOME5,3.1,Preferred morning delivery,value_1
15,2023-01-16,1057,100,4,26.24,0.09,95.5136,5,South,Cash,...,Female,Clothing,4.8,Returned,Neutral,16.39,SAVE10,3.4,Preferred morning delivery,no_data
16,2023-01-17,1854,199,5,13.48,0.22,52.5720,2,West,Credit Card,...,Other,Food,4.7,Returned,Neutral,NaN,FREESHIP,3.9,no_data,unknown
17,2023-01-18,1898,195,8,60.07,0.05,456.5320,7,South,Online,...,Female,Food,4.7,Not Returned,Negative,19.16,FREESHIP,1.3,no_data,value_4
18,2023-01-19,1198,127,8,96.78,0.22,603.9072,1,East,Credit Card,...,Male,Food,4.8,Returned,Neutral,NaN,nan,2.5,unknown,no_data
19,2023-01-20,1534,168,6,82.64,0.13,431.3808,6,West,Cash,...,Female,Books,2.6,Not Returned,Positive,11.10,nan,4.8,Preferred morning delivery,unknown
20,2023-01-21,1645,182,1,19.42,0.13,16.8954,1,West,Online,...,Male,Books,3.3,Returned,Positive,13.53,FREESHIP,4.1,unknown,value_2
21,2023-01-22,1443,101,9,72.13,0.05,616.7115,3,West,Cash,...,Female,Clothing,2.5,Returned,Negative,19.04,nan,NaN,Requested gift wrap,value_1
22,2023-01-23,1684,138,6,68.18,0.23,314.9916,4,West,Credit Card,...,Male,Clothing,5.0,Returned,Positive,17.82,FREESHIP,NaN,no_data,value_1
23,2023-01-24,1751,122,7,70.92,0.30,347.5080,8,East,Cash,...,Male,Books,1.5,Returned,Neutral,NaN,nan,2.1,no_data,value_4
24,2023-01-25,1670,151,1,39.26,0.20,31.4080,3,North,Online,...,Female,Books,2.9,Returned,Negative,17.75,FREESHIP,NaN,unknown,value_5
25,2023-01-26,1590,115,9,55.56,0.29,355.0284,5,North,Credit Card,...,Male,Books,1.9,Returned,Neutral,NaN,FREESHIP,1.9,First-time customer,value_4
26,2023-01-27,1991,123,3,21.77,0.09,59.4321,3,South,Online,...,Female,Food,1.2,Returned,Positive,10.38,SAVE10,NaN,unknown,value_2
27,2023-01-28,1530,129,1,57.43,0.28,41.3496,2,East,Credit Card,...,Other,Books,3.7,Not Returned,Positive,7.78,WELCOME5,NaN,no_data,value_3
28,2023-01-29,1913,158,9,13.74,0.19,100.1646,8,South,Cash,...,Female,Electronics,3.1,Not Returned,Positive,12.53,FREESHIP,3.5,Preferred morning delivery,unknown
29,2023-01-30,1347,160,5,62.49,0.03,303.0765,4,East,Cash,...,Female,Clothing,4.8,Returned,Neutral,15.90,WELCOME5,2.8,Frequent buyer,value_2
30,2023-01-31,1825,181,4,10.07,0.01,39.8772,1,East,Credit Card,...,Male,Electronics,4.6,Returned,Positive,15.94,FREESHIP,NaN,no_data,unknown
31,2023-02-01,1859,154,5,31.21,0.03,151.3685,4,East,Online,...,Male,Clothing,3.8,Returned,Neutral,13.76,FREESHIP,1.7,Used loyalty points,value_4
32,2023-02-02,1976,199,1,47.19,0.09,42.9429,1,North,Cash,...,Female,Books,3.3,Returned,Negative,14.11,WELCOME5,NaN,unknown,no_data
33,2023-02-03,1821,120,8,77.59,0.18,508.9904,5,South,Cash,...,Male,Electronics,3.5,Returned,Positive,7.13,nan,1.4,First-time customer,value_4
34,2023-02-04,1555,191,1,68.26,0.10,61.4340,8,West,Online,...,Male,Food,4.4,Returned,Neutral,NaN,SAVE10,3.7,no_data,no_data

<div class="alert alert-success">

**Solution 06:**
</div>

In [14]:
# Drop columns with any missing value
dropped_df = df.dropna(axis=1, how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,coupon_code,customer_note,customer_values
0,2023-01-01,1336,195,5,53.24,0.25,199.6500,1,South,Online,...,2,53,Other,Books,2.3,Returned,Negative,FREESHIP,First-time customer,value_1
1,2023-01-02,1059,196,9,54.85,0.19,399.8565,3,South,Credit Card,...,3,37,Female,Food,4.1,Not Returned,Neutral,WELCOME5,Frequent buyer,value_5
2,2023-01-03,1122,152,6,76.61,0.06,432.0804,8,East,Credit Card,...,3,20,Other,Clothing,4.8,Returned,Negative,nan,no_data,no_data
3,2023-01-04,1349,199,7,20.34,0.03,138.1086,6,North,Cash,...,5,69,Male,Clothing,1.1,Returned,Positive,FREESHIP,no_data,no_data
4,2023-01-05,1712,113,8,78.24,0.07,582.1056,6,East,Credit Card,...,6,48,Female,Food,4.4,Not Returned,Positive,WELCOME5,First-time customer,no_data
5,2023-01-06,1410,199,9,49.58,0.08,410.5224,7,North,Credit Card,...,6,29,Male,Clothing,4.6,Not Returned,Neutral,FREESHIP,no_data,unknown
6,2023-01-07,1358,185,2,71.23,0.04,136.7616,1,South,Cash,...,5,62,Other,Food,2.9,Returned,Positive,WELCOME5,no_data,no_data
7,2023-01-08,1392,184,5,57.31,0.12,252.1640,9,North,Online,...,4,60,Other,Electronics,4.8,Not Returned,Negative,WELCOME5,Preferred morning delivery,unknown
8,2023-01-09,1577,194,7,93.87,0.27,479.6757,2,South,Cash,...,1,42,Female,Electronics,2.9,Not Returned,Positive,FREESHIP,Frequent buyer,unknown
9,2023-01-10,1850,139,4,42.90,0.02,168.1680,7,North,Online,...,4,43,Other,Electronics,2.5,Not Returned,Negative,WELCOME5,no_data,value_5
10,2023-01-11,1958,142,1,16.80,0.18,13.7760,9,North,Cash,...,5,60,Male,Books,4.7,Returned,Negative,WELCOME5,no_data,unknown
11,2023-01-12,1990,128,2,44.93,0.30,62.9020,4,North,Cash,...,6,67,Female,Books,2.0,Not Returned,Negative,FREESHIP,Frequent buyer,value_3
12,2023-01-13,1886,101,8,90.19,0.04,692.6592,8,West,Cash,...,2,49,Other,Electronics,4.0,Returned,Neutral,SAVE10,First-time customer,value_1
13,2023-01-14,1989,106,5,13.76,0.03,66.7360,4,South,Cash,...,4,21,Male,Books,2.3,Not Returned,Positive,FREESHIP,no_data,no_data
14,2023-01-15,1742,148,6,39.45,0.28,170.4240,1,West,Online,...,3,35,Female,Electronics,3.8,Returned,Positive,WELCOME5,Preferred morning delivery,value_1
15,2023-01-16,1057,100,4,26.24,0.09,95.5136,5,South,Cash,...,3,67,Female,Clothing,4.8,Returned,Neutral,SAVE10,Preferred morning delivery,no_data
16,2023-01-17,1854,199,5,13.48,0.22,52.5720,2,West,Credit Card,...,6,65,Other,Food,4.7,Returned,Neutral,FREESHIP,no_data,unknown
17,2023-01-18,1898,195,8,60.07,0.05,456.5320,7,South,Online,...,4,50,Female,Food,4.7,Not Returned,Negative,FREESHIP,no_data,value_4
18,2023-01-19,1198,127,8,96.78,0.22,603.9072,1,East,Credit Card,...,2,46,Male,Food,4.8,Returned,Neutral,nan,unknown,no_data
19,2023-01-20,1534,168,6,82.64,0.13,431.3808,6,West,Cash,...,1,24,Female,Books,2.6,Not Returned,Positive,nan,Preferred morning delivery,unknown
20,2023-01-21,1645,182,1,19.42,0.13,16.8954,1,West,Online,...,4,47,Male,Books,3.3,Returned,Positive,FREESHIP,unknown,value_2
21,2023-01-22,1443,101,9,72.13,0.05,616.7115,3,West,Cash,...,4,45,Female,Clothing,2.5,Returned,Negative,nan,Requested gift wrap,value_1
22,2023-01-23,1684,138,6,68.18,0.23,314.9916,4,West,Credit Card,...,3,53,Male,Clothing,5.0,Returned,Positive,FREESHIP,no_data,value_1
23,2023-01-24,1751,122,7,70.92,0.30,347.5080,8,East,Cash,...,3,47,Male,Books,1.5,Returned,Neutral,nan,no_data,value_4
24,2023-01-25,1670,151,1,39.26,0.20,31.4080,3,North,Online,...,5,32,Female,Books,2.9,Returned,Negative,FREESHIP,unknown,value_5
25,2023-01-26,1590,115,9,55.56,0.29,355.0284,5,North,Credit Card,...,5,50,Male,Books,1.9,Returned,Neutral,FREESHIP,First-time customer,value_4
26,2023-01-27,1991,123,3,21.77,0.09,59.4321,3,South,Online,...,6,57,Female,Food,1.2,Returned,Positive,SAVE10,unknown,value_2
27,2023-01-28,1530,129,1,57.43,0.28,41.3496,2,East,Credit Card,...,1,48,Other,Books,3.7,Not Returned,Positive,WELCOME5,no_data,value_3
28,2023-01-29,1913,158,9,13.74,0.19,100.1646,8,South,Cash,...,3,68,Female,Electronics,3.1,Not Returned,Positive,FREESHIP,Preferred morning delivery,unknown
29,2023-01-30,1347,160,5,62.49,0.03,303.0765,4,East,Cash,...,5,58,Female,Clothing,4.8,Returned,Neutral,WELCOME5,Frequent buyer,value_2
30,2023-01-31,1825,181,4,10.07,0.01,39.8772,1,East,Credit Card,...,6,27,Male,Electronics,4.6,Returned,Positive,FREESHIP,no_data,unknown
31,2023-02-01,1859,154,5,31.21,0.03,151.3685,4,East,Online,...,3,35,Male,Clothing,3.8,Returned,Neutral,FREESHIP,Used loyalty points,value_4
32,2023-02-02,1976,199,1,47.19,0.09,42.9429,1,North,Cash,...,5,61,Female,Books,3.3,Returned,Negative,WELCOME5,unknown,no_data
33,2023-02-03,1821,120,8,77.59,0.18,508.9904,5,South,Cash,...,2,64,Male,Electronics,3.5,Returned,Positive,nan,First-time customer,value_4
34,2023-02-04,1555,191,1,68.26,0.10,61.4340,8,West,Online,...,4,19,Male,Food,4.4,Returned,Neutral,SAVE10,no_data,no_data

<div class="alert alert-warning">

**7. Drop Rows with All Missing Values**

**Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.**

</div>

In [15]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_85678/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1047.0,110.0,1.0,70.41,0.25,52.8075,3.0,West,Credit Card,...,Clothing,1.6,Returned,Negative,19.23,SAVE10,2.2,Used loyalty points,value_3,NaN
1,2023-01-02,1009.0,145.0,8.0,29.17,0.29,165.6856,4.0,East,Cash,...,Electronics,1.9,Returned,Negative,NaN,SAVE10,NaN,Requested gift wrap,unknown,NaN
2,2023-01-03,1887.0,136.0,3.0,75.63,0.12,199.6632,6.0,North,Cash,...,Electronics,2.8,Not Returned,Positive,8.01,SAVE10,NaN,First-time customer,no_data,NaN
3,2023-01-04,1817.0,110.0,3.0,76.46,0.18,188.0916,6.0,West,Cash,...,Electronics,3.4,Not Returned,Positive,NaN,nan,4.5,unknown,value_3,NaN
4,2023-01-05,1731.0,143.0,4.0,63.42,0.21,200.4072,9.0,East,Online,...,Food,3.8,Returned,Positive,12.88,SAVE10,NaN,no_data,no_data,NaN
5,2023-01-06,1349.0,198.0,6.0,27.37,0.00,164.2200,1.0,North,Online,...,Electronics,1.4,Returned,Positive,NaN,WELCOME5,3.4,unknown,unknown,NaN
6,2023-01-07,1354.0,148.0,8.0,44.29,0.29,251.5672,1.0,North,Online,...,Food,4.6,Not Returned,Neutral,11.23,nan,3.3,Requested gift wrap,value_5,NaN
7,2023-01-08,1554.0,116.0,5.0,39.44,0.18,161.7040,8.0,South,Online,...,Books,4.6,Returned,Positive,NaN,nan,NaN,Requested gift wrap,value_3,NaN
8,2023-01-09,1434.0,125.0,3.0,35.59,0.23,82.2129,4.0,West,Cash,...,Clothing,1.1,Not Returned,Negative,13.13,SAVE10,1.8,no_data,value_5,NaN
9,2023-01-10,1349.0,106.0,5.0,30.48,0.23,117.3480,9.0,South,Online,...,Books,2.1,Not Returned,Positive,10.25,FREESHIP,NaN,Requested gift wrap,no_data,NaN
10,2023-01-11,1677.0,172.0,6.0,73.33,0.02,431.1804,5.0,North,Online,...,Food,3.5,Not Returned,Negative,NaN,SAVE10,4.1,Used loyalty points,value_3,NaN
11,2023-01-12,1930.0,149.0,7.0,81.58,0.04,548.2176,8.0,South,Credit Card,...,Books,3.1,Returned,Negative,19.38,nan,4.5,unknown,value_2,NaN
12,2023-01-13,1261.0,181.0,3.0,74.89,0.29,159.5157,7.0,West,Credit Card,...,Clothing,1.5,Not Returned,Positive,15.65,nan,4.4,unknown,unknown,NaN
13,2023-01-14,1187.0,189.0,1.0,89.10,0.23,68.6070,5.0,West,Cash,...,Electronics,3.7,Not Returned,Neutral,15.82,SAVE10,3.1,First-time customer,value_3,NaN
14,2023-01-15,1949.0,147.0,1.0,48.51,0.06,45.5994,6.0,East,Cash,...,Books,4.7,Not Returned,Negative,NaN,SAVE10,NaN,Requested gift wrap,value_4,NaN
15,2023-01-16,1566.0,174.0,2.0,22.09,0.10,39.7620,2.0,West,Online,...,Books,3.4,Returned,Negative,9.92,FREESHIP,NaN,unknown,unknown,NaN
16,2023-01-17,1466.0,171.0,5.0,18.97,0.18,77.7770,4.0,East,Online,...,Food,3.2,Not Returned,Neutral,5.13,nan,NaN,Requested gift wrap,value_4,NaN
17,2023-01-18,1584.0,160.0,8.0,84.49,0.25,506.9400,1.0,South,Cash,...,Clothing,1.6,Returned,Neutral,11.81,nan,1.2,unknown,unknown,NaN
18,2023-01-19,1761.0,187.0,6.0,22.31,0.11,119.1354,9.0,East,Credit Card,...,Books,4.0,Returned,Negative,7.72,nan,3.3,Frequent buyer,unknown,NaN
19,2023-01-20,1635.0,169.0,4.0,71.13,0.02,278.8296,5.0,West,Credit Card,...,Food,4.8,Not Returned,Negative,16.54,SAVE10,NaN,unknown,unknown,NaN
20,2023-01-21,1148.0,157.0,1.0,13.72,0.23,10.5644,2.0,West,Credit Card,...,Books,4.5,Returned,Positive,5.17,nan,NaN,Frequent buyer,no_data,NaN
21,2023-01-22,1353.0,191.0,5.0,28.82,0.00,144.1000,7.0,South,Cash,...,Books,2.8,Returned,Negative,13.44,SAVE10,3.5,no_data,value_4,NaN
22,2023-01-23,1422.0,183.0,7.0,16.84,0.22,91.9464,8.0,West,Online,...,Electronics,2.3,Not Returned,Neutral,18.32,FREESHIP,1.3,First-time customer,no_data,NaN
23,2023-01-24,1894.0,105.0,5.0,73.94,0.30,258.7900,7.0,East,Online,...,Food,3.2,Returned,Negative,17.58,SAVE10,1.6,Requested gift wrap,unknown,NaN
24,2023-01-25,1292.0,163.0,8.0,61.90,0.13,430.8240,1.0,East,Cash,...,Food,3.2,Not Returned,Neutral,14.42,SAVE10,4.7,no_data,value_3,NaN
25,2023-01-26,1361.0,105.0,1.0,43.59,0.13,37.9233,2.0,East,Online,...,Books,1.9,Returned,Negative,13.32,nan,3.9,no_data,unknown,NaN
26,2023-01-27,1182.0,137.0,2.0,93.07,0.21,147.0506,8.0,North,Cash,...,Books,3.2,Returned,Positive,11.08,FREESHIP,NaN,no_data,value_5,NaN
27,2023-01-28,1935.0,175.0,8.0,68.39,0.22,426.7536,4.0,North,Cash,...,Clothing,1.3,Returned,Negative,15.47,SAVE10,4.1,unknown,no_data,NaN
28,2023-01-29,1846.0,114.0,3.0,31.55,0.21,74.7735,1.0,South,Online,...,Clothing,1.0,Returned,Positive,12.66,nan,4.0,unknown,value_1,NaN
29,2023-01-30,1550.0,154.0,7.0,54.49,0.03,369.9871,8.0,West,Credit Card,...,Clothing,1.9,Returned,Positive,12.96,FREESHIP,NaN,no_data,value_3,NaN
30,2023-01-31,1539.0,104.0,8.0,31.88,0.02,249.9392,2.0,West,Cash,...,Electronics,4.6,Returned,Neutral,12.93,FREESHIP,NaN,Used loyalty points,unknown,NaN
31,2023-02-01,1377.0,146.0,1.0,46.39,0.29,32.9369,2.0,North,Online,...,Clothing,4.5,Not Returned,Neutral,NaN,WELCOME5,2.4,Frequent buyer,value_3,NaN
32,2023-02-02,1034.0,184.0,5.0,84.14,0.09,382.8370,1.0,East,Credit Card,...,Books,1.7,Returned,Negative,10.27,WELCOME5,1.8,First-time customer,value_4,NaN
33,2023-02-03,1974.0,160.0,6.0,56.96,0.18,280.2432,7.0,East,Online,...,Food,1.4,Returned,Negative,12.28,nan,2.7,Frequent buyer,no_data,NaN
34,2023-02-04,1499.0,172.0,5.0,10.80,0.22,42.1200,1.0,East,Online,...,Food,2.0,Not Returned,Positive,NaN,FREESHIP,1.9,no_data,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 07:**
</div>

In [16]:
# Write a Pandas program to drop the rows where all elements are missing in a given DataFrame
df_dropped = df.dropna(how='all')

# Display the DataFrame after dropping rows
display(df_dropped)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1047.0,110.0,1.0,70.41,0.25,52.8075,3.0,West,Credit Card,...,Clothing,1.6,Returned,Negative,19.23,SAVE10,2.2,Used loyalty points,value_3,NaN
1,2023-01-02,1009.0,145.0,8.0,29.17,0.29,165.6856,4.0,East,Cash,...,Electronics,1.9,Returned,Negative,NaN,SAVE10,NaN,Requested gift wrap,unknown,NaN
2,2023-01-03,1887.0,136.0,3.0,75.63,0.12,199.6632,6.0,North,Cash,...,Electronics,2.8,Not Returned,Positive,8.01,SAVE10,NaN,First-time customer,no_data,NaN
3,2023-01-04,1817.0,110.0,3.0,76.46,0.18,188.0916,6.0,West,Cash,...,Electronics,3.4,Not Returned,Positive,NaN,nan,4.5,unknown,value_3,NaN
4,2023-01-05,1731.0,143.0,4.0,63.42,0.21,200.4072,9.0,East,Online,...,Food,3.8,Returned,Positive,12.88,SAVE10,NaN,no_data,no_data,NaN
5,2023-01-06,1349.0,198.0,6.0,27.37,0.00,164.2200,1.0,North,Online,...,Electronics,1.4,Returned,Positive,NaN,WELCOME5,3.4,unknown,unknown,NaN
6,2023-01-07,1354.0,148.0,8.0,44.29,0.29,251.5672,1.0,North,Online,...,Food,4.6,Not Returned,Neutral,11.23,nan,3.3,Requested gift wrap,value_5,NaN
7,2023-01-08,1554.0,116.0,5.0,39.44,0.18,161.7040,8.0,South,Online,...,Books,4.6,Returned,Positive,NaN,nan,NaN,Requested gift wrap,value_3,NaN
8,2023-01-09,1434.0,125.0,3.0,35.59,0.23,82.2129,4.0,West,Cash,...,Clothing,1.1,Not Returned,Negative,13.13,SAVE10,1.8,no_data,value_5,NaN
9,2023-01-10,1349.0,106.0,5.0,30.48,0.23,117.3480,9.0,South,Online,...,Books,2.1,Not Returned,Positive,10.25,FREESHIP,NaN,Requested gift wrap,no_data,NaN
10,2023-01-11,1677.0,172.0,6.0,73.33,0.02,431.1804,5.0,North,Online,...,Food,3.5,Not Returned,Negative,NaN,SAVE10,4.1,Used loyalty points,value_3,NaN
11,2023-01-12,1930.0,149.0,7.0,81.58,0.04,548.2176,8.0,South,Credit Card,...,Books,3.1,Returned,Negative,19.38,nan,4.5,unknown,value_2,NaN
12,2023-01-13,1261.0,181.0,3.0,74.89,0.29,159.5157,7.0,West,Credit Card,...,Clothing,1.5,Not Returned,Positive,15.65,nan,4.4,unknown,unknown,NaN
13,2023-01-14,1187.0,189.0,1.0,89.10,0.23,68.6070,5.0,West,Cash,...,Electronics,3.7,Not Returned,Neutral,15.82,SAVE10,3.1,First-time customer,value_3,NaN
14,2023-01-15,1949.0,147.0,1.0,48.51,0.06,45.5994,6.0,East,Cash,...,Books,4.7,Not Returned,Negative,NaN,SAVE10,NaN,Requested gift wrap,value_4,NaN
15,2023-01-16,1566.0,174.0,2.0,22.09,0.10,39.7620,2.0,West,Online,...,Books,3.4,Returned,Negative,9.92,FREESHIP,NaN,unknown,unknown,NaN
16,2023-01-17,1466.0,171.0,5.0,18.97,0.18,77.7770,4.0,East,Online,...,Food,3.2,Not Returned,Neutral,5.13,nan,NaN,Requested gift wrap,value_4,NaN
17,2023-01-18,1584.0,160.0,8.0,84.49,0.25,506.9400,1.0,South,Cash,...,Clothing,1.6,Returned,Neutral,11.81,nan,1.2,unknown,unknown,NaN
18,2023-01-19,1761.0,187.0,6.0,22.31,0.11,119.1354,9.0,East,Credit Card,...,Books,4.0,Returned,Negative,7.72,nan,3.3,Frequent buyer,unknown,NaN
19,2023-01-20,1635.0,169.0,4.0,71.13,0.02,278.8296,5.0,West,Credit Card,...,Food,4.8,Not Returned,Negative,16.54,SAVE10,NaN,unknown,unknown,NaN
20,2023-01-21,1148.0,157.0,1.0,13.72,0.23,10.5644,2.0,West,Credit Card,...,Books,4.5,Returned,Positive,5.17,nan,NaN,Frequent buyer,no_data,NaN
21,2023-01-22,1353.0,191.0,5.0,28.82,0.00,144.1000,7.0,South,Cash,...,Books,2.8,Returned,Negative,13.44,SAVE10,3.5,no_data,value_4,NaN
22,2023-01-23,1422.0,183.0,7.0,16.84,0.22,91.9464,8.0,West,Online,...,Electronics,2.3,Not Returned,Neutral,18.32,FREESHIP,1.3,First-time customer,no_data,NaN
23,2023-01-24,1894.0,105.0,5.0,73.94,0.30,258.7900,7.0,East,Online,...,Food,3.2,Returned,Negative,17.58,SAVE10,1.6,Requested gift wrap,unknown,NaN
24,2023-01-25,1292.0,163.0,8.0,61.90,0.13,430.8240,1.0,East,Cash,...,Food,3.2,Not Returned,Neutral,14.42,SAVE10,4.7,no_data,value_3,NaN
25,2023-01-26,1361.0,105.0,1.0,43.59,0.13,37.9233,2.0,East,Online,...,Books,1.9,Returned,Negative,13.32,nan,3.9,no_data,unknown,NaN
26,2023-01-27,1182.0,137.0,2.0,93.07,0.21,147.0506,8.0,North,Cash,...,Books,3.2,Returned,Positive,11.08,FREESHIP,NaN,no_data,value_5,NaN
27,2023-01-28,1935.0,175.0,8.0,68.39,0.22,426.7536,4.0,North,Cash,...,Clothing,1.3,Returned,Negative,15.47,SAVE10,4.1,unknown,no_data,NaN
28,2023-01-29,1846.0,114.0,3.0,31.55,0.21,74.7735,1.0,South,Online,...,Clothing,1.0,Returned,Positive,12.66,nan,4.0,unknown,value_1,NaN
29,2023-01-30,1550.0,154.0,7.0,54.49,0.03,369.9871,8.0,West,Credit Card,...,Clothing,1.9,Returned,Positive,12.96,FREESHIP,NaN,no_data,value_3,NaN
30,2023-01-31,1539.0,104.0,8.0,31.88,0.02,249.9392,2.0,West,Cash,...,Electronics,4.6,Returned,Neutral,12.93,FREESHIP,NaN,Used loyalty points,unknown,NaN
31,2023-02-01,1377.0,146.0,1.0,46.39,0.29,32.9369,2.0,North,Online,...,Clothing,4.5,Not Returned,Neutral,NaN,WELCOME5,2.4,Frequent buyer,value_3,NaN
32,2023-02-02,1034.0,184.0,5.0,84.14,0.09,382.8370,1.0,East,Credit Card,...,Books,1.7,Returned,Negative,10.27,WELCOME5,1.8,First-time customer,value_4,NaN
33,2023-02-03,1974.0,160.0,6.0,56.96,0.18,280.2432,7.0,East,Online,...,Food,1.4,Returned,Negative,12.28,nan,2.7,Frequent buyer,no_data,NaN
34,2023-02-04,1499.0,172.0,5.0,10.80,0.22,42.1200,1.0,East,Online,...,Food,2.0,Not Returned,Positive,NaN,FREESHIP,1.9,no_data,unknown,NaN

<div class="alert alert-warning">

**8. Keep Rows with at Least 2 NaN Values**

**Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.**

</div>

In [17]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_85678/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1718.0,160.0,8.0,87.58,0.27,511.4672,6.0,West,Online,...,Clothing,2.9,Not Returned,Neutral,NaN,FREESHIP,2.1,First-time customer,value_4,NaN
1,2023-01-02,1599.0,175.0,6.0,92.61,0.15,472.3110,9.0,North,Credit Card,...,Books,2.8,Returned,Negative,6.04,nan,NaN,Frequent buyer,value_1,NaN
2,2023-01-03,1409.0,187.0,6.0,29.79,0.11,159.0786,9.0,North,Cash,...,Electronics,1.0,Returned,Positive,5.86,WELCOME5,3.3,no_data,no_data,NaN
3,2023-01-04,1204.0,154.0,9.0,46.68,0.29,298.2852,3.0,North,Online,...,Electronics,4.2,Returned,Positive,8.52,nan,NaN,no_data,value_2,NaN
4,2023-01-05,1994.0,141.0,3.0,74.21,0.14,191.4618,3.0,East,Credit Card,...,Food,2.9,Returned,Neutral,18.21,FREESHIP,1.7,Requested gift wrap,value_1,NaN
5,2023-01-06,1266.0,108.0,3.0,32.15,0.06,90.6630,8.0,West,Cash,...,Food,1.8,Not Returned,Neutral,11.66,WELCOME5,NaN,First-time customer,value_4,NaN
6,2023-01-07,1789.0,150.0,3.0,52.59,0.26,116.7498,1.0,West,Online,...,Books,3.7,Returned,Negative,14.43,nan,NaN,First-time customer,value_4,NaN
7,2023-01-08,1731.0,131.0,1.0,49.76,0.21,39.3104,1.0,West,Cash,...,Food,3.2,Not Returned,Neutral,11.85,nan,4.5,unknown,unknown,NaN
8,2023-01-09,1538.0,157.0,7.0,93.56,0.18,537.0344,1.0,West,Cash,...,Food,3.8,Not Returned,Negative,10.67,FREESHIP,1.9,unknown,value_3,NaN
9,2023-01-10,1188.0,130.0,3.0,40.15,0.15,102.3825,7.0,East,Cash,...,Food,2.4,Not Returned,Neutral,17.35,nan,3.6,Preferred morning delivery,value_2,NaN
10,2023-01-11,1534.0,194.0,6.0,54.82,0.18,269.7144,8.0,East,Credit Card,...,Clothing,2.7,Not Returned,Neutral,NaN,WELCOME5,2.0,unknown,value_5,NaN
11,2023-01-12,1760.0,115.0,5.0,23.72,0.15,100.8100,2.0,West,Credit Card,...,Food,4.6,Returned,Neutral,13.50,nan,4.4,Frequent buyer,no_data,NaN
12,2023-01-13,1913.0,174.0,6.0,29.22,0.11,156.0348,3.0,West,Credit Card,...,Clothing,4.2,Not Returned,Positive,12.54,FREESHIP,4.1,unknown,value_1,NaN
13,2023-01-14,1762.0,140.0,4.0,85.40,0.12,300.6080,2.0,East,Credit Card,...,Clothing,3.7,Returned,Negative,7.87,WELCOME5,NaN,Preferred morning delivery,no_data,NaN
14,2023-01-15,1267.0,145.0,6.0,41.86,0.04,241.1136,3.0,South,Online,...,Clothing,3.6,Returned,Negative,17.23,FREESHIP,2.8,no_data,no_data,NaN
15,2023-01-16,1094.0,167.0,3.0,65.15,0.20,156.3600,5.0,West,Cash,...,Electronics,1.5,Returned,Neutral,9.87,SAVE10,NaN,Used loyalty points,unknown,NaN
16,2023-01-17,1731.0,126.0,9.0,21.69,0.13,169.8327,3.0,South,Online,...,Books,2.3,Returned,Positive,NaN,nan,4.3,unknown,unknown,NaN
17,2023-01-18,1766.0,157.0,2.0,62.96,0.11,112.0688,8.0,South,Credit Card,...,Clothing,4.3,Not Returned,Negative,14.92,nan,NaN,no_data,value_2,NaN
18,2023-01-19,1981.0,111.0,6.0,30.91,0.09,168.7686,6.0,South,Credit Card,...,Clothing,4.6,Not Returned,Negative,16.47,SAVE10,4.7,Preferred morning delivery,unknown,NaN
19,2023-01-20,1249.0,136.0,6.0,37.26,0.26,165.4344,5.0,West,Online,...,Food,2.4,Not Returned,Positive,NaN,SAVE10,4.8,Preferred morning delivery,value_1,NaN
20,2023-01-21,1965.0,172.0,7.0,57.34,0.07,373.2834,1.0,South,Credit Card,...,Food,1.5,Not Returned,Neutral,10.70,WELCOME5,2.3,Frequent buyer,value_5,NaN
21,2023-01-22,1045.0,122.0,9.0,57.23,0.20,412.0560,8.0,East,Cash,...,Books,3.3,Returned,Negative,NaN,nan,1.9,unknown,unknown,NaN
22,2023-01-23,1494.0,182.0,3.0,81.05,0.02,238.2870,5.0,East,Cash,...,Electronics,1.0,Not Returned,Positive,11.74,nan,2.5,Frequent buyer,unknown,NaN
23,2023-01-24,1475.0,103.0,5.0,69.89,0.15,297.0325,8.0,South,Cash,...,Food,2.2,Not Returned,Positive,18.30,SAVE10,NaN,no_data,value_2,NaN
24,2023-01-25,1552.0,178.0,7.0,26.35,0.11,164.1605,7.0,East,Credit Card,...,Clothing,4.1,Not Returned,Neutral,7.63,FREESHIP,1.8,unknown,no_data,NaN
25,2023-01-26,1296.0,118.0,5.0,76.97,0.11,342.5165,1.0,West,Cash,...,Electronics,2.0,Not Returned,Negative,19.95,nan,NaN,Frequent buyer,no_data,NaN
26,2023-01-27,1900.0,151.0,4.0,20.42,0.05,77.5960,4.0,South,Credit Card,...,Books,3.4,Not Returned,Negative,NaN,FREESHIP,2.9,unknown,value_3,NaN
27,2023-01-28,1657.0,115.0,8.0,94.48,0.24,574.4384,3.0,West,Cash,...,Books,1.6,Returned,Negative,11.83,FREESHIP,3.9,unknown,value_4,NaN
28,2023-01-29,1463.0,140.0,7.0,65.99,0.19,374.1633,4.0,West,Credit Card,...,Clothing,2.9,Not Returned,Negative,9.09,nan,1.4,Preferred morning delivery,no_data,NaN
29,2023-01-30,1304.0,179.0,5.0,54.14,0.03,262.5790,1.0,West,Online,...,Books,2.9,Returned,Positive,5.96,FREESHIP,1.8,no_data,value_4,NaN
30,2023-01-31,1376.0,103.0,4.0,17.58,0.17,58.3656,7.0,North,Cash,...,Food,4.4,Not Returned,Positive,14.94,nan,2.5,no_data,value_4,NaN
31,2023-02-01,1616.0,144.0,2.0,30.94,0.16,51.9792,8.0,South,Credit Card,...,Clothing,1.9,Not Returned,Neutral,5.81,FREESHIP,1.1,First-time customer,unknown,NaN
32,2023-02-02,1974.0,130.0,9.0,74.36,0.24,508.6224,2.0,South,Credit Card,...,Books,1.3,Returned,Negative,5.76,nan,3.8,Frequent buyer,no_data,NaN
33,2023-02-03,1486.0,151.0,6.0,46.19,0.22,216.1692,1.0,West,Online,...,Food,3.9,Returned,Neutral,8.48,nan,NaN,unknown,unknown,NaN
34,2023-02-04,1452.0,128.0,8.0,82.83,0.05,629.5080,3.0,South,Cash,...,Electronics,4.5,Not Returned,Positive,16.98,SAVE10,NaN,unknown,value_5,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 08:**
</div>

In [18]:
pd.DataFrame.sum?

Signature:
pd.DataFrame.sum(
    self,
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    min_count: 'int' = 0,
    **kwargs,
)
Docstring:
Return the sum of the values over the requested axis.

This is equivalent to the method ``numpy.sum``.

Parameters
----------
axis : {index (0), columns (1)}
    Axis for the function to be applied on.
    For `Series` this parameter is unused and defaults to 0.

    .. warning::

        The behavior of DataFrame.sum with ``axis=None`` is deprecated,
        in a future version this will reduce over both axes and return a scalar
        To retain the old behavior, pass axis=0 (or do not pass axis).

    .. versionadded:: 2.0.0

skipna : bool, default True
    Exclude NA/null values when computing the result.
numeric_only : bool, default False
    Include only float, int, boolean columns. Not implemented for Series.

min_count : int, default 0
    The required number of valid values to perform the operation. If fewer than
    ``min_count`` non-NA values are present the result will be NA.
**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
Series or scalar

See Also
--------
Series.sum : Return the sum.
Series.min : Return the minimum.
Series.max : Return the maximum.
Series.idxmin : Return the index of the minimum.
Series.idxmax : Return the index of the maximum.
DataFrame.sum : Return the sum over the requested axis.
DataFrame.min : Return the minimum over the requested axis.
DataFrame.max : Return the maximum over the requested axis.
DataFrame.idxmin : Return the index of the minimum over the requested axis.
DataFrame.idxmax : Return the index of the maximum over the requested axis.

Examples
--------
>>> idx = pd.MultiIndex.from_arrays([
...     ['warm', 'warm', 'cold', 'cold'],
...     ['dog', 'falcon', 'fish', 'spider']],
...     names=['blooded', 'animal'])
>>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
>>> s
blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

>>> s.sum()
14

By default, the sum of an empty or all-NA Series is ``0``.

>>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
0.0

This can be controlled with the ``min_count`` parameter. For example, if
you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

>>> pd.Series([], dtype="float64").sum(min_count=1)
nan

Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
empty series identically.

>>> pd.Series([np.nan]).sum()
0.0

>>> pd.Series([np.nan]).sum(min_count=1)
nan
File:      ~/dev/pandas-exercises/.venv/lib/python3.12/site-packages/pandas/core/frame.py
Type:      function

In [19]:
df.isnull().sum(axis=0)

date                 1
customer_id          1
product_id           1
quantity             1
price                1
discount             1
revenue              1
store_id             1
region               1
payment_method       1
is_member            1
delivery_days        1
customer_age         1
gender               1
product_category     1
rating               1
return_status        1
feedback             1
shipping_cost        7
coupon_code          1
delivery_rating     12
customer_note        1
customer_values      1
all_nan_column      36
dtype: int64

In [20]:
df.isnull().sum(axis=1)

0      2
1      2
2      1
3      2
4      1
5      2
6      2
7      1
8      1
9      1
10     2
11     1
12     1
13     2
14     1
15     2
16     2
17     2
18     1
19     2
20     1
21     2
22     1
23     2
24     1
25     2
26     2
27     1
28     1
29     1
30     1
31     1
32     1
33     2
34     2
35    24
dtype: int64

In [21]:
df_kept = df[df.isnull().sum(axis=1) >= 2]

# Display the DataFrame after keeping rows
display(df_kept.reset_index(drop=True))

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1718.0,160.0,8.0,87.58,0.27,511.4672,6.0,West,Online,...,Clothing,2.9,Not Returned,Neutral,NaN,FREESHIP,2.1,First-time customer,value_4,NaN
1,2023-01-02,1599.0,175.0,6.0,92.61,0.15,472.3110,9.0,North,Credit Card,...,Books,2.8,Returned,Negative,6.04,nan,NaN,Frequent buyer,value_1,NaN
2,2023-01-04,1204.0,154.0,9.0,46.68,0.29,298.2852,3.0,North,Online,...,Electronics,4.2,Returned,Positive,8.52,nan,NaN,no_data,value_2,NaN
3,2023-01-06,1266.0,108.0,3.0,32.15,0.06,90.6630,8.0,West,Cash,...,Food,1.8,Not Returned,Neutral,11.66,WELCOME5,NaN,First-time customer,value_4,NaN
4,2023-01-07,1789.0,150.0,3.0,52.59,0.26,116.7498,1.0,West,Online,...,Books,3.7,Returned,Negative,14.43,nan,NaN,First-time customer,value_4,NaN
5,2023-01-11,1534.0,194.0,6.0,54.82,0.18,269.7144,8.0,East,Credit Card,...,Clothing,2.7,Not Returned,Neutral,NaN,WELCOME5,2.0,unknown,value_5,NaN
6,2023-01-14,1762.0,140.0,4.0,85.40,0.12,300.6080,2.0,East,Credit Card,...,Clothing,3.7,Returned,Negative,7.87,WELCOME5,NaN,Preferred morning delivery,no_data,NaN
7,2023-01-16,1094.0,167.0,3.0,65.15,0.20,156.3600,5.0,West,Cash,...,Electronics,1.5,Returned,Neutral,9.87,SAVE10,NaN,Used loyalty points,unknown,NaN
8,2023-01-17,1731.0,126.0,9.0,21.69,0.13,169.8327,3.0,South,Online,...,Books,2.3,Returned,Positive,NaN,nan,4.3,unknown,unknown,NaN
9,2023-01-18,1766.0,157.0,2.0,62.96,0.11,112.0688,8.0,South,Credit Card,...,Clothing,4.3,Not Returned,Negative,14.92,nan,NaN,no_data,value_2,NaN
10,2023-01-20,1249.0,136.0,6.0,37.26,0.26,165.4344,5.0,West,Online,...,Food,2.4,Not Returned,Positive,NaN,SAVE10,4.8,Preferred morning delivery,value_1,NaN
11,2023-01-22,1045.0,122.0,9.0,57.23,0.20,412.0560,8.0,East,Cash,...,Books,3.3,Returned,Negative,NaN,nan,1.9,unknown,unknown,NaN
12,2023-01-24,1475.0,103.0,5.0,69.89,0.15,297.0325,8.0,South,Cash,...,Food,2.2,Not Returned,Positive,18.30,SAVE10,NaN,no_data,value_2,NaN
13,2023-01-26,1296.0,118.0,5.0,76.97,0.11,342.5165,1.0,West,Cash,...,Electronics,2.0,Not Returned,Negative,19.95,nan,NaN,Frequent buyer,no_data,NaN
14,2023-01-27,1900.0,151.0,4.0,20.42,0.05,77.5960,4.0,South,Credit Card,...,Books,3.4,Not Returned,Negative,NaN,FREESHIP,2.9,unknown,value_3,NaN
15,2023-02-03,1486.0,151.0,6.0,46.19,0.22,216.1692,1.0,West,Online,...,Food,3.9,Returned,Neutral,8.48,nan,NaN,unknown,unknown,NaN
16,2023-02-04,1452.0,128.0,8.0,82.83,0.05,629.5080,3.0,South,Cash,...,Electronics,4.5,Not Returned,Positive,16.98,SAVE10,NaN,unknown,value_5,NaN
17,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-warning">

**9. Drop Rows with Missing Values in Specific Columns**

**Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.**

</div>

In [22]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_85678/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1100.0,165.0,9.0,60.96,0.23,422.4528,2.0,West,Credit Card,...,Books,3.3,Not Returned,Neutral,NaN,nan,3.5,Preferred morning delivery,unknown,NaN
1,2023-01-02,1346.0,108.0,1.0,86.90,0.20,69.5200,2.0,North,Credit Card,...,Electronics,1.8,Returned,Positive,15.81,SAVE10,4.2,unknown,value_4,NaN
2,2023-01-03,1973.0,164.0,5.0,79.78,0.17,331.0870,1.0,North,Credit Card,...,Food,3.9,Returned,Neutral,19.99,FREESHIP,3.6,Requested gift wrap,value_4,NaN
3,2023-01-04,1405.0,123.0,6.0,37.72,0.06,212.7408,5.0,West,Credit Card,...,Clothing,2.6,Returned,Neutral,14.24,SAVE10,1.3,Used loyalty points,unknown,NaN
4,2023-01-05,1344.0,152.0,2.0,25.85,0.04,49.6320,1.0,North,Credit Card,...,Food,1.6,Returned,Positive,12.75,nan,2.4,First-time customer,value_1,NaN
5,2023-01-06,1751.0,158.0,4.0,46.20,0.22,144.1440,7.0,North,Credit Card,...,Clothing,2.2,Returned,Neutral,8.12,nan,3.8,no_data,unknown,NaN
6,2023-01-07,1401.0,107.0,9.0,54.04,0.23,374.4972,1.0,West,Credit Card,...,Food,5.0,Not Returned,Neutral,14.06,nan,2.9,no_data,value_4,NaN
7,2023-01-08,1434.0,100.0,1.0,15.59,0.29,11.0689,1.0,East,Online,...,Books,2.8,Returned,Negative,11.74,nan,3.7,no_data,unknown,NaN
8,2023-01-09,1285.0,194.0,6.0,75.12,0.18,369.5904,4.0,East,Online,...,Books,4.2,Not Returned,Neutral,19.19,SAVE10,2.6,First-time customer,value_2,NaN
9,2023-01-10,1786.0,121.0,9.0,58.35,0.26,388.6110,9.0,South,Credit Card,...,Electronics,3.1,Not Returned,Negative,16.33,nan,2.3,unknown,value_3,NaN
10,2023-01-11,1766.0,183.0,1.0,54.76,0.18,44.9032,2.0,North,Cash,...,Food,4.3,Returned,Positive,18.85,nan,NaN,First-time customer,no_data,NaN
11,2023-01-12,1496.0,106.0,9.0,56.47,0.28,365.9256,4.0,South,Credit Card,...,Electronics,2.2,Not Returned,Positive,11.00,nan,4.8,no_data,value_3,NaN
12,2023-01-13,1990.0,193.0,8.0,65.33,0.29,371.0744,9.0,West,Cash,...,Electronics,1.7,Returned,Positive,10.43,WELCOME5,2.3,Preferred morning delivery,value_3,NaN
13,2023-01-14,1292.0,152.0,8.0,48.89,0.20,312.8960,3.0,West,Credit Card,...,Food,4.9,Returned,Negative,NaN,FREESHIP,NaN,unknown,value_4,NaN
14,2023-01-15,1826.0,124.0,4.0,78.89,0.22,246.1368,1.0,South,Online,...,Books,4.3,Not Returned,Neutral,13.23,nan,4.5,no_data,value_5,NaN
15,2023-01-16,1591.0,121.0,3.0,20.16,0.07,56.2464,1.0,North,Online,...,Food,3.6,Not Returned,Positive,NaN,SAVE10,4.3,no_data,unknown,NaN
16,2023-01-17,1152.0,165.0,6.0,82.70,0.24,377.1120,1.0,North,Cash,...,Books,3.4,Not Returned,Positive,15.79,nan,NaN,Frequent buyer,no_data,NaN
17,2023-01-18,1102.0,152.0,4.0,22.57,0.03,87.5716,3.0,North,Online,...,Books,4.2,Returned,Negative,6.79,nan,1.8,unknown,value_5,NaN
18,2023-01-19,1486.0,175.0,8.0,66.19,0.29,375.9592,1.0,North,Cash,...,Electronics,4.9,Returned,Neutral,9.77,WELCOME5,1.8,Used loyalty points,value_5,NaN
19,2023-01-20,1830.0,173.0,7.0,17.20,0.12,105.9520,6.0,West,Credit Card,...,Electronics,4.9,Not Returned,Negative,NaN,nan,NaN,no_data,value_2,NaN
20,2023-01-21,1404.0,186.0,3.0,78.63,0.07,219.3777,2.0,North,Cash,...,Clothing,4.7,Returned,Negative,15.56,SAVE10,NaN,no_data,value_3,NaN
21,2023-01-22,1191.0,177.0,7.0,58.40,0.22,318.8640,7.0,West,Cash,...,Electronics,1.6,Not Returned,Neutral,15.56,SAVE10,NaN,First-time customer,unknown,NaN
22,2023-01-23,1233.0,107.0,8.0,12.09,0.23,74.4744,1.0,West,Credit Card,...,Food,4.1,Not Returned,Neutral,12.14,SAVE10,5.0,unknown,unknown,NaN
23,2023-01-24,1435.0,160.0,1.0,18.79,0.01,18.6021,3.0,West,Cash,...,Books,1.2,Returned,Positive,NaN,WELCOME5,4.9,Frequent buyer,value_3,NaN
24,2023-01-25,1776.0,103.0,3.0,61.40,0.06,173.1480,9.0,South,Online,...,Clothing,2.5,Not Returned,Neutral,11.46,nan,3.7,no_data,no_data,NaN
25,2023-01-26,1456.0,132.0,8.0,62.17,0.25,373.0200,9.0,North,Online,...,Books,2.4,Returned,Positive,18.39,FREESHIP,NaN,Frequent buyer,value_2,NaN
26,2023-01-27,1800.0,120.0,3.0,13.34,0.11,35.6178,8.0,North,Credit Card,...,Electronics,3.8,Returned,Positive,NaN,WELCOME5,4.9,First-time customer,value_4,NaN
27,2023-01-28,1842.0,130.0,8.0,11.19,0.22,69.8256,5.0,South,Credit Card,...,Clothing,4.1,Returned,Positive,15.57,nan,2.1,Preferred morning delivery,value_2,NaN
28,2023-01-29,1208.0,111.0,2.0,24.36,0.04,46.7712,7.0,South,Cash,...,Food,3.0,Not Returned,Positive,18.88,nan,3.6,unknown,value_3,NaN
29,2023-01-30,1302.0,147.0,1.0,64.09,0.30,44.8630,2.0,West,Online,...,Food,2.4,Not Returned,Negative,NaN,FREESHIP,NaN,no_data,value_5,NaN
30,2023-01-31,1789.0,149.0,3.0,85.59,0.10,231.0930,5.0,West,Credit Card,...,Books,3.1,Returned,Neutral,NaN,SAVE10,1.6,no_data,value_1,NaN
31,2023-02-01,1495.0,155.0,8.0,93.68,0.26,554.5856,1.0,West,Credit Card,...,Clothing,1.9,Returned,Positive,NaN,nan,1.0,Requested gift wrap,no_data,NaN
32,2023-02-02,1976.0,120.0,3.0,39.69,0.16,100.0188,8.0,East,Online,...,Electronics,2.2,Not Returned,Negative,NaN,WELCOME5,1.1,Preferred morning delivery,value_5,NaN
33,2023-02-03,1926.0,186.0,9.0,30.06,0.06,254.3076,6.0,West,Cash,...,Books,1.9,Not Returned,Negative,10.32,nan,NaN,unknown,value_2,NaN
34,2023-02-04,1624.0,101.0,8.0,22.96,0.28,132.2496,8.0,East,Online,...,Books,2.1,Returned,Neutral,12.46,FREESHIP,1.8,unknown,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 09:**
</div>

In [23]:
# Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values
dropped_df = df.dropna(subset=['shipping_cost', 'coupon_code', 'delivery_rating'])
dropped_df

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
1,2023-01-02,1346.0,108.0,1.0,86.90,0.20,69.5200,2.0,North,Credit Card,...,Electronics,1.8,Returned,Positive,15.81,SAVE10,4.2,unknown,value_4,NaN
2,2023-01-03,1973.0,164.0,5.0,79.78,0.17,331.0870,1.0,North,Credit Card,...,Food,3.9,Returned,Neutral,19.99,FREESHIP,3.6,Requested gift wrap,value_4,NaN
3,2023-01-04,1405.0,123.0,6.0,37.72,0.06,212.7408,5.0,West,Credit Card,...,Clothing,2.6,Returned,Neutral,14.24,SAVE10,1.3,Used loyalty points,unknown,NaN
4,2023-01-05,1344.0,152.0,2.0,25.85,0.04,49.6320,1.0,North,Credit Card,...,Food,1.6,Returned,Positive,12.75,nan,2.4,First-time customer,value_1,NaN
5,2023-01-06,1751.0,158.0,4.0,46.20,0.22,144.1440,7.0,North,Credit Card,...,Clothing,2.2,Returned,Neutral,8.12,nan,3.8,no_data,unknown,NaN
6,2023-01-07,1401.0,107.0,9.0,54.04,0.23,374.4972,1.0,West,Credit Card,...,Food,5.0,Not Returned,Neutral,14.06,nan,2.9,no_data,value_4,NaN
7,2023-01-08,1434.0,100.0,1.0,15.59,0.29,11.0689,1.0,East,Online,...,Books,2.8,Returned,Negative,11.74,nan,3.7,no_data,unknown,NaN
8,2023-01-09,1285.0,194.0,6.0,75.12,0.18,369.5904,4.0,East,Online,...,Books,4.2,Not Returned,Neutral,19.19,SAVE10,2.6,First-time customer,value_2,NaN
9,2023-01-10,1786.0,121.0,9.0,58.35,0.26,388.6110,9.0,South,Credit Card,...,Electronics,3.1,Not Returned,Negative,16.33,nan,2.3,unknown,value_3,NaN
11,2023-01-12,1496.0,106.0,9.0,56.47,0.28,365.9256,4.0,South,Credit Card,...,Electronics,2.2,Not Returned,Positive,11.00,nan,4.8,no_data,value_3,NaN
12,2023-01-13,1990.0,193.0,8.0,65.33,0.29,371.0744,9.0,West,Cash,...,Electronics,1.7,Returned,Positive,10.43,WELCOME5,2.3,Preferred morning delivery,value_3,NaN
14,2023-01-15,1826.0,124.0,4.0,78.89,0.22,246.1368,1.0,South,Online,...,Books,4.3,Not Returned,Neutral,13.23,nan,4.5,no_data,value_5,NaN
17,2023-01-18,1102.0,152.0,4.0,22.57,0.03,87.5716,3.0,North,Online,...,Books,4.2,Returned,Negative,6.79,nan,1.8,unknown,value_5,NaN
18,2023-01-19,1486.0,175.0,8.0,66.19,0.29,375.9592,1.0,North,Cash,...,Electronics,4.9,Returned,Neutral,9.77,WELCOME5,1.8,Used loyalty points,value_5,NaN
22,2023-01-23,1233.0,107.0,8.0,12.09,0.23,74.4744,1.0,West,Credit Card,...,Food,4.1,Not Returned,Neutral,12.14,SAVE10,5.0,unknown,unknown,NaN
24,2023-01-25,1776.0,103.0,3.0,61.40,0.06,173.1480,9.0,South,Online,...,Clothing,2.5,Not Returned,Neutral,11.46,nan,3.7,no_data,no_data,NaN
27,2023-01-28,1842.0,130.0,8.0,11.19,0.22,69.8256,5.0,South,Credit Card,...,Clothing,4.1,Returned,Positive,15.57,nan,2.1,Preferred morning delivery,value_2,NaN
28,2023-01-29,1208.0,111.0,2.0,24.36,0.04,46.7712,7.0,South,Cash,...,Food,3.0,Not Returned,Positive,18.88,nan,3.6,unknown,value_3,NaN
34,2023-02-04,1624.0,101.0,8.0,22.96,0.28,132.2496,8.0,East,Online,...,Books,2.1,Returned,Neutral,12.46,FREESHIP,1.8,unknown,unknown,NaN

<div class="alert alert-warning">

**10. Keep Only Valid Entries**

**Write a Pandas program to keep the valid entries of a given DataFrame.**

</div>

In [24]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_85678/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1013.0,132.0,7.0,96.85,0.12,596.5960,9.0,South,Cash,...,Food,3.8,Not Returned,Neutral,14.33,nan,4.8,unknown,unknown,NaN
1,2023-01-02,1686.0,113.0,9.0,34.04,0.13,266.5332,4.0,West,Credit Card,...,Electronics,2.1,Returned,Positive,19.09,SAVE10,2.5,Preferred morning delivery,no_data,NaN
2,2023-01-03,1832.0,144.0,7.0,79.96,0.08,514.9424,2.0,South,Online,...,Clothing,4.1,Returned,Positive,16.47,WELCOME5,2.4,no_data,value_5,NaN
3,2023-01-04,1437.0,179.0,8.0,38.14,0.20,244.0960,7.0,North,Online,...,Food,1.3,Returned,Negative,14.87,nan,1.4,unknown,value_5,NaN
4,2023-01-05,1006.0,105.0,9.0,30.36,0.05,259.5780,6.0,West,Online,...,Books,2.0,Not Returned,Negative,7.44,WELCOME5,2.3,no_data,no_data,NaN
5,2023-01-06,1081.0,176.0,9.0,42.43,0.02,374.2326,7.0,South,Online,...,Books,2.0,Returned,Negative,8.17,SAVE10,NaN,unknown,no_data,NaN
6,2023-01-07,1354.0,174.0,5.0,37.01,0.17,153.5915,3.0,North,Credit Card,...,Clothing,2.7,Returned,Negative,12.92,nan,NaN,unknown,unknown,NaN
7,2023-01-08,1569.0,142.0,6.0,66.16,0.22,309.6288,7.0,East,Cash,...,Books,4.7,Not Returned,Negative,7.81,WELCOME5,2.6,no_data,value_3,NaN
8,2023-01-09,1051.0,152.0,6.0,43.76,0.01,259.9344,5.0,East,Online,...,Clothing,2.4,Returned,Positive,NaN,nan,2.9,Preferred morning delivery,value_4,NaN
9,2023-01-10,1900.0,103.0,1.0,53.76,0.08,49.4592,5.0,West,Credit Card,...,Electronics,4.1,Returned,Neutral,11.85,SAVE10,NaN,Frequent buyer,unknown,NaN
10,2023-01-11,1265.0,160.0,7.0,56.97,0.07,370.8747,4.0,West,Cash,...,Food,1.6,Returned,Neutral,NaN,FREESHIP,1.0,First-time customer,value_1,NaN
11,2023-01-12,1841.0,163.0,5.0,27.81,0.30,97.3350,5.0,North,Cash,...,Food,1.3,Not Returned,Positive,15.29,nan,3.7,no_data,value_3,NaN
12,2023-01-13,1842.0,140.0,7.0,43.26,0.10,272.5380,5.0,West,Online,...,Food,3.7,Returned,Neutral,NaN,FREESHIP,2.3,unknown,no_data,NaN
13,2023-01-14,1489.0,103.0,7.0,37.01,0.25,194.3025,4.0,North,Online,...,Books,4.2,Not Returned,Negative,15.16,WELCOME5,1.0,no_data,value_3,NaN
14,2023-01-15,1284.0,159.0,6.0,12.25,0.24,55.8600,9.0,West,Online,...,Electronics,4.1,Returned,Negative,6.09,SAVE10,NaN,Requested gift wrap,value_3,NaN
15,2023-01-16,1539.0,111.0,8.0,25.95,0.00,207.6000,5.0,North,Credit Card,...,Electronics,1.8,Returned,Negative,13.48,nan,1.6,First-time customer,value_5,NaN
16,2023-01-17,1772.0,107.0,2.0,53.68,0.16,90.1824,2.0,West,Cash,...,Clothing,4.7,Returned,Neutral,10.02,FREESHIP,NaN,unknown,value_3,NaN
17,2023-01-18,1137.0,159.0,7.0,54.37,0.14,327.3074,7.0,South,Cash,...,Clothing,3.7,Returned,Neutral,9.97,FREESHIP,NaN,Preferred morning delivery,value_2,NaN
18,2023-01-19,1312.0,153.0,1.0,70.76,0.23,54.4852,5.0,East,Cash,...,Food,2.1,Returned,Negative,17.58,WELCOME5,NaN,unknown,unknown,NaN
19,2023-01-20,1515.0,131.0,9.0,76.76,0.06,649.3896,9.0,North,Cash,...,Electronics,1.0,Returned,Neutral,5.93,nan,2.3,First-time customer,unknown,NaN
20,2023-01-21,1038.0,148.0,2.0,26.14,0.04,50.1888,1.0,West,Credit Card,...,Food,3.0,Not Returned,Positive,NaN,nan,NaN,Frequent buyer,no_data,NaN
21,2023-01-22,1611.0,179.0,9.0,36.16,0.18,266.8608,3.0,South,Credit Card,...,Electronics,1.2,Returned,Negative,14.22,WELCOME5,4.3,Frequent buyer,value_4,NaN
22,2023-01-23,1244.0,102.0,6.0,43.36,0.21,205.5264,3.0,East,Credit Card,...,Electronics,2.3,Returned,Positive,12.16,nan,3.2,Preferred morning delivery,value_4,NaN
23,2023-01-24,1024.0,108.0,8.0,14.88,0.09,108.3264,7.0,West,Credit Card,...,Books,4.3,Returned,Positive,13.45,WELCOME5,NaN,First-time customer,value_3,NaN
24,2023-01-25,1903.0,117.0,3.0,30.19,0.05,86.0415,3.0,North,Credit Card,...,Clothing,3.4,Not Returned,Positive,10.60,nan,3.3,Requested gift wrap,value_4,NaN
25,2023-01-26,1875.0,100.0,6.0,68.25,0.26,303.0300,5.0,North,Cash,...,Books,3.7,Returned,Neutral,NaN,WELCOME5,2.6,Preferred morning delivery,value_3,NaN
26,2023-01-27,1360.0,145.0,6.0,13.81,0.08,76.2312,1.0,West,Credit Card,...,Electronics,3.0,Not Returned,Positive,14.90,nan,2.6,no_data,no_data,NaN
27,2023-01-28,1347.0,140.0,7.0,34.83,0.22,190.1718,6.0,North,Cash,...,Food,2.6,Returned,Positive,NaN,nan,1.1,Frequent buyer,unknown,NaN
28,2023-01-29,1623.0,175.0,4.0,66.10,0.07,245.8920,8.0,East,Credit Card,...,Books,1.9,Not Returned,Positive,11.06,nan,NaN,unknown,value_1,NaN
29,2023-01-30,1209.0,131.0,8.0,49.75,0.23,306.4600,5.0,West,Online,...,Books,3.0,Not Returned,Negative,NaN,SAVE10,2.9,unknown,value_1,NaN
30,2023-01-31,1482.0,117.0,3.0,34.43,0.23,79.5333,4.0,North,Cash,...,Clothing,2.3,Returned,Positive,16.45,WELCOME5,NaN,no_data,unknown,NaN
31,2023-02-01,1359.0,110.0,6.0,45.40,0.16,228.8160,9.0,North,Cash,...,Electronics,3.5,Returned,Negative,18.29,FREESHIP,NaN,unknown,no_data,NaN
32,2023-02-02,1756.0,167.0,8.0,19.96,0.14,137.3248,2.0,South,Credit Card,...,Food,1.2,Returned,Positive,16.22,nan,3.6,unknown,unknown,NaN
33,2023-02-03,1571.0,146.0,2.0,34.28,0.23,52.7912,9.0,West,Online,...,Clothing,2.9,Not Returned,Positive,NaN,SAVE10,NaN,unknown,value_2,NaN
34,2023-02-04,1660.0,177.0,9.0,51.60,0.08,427.2480,7.0,North,Credit Card,...,Books,3.4,Not Returned,Negative,8.33,FREESHIP,3.1,no_data,value_1,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 10:**
</div>

In [25]:
# Write a Pandas program to keep the valid entries of a given DataFrame
valid_entries_df = df.dropna(subset=['customer_id', 'product_id', 'quantity', 'price', 'revenue', 'delivery_rating'])
display(valid_entries_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1013.0,132.0,7.0,96.85,0.12,596.5960,9.0,South,Cash,...,Food,3.8,Not Returned,Neutral,14.33,nan,4.8,unknown,unknown,NaN
1,2023-01-02,1686.0,113.0,9.0,34.04,0.13,266.5332,4.0,West,Credit Card,...,Electronics,2.1,Returned,Positive,19.09,SAVE10,2.5,Preferred morning delivery,no_data,NaN
2,2023-01-03,1832.0,144.0,7.0,79.96,0.08,514.9424,2.0,South,Online,...,Clothing,4.1,Returned,Positive,16.47,WELCOME5,2.4,no_data,value_5,NaN
3,2023-01-04,1437.0,179.0,8.0,38.14,0.20,244.0960,7.0,North,Online,...,Food,1.3,Returned,Negative,14.87,nan,1.4,unknown,value_5,NaN
4,2023-01-05,1006.0,105.0,9.0,30.36,0.05,259.5780,6.0,West,Online,...,Books,2.0,Not Returned,Negative,7.44,WELCOME5,2.3,no_data,no_data,NaN
7,2023-01-08,1569.0,142.0,6.0,66.16,0.22,309.6288,7.0,East,Cash,...,Books,4.7,Not Returned,Negative,7.81,WELCOME5,2.6,no_data,value_3,NaN
8,2023-01-09,1051.0,152.0,6.0,43.76,0.01,259.9344,5.0,East,Online,...,Clothing,2.4,Returned,Positive,NaN,nan,2.9,Preferred morning delivery,value_4,NaN
10,2023-01-11,1265.0,160.0,7.0,56.97,0.07,370.8747,4.0,West,Cash,...,Food,1.6,Returned,Neutral,NaN,FREESHIP,1.0,First-time customer,value_1,NaN
11,2023-01-12,1841.0,163.0,5.0,27.81,0.30,97.3350,5.0,North,Cash,...,Food,1.3,Not Returned,Positive,15.29,nan,3.7,no_data,value_3,NaN
12,2023-01-13,1842.0,140.0,7.0,43.26,0.10,272.5380,5.0,West,Online,...,Food,3.7,Returned,Neutral,NaN,FREESHIP,2.3,unknown,no_data,NaN
13,2023-01-14,1489.0,103.0,7.0,37.01,0.25,194.3025,4.0,North,Online,...,Books,4.2,Not Returned,Negative,15.16,WELCOME5,1.0,no_data,value_3,NaN
15,2023-01-16,1539.0,111.0,8.0,25.95,0.00,207.6000,5.0,North,Credit Card,...,Electronics,1.8,Returned,Negative,13.48,nan,1.6,First-time customer,value_5,NaN
19,2023-01-20,1515.0,131.0,9.0,76.76,0.06,649.3896,9.0,North,Cash,...,Electronics,1.0,Returned,Neutral,5.93,nan,2.3,First-time customer,unknown,NaN
21,2023-01-22,1611.0,179.0,9.0,36.16,0.18,266.8608,3.0,South,Credit Card,...,Electronics,1.2,Returned,Negative,14.22,WELCOME5,4.3,Frequent buyer,value_4,NaN
22,2023-01-23,1244.0,102.0,6.0,43.36,0.21,205.5264,3.0,East,Credit Card,...,Electronics,2.3,Returned,Positive,12.16,nan,3.2,Preferred morning delivery,value_4,NaN
24,2023-01-25,1903.0,117.0,3.0,30.19,0.05,86.0415,3.0,North,Credit Card,...,Clothing,3.4,Not Returned,Positive,10.60,nan,3.3,Requested gift wrap,value_4,NaN
25,2023-01-26,1875.0,100.0,6.0,68.25,0.26,303.0300,5.0,North,Cash,...,Books,3.7,Returned,Neutral,NaN,WELCOME5,2.6,Preferred morning delivery,value_3,NaN
26,2023-01-27,1360.0,145.0,6.0,13.81,0.08,76.2312,1.0,West,Credit Card,...,Electronics,3.0,Not Returned,Positive,14.90,nan,2.6,no_data,no_data,NaN
27,2023-01-28,1347.0,140.0,7.0,34.83,0.22,190.1718,6.0,North,Cash,...,Food,2.6,Returned,Positive,NaN,nan,1.1,Frequent buyer,unknown,NaN
29,2023-01-30,1209.0,131.0,8.0,49.75,0.23,306.4600,5.0,West,Online,...,Books,3.0,Not Returned,Negative,NaN,SAVE10,2.9,unknown,value_1,NaN
32,2023-02-02,1756.0,167.0,8.0,19.96,0.14,137.3248,2.0,South,Credit Card,...,Food,1.2,Returned,Positive,16.22,nan,3.6,unknown,unknown,NaN
34,2023-02-04,1660.0,177.0,9.0,51.60,0.08,427.2480,7.0,North,Credit Card,...,Books,3.4,Not Returned,Negative,8.33,FREESHIP,3.1,no_data,value_1,NaN