[Pandas Missing Values](https://www.w3resource.com/python-exercises/pandas/missing-values/index.php)

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-warning">

**1. Detect Missing Values**

**Write a Pandas program to detect missing values of a given DataFrame. Display True or False.**

</div>

In [2]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1881,164,5,93.88,0.25,352.0500,2,East,Cash,...,3,50,Other,Electronics,4.0,Returned,Neutral,12.48,FREESHIP,NaN
1,2023-01-02,1060,125,1,40.59,0.11,36.1251,1,South,Online,...,6,53,Female,Electronics,2.5,Not Returned,Positive,7.79,FREESHIP,3.5
2,2023-01-03,1405,118,2,57.40,0.08,105.6160,3,South,Cash,...,6,43,Female,Books,4.2,Returned,Neutral,11.07,FREESHIP,NaN
3,2023-01-04,1832,161,7,28.00,0.15,166.6000,4,East,Online,...,1,18,Other,Food,1.8,Returned,Neutral,15.88,FREESHIP,4.8
4,2023-01-05,1301,169,4,47.33,0.06,177.9608,8,North,Online,...,1,33,Other,Clothing,3.7,Returned,Neutral,6.71,SAVE10,1.8
5,2023-01-06,1312,103,3,79.39,0.26,176.2458,4,North,Credit Card,...,2,21,Other,Clothing,3.6,Returned,Positive,11.65,nan,3.6
6,2023-01-07,1567,123,9,33.29,0.14,257.6646,4,West,Online,...,4,33,Male,Electronics,4.7,Not Returned,Neutral,15.27,SAVE10,3.5
7,2023-01-08,1251,139,3,10.85,0.01,32.2245,7,East,Credit Card,...,1,50,Female,Electronics,2.3,Returned,Positive,12.75,FREESHIP,3.0
8,2023-01-09,1662,155,4,67.69,0.01,268.0524,4,West,Credit Card,...,6,59,Female,Electronics,2.5,Returned,Positive,7.72,FREESHIP,2.9
9,2023-01-10,1891,198,8,98.39,0.01,779.2488,6,West,Online,...,3,19,Male,Clothing,2.5,Not Returned,Neutral,17.95,SAVE10,NaN
10,2023-01-11,1897,120,9,37.03,0.05,316.6065,2,East,Online,...,5,50,Female,Electronics,2.0,Not Returned,Negative,13.27,FREESHIP,1.4
11,2023-01-12,1928,146,9,61.57,0.08,509.7996,4,South,Cash,...,5,64,Male,Food,2.8,Not Returned,Neutral,10.72,WELCOME5,3.5
12,2023-01-13,1788,172,9,21.43,0.19,156.2247,8,North,Credit Card,...,2,48,Male,Clothing,2.2,Returned,Neutral,9.36,FREESHIP,2.7
13,2023-01-14,1635,167,4,64.19,0.10,231.0840,9,North,Credit Card,...,1,57,Other,Clothing,2.4,Not Returned,Negative,15.47,SAVE10,NaN
14,2023-01-15,1441,144,5,52.50,0.17,217.8750,5,East,Online,...,1,50,Other,Clothing,5.0,Returned,Positive,NaN,WELCOME5,4.5
15,2023-01-16,1451,135,8,50.24,0.11,357.7088,1,North,Online,...,1,55,Other,Food,4.7,Returned,Neutral,9.99,FREESHIP,3.6
16,2023-01-17,1742,134,7,15.69,0.20,87.8640,3,West,Credit Card,...,6,46,Female,Food,2.2,Not Returned,Negative,15.04,nan,NaN
17,2023-01-18,1605,198,7,60.31,0.26,312.4058,9,South,Credit Card,...,6,29,Female,Books,2.1,Not Returned,Positive,18.95,nan,1.1
18,2023-01-19,1863,161,9,42.06,0.17,314.1882,6,West,Online,...,3,28,Male,Clothing,1.1,Not Returned,Positive,8.31,FREESHIP,3.8
19,2023-01-20,1295,126,6,71.92,0.07,401.3136,5,East,Credit Card,...,3,39,Other,Books,2.2,Returned,Positive,19.08,WELCOME5,1.4
20,2023-01-21,1473,145,5,53.83,0.26,199.1710,9,South,Cash,...,3,49,Male,Books,4.2,Not Returned,Neutral,6.84,SAVE10,NaN
21,2023-01-22,1029,171,8,69.72,0.28,401.5872,2,West,Credit Card,...,2,41,Female,Electronics,1.4,Returned,Positive,10.77,nan,2.8
22,2023-01-23,1494,143,1,29.25,0.03,28.3725,1,North,Credit Card,...,5,25,Female,Food,2.5,Not Returned,Positive,NaN,WELCOME5,3.5
23,2023-01-24,1707,147,3,97.61,0.12,257.6904,3,West,Credit Card,...,6,38,Other,Food,2.9,Returned,Neutral,NaN,nan,4.4
24,2023-01-25,1868,108,3,45.13,0.21,106.9581,1,East,Credit Card,...,6,54,Male,Food,2.9,Returned,Negative,18.51,WELCOME5,NaN
25,2023-01-26,1550,133,9,56.01,0.12,443.5992,8,South,Credit Card,...,6,34,Other,Electronics,4.0,Not Returned,Negative,15.32,WELCOME5,NaN
26,2023-01-27,1454,108,6,94.48,0.27,413.8224,6,East,Credit Card,...,3,27,Other,Clothing,2.4,Not Returned,Neutral,NaN,SAVE10,3.1
27,2023-01-28,1443,193,9,80.04,0.05,684.3420,7,North,Online,...,2,56,Other,Food,1.5,Returned,Positive,NaN,FREESHIP,3.7
28,2023-01-29,1653,183,4,41.89,0.18,137.3992,7,West,Cash,...,6,47,Female,Clothing,2.8,Returned,Positive,7.60,FREESHIP,1.2
29,2023-01-30,1507,184,1,40.33,0.07,37.5069,4,South,Online,...,6,24,Other,Electronics,4.7,Returned,Positive,5.45,FREESHIP,3.5
30,2023-01-31,1366,151,9,48.37,0.08,400.5036,1,South,Cash,...,3,26,Other,Electronics,3.5,Returned,Neutral,13.50,nan,4.4
31,2023-02-01,1196,136,7,80.11,0.11,499.0853,6,West,Credit Card,...,3,31,Other,Clothing,1.6,Not Returned,Positive,5.73,SAVE10,4.8
32,2023-02-02,1998,118,4,50.83,0.12,178.9216,8,West,Online,...,4,18,Male,Food,2.0,Not Returned,Positive,9.87,nan,NaN
33,2023-02-03,1306,176,6,54.83,0.14,282.9228,9,North,Credit Card,...,3,42,Female,Electronics,1.2,Not Returned,Neutral,14.01,WELCOME5,4.6
34,2023-02-04,1015,193,2,49.25,0.10,88.6500,4,East,Cash,...,1,66,Other,Clothing,2.6,Not Returned,Neutral,13.18,WELCOME5,2.5

<div class="alert alert-success">

**Solution 01:**
</div>

In [3]:
print(type(df.isna()))
df.isna()

<class 'pandas.core.frame.DataFrame'>

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
print(df.isna().any())  
df.isna().sum()

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
dtype: bool

date                0
customer_id         0
product_id          0
quantity            0
price               0
discount            0
revenue             0
store_id            0
region              0
payment_method      0
is_member           0
delivery_days       0
customer_age        0
gender              0
product_category    0
rating              0
return_status       0
feedback            0
shipping_cost       5
coupon_code         0
delivery_rating     9
dtype: int64

<div class="alert alert-warning">

**2. Identify Columns with Missing Values**

**Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.**

</div>

In [5]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1466,136,4,12.18,0.03,47.2584,8,West,Cash,...,5,61,Female,Books,3.0,Returned,Neutral,19.93,FREESHIP,NaN
1,2023-01-02,1523,111,2,11.63,0.01,23.0274,4,North,Cash,...,6,65,Male,Electronics,1.1,Not Returned,Positive,6.19,WELCOME5,NaN
2,2023-01-03,1583,185,3,76.62,0.27,167.7978,3,East,Cash,...,4,28,Male,Books,3.9,Not Returned,Negative,12.80,WELCOME5,NaN
3,2023-01-04,1020,109,3,35.54,0.10,95.9580,6,North,Credit Card,...,5,61,Other,Books,3.3,Not Returned,Neutral,NaN,nan,NaN
4,2023-01-05,1546,104,2,61.01,0.05,115.9190,5,East,Credit Card,...,6,69,Male,Books,4.1,Not Returned,Positive,12.50,WELCOME5,NaN
5,2023-01-06,1361,172,6,54.52,0.29,232.2552,9,West,Cash,...,1,52,Other,Food,4.2,Returned,Positive,7.99,nan,1.1
6,2023-01-07,1066,184,3,23.02,0.10,62.1540,2,South,Cash,...,1,37,Male,Electronics,3.5,Not Returned,Positive,NaN,SAVE10,3.0
7,2023-01-08,1357,144,6,80.48,0.01,478.0512,5,West,Online,...,2,47,Male,Clothing,4.2,Returned,Negative,NaN,FREESHIP,2.3
8,2023-01-09,1236,164,4,94.49,0.05,359.0620,3,North,Cash,...,1,54,Female,Electronics,2.9,Not Returned,Neutral,9.99,SAVE10,3.4
9,2023-01-10,1260,153,5,83.17,0.10,374.2650,6,West,Credit Card,...,6,27,Female,Clothing,1.2,Not Returned,Negative,6.40,SAVE10,2.4
10,2023-01-11,1865,157,3,10.64,0.29,22.6632,9,East,Online,...,5,25,Male,Electronics,1.9,Returned,Positive,12.90,nan,2.6
11,2023-01-12,1042,109,3,48.50,0.19,117.8550,4,South,Online,...,2,55,Male,Clothing,2.6,Returned,Positive,18.50,SAVE10,NaN
12,2023-01-13,1148,126,1,72.57,0.26,53.7018,8,North,Online,...,1,48,Female,Clothing,1.9,Returned,Neutral,18.44,nan,4.3
13,2023-01-14,1636,131,3,11.80,0.12,31.1520,1,South,Credit Card,...,1,54,Male,Books,1.8,Not Returned,Positive,12.73,FREESHIP,1.6
14,2023-01-15,1534,108,8,20.40,0.23,125.6640,8,West,Credit Card,...,1,68,Male,Food,3.1,Returned,Negative,14.02,SAVE10,3.7
15,2023-01-16,1914,129,1,51.50,0.08,47.3800,7,North,Cash,...,4,36,Female,Books,2.7,Returned,Positive,NaN,FREESHIP,3.8
16,2023-01-17,1717,155,5,20.38,0.10,91.7100,1,South,Credit Card,...,6,37,Female,Clothing,2.7,Not Returned,Neutral,11.96,nan,1.5
17,2023-01-18,1605,130,6,98.45,0.15,502.0950,5,North,Credit Card,...,1,69,Female,Clothing,2.7,Not Returned,Positive,5.39,FREESHIP,4.2
18,2023-01-19,1202,148,7,35.13,0.26,181.9734,7,East,Online,...,1,52,Other,Electronics,4.9,Not Returned,Positive,19.55,WELCOME5,NaN
19,2023-01-20,1424,180,2,11.37,0.04,21.8304,8,East,Cash,...,4,66,Female,Food,3.1,Not Returned,Negative,16.99,nan,4.1
20,2023-01-21,1273,125,7,46.55,0.14,280.2310,4,East,Cash,...,4,28,Other,Food,1.1,Returned,Positive,7.85,nan,4.6
21,2023-01-22,1314,191,3,22.51,0.21,53.3487,7,West,Cash,...,6,65,Male,Books,2.0,Returned,Positive,8.29,nan,NaN
22,2023-01-23,1057,156,7,43.30,0.28,218.2320,9,South,Online,...,5,29,Female,Clothing,1.9,Not Returned,Neutral,NaN,SAVE10,NaN
23,2023-01-24,1933,173,6,62.43,0.21,295.9182,9,South,Online,...,4,65,Female,Electronics,3.0,Not Returned,Positive,6.62,nan,2.5
24,2023-01-25,1005,152,4,85.10,0.23,262.1080,5,North,Cash,...,4,60,Other,Electronics,3.5,Not Returned,Positive,8.15,SAVE10,2.5
25,2023-01-26,1889,189,7,23.74,0.23,127.9586,7,North,Credit Card,...,3,49,Male,Books,3.8,Returned,Negative,NaN,nan,3.2
26,2023-01-27,1794,128,2,95.30,0.08,175.3520,7,East,Cash,...,2,51,Female,Books,4.3,Returned,Positive,14.11,WELCOME5,NaN
27,2023-01-28,1625,188,7,88.81,0.01,615.4533,5,West,Credit Card,...,4,34,Female,Books,4.2,Returned,Neutral,14.79,WELCOME5,NaN
28,2023-01-29,1516,190,6,40.22,0.20,193.0560,9,East,Cash,...,1,54,Female,Clothing,5.0,Returned,Neutral,5.27,nan,3.2
29,2023-01-30,1871,124,7,50.36,0.17,292.5916,3,West,Online,...,2,38,Female,Books,1.2,Not Returned,Positive,7.35,nan,4.9
30,2023-01-31,1403,170,1,42.58,0.24,32.3608,8,East,Cash,...,4,55,Other,Electronics,4.2,Returned,Positive,6.10,WELCOME5,NaN
31,2023-02-01,1126,151,8,84.76,0.14,583.1488,6,West,Credit Card,...,6,42,Male,Food,1.8,Returned,Negative,NaN,FREESHIP,NaN
32,2023-02-02,1594,181,4,73.97,0.08,272.2096,2,West,Credit Card,...,4,67,Female,Clothing,2.4,Not Returned,Negative,NaN,WELCOME5,NaN
33,2023-02-03,1606,161,3,96.83,0.12,255.6312,6,South,Credit Card,...,3,49,Female,Electronics,3.4,Returned,Positive,NaN,SAVE10,2.6
34,2023-02-04,1092,144,7,44.10,0.09,280.9170,5,North,Credit Card,...,4,60,Male,Books,2.7,Returned,Negative,6.94,FREESHIP,3.0

<div class="alert alert-success">

**Solution 02:**
</div>

In [6]:
df.isna().any()
cols_have_na = df.isna().any()[lambda x: x].index.tolist()

<div class="alert alert-warning">

**3. Count Missing Values in Each Column**

**Write a Pandas program to count the number of missing values in each column of a given DataFrame.**

</div>

In [7]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating
0,2023-01-01,1952,175,9,67.35,0.30,424.3050,6,North,Online,...,4,33,Female,Clothing,4.8,Not Returned,Negative,9.43,FREESHIP,1.5
1,2023-01-02,1134,171,1,31.86,0.29,22.6206,1,South,Cash,...,6,47,Male,Books,2.9,Returned,Positive,5.84,SAVE10,3.9
2,2023-01-03,1638,165,8,43.72,0.24,265.8176,9,South,Online,...,2,51,Other,Clothing,4.4,Returned,Negative,13.12,WELCOME5,NaN
3,2023-01-04,1937,190,6,12.35,0.22,57.7980,2,South,Credit Card,...,2,36,Other,Food,3.4,Not Returned,Negative,7.83,nan,3.5
4,2023-01-05,1498,149,3,58.50,0.19,142.1550,1,East,Online,...,2,29,Male,Electronics,4.9,Returned,Positive,14.61,nan,1.8
5,2023-01-06,1281,157,3,74.58,0.10,201.3660,6,North,Online,...,1,54,Female,Books,2.1,Returned,Neutral,7.37,nan,4.7
6,2023-01-07,1442,111,8,41.71,0.15,283.6280,9,East,Cash,...,4,25,Male,Clothing,4.2,Returned,Neutral,NaN,FREESHIP,3.0
7,2023-01-08,1129,109,3,54.20,0.11,144.7140,5,West,Credit Card,...,5,39,Female,Clothing,2.3,Returned,Negative,15.52,nan,1.0
8,2023-01-09,1815,138,8,33.67,0.01,266.6664,2,North,Credit Card,...,6,46,Other,Clothing,3.1,Returned,Neutral,15.87,WELCOME5,4.3
9,2023-01-10,1494,128,4,96.59,0.12,339.9968,7,West,Online,...,6,67,Other,Food,1.6,Returned,Positive,5.01,nan,1.5
10,2023-01-11,1135,167,8,51.32,0.29,291.4976,1,East,Online,...,5,29,Female,Food,3.3,Returned,Neutral,NaN,nan,NaN
11,2023-01-12,1763,162,6,63.68,0.24,290.3808,5,North,Cash,...,1,21,Male,Clothing,5.0,Not Returned,Neutral,16.63,nan,4.0
12,2023-01-13,1336,135,6,44.01,0.21,208.6074,9,West,Online,...,1,67,Female,Clothing,2.6,Returned,Negative,7.53,SAVE10,1.5
13,2023-01-14,1885,136,3,17.25,0.10,46.5750,2,West,Online,...,3,43,Female,Books,2.7,Not Returned,Neutral,7.69,SAVE10,NaN
14,2023-01-15,1825,142,4,31.55,0.14,108.5320,1,North,Credit Card,...,4,45,Female,Books,1.5,Not Returned,Neutral,18.86,nan,4.4
15,2023-01-16,1277,190,5,44.08,0.08,202.7680,6,West,Credit Card,...,5,55,Female,Books,4.3,Returned,Positive,12.73,nan,1.2
16,2023-01-17,1471,133,3,38.71,0.15,98.7105,6,North,Online,...,6,47,Male,Clothing,3.7,Returned,Neutral,5.13,nan,NaN
17,2023-01-18,1909,128,4,40.21,0.16,135.1056,7,West,Online,...,2,67,Male,Electronics,1.2,Not Returned,Negative,6.86,FREESHIP,2.7
18,2023-01-19,1336,167,9,41.19,0.18,303.9822,1,East,Cash,...,5,57,Female,Food,4.0,Not Returned,Neutral,NaN,SAVE10,NaN
19,2023-01-20,1349,137,4,25.52,0.18,83.7056,3,South,Online,...,2,44,Male,Clothing,3.1,Not Returned,Neutral,14.44,nan,4.7
20,2023-01-21,1519,191,5,10.66,0.15,45.3050,1,West,Credit Card,...,1,32,Other,Clothing,3.2,Returned,Neutral,NaN,WELCOME5,4.3
21,2023-01-22,1964,114,5,70.06,0.01,346.7970,8,North,Online,...,3,50,Male,Electronics,5.0,Not Returned,Positive,14.25,SAVE10,1.7
22,2023-01-23,1149,191,7,23.35,0.10,147.1050,8,South,Credit Card,...,5,27,Male,Clothing,4.7,Returned,Neutral,7.09,nan,NaN
23,2023-01-24,1056,167,9,48.38,0.29,309.1482,9,South,Online,...,3,56,Male,Clothing,1.7,Returned,Negative,11.08,nan,2.9
24,2023-01-25,1134,137,8,77.13,0.07,573.8472,2,East,Cash,...,3,33,Other,Electronics,1.3,Not Returned,Positive,13.66,nan,4.6
25,2023-01-26,1666,197,2,92.38,0.16,155.1984,1,North,Online,...,6,53,Other,Electronics,4.1,Not Returned,Negative,19.82,nan,NaN
26,2023-01-27,1352,160,7,68.14,0.23,367.2746,8,East,Online,...,1,56,Other,Books,2.3,Returned,Negative,16.78,WELCOME5,NaN
27,2023-01-28,1836,171,1,98.21,0.23,75.6217,2,West,Credit Card,...,1,56,Male,Electronics,4.4,Returned,Neutral,NaN,nan,2.3
28,2023-01-29,1850,197,1,57.56,0.29,40.8676,7,South,Cash,...,3,21,Female,Books,2.8,Returned,Neutral,19.71,SAVE10,3.9
29,2023-01-30,1373,198,1,25.81,0.23,19.8737,4,West,Online,...,4,34,Other,Clothing,3.1,Returned,Negative,14.26,FREESHIP,3.5
30,2023-01-31,1776,123,9,91.06,0.13,712.9998,2,South,Credit Card,...,6,68,Male,Books,1.2,Returned,Positive,16.10,nan,2.1
31,2023-02-01,1227,191,6,24.06,0.12,127.0368,8,North,Cash,...,2,42,Male,Food,1.4,Not Returned,Negative,19.96,WELCOME5,3.5
32,2023-02-02,1263,180,6,29.41,0.27,128.8158,6,West,Credit Card,...,4,65,Male,Food,2.0,Not Returned,Neutral,8.88,FREESHIP,2.7
33,2023-02-03,1378,184,6,29.02,0.02,170.6376,8,West,Credit Card,...,4,65,Other,Food,3.5,Not Returned,Negative,13.03,SAVE10,NaN
34,2023-02-04,1128,197,6,19.10,0.08,105.4320,9,North,Online,...,2,27,Female,Electronics,2.6,Returned,Negative,NaN,SAVE10,4.2

<div class="alert alert-success">

**Solution 03:**
</div>

In [8]:
df.isna().sum()

date                0
customer_id         0
product_id          0
quantity            0
price               0
discount            0
revenue             0
store_id            0
region              0
payment_method      0
is_member           0
delivery_days       0
customer_age        0
gender              0
product_category    0
rating              0
return_status       0
feedback            0
shipping_cost       6
coupon_code         0
delivery_rating     9
dtype: int64

<div class="alert alert-warning">

**4. Replace Non-Valuable Missing Values**

**Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.**

</div>

In [9]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1941,125,2,52.79,0.15,89.7430,8,West,Credit Card,...,Other,Books,1.4,Returned,Negative,NaN,FREESHIP,1.0,Used loyalty points,value_2
1,2023-01-02,1080,186,5,31.92,0.17,132.4680,6,East,Online,...,Other,Books,2.8,Not Returned,Positive,14.34,nan,2.0,Preferred morning delivery,value_4
2,2023-01-03,1785,123,6,51.99,0.29,221.4774,1,West,Cash,...,Female,Electronics,2.8,Not Returned,Positive,NaN,nan,4.8,no_data,value_3
3,2023-01-04,1274,153,2,14.80,0.05,28.1200,9,East,Credit Card,...,Female,Clothing,4.0,Returned,Negative,19.29,nan,NaN,unknown,value_2
4,2023-01-05,1618,101,1,99.94,0.21,78.9526,3,West,Cash,...,Male,Electronics,3.3,Not Returned,Neutral,13.85,nan,3.2,Requested gift wrap,value_3
5,2023-01-06,1741,120,8,25.91,0.20,165.8240,3,South,Cash,...,Male,Clothing,1.8,Not Returned,Negative,6.31,nan,NaN,Preferred morning delivery,value_5
6,2023-01-07,1882,179,8,79.40,0.04,609.7920,4,North,Credit Card,...,Male,Clothing,1.1,Returned,Positive,13.56,nan,3.8,no_data,value_3
7,2023-01-08,1398,166,8,36.00,0.24,218.8800,7,South,Online,...,Other,Clothing,3.8,Returned,Positive,9.46,nan,4.5,Frequent buyer,unknown
8,2023-01-09,1168,106,4,94.56,0.22,295.0272,9,East,Online,...,Male,Clothing,1.8,Not Returned,Neutral,10.31,SAVE10,3.9,no_data,value_2
9,2023-01-10,1944,167,7,28.82,0.00,201.7400,5,North,Cash,...,Other,Food,2.1,Not Returned,Negative,9.44,WELCOME5,3.6,Preferred morning delivery,value_2
10,2023-01-11,1119,145,7,83.21,0.17,483.4501,7,West,Cash,...,Female,Clothing,3.4,Not Returned,Negative,NaN,FREESHIP,3.6,unknown,value_3
11,2023-01-12,1758,150,8,62.89,0.07,467.9016,9,West,Online,...,Female,Books,4.5,Returned,Negative,NaN,nan,3.9,Requested gift wrap,no_data
12,2023-01-13,1421,123,4,68.26,0.19,221.1624,7,East,Online,...,Other,Electronics,1.7,Not Returned,Positive,7.57,SAVE10,3.8,unknown,value_3
13,2023-01-14,1949,177,9,31.11,0.21,221.1921,3,West,Credit Card,...,Other,Books,4.7,Returned,Negative,14.52,nan,2.6,no_data,value_3
14,2023-01-15,1569,159,9,54.41,0.23,377.0613,7,East,Online,...,Other,Food,3.7,Not Returned,Negative,15.39,WELCOME5,1.9,Requested gift wrap,unknown
15,2023-01-16,1260,124,2,32.25,0.05,61.2750,2,South,Cash,...,Other,Electronics,2.0,Returned,Neutral,6.96,FREESHIP,NaN,no_data,value_3
16,2023-01-17,1686,180,7,17.78,0.04,119.4816,9,East,Online,...,Other,Electronics,4.5,Returned,Positive,8.52,WELCOME5,1.2,Preferred morning delivery,unknown
17,2023-01-18,1678,162,6,58.48,0.04,336.8448,3,North,Cash,...,Male,Electronics,3.4,Returned,Positive,8.20,nan,NaN,no_data,unknown
18,2023-01-19,1901,103,6,56.02,0.29,238.6452,4,South,Credit Card,...,Other,Books,3.0,Not Returned,Negative,16.59,nan,2.2,First-time customer,value_2
19,2023-01-20,1859,125,6,24.67,0.28,106.5744,6,North,Online,...,Male,Food,3.0,Not Returned,Positive,16.18,WELCOME5,3.0,unknown,unknown
20,2023-01-21,1047,174,7,39.14,0.19,221.9238,6,South,Credit Card,...,Male,Books,3.7,Returned,Negative,16.91,FREESHIP,NaN,Requested gift wrap,no_data
21,2023-01-22,1117,159,2,25.63,0.03,49.7222,9,South,Cash,...,Male,Clothing,2.3,Returned,Neutral,9.84,FREESHIP,3.2,First-time customer,unknown
22,2023-01-23,1345,105,1,52.61,0.29,37.3531,8,West,Credit Card,...,Male,Books,4.0,Returned,Positive,10.86,FREESHIP,4.1,Preferred morning delivery,unknown
23,2023-01-24,1780,190,9,94.72,0.16,716.0832,9,North,Credit Card,...,Other,Electronics,1.3,Not Returned,Neutral,15.76,WELCOME5,NaN,Preferred morning delivery,value_2
24,2023-01-25,1119,144,2,13.37,0.17,22.1942,2,South,Credit Card,...,Male,Clothing,3.7,Returned,Negative,NaN,SAVE10,1.4,Used loyalty points,no_data
25,2023-01-26,1505,191,4,75.55,0.02,296.1560,2,South,Online,...,Female,Clothing,2.8,Not Returned,Neutral,NaN,nan,4.3,Frequent buyer,value_4
26,2023-01-27,1610,186,4,79.99,0.11,284.7644,7,East,Cash,...,Other,Clothing,3.4,Returned,Positive,18.48,nan,5.0,unknown,value_1
27,2023-01-28,1356,134,1,41.89,0.23,32.2553,6,East,Cash,...,Other,Food,2.3,Returned,Positive,19.96,nan,3.4,Preferred morning delivery,unknown
28,2023-01-29,1548,160,4,14.21,0.14,48.8824,3,West,Credit Card,...,Female,Clothing,2.7,Not Returned,Negative,15.61,nan,3.7,no_data,value_2
29,2023-01-30,1740,128,4,84.35,0.03,327.2780,5,East,Online,...,Female,Food,2.9,Not Returned,Negative,13.62,SAVE10,1.0,no_data,value_3
30,2023-01-31,1435,117,2,58.78,0.00,117.5600,7,East,Cash,...,Other,Electronics,1.3,Not Returned,Positive,11.51,WELCOME5,NaN,Preferred morning delivery,unknown
31,2023-02-01,1846,113,7,52.27,0.10,329.3010,7,East,Online,...,Female,Books,2.4,Returned,Positive,19.30,SAVE10,1.8,no_data,value_5
32,2023-02-02,1166,165,8,90.67,0.27,529.5128,1,North,Online,...,Other,Clothing,4.4,Not Returned,Negative,NaN,nan,3.2,unknown,no_data
33,2023-02-03,1097,158,5,39.08,0.01,193.4460,3,West,Cash,...,Other,Books,3.8,Not Returned,Neutral,NaN,nan,3.3,Frequent buyer,value_1
34,2023-02-04,1895,185,2,33.35,0.14,57.3620,6,North,Credit Card,...,Other,Books,1.5,Not Returned,Negative,18.74,nan,4.5,Frequent buyer,no_data

<div class="alert alert-success">

**Solution 04:**
</div>

In [10]:
df.replace({
    'customer_note': {
        'no_data': np.nan,
        'unknown': np.nan
    },
    'customer_values': {
        'no_data': np.nan,
        'unknown': np.nan
    }
}, inplace=True)

display(df.isna().any())
display(df.isna().sum())

date                False
customer_id         False
product_id          False
quantity            False
price               False
discount            False
revenue             False
store_id            False
region              False
payment_method      False
is_member           False
delivery_days       False
customer_age        False
gender              False
product_category    False
rating              False
return_status       False
feedback            False
shipping_cost        True
coupon_code         False
delivery_rating      True
customer_note        True
customer_values      True
dtype: bool

date                 0
customer_id          0
product_id           0
quantity             0
price                0
discount             0
revenue              0
store_id             0
region               0
payment_method       0
is_member            0
delivery_days        0
customer_age         0
gender               0
product_category     0
rating               0
return_status        0
feedback             0
shipping_cost        8
coupon_code          0
delivery_rating      7
customer_note       15
customer_values     14
dtype: int64

<div class="alert alert-warning">

**5. Drop Rows with Any Missing Value**

**Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.**

</div>

In [11]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1126,191,5,76.05,0.11,338.4225,5,East,Online,...,Male,Electronics,3.7,Returned,Negative,13.66,nan,NaN,no_data,value_1
1,2023-01-02,1220,131,8,72.61,0.12,511.1744,5,North,Credit Card,...,Other,Food,2.1,Not Returned,Negative,7.52,SAVE10,NaN,unknown,unknown
2,2023-01-03,1052,143,5,19.24,0.15,81.7700,3,West,Cash,...,Other,Clothing,3.4,Returned,Neutral,18.38,WELCOME5,NaN,Preferred morning delivery,no_data
3,2023-01-04,1379,122,2,58.88,0.12,103.6288,3,West,Cash,...,Female,Books,1.6,Returned,Negative,8.36,SAVE10,2.1,Used loyalty points,unknown
4,2023-01-05,1644,142,7,99.15,0.24,527.4780,9,North,Online,...,Other,Food,2.0,Returned,Neutral,16.36,WELCOME5,2.4,no_data,value_4
5,2023-01-06,1554,134,8,29.69,0.27,173.3896,6,West,Credit Card,...,Male,Clothing,3.7,Not Returned,Positive,8.01,WELCOME5,1.1,Frequent buyer,no_data
6,2023-01-07,1629,156,9,17.50,0.11,140.1750,7,North,Cash,...,Male,Clothing,2.3,Not Returned,Negative,12.40,nan,4.7,no_data,no_data
7,2023-01-08,1778,160,4,49.60,0.16,166.6560,9,North,Credit Card,...,Other,Electronics,4.7,Not Returned,Positive,17.23,nan,2.1,no_data,unknown
8,2023-01-09,1962,130,9,57.37,0.22,402.7374,3,West,Cash,...,Male,Clothing,2.3,Returned,Negative,17.07,nan,NaN,unknown,value_1
9,2023-01-10,1791,121,6,16.06,0.08,88.6512,7,South,Credit Card,...,Male,Electronics,1.7,Not Returned,Neutral,13.21,SAVE10,1.1,no_data,value_5
10,2023-01-11,1605,185,8,84.13,0.22,524.9712,2,North,Credit Card,...,Male,Books,4.7,Not Returned,Neutral,5.28,nan,2.2,no_data,no_data
11,2023-01-12,1770,139,5,12.11,0.14,52.0730,2,South,Credit Card,...,Male,Clothing,1.4,Returned,Negative,NaN,nan,3.0,no_data,no_data
12,2023-01-13,1271,151,2,33.25,0.23,51.2050,3,South,Cash,...,Other,Books,5.0,Returned,Positive,11.14,nan,3.6,Used loyalty points,value_4
13,2023-01-14,1068,112,5,75.92,0.15,322.6600,2,East,Credit Card,...,Male,Electronics,1.3,Returned,Neutral,12.38,SAVE10,4.1,unknown,value_4
14,2023-01-15,1403,143,4,62.87,0.23,193.6396,4,West,Online,...,Other,Food,1.1,Not Returned,Neutral,8.34,SAVE10,2.4,unknown,unknown
15,2023-01-16,1299,183,2,49.33,0.02,96.6868,3,East,Credit Card,...,Male,Electronics,2.3,Not Returned,Neutral,19.09,nan,1.7,Preferred morning delivery,no_data
16,2023-01-17,1086,121,2,86.47,0.27,126.2462,9,South,Credit Card,...,Female,Electronics,2.9,Returned,Negative,NaN,WELCOME5,3.8,no_data,value_2
17,2023-01-18,1228,185,4,86.23,0.06,324.2248,9,East,Online,...,Male,Food,4.2,Returned,Neutral,12.31,SAVE10,3.2,no_data,unknown
18,2023-01-19,1717,165,4,79.11,0.09,287.9604,5,East,Cash,...,Male,Clothing,1.2,Not Returned,Negative,NaN,WELCOME5,4.5,unknown,value_5
19,2023-01-20,1288,185,9,22.59,0.08,187.0452,9,North,Credit Card,...,Other,Food,4.8,Returned,Neutral,NaN,FREESHIP,4.1,Used loyalty points,value_4
20,2023-01-21,1570,193,3,43.56,0.24,99.3168,4,East,Online,...,Female,Books,3.5,Not Returned,Positive,11.77,FREESHIP,NaN,no_data,value_5
21,2023-01-22,1010,193,8,24.54,0.20,157.0560,3,South,Online,...,Female,Clothing,4.6,Returned,Neutral,9.40,WELCOME5,3.0,Requested gift wrap,unknown
22,2023-01-23,1001,110,7,10.22,0.10,64.3860,1,West,Online,...,Male,Clothing,4.8,Returned,Negative,NaN,nan,3.8,Requested gift wrap,value_1
23,2023-01-24,1082,198,1,95.15,0.09,86.5865,3,East,Cash,...,Other,Clothing,3.1,Not Returned,Negative,5.75,FREESHIP,2.5,Requested gift wrap,value_5
24,2023-01-25,1585,156,2,29.30,0.15,49.8100,3,South,Online,...,Other,Food,1.1,Returned,Neutral,11.29,SAVE10,2.0,no_data,unknown
25,2023-01-26,1408,187,9,87.79,0.18,647.8902,2,East,Credit Card,...,Other,Food,1.5,Returned,Neutral,9.00,nan,1.3,Used loyalty points,value_4
26,2023-01-27,1875,162,9,40.94,0.24,280.0296,8,East,Credit Card,...,Female,Food,1.9,Not Returned,Positive,19.32,FREESHIP,3.2,no_data,value_3
27,2023-01-28,1083,187,6,62.80,0.18,308.9760,9,West,Credit Card,...,Female,Food,4.9,Returned,Neutral,8.41,nan,1.2,Frequent buyer,value_1
28,2023-01-29,1648,183,7,91.19,0.27,465.9809,8,South,Online,...,Female,Books,3.2,Not Returned,Negative,17.74,WELCOME5,NaN,Used loyalty points,no_data
29,2023-01-30,1057,159,1,97.29,0.18,79.7778,9,East,Cash,...,Female,Clothing,5.0,Not Returned,Positive,12.72,nan,1.8,Frequent buyer,value_5
30,2023-01-31,1858,105,4,73.63,0.24,223.8352,9,West,Cash,...,Other,Clothing,2.5,Returned,Neutral,6.53,FREESHIP,NaN,unknown,no_data
31,2023-02-01,1081,169,9,73.40,0.14,568.1160,2,North,Cash,...,Female,Electronics,1.0,Not Returned,Neutral,16.20,nan,3.5,Used loyalty points,value_3
32,2023-02-02,1977,195,6,95.35,0.10,514.8900,6,North,Online,...,Other,Clothing,4.8,Returned,Negative,14.47,WELCOME5,2.7,Frequent buyer,no_data
33,2023-02-03,1892,124,5,10.31,0.10,46.3950,1,West,Online,...,Female,Books,4.8,Returned,Positive,16.63,WELCOME5,3.2,unknown,no_data
34,2023-02-04,1826,144,4,63.71,0.29,180.9364,5,West,Online,...,Other,Books,2.3,Not Returned,Negative,17.91,nan,1.6,Frequent buyer,value_3

<div class="alert alert-success">

**Solution 05:**
</div>

In [12]:
dropped_df = df.dropna(how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
3,2023-01-04,1379,122,2,58.88,0.12,103.6288,3,West,Cash,...,Female,Books,1.6,Returned,Negative,8.36,SAVE10,2.1,Used loyalty points,unknown
4,2023-01-05,1644,142,7,99.15,0.24,527.4780,9,North,Online,...,Other,Food,2.0,Returned,Neutral,16.36,WELCOME5,2.4,no_data,value_4
5,2023-01-06,1554,134,8,29.69,0.27,173.3896,6,West,Credit Card,...,Male,Clothing,3.7,Not Returned,Positive,8.01,WELCOME5,1.1,Frequent buyer,no_data
6,2023-01-07,1629,156,9,17.50,0.11,140.1750,7,North,Cash,...,Male,Clothing,2.3,Not Returned,Negative,12.40,nan,4.7,no_data,no_data
7,2023-01-08,1778,160,4,49.60,0.16,166.6560,9,North,Credit Card,...,Other,Electronics,4.7,Not Returned,Positive,17.23,nan,2.1,no_data,unknown
9,2023-01-10,1791,121,6,16.06,0.08,88.6512,7,South,Credit Card,...,Male,Electronics,1.7,Not Returned,Neutral,13.21,SAVE10,1.1,no_data,value_5
10,2023-01-11,1605,185,8,84.13,0.22,524.9712,2,North,Credit Card,...,Male,Books,4.7,Not Returned,Neutral,5.28,nan,2.2,no_data,no_data
12,2023-01-13,1271,151,2,33.25,0.23,51.2050,3,South,Cash,...,Other,Books,5.0,Returned,Positive,11.14,nan,3.6,Used loyalty points,value_4
13,2023-01-14,1068,112,5,75.92,0.15,322.6600,2,East,Credit Card,...,Male,Electronics,1.3,Returned,Neutral,12.38,SAVE10,4.1,unknown,value_4
14,2023-01-15,1403,143,4,62.87,0.23,193.6396,4,West,Online,...,Other,Food,1.1,Not Returned,Neutral,8.34,SAVE10,2.4,unknown,unknown
15,2023-01-16,1299,183,2,49.33,0.02,96.6868,3,East,Credit Card,...,Male,Electronics,2.3,Not Returned,Neutral,19.09,nan,1.7,Preferred morning delivery,no_data
17,2023-01-18,1228,185,4,86.23,0.06,324.2248,9,East,Online,...,Male,Food,4.2,Returned,Neutral,12.31,SAVE10,3.2,no_data,unknown
21,2023-01-22,1010,193,8,24.54,0.20,157.0560,3,South,Online,...,Female,Clothing,4.6,Returned,Neutral,9.40,WELCOME5,3.0,Requested gift wrap,unknown
23,2023-01-24,1082,198,1,95.15,0.09,86.5865,3,East,Cash,...,Other,Clothing,3.1,Not Returned,Negative,5.75,FREESHIP,2.5,Requested gift wrap,value_5
24,2023-01-25,1585,156,2,29.30,0.15,49.8100,3,South,Online,...,Other,Food,1.1,Returned,Neutral,11.29,SAVE10,2.0,no_data,unknown
25,2023-01-26,1408,187,9,87.79,0.18,647.8902,2,East,Credit Card,...,Other,Food,1.5,Returned,Neutral,9.00,nan,1.3,Used loyalty points,value_4
26,2023-01-27,1875,162,9,40.94,0.24,280.0296,8,East,Credit Card,...,Female,Food,1.9,Not Returned,Positive,19.32,FREESHIP,3.2,no_data,value_3
27,2023-01-28,1083,187,6,62.80,0.18,308.9760,9,West,Credit Card,...,Female,Food,4.9,Returned,Neutral,8.41,nan,1.2,Frequent buyer,value_1
29,2023-01-30,1057,159,1,97.29,0.18,79.7778,9,East,Cash,...,Female,Clothing,5.0,Not Returned,Positive,12.72,nan,1.8,Frequent buyer,value_5
31,2023-02-01,1081,169,9,73.40,0.14,568.1160,2,North,Cash,...,Female,Electronics,1.0,Not Returned,Neutral,16.20,nan,3.5,Used loyalty points,value_3
32,2023-02-02,1977,195,6,95.35,0.10,514.8900,6,North,Online,...,Other,Clothing,4.8,Returned,Negative,14.47,WELCOME5,2.7,Frequent buyer,no_data
33,2023-02-03,1892,124,5,10.31,0.10,46.3950,1,West,Online,...,Female,Books,4.8,Returned,Positive,16.63,WELCOME5,3.2,unknown,no_data
34,2023-02-04,1826,144,4,63.71,0.29,180.9364,5,West,Online,...,Other,Books,2.3,Not Returned,Negative,17.91,nan,1.6,Frequent buyer,value_3

<div class="alert alert-warning">

**6. Drop Columns with Any Missing Value**

**Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.**

</div>

In [13]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Display the updated DataFrame
display(df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,gender,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values
0,2023-01-01,1881,114,5,28.10,0.06,132.0700,2,East,Online,...,Female,Clothing,4.0,Not Returned,Negative,19.77,WELCOME5,4.1,unknown,value_4
1,2023-01-02,1802,184,7,54.35,0.05,361.4275,8,South,Online,...,Male,Food,3.7,Returned,Neutral,10.87,SAVE10,NaN,unknown,unknown
2,2023-01-03,1888,149,9,10.16,0.13,79.5528,4,North,Online,...,Male,Books,4.3,Returned,Negative,10.44,WELCOME5,1.5,unknown,unknown
3,2023-01-04,1633,119,9,80.99,0.27,532.1043,1,West,Credit Card,...,Other,Books,1.5,Not Returned,Negative,5.64,FREESHIP,NaN,Requested gift wrap,unknown
4,2023-01-05,1695,186,4,26.16,0.14,89.9904,1,East,Cash,...,Female,Clothing,1.3,Returned,Negative,11.29,WELCOME5,1.6,Requested gift wrap,no_data
5,2023-01-06,1336,181,9,60.73,0.13,475.5159,4,West,Credit Card,...,Female,Clothing,3.0,Not Returned,Neutral,19.60,WELCOME5,NaN,Preferred morning delivery,value_2
6,2023-01-07,1739,144,5,47.56,0.22,185.4840,2,North,Credit Card,...,Other,Electronics,2.1,Not Returned,Negative,15.01,nan,2.9,Preferred morning delivery,unknown
7,2023-01-08,1278,191,1,85.97,0.19,69.6357,2,North,Credit Card,...,Female,Clothing,2.9,Not Returned,Positive,7.44,nan,NaN,First-time customer,unknown
8,2023-01-09,1946,140,1,13.07,0.27,9.5411,1,South,Credit Card,...,Other,Books,4.4,Returned,Negative,13.94,nan,NaN,no_data,no_data
9,2023-01-10,1560,120,3,78.53,0.02,230.8782,5,South,Cash,...,Female,Books,1.7,Not Returned,Neutral,14.92,SAVE10,4.9,First-time customer,value_4
10,2023-01-11,1839,107,6,68.49,0.16,345.1896,2,South,Cash,...,Female,Food,1.7,Returned,Neutral,NaN,FREESHIP,1.6,First-time customer,value_5
11,2023-01-12,1212,189,4,60.89,0.30,170.4920,9,South,Online,...,Female,Clothing,3.2,Returned,Negative,7.33,FREESHIP,4.3,unknown,value_4
12,2023-01-13,1005,116,1,31.85,0.20,25.4800,4,East,Credit Card,...,Male,Books,1.3,Returned,Negative,NaN,SAVE10,3.6,Used loyalty points,no_data
13,2023-01-14,1834,158,5,31.59,0.00,157.9500,3,East,Cash,...,Female,Food,2.7,Not Returned,Negative,NaN,WELCOME5,3.8,unknown,value_3
14,2023-01-15,1638,139,7,13.82,0.10,87.0660,2,South,Online,...,Male,Food,2.6,Returned,Positive,17.02,nan,NaN,Requested gift wrap,no_data
15,2023-01-16,1465,168,7,64.22,0.21,355.1366,2,North,Cash,...,Female,Books,1.6,Not Returned,Positive,19.50,FREESHIP,2.2,Requested gift wrap,value_3
16,2023-01-17,1649,175,4,66.83,0.10,240.5880,3,East,Online,...,Other,Books,4.9,Returned,Neutral,11.52,SAVE10,2.2,no_data,unknown
17,2023-01-18,1729,125,2,59.33,0.13,103.2342,3,South,Online,...,Male,Food,3.3,Not Returned,Positive,15.36,FREESHIP,2.4,First-time customer,unknown
18,2023-01-19,1027,192,9,94.80,0.12,750.8160,2,West,Online,...,Other,Food,1.8,Returned,Negative,19.09,FREESHIP,NaN,unknown,unknown
19,2023-01-20,1165,162,4,15.26,0.22,47.6112,4,North,Cash,...,Female,Electronics,1.2,Returned,Positive,12.76,FREESHIP,NaN,unknown,no_data
20,2023-01-21,1961,105,5,77.42,0.03,375.4870,3,North,Cash,...,Male,Food,3.6,Returned,Positive,19.66,FREESHIP,1.2,Requested gift wrap,value_5
21,2023-01-22,1440,128,7,39.39,0.27,201.2829,6,East,Cash,...,Other,Electronics,3.1,Returned,Negative,18.67,WELCOME5,NaN,unknown,unknown
22,2023-01-23,1414,192,4,36.62,0.17,121.5784,8,North,Online,...,Other,Electronics,1.4,Returned,Neutral,NaN,FREESHIP,NaN,Frequent buyer,unknown
23,2023-01-24,1042,164,2,56.25,0.26,83.2500,3,East,Credit Card,...,Other,Food,2.4,Not Returned,Positive,9.56,nan,NaN,Used loyalty points,value_2
24,2023-01-25,1338,172,8,29.90,0.13,208.1040,6,West,Cash,...,Male,Food,3.5,Returned,Neutral,18.71,SAVE10,NaN,unknown,no_data
25,2023-01-26,1354,148,8,46.89,0.13,326.3544,8,East,Online,...,Female,Electronics,3.4,Returned,Negative,11.38,nan,NaN,no_data,no_data
26,2023-01-27,1227,102,1,89.94,0.09,81.8454,4,West,Online,...,Female,Electronics,1.9,Returned,Neutral,7.88,nan,2.1,unknown,value_1
27,2023-01-28,1840,160,7,64.53,0.17,374.9193,5,East,Online,...,Other,Clothing,2.6,Returned,Positive,NaN,nan,4.7,Used loyalty points,no_data
28,2023-01-29,1889,154,2,27.33,0.15,46.4610,8,East,Online,...,Other,Electronics,2.6,Not Returned,Negative,NaN,SAVE10,3.7,no_data,unknown
29,2023-01-30,1025,129,4,66.06,0.21,208.7496,3,West,Credit Card,...,Other,Books,2.9,Returned,Positive,8.24,nan,3.8,Frequent buyer,value_5
30,2023-01-31,1330,131,5,13.69,0.23,52.7065,3,East,Cash,...,Other,Electronics,4.5,Not Returned,Neutral,16.59,FREESHIP,1.0,Frequent buyer,value_1
31,2023-02-01,1840,179,4,67.77,0.20,216.8640,9,East,Cash,...,Female,Food,2.4,Not Returned,Positive,NaN,FREESHIP,1.3,Used loyalty points,value_1
32,2023-02-02,1635,121,7,27.82,0.30,136.3180,2,South,Cash,...,Other,Food,4.2,Not Returned,Neutral,7.57,WELCOME5,NaN,Used loyalty points,unknown
33,2023-02-03,1501,141,1,26.42,0.10,23.7780,4,North,Online,...,Other,Electronics,1.5,Not Returned,Positive,15.26,FREESHIP,3.0,Frequent buyer,value_1
34,2023-02-04,1962,125,3,14.73,0.24,33.5844,3,North,Credit Card,...,Other,Food,4.1,Returned,Positive,9.33,nan,4.8,no_data,value_4

<div class="alert alert-success">

**Solution 06:**
</div>

In [14]:
# Drop columns with any missing value
dropped_df = df.dropna(axis=1, how='any')
display(dropped_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,delivery_days,customer_age,gender,product_category,rating,return_status,feedback,coupon_code,customer_note,customer_values
0,2023-01-01,1881,114,5,28.10,0.06,132.0700,2,East,Online,...,5,26,Female,Clothing,4.0,Not Returned,Negative,WELCOME5,unknown,value_4
1,2023-01-02,1802,184,7,54.35,0.05,361.4275,8,South,Online,...,4,22,Male,Food,3.7,Returned,Neutral,SAVE10,unknown,unknown
2,2023-01-03,1888,149,9,10.16,0.13,79.5528,4,North,Online,...,6,37,Male,Books,4.3,Returned,Negative,WELCOME5,unknown,unknown
3,2023-01-04,1633,119,9,80.99,0.27,532.1043,1,West,Credit Card,...,4,50,Other,Books,1.5,Not Returned,Negative,FREESHIP,Requested gift wrap,unknown
4,2023-01-05,1695,186,4,26.16,0.14,89.9904,1,East,Cash,...,1,66,Female,Clothing,1.3,Returned,Negative,WELCOME5,Requested gift wrap,no_data
5,2023-01-06,1336,181,9,60.73,0.13,475.5159,4,West,Credit Card,...,3,32,Female,Clothing,3.0,Not Returned,Neutral,WELCOME5,Preferred morning delivery,value_2
6,2023-01-07,1739,144,5,47.56,0.22,185.4840,2,North,Credit Card,...,6,42,Other,Electronics,2.1,Not Returned,Negative,nan,Preferred morning delivery,unknown
7,2023-01-08,1278,191,1,85.97,0.19,69.6357,2,North,Credit Card,...,6,59,Female,Clothing,2.9,Not Returned,Positive,nan,First-time customer,unknown
8,2023-01-09,1946,140,1,13.07,0.27,9.5411,1,South,Credit Card,...,1,47,Other,Books,4.4,Returned,Negative,nan,no_data,no_data
9,2023-01-10,1560,120,3,78.53,0.02,230.8782,5,South,Cash,...,5,64,Female,Books,1.7,Not Returned,Neutral,SAVE10,First-time customer,value_4
10,2023-01-11,1839,107,6,68.49,0.16,345.1896,2,South,Cash,...,5,56,Female,Food,1.7,Returned,Neutral,FREESHIP,First-time customer,value_5
11,2023-01-12,1212,189,4,60.89,0.30,170.4920,9,South,Online,...,6,28,Female,Clothing,3.2,Returned,Negative,FREESHIP,unknown,value_4
12,2023-01-13,1005,116,1,31.85,0.20,25.4800,4,East,Credit Card,...,6,50,Male,Books,1.3,Returned,Negative,SAVE10,Used loyalty points,no_data
13,2023-01-14,1834,158,5,31.59,0.00,157.9500,3,East,Cash,...,2,51,Female,Food,2.7,Not Returned,Negative,WELCOME5,unknown,value_3
14,2023-01-15,1638,139,7,13.82,0.10,87.0660,2,South,Online,...,3,68,Male,Food,2.6,Returned,Positive,nan,Requested gift wrap,no_data
15,2023-01-16,1465,168,7,64.22,0.21,355.1366,2,North,Cash,...,5,51,Female,Books,1.6,Not Returned,Positive,FREESHIP,Requested gift wrap,value_3
16,2023-01-17,1649,175,4,66.83,0.10,240.5880,3,East,Online,...,3,19,Other,Books,4.9,Returned,Neutral,SAVE10,no_data,unknown
17,2023-01-18,1729,125,2,59.33,0.13,103.2342,3,South,Online,...,6,21,Male,Food,3.3,Not Returned,Positive,FREESHIP,First-time customer,unknown
18,2023-01-19,1027,192,9,94.80,0.12,750.8160,2,West,Online,...,2,55,Other,Food,1.8,Returned,Negative,FREESHIP,unknown,unknown
19,2023-01-20,1165,162,4,15.26,0.22,47.6112,4,North,Cash,...,3,48,Female,Electronics,1.2,Returned,Positive,FREESHIP,unknown,no_data
20,2023-01-21,1961,105,5,77.42,0.03,375.4870,3,North,Cash,...,1,45,Male,Food,3.6,Returned,Positive,FREESHIP,Requested gift wrap,value_5
21,2023-01-22,1440,128,7,39.39,0.27,201.2829,6,East,Cash,...,6,59,Other,Electronics,3.1,Returned,Negative,WELCOME5,unknown,unknown
22,2023-01-23,1414,192,4,36.62,0.17,121.5784,8,North,Online,...,6,32,Other,Electronics,1.4,Returned,Neutral,FREESHIP,Frequent buyer,unknown
23,2023-01-24,1042,164,2,56.25,0.26,83.2500,3,East,Credit Card,...,3,22,Other,Food,2.4,Not Returned,Positive,nan,Used loyalty points,value_2
24,2023-01-25,1338,172,8,29.90,0.13,208.1040,6,West,Cash,...,5,22,Male,Food,3.5,Returned,Neutral,SAVE10,unknown,no_data
25,2023-01-26,1354,148,8,46.89,0.13,326.3544,8,East,Online,...,3,69,Female,Electronics,3.4,Returned,Negative,nan,no_data,no_data
26,2023-01-27,1227,102,1,89.94,0.09,81.8454,4,West,Online,...,2,60,Female,Electronics,1.9,Returned,Neutral,nan,unknown,value_1
27,2023-01-28,1840,160,7,64.53,0.17,374.9193,5,East,Online,...,2,46,Other,Clothing,2.6,Returned,Positive,nan,Used loyalty points,no_data
28,2023-01-29,1889,154,2,27.33,0.15,46.4610,8,East,Online,...,6,41,Other,Electronics,2.6,Not Returned,Negative,SAVE10,no_data,unknown
29,2023-01-30,1025,129,4,66.06,0.21,208.7496,3,West,Credit Card,...,3,21,Other,Books,2.9,Returned,Positive,nan,Frequent buyer,value_5
30,2023-01-31,1330,131,5,13.69,0.23,52.7065,3,East,Cash,...,4,69,Other,Electronics,4.5,Not Returned,Neutral,FREESHIP,Frequent buyer,value_1
31,2023-02-01,1840,179,4,67.77,0.20,216.8640,9,East,Cash,...,2,50,Female,Food,2.4,Not Returned,Positive,FREESHIP,Used loyalty points,value_1
32,2023-02-02,1635,121,7,27.82,0.30,136.3180,2,South,Cash,...,4,67,Other,Food,4.2,Not Returned,Neutral,WELCOME5,Used loyalty points,unknown
33,2023-02-03,1501,141,1,26.42,0.10,23.7780,4,North,Online,...,1,40,Other,Electronics,1.5,Not Returned,Positive,FREESHIP,Frequent buyer,value_1
34,2023-02-04,1962,125,3,14.73,0.24,33.5844,3,North,Credit Card,...,1,52,Other,Food,4.1,Returned,Positive,nan,no_data,value_4

<div class="alert alert-warning">

**7. Drop Rows with All Missing Values**

**Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.**

</div>

In [15]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1857.0,185.0,4.0,90.13,0.24,273.9952,8.0,West,Credit Card,...,Food,1.8,Not Returned,Neutral,6.05,WELCOME5,NaN,Used loyalty points,no_data,NaN
1,2023-01-02,1265.0,160.0,9.0,85.56,0.14,662.2344,8.0,West,Cash,...,Electronics,2.3,Returned,Neutral,18.33,nan,4.6,no_data,unknown,NaN
2,2023-01-03,1296.0,127.0,4.0,16.00,0.14,55.0400,6.0,West,Online,...,Food,1.2,Not Returned,Neutral,NaN,nan,NaN,no_data,value_4,NaN
3,2023-01-04,1507.0,117.0,4.0,38.48,0.23,118.5184,3.0,South,Cash,...,Electronics,3.1,Returned,Positive,12.53,nan,3.2,unknown,value_3,NaN
4,2023-01-05,1243.0,170.0,2.0,33.34,0.17,55.3444,7.0,North,Online,...,Books,4.8,Returned,Positive,6.36,FREESHIP,2.3,no_data,value_5,NaN
5,2023-01-06,1234.0,129.0,9.0,91.66,0.20,659.9520,2.0,South,Credit Card,...,Food,3.6,Returned,Neutral,16.66,WELCOME5,1.3,Frequent buyer,no_data,NaN
6,2023-01-07,1693.0,197.0,3.0,82.83,0.09,226.1259,4.0,North,Cash,...,Books,4.9,Not Returned,Negative,6.46,WELCOME5,4.5,Used loyalty points,no_data,NaN
7,2023-01-08,1699.0,153.0,5.0,13.57,0.18,55.6370,7.0,East,Online,...,Electronics,3.5,Returned,Negative,6.41,FREESHIP,NaN,no_data,value_1,NaN
8,2023-01-09,1941.0,196.0,4.0,75.76,0.01,300.0096,4.0,North,Credit Card,...,Books,3.3,Not Returned,Negative,8.38,nan,NaN,Preferred morning delivery,value_5,NaN
9,2023-01-10,1018.0,120.0,6.0,32.91,0.26,146.1204,6.0,East,Online,...,Clothing,3.8,Returned,Negative,NaN,SAVE10,1.3,no_data,no_data,NaN
10,2023-01-11,1275.0,198.0,8.0,26.33,0.21,166.4056,5.0,South,Online,...,Books,4.3,Not Returned,Positive,14.33,nan,3.1,unknown,value_5,NaN
11,2023-01-12,1132.0,150.0,8.0,72.40,0.15,492.3200,4.0,West,Online,...,Clothing,3.2,Returned,Positive,NaN,WELCOME5,3.2,unknown,unknown,NaN
12,2023-01-13,1362.0,108.0,5.0,46.77,0.15,198.7725,7.0,East,Credit Card,...,Electronics,1.5,Not Returned,Neutral,14.35,WELCOME5,NaN,unknown,no_data,NaN
13,2023-01-14,1733.0,145.0,3.0,35.10,0.10,94.7700,4.0,East,Cash,...,Books,1.5,Returned,Neutral,14.09,WELCOME5,1.2,Frequent buyer,value_3,NaN
14,2023-01-15,1954.0,129.0,1.0,19.77,0.24,15.0252,5.0,South,Cash,...,Electronics,4.3,Not Returned,Negative,NaN,nan,NaN,Requested gift wrap,value_4,NaN
15,2023-01-16,1072.0,189.0,8.0,80.66,0.17,535.5824,5.0,West,Cash,...,Electronics,1.9,Returned,Negative,16.25,nan,1.1,First-time customer,no_data,NaN
16,2023-01-17,1130.0,144.0,5.0,15.99,0.22,62.3610,9.0,North,Credit Card,...,Food,3.9,Not Returned,Neutral,17.38,nan,NaN,no_data,no_data,NaN
17,2023-01-18,1450.0,127.0,1.0,23.87,0.23,18.3799,2.0,South,Credit Card,...,Electronics,1.5,Returned,Positive,11.26,SAVE10,NaN,no_data,value_3,NaN
18,2023-01-19,1387.0,170.0,6.0,74.32,0.20,356.7360,2.0,North,Credit Card,...,Electronics,4.4,Returned,Positive,NaN,nan,2.0,Frequent buyer,value_3,NaN
19,2023-01-20,1955.0,162.0,3.0,54.97,0.15,140.1735,9.0,East,Credit Card,...,Food,3.4,Not Returned,Neutral,NaN,SAVE10,2.0,unknown,value_1,NaN
20,2023-01-21,1026.0,155.0,2.0,81.69,0.11,145.4082,2.0,North,Cash,...,Food,4.4,Returned,Positive,14.84,SAVE10,NaN,unknown,value_4,NaN
21,2023-01-22,1999.0,178.0,6.0,60.39,0.06,340.5996,6.0,East,Cash,...,Clothing,4.1,Not Returned,Negative,13.86,nan,2.0,First-time customer,unknown,NaN
22,2023-01-23,1219.0,185.0,3.0,25.21,0.23,58.2351,1.0,South,Cash,...,Food,1.0,Returned,Positive,12.21,nan,1.0,Frequent buyer,value_3,NaN
23,2023-01-24,1662.0,116.0,5.0,82.14,0.23,316.2390,3.0,South,Online,...,Clothing,4.1,Returned,Positive,17.37,WELCOME5,2.0,unknown,value_1,NaN
24,2023-01-25,1763.0,167.0,2.0,60.90,0.12,107.1840,4.0,East,Credit Card,...,Books,1.5,Returned,Positive,14.34,nan,5.0,First-time customer,unknown,NaN
25,2023-01-26,1736.0,128.0,7.0,35.82,0.14,215.6364,9.0,East,Online,...,Books,4.1,Returned,Positive,19.45,WELCOME5,1.4,unknown,unknown,NaN
26,2023-01-27,1634.0,120.0,2.0,53.72,0.01,106.3656,2.0,North,Credit Card,...,Books,1.2,Returned,Neutral,17.81,nan,3.1,unknown,value_4,NaN
27,2023-01-28,1906.0,164.0,1.0,37.49,0.28,26.9928,2.0,South,Cash,...,Food,3.6,Returned,Neutral,12.32,nan,1.6,no_data,value_4,NaN
28,2023-01-29,1656.0,176.0,8.0,74.87,0.13,521.0952,6.0,West,Online,...,Clothing,3.8,Returned,Negative,18.26,SAVE10,NaN,First-time customer,value_4,NaN
29,2023-01-30,1839.0,139.0,4.0,36.32,0.02,142.3744,1.0,West,Cash,...,Books,3.9,Not Returned,Positive,15.50,nan,4.7,unknown,unknown,NaN
30,2023-01-31,1138.0,118.0,5.0,43.82,0.00,219.1000,1.0,North,Online,...,Food,1.3,Returned,Negative,13.16,FREESHIP,1.5,unknown,unknown,NaN
31,2023-02-01,1222.0,118.0,4.0,89.67,0.06,337.1592,6.0,East,Credit Card,...,Clothing,2.3,Returned,Neutral,12.79,nan,NaN,Used loyalty points,value_1,NaN
32,2023-02-02,1686.0,149.0,1.0,83.22,0.14,71.5692,1.0,North,Credit Card,...,Books,2.7,Not Returned,Positive,6.30,SAVE10,1.5,no_data,value_3,NaN
33,2023-02-03,1389.0,135.0,3.0,83.64,0.04,240.8832,1.0,South,Online,...,Electronics,2.1,Not Returned,Neutral,15.91,nan,2.9,no_data,value_3,NaN
34,2023-02-04,1555.0,198.0,1.0,79.39,0.03,77.0083,7.0,North,Online,...,Clothing,3.4,Not Returned,Positive,16.73,SAVE10,NaN,Used loyalty points,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 07:**
</div>

In [16]:
# Write a Pandas program to drop the rows where all elements are missing in a given DataFrame
df_dropped = df.dropna(how='all')

# Display the DataFrame after dropping rows
display(df_dropped)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1857.0,185.0,4.0,90.13,0.24,273.9952,8.0,West,Credit Card,...,Food,1.8,Not Returned,Neutral,6.05,WELCOME5,NaN,Used loyalty points,no_data,NaN
1,2023-01-02,1265.0,160.0,9.0,85.56,0.14,662.2344,8.0,West,Cash,...,Electronics,2.3,Returned,Neutral,18.33,nan,4.6,no_data,unknown,NaN
2,2023-01-03,1296.0,127.0,4.0,16.00,0.14,55.0400,6.0,West,Online,...,Food,1.2,Not Returned,Neutral,NaN,nan,NaN,no_data,value_4,NaN
3,2023-01-04,1507.0,117.0,4.0,38.48,0.23,118.5184,3.0,South,Cash,...,Electronics,3.1,Returned,Positive,12.53,nan,3.2,unknown,value_3,NaN
4,2023-01-05,1243.0,170.0,2.0,33.34,0.17,55.3444,7.0,North,Online,...,Books,4.8,Returned,Positive,6.36,FREESHIP,2.3,no_data,value_5,NaN
5,2023-01-06,1234.0,129.0,9.0,91.66,0.20,659.9520,2.0,South,Credit Card,...,Food,3.6,Returned,Neutral,16.66,WELCOME5,1.3,Frequent buyer,no_data,NaN
6,2023-01-07,1693.0,197.0,3.0,82.83,0.09,226.1259,4.0,North,Cash,...,Books,4.9,Not Returned,Negative,6.46,WELCOME5,4.5,Used loyalty points,no_data,NaN
7,2023-01-08,1699.0,153.0,5.0,13.57,0.18,55.6370,7.0,East,Online,...,Electronics,3.5,Returned,Negative,6.41,FREESHIP,NaN,no_data,value_1,NaN
8,2023-01-09,1941.0,196.0,4.0,75.76,0.01,300.0096,4.0,North,Credit Card,...,Books,3.3,Not Returned,Negative,8.38,nan,NaN,Preferred morning delivery,value_5,NaN
9,2023-01-10,1018.0,120.0,6.0,32.91,0.26,146.1204,6.0,East,Online,...,Clothing,3.8,Returned,Negative,NaN,SAVE10,1.3,no_data,no_data,NaN
10,2023-01-11,1275.0,198.0,8.0,26.33,0.21,166.4056,5.0,South,Online,...,Books,4.3,Not Returned,Positive,14.33,nan,3.1,unknown,value_5,NaN
11,2023-01-12,1132.0,150.0,8.0,72.40,0.15,492.3200,4.0,West,Online,...,Clothing,3.2,Returned,Positive,NaN,WELCOME5,3.2,unknown,unknown,NaN
12,2023-01-13,1362.0,108.0,5.0,46.77,0.15,198.7725,7.0,East,Credit Card,...,Electronics,1.5,Not Returned,Neutral,14.35,WELCOME5,NaN,unknown,no_data,NaN
13,2023-01-14,1733.0,145.0,3.0,35.10,0.10,94.7700,4.0,East,Cash,...,Books,1.5,Returned,Neutral,14.09,WELCOME5,1.2,Frequent buyer,value_3,NaN
14,2023-01-15,1954.0,129.0,1.0,19.77,0.24,15.0252,5.0,South,Cash,...,Electronics,4.3,Not Returned,Negative,NaN,nan,NaN,Requested gift wrap,value_4,NaN
15,2023-01-16,1072.0,189.0,8.0,80.66,0.17,535.5824,5.0,West,Cash,...,Electronics,1.9,Returned,Negative,16.25,nan,1.1,First-time customer,no_data,NaN
16,2023-01-17,1130.0,144.0,5.0,15.99,0.22,62.3610,9.0,North,Credit Card,...,Food,3.9,Not Returned,Neutral,17.38,nan,NaN,no_data,no_data,NaN
17,2023-01-18,1450.0,127.0,1.0,23.87,0.23,18.3799,2.0,South,Credit Card,...,Electronics,1.5,Returned,Positive,11.26,SAVE10,NaN,no_data,value_3,NaN
18,2023-01-19,1387.0,170.0,6.0,74.32,0.20,356.7360,2.0,North,Credit Card,...,Electronics,4.4,Returned,Positive,NaN,nan,2.0,Frequent buyer,value_3,NaN
19,2023-01-20,1955.0,162.0,3.0,54.97,0.15,140.1735,9.0,East,Credit Card,...,Food,3.4,Not Returned,Neutral,NaN,SAVE10,2.0,unknown,value_1,NaN
20,2023-01-21,1026.0,155.0,2.0,81.69,0.11,145.4082,2.0,North,Cash,...,Food,4.4,Returned,Positive,14.84,SAVE10,NaN,unknown,value_4,NaN
21,2023-01-22,1999.0,178.0,6.0,60.39,0.06,340.5996,6.0,East,Cash,...,Clothing,4.1,Not Returned,Negative,13.86,nan,2.0,First-time customer,unknown,NaN
22,2023-01-23,1219.0,185.0,3.0,25.21,0.23,58.2351,1.0,South,Cash,...,Food,1.0,Returned,Positive,12.21,nan,1.0,Frequent buyer,value_3,NaN
23,2023-01-24,1662.0,116.0,5.0,82.14,0.23,316.2390,3.0,South,Online,...,Clothing,4.1,Returned,Positive,17.37,WELCOME5,2.0,unknown,value_1,NaN
24,2023-01-25,1763.0,167.0,2.0,60.90,0.12,107.1840,4.0,East,Credit Card,...,Books,1.5,Returned,Positive,14.34,nan,5.0,First-time customer,unknown,NaN
25,2023-01-26,1736.0,128.0,7.0,35.82,0.14,215.6364,9.0,East,Online,...,Books,4.1,Returned,Positive,19.45,WELCOME5,1.4,unknown,unknown,NaN
26,2023-01-27,1634.0,120.0,2.0,53.72,0.01,106.3656,2.0,North,Credit Card,...,Books,1.2,Returned,Neutral,17.81,nan,3.1,unknown,value_4,NaN
27,2023-01-28,1906.0,164.0,1.0,37.49,0.28,26.9928,2.0,South,Cash,...,Food,3.6,Returned,Neutral,12.32,nan,1.6,no_data,value_4,NaN
28,2023-01-29,1656.0,176.0,8.0,74.87,0.13,521.0952,6.0,West,Online,...,Clothing,3.8,Returned,Negative,18.26,SAVE10,NaN,First-time customer,value_4,NaN
29,2023-01-30,1839.0,139.0,4.0,36.32,0.02,142.3744,1.0,West,Cash,...,Books,3.9,Not Returned,Positive,15.50,nan,4.7,unknown,unknown,NaN
30,2023-01-31,1138.0,118.0,5.0,43.82,0.00,219.1000,1.0,North,Online,...,Food,1.3,Returned,Negative,13.16,FREESHIP,1.5,unknown,unknown,NaN
31,2023-02-01,1222.0,118.0,4.0,89.67,0.06,337.1592,6.0,East,Credit Card,...,Clothing,2.3,Returned,Neutral,12.79,nan,NaN,Used loyalty points,value_1,NaN
32,2023-02-02,1686.0,149.0,1.0,83.22,0.14,71.5692,1.0,North,Credit Card,...,Books,2.7,Not Returned,Positive,6.30,SAVE10,1.5,no_data,value_3,NaN
33,2023-02-03,1389.0,135.0,3.0,83.64,0.04,240.8832,1.0,South,Online,...,Electronics,2.1,Not Returned,Neutral,15.91,nan,2.9,no_data,value_3,NaN
34,2023-02-04,1555.0,198.0,1.0,79.39,0.03,77.0083,7.0,North,Online,...,Clothing,3.4,Not Returned,Positive,16.73,SAVE10,NaN,Used loyalty points,unknown,NaN

<div class="alert alert-warning">

**8. Keep Rows with at Least 2 NaN Values**

**Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.**

</div>

In [17]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1093.0,143.0,1.0,26.14,0.17,21.6962,2.0,East,Online,...,Food,3.4,Returned,Positive,17.16,nan,3.3,no_data,unknown,NaN
1,2023-01-02,1496.0,144.0,8.0,52.43,0.12,369.1072,5.0,East,Cash,...,Clothing,3.5,Not Returned,Positive,15.44,FREESHIP,NaN,Frequent buyer,unknown,NaN
2,2023-01-03,1630.0,140.0,7.0,94.34,0.20,528.3040,1.0,West,Cash,...,Electronics,1.3,Not Returned,Negative,15.10,nan,NaN,unknown,value_2,NaN
3,2023-01-04,1506.0,165.0,8.0,84.31,0.01,667.7352,4.0,East,Online,...,Books,2.2,Returned,Negative,18.93,WELCOME5,3.3,no_data,unknown,NaN
4,2023-01-05,1003.0,109.0,7.0,75.25,0.23,405.5975,1.0,North,Cash,...,Food,3.5,Not Returned,Neutral,11.25,WELCOME5,2.2,unknown,value_5,NaN
5,2023-01-06,1046.0,102.0,8.0,70.97,0.13,493.9512,4.0,East,Credit Card,...,Books,2.4,Not Returned,Positive,10.42,FREESHIP,NaN,Used loyalty points,unknown,NaN
6,2023-01-07,1951.0,107.0,2.0,18.98,0.27,27.7108,2.0,North,Credit Card,...,Electronics,1.6,Returned,Neutral,11.71,nan,3.1,unknown,no_data,NaN
7,2023-01-08,1604.0,138.0,7.0,49.43,0.06,325.2494,7.0,East,Credit Card,...,Electronics,1.7,Returned,Positive,6.46,nan,1.1,Preferred morning delivery,value_3,NaN
8,2023-01-09,1378.0,116.0,6.0,41.70,0.25,187.6500,2.0,North,Credit Card,...,Electronics,2.5,Returned,Neutral,8.10,WELCOME5,2.4,Used loyalty points,value_4,NaN
9,2023-01-10,1152.0,166.0,3.0,46.35,0.29,98.7255,3.0,South,Online,...,Books,2.2,Not Returned,Neutral,NaN,nan,2.9,Requested gift wrap,value_1,NaN
10,2023-01-11,1912.0,151.0,4.0,45.41,0.15,154.3940,7.0,North,Credit Card,...,Clothing,3.0,Returned,Neutral,13.77,nan,4.3,unknown,value_4,NaN
11,2023-01-12,1856.0,142.0,7.0,24.70,0.28,124.4880,8.0,West,Cash,...,Clothing,4.9,Not Returned,Negative,7.38,nan,1.6,Requested gift wrap,unknown,NaN
12,2023-01-13,1384.0,150.0,2.0,83.34,0.12,146.6784,5.0,North,Online,...,Clothing,1.6,Not Returned,Positive,5.04,nan,1.9,First-time customer,no_data,NaN
13,2023-01-14,1044.0,172.0,5.0,48.34,0.02,236.8660,6.0,East,Credit Card,...,Books,3.5,Returned,Neutral,17.55,WELCOME5,1.5,no_data,value_4,NaN
14,2023-01-15,1168.0,100.0,4.0,75.22,0.22,234.6864,6.0,West,Online,...,Books,1.8,Returned,Positive,NaN,FREESHIP,2.8,Frequent buyer,value_2,NaN
15,2023-01-16,1333.0,176.0,2.0,37.95,0.14,65.2740,4.0,North,Online,...,Food,1.2,Not Returned,Positive,8.94,nan,NaN,Preferred morning delivery,value_2,NaN
16,2023-01-17,1823.0,126.0,1.0,55.06,0.06,51.7564,2.0,East,Cash,...,Books,4.9,Returned,Neutral,6.69,nan,NaN,First-time customer,unknown,NaN
17,2023-01-18,1576.0,121.0,6.0,87.20,0.20,418.5600,5.0,South,Online,...,Electronics,4.3,Returned,Positive,16.68,WELCOME5,4.9,no_data,value_1,NaN
18,2023-01-19,1902.0,111.0,5.0,12.13,0.08,55.7980,1.0,North,Cash,...,Electronics,4.8,Returned,Neutral,5.73,SAVE10,3.4,unknown,no_data,NaN
19,2023-01-20,1382.0,181.0,3.0,54.53,0.16,137.4156,9.0,West,Credit Card,...,Electronics,2.5,Not Returned,Neutral,13.56,SAVE10,3.0,no_data,value_1,NaN
20,2023-01-21,1503.0,178.0,8.0,77.05,0.29,437.6440,1.0,East,Online,...,Clothing,4.3,Returned,Positive,19.28,nan,1.5,Used loyalty points,no_data,NaN
21,2023-01-22,1912.0,191.0,8.0,93.58,0.15,636.3440,2.0,East,Online,...,Clothing,4.3,Not Returned,Negative,NaN,FREESHIP,1.8,Preferred morning delivery,no_data,NaN
22,2023-01-23,1008.0,197.0,8.0,41.42,0.03,321.4192,9.0,East,Online,...,Electronics,3.0,Not Returned,Neutral,11.77,nan,4.2,unknown,unknown,NaN
23,2023-01-24,1679.0,148.0,8.0,68.05,0.06,511.7360,3.0,North,Online,...,Books,2.3,Returned,Neutral,12.08,nan,NaN,Preferred morning delivery,value_2,NaN
24,2023-01-25,1235.0,170.0,4.0,57.58,0.23,177.3464,2.0,North,Online,...,Electronics,1.9,Returned,Neutral,10.58,SAVE10,3.6,Used loyalty points,value_2,NaN
25,2023-01-26,1224.0,165.0,5.0,96.22,0.05,457.0450,2.0,East,Online,...,Electronics,3.3,Not Returned,Negative,NaN,SAVE10,3.5,Frequent buyer,value_2,NaN
26,2023-01-27,1366.0,124.0,1.0,10.14,0.19,8.2134,9.0,South,Online,...,Books,2.4,Returned,Neutral,6.93,nan,2.4,unknown,no_data,NaN
27,2023-01-28,1843.0,111.0,8.0,18.46,0.02,144.7264,8.0,West,Cash,...,Clothing,2.8,Returned,Positive,7.96,nan,1.4,Used loyalty points,no_data,NaN
28,2023-01-29,1326.0,180.0,6.0,59.93,0.13,312.8346,2.0,North,Online,...,Books,2.9,Not Returned,Positive,19.18,nan,2.6,Used loyalty points,no_data,NaN
29,2023-01-30,1587.0,187.0,4.0,17.51,0.24,53.2304,5.0,South,Credit Card,...,Food,4.2,Not Returned,Negative,12.13,WELCOME5,1.0,First-time customer,unknown,NaN
30,2023-01-31,1625.0,161.0,9.0,41.06,0.21,291.9366,1.0,West,Cash,...,Food,4.8,Returned,Positive,14.13,nan,NaN,unknown,value_5,NaN
31,2023-02-01,1941.0,134.0,7.0,56.41,0.14,339.5882,2.0,South,Cash,...,Food,3.6,Returned,Negative,14.82,WELCOME5,2.8,Frequent buyer,no_data,NaN
32,2023-02-02,1245.0,165.0,5.0,13.25,0.09,60.2875,5.0,South,Online,...,Electronics,4.2,Not Returned,Negative,18.95,nan,NaN,First-time customer,unknown,NaN
33,2023-02-03,1749.0,118.0,6.0,92.08,0.07,513.8064,9.0,East,Credit Card,...,Electronics,1.6,Not Returned,Negative,6.32,FREESHIP,NaN,unknown,no_data,NaN
34,2023-02-04,1749.0,188.0,7.0,42.29,0.21,233.8637,8.0,South,Credit Card,...,Clothing,1.2,Not Returned,Negative,9.06,WELCOME5,2.8,Frequent buyer,value_2,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 08:**
</div>

In [18]:
pd.DataFrame.sum?

Signature:
pd.DataFrame.sum(
    self,
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    min_count: 'int' = 0,
    **kwargs,
)
Docstring:
Return the sum of the values over the requested axis.

This is equivalent to the method ``numpy.sum``.

Parameters
----------
axis : {index (0), columns (1)}
    Axis for the function to be applied on.
    For `Series` this parameter is unused and defaults to 0.

    .. warning::

        The behavior of DataFrame.sum with ``axis=None`` is deprecated,
        in a future version this will reduce over both axes and return a scalar
        To retain the old behavior, pass axis=0 (or do not pass axis).

    .. versionadded:: 2.0.0

skipna : bool, default True
    Exclude NA/null values when computing the result.
numeric_only : bool, default False
    Include only float, int, boolean columns. Not implemented for Series.

min_count : int, default 0
    The required number of valid values to perform the operation. If fewer than
    ``min_count`` non-NA values are present the result will be NA.
**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
Series or scalar

See Also
--------
Series.sum : Return the sum.
Series.min : Return the minimum.
Series.max : Return the maximum.
Series.idxmin : Return the index of the minimum.
Series.idxmax : Return the index of the maximum.
DataFrame.sum : Return the sum over the requested axis.
DataFrame.min : Return the minimum over the requested axis.
DataFrame.max : Return the maximum over the requested axis.
DataFrame.idxmin : Return the index of the minimum over the requested axis.
DataFrame.idxmax : Return the index of the maximum over the requested axis.

Examples
--------
>>> idx = pd.MultiIndex.from_arrays([
...     ['warm', 'warm', 'cold', 'cold'],
...     ['dog', 'falcon', 'fish', 'spider']],
...     names=['blooded', 'animal'])
>>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
>>> s
blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

>>> s.sum()
14

By default, the sum of an empty or all-NA Series is ``0``.

>>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
0.0

This can be controlled with the ``min_count`` parameter. For example, if
you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

>>> pd.Series([], dtype="float64").sum(min_count=1)
nan

Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
empty series identically.

>>> pd.Series([np.nan]).sum()
0.0

>>> pd.Series([np.nan]).sum(min_count=1)
nan
File:      ~/dev/pandas-exercises/.venv/lib/python3.12/site-packages/pandas/core/frame.py
Type:      function

In [19]:
df.isnull().sum(axis=0)

date                 1
customer_id          1
product_id           1
quantity             1
price                1
discount             1
revenue              1
store_id             1
region               1
payment_method       1
is_member            1
delivery_days        1
customer_age         1
gender               1
product_category     1
rating               1
return_status        1
feedback             1
shipping_cost        5
coupon_code          1
delivery_rating     10
customer_note        1
customer_values      1
all_nan_column      36
dtype: int64

In [20]:
df.isnull().sum(axis=1)

0      1
1      2
2      2
3      1
4      1
5      2
6      1
7      1
8      1
9      2
10     1
11     1
12     1
13     1
14     2
15     2
16     2
17     1
18     1
19     1
20     1
21     2
22     1
23     2
24     1
25     2
26     1
27     1
28     1
29     1
30     2
31     1
32     2
33     2
34     1
35    24
dtype: int64

In [21]:
df_kept = df[df.isnull().sum(axis=1) >= 2]

# Display the DataFrame after keeping rows
display(df_kept.reset_index(drop=True))

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-02,1496.0,144.0,8.0,52.43,0.12,369.1072,5.0,East,Cash,...,Clothing,3.5,Not Returned,Positive,15.44,FREESHIP,NaN,Frequent buyer,unknown,NaN
1,2023-01-03,1630.0,140.0,7.0,94.34,0.20,528.3040,1.0,West,Cash,...,Electronics,1.3,Not Returned,Negative,15.10,nan,NaN,unknown,value_2,NaN
2,2023-01-06,1046.0,102.0,8.0,70.97,0.13,493.9512,4.0,East,Credit Card,...,Books,2.4,Not Returned,Positive,10.42,FREESHIP,NaN,Used loyalty points,unknown,NaN
3,2023-01-10,1152.0,166.0,3.0,46.35,0.29,98.7255,3.0,South,Online,...,Books,2.2,Not Returned,Neutral,NaN,nan,2.9,Requested gift wrap,value_1,NaN
4,2023-01-15,1168.0,100.0,4.0,75.22,0.22,234.6864,6.0,West,Online,...,Books,1.8,Returned,Positive,NaN,FREESHIP,2.8,Frequent buyer,value_2,NaN
5,2023-01-16,1333.0,176.0,2.0,37.95,0.14,65.2740,4.0,North,Online,...,Food,1.2,Not Returned,Positive,8.94,nan,NaN,Preferred morning delivery,value_2,NaN
6,2023-01-17,1823.0,126.0,1.0,55.06,0.06,51.7564,2.0,East,Cash,...,Books,4.9,Returned,Neutral,6.69,nan,NaN,First-time customer,unknown,NaN
7,2023-01-22,1912.0,191.0,8.0,93.58,0.15,636.3440,2.0,East,Online,...,Clothing,4.3,Not Returned,Negative,NaN,FREESHIP,1.8,Preferred morning delivery,no_data,NaN
8,2023-01-24,1679.0,148.0,8.0,68.05,0.06,511.7360,3.0,North,Online,...,Books,2.3,Returned,Neutral,12.08,nan,NaN,Preferred morning delivery,value_2,NaN
9,2023-01-26,1224.0,165.0,5.0,96.22,0.05,457.0450,2.0,East,Online,...,Electronics,3.3,Not Returned,Negative,NaN,SAVE10,3.5,Frequent buyer,value_2,NaN
10,2023-01-31,1625.0,161.0,9.0,41.06,0.21,291.9366,1.0,West,Cash,...,Food,4.8,Returned,Positive,14.13,nan,NaN,unknown,value_5,NaN
11,2023-02-02,1245.0,165.0,5.0,13.25,0.09,60.2875,5.0,South,Online,...,Electronics,4.2,Not Returned,Negative,18.95,nan,NaN,First-time customer,unknown,NaN
12,2023-02-03,1749.0,118.0,6.0,92.08,0.07,513.8064,9.0,East,Credit Card,...,Electronics,1.6,Not Returned,Negative,6.32,FREESHIP,NaN,unknown,no_data,NaN
13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-warning">

**9. Drop Rows with Missing Values in Specific Columns**

**Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.**

</div>

In [22]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1737.0,168.0,6.0,59.83,0.19,290.7738,6.0,East,Cash,...,Electronics,1.7,Returned,Neutral,6.49,SAVE10,NaN,First-time customer,no_data,NaN
1,2023-01-02,1194.0,125.0,6.0,21.83,0.27,95.6154,3.0,North,Cash,...,Books,2.9,Returned,Positive,NaN,SAVE10,3.4,no_data,unknown,NaN
2,2023-01-03,1914.0,146.0,9.0,79.75,0.06,674.6850,5.0,East,Cash,...,Food,1.7,Not Returned,Positive,16.51,FREESHIP,1.6,First-time customer,value_3,NaN
3,2023-01-04,1795.0,185.0,7.0,74.73,0.00,523.1100,9.0,North,Cash,...,Clothing,1.7,Not Returned,Positive,NaN,FREESHIP,3.4,unknown,value_2,NaN
4,2023-01-05,1929.0,112.0,9.0,57.64,0.28,373.5072,7.0,East,Cash,...,Clothing,4.5,Returned,Positive,NaN,SAVE10,2.3,Frequent buyer,value_5,NaN
5,2023-01-06,1893.0,100.0,7.0,86.83,0.07,565.2633,7.0,South,Online,...,Books,1.0,Returned,Neutral,NaN,nan,1.6,unknown,unknown,NaN
6,2023-01-07,1475.0,167.0,8.0,27.04,0.15,183.8720,3.0,South,Credit Card,...,Books,2.0,Returned,Neutral,19.13,nan,3.8,no_data,unknown,NaN
7,2023-01-08,1773.0,194.0,3.0,82.35,0.02,242.1090,6.0,East,Cash,...,Clothing,1.3,Returned,Neutral,10.81,SAVE10,NaN,unknown,value_1,NaN
8,2023-01-09,1399.0,128.0,2.0,10.07,0.06,18.9316,1.0,North,Cash,...,Electronics,4.4,Not Returned,Neutral,17.71,SAVE10,3.5,no_data,value_2,NaN
9,2023-01-10,1220.0,129.0,3.0,71.95,0.12,189.9480,7.0,South,Online,...,Food,4.0,Not Returned,Neutral,17.01,SAVE10,NaN,unknown,value_4,NaN
10,2023-01-11,1407.0,166.0,8.0,51.08,0.21,322.8256,4.0,West,Cash,...,Books,4.3,Returned,Negative,17.06,WELCOME5,2.8,First-time customer,value_3,NaN
11,2023-01-12,1755.0,119.0,4.0,51.18,0.05,194.4840,1.0,West,Online,...,Food,1.9,Returned,Negative,8.19,FREESHIP,1.9,unknown,no_data,NaN
12,2023-01-13,1901.0,196.0,5.0,28.29,0.14,121.6470,1.0,North,Cash,...,Books,2.5,Not Returned,Negative,17.73,nan,1.1,no_data,no_data,NaN
13,2023-01-14,1505.0,101.0,5.0,74.96,0.05,356.0600,5.0,East,Credit Card,...,Books,2.3,Returned,Neutral,8.38,nan,1.5,no_data,no_data,NaN
14,2023-01-15,1263.0,102.0,4.0,72.15,0.21,227.9940,7.0,East,Cash,...,Clothing,3.8,Returned,Neutral,17.81,nan,4.3,unknown,value_5,NaN
15,2023-01-16,1254.0,168.0,3.0,58.64,0.12,154.8096,3.0,North,Online,...,Electronics,1.3,Returned,Negative,7.95,FREESHIP,NaN,Preferred morning delivery,value_5,NaN
16,2023-01-17,1873.0,101.0,5.0,75.10,0.26,277.8700,9.0,North,Credit Card,...,Food,1.9,Not Returned,Neutral,NaN,nan,3.1,Used loyalty points,unknown,NaN
17,2023-01-18,1891.0,187.0,9.0,17.24,0.26,114.8184,2.0,East,Cash,...,Electronics,3.0,Not Returned,Neutral,NaN,WELCOME5,4.7,no_data,value_3,NaN
18,2023-01-19,1546.0,109.0,3.0,26.14,0.19,63.5202,4.0,South,Cash,...,Electronics,3.0,Returned,Negative,17.88,SAVE10,NaN,Used loyalty points,no_data,NaN
19,2023-01-20,1891.0,195.0,8.0,12.35,0.25,74.1000,1.0,North,Cash,...,Electronics,4.2,Returned,Positive,7.70,nan,2.4,no_data,value_1,NaN
20,2023-01-21,1886.0,147.0,1.0,28.06,0.23,21.6062,6.0,West,Cash,...,Electronics,4.0,Returned,Positive,10.64,FREESHIP,1.6,Requested gift wrap,value_3,NaN
21,2023-01-22,1225.0,133.0,2.0,71.52,0.07,133.0272,2.0,West,Credit Card,...,Food,1.5,Not Returned,Neutral,10.72,nan,NaN,unknown,value_1,NaN
22,2023-01-23,1225.0,112.0,9.0,39.73,0.08,328.9644,5.0,North,Credit Card,...,Clothing,2.2,Returned,Neutral,6.02,FREESHIP,1.3,Preferred morning delivery,no_data,NaN
23,2023-01-24,1102.0,146.0,4.0,92.41,0.08,340.0688,7.0,North,Online,...,Electronics,2.8,Not Returned,Neutral,NaN,FREESHIP,2.8,unknown,unknown,NaN
24,2023-01-25,1670.0,100.0,6.0,70.51,0.04,406.1376,5.0,North,Online,...,Books,4.0,Returned,Negative,16.60,FREESHIP,3.2,Used loyalty points,value_1,NaN
25,2023-01-26,1102.0,191.0,6.0,56.65,0.17,282.1170,5.0,East,Online,...,Electronics,3.9,Returned,Positive,16.76,nan,2.8,no_data,value_4,NaN
26,2023-01-27,1445.0,146.0,1.0,87.55,0.08,80.5460,6.0,North,Online,...,Books,4.2,Not Returned,Neutral,19.26,WELCOME5,NaN,unknown,value_3,NaN
27,2023-01-28,1896.0,101.0,2.0,43.62,0.10,78.5160,1.0,North,Online,...,Food,3.9,Returned,Negative,NaN,SAVE10,NaN,Used loyalty points,no_data,NaN
28,2023-01-29,1460.0,103.0,1.0,80.10,0.01,79.2990,9.0,East,Cash,...,Clothing,3.5,Returned,Neutral,19.37,WELCOME5,2.7,Frequent buyer,value_2,NaN
29,2023-01-30,1215.0,183.0,7.0,90.05,0.14,542.1010,6.0,East,Online,...,Electronics,4.9,Not Returned,Neutral,NaN,FREESHIP,2.3,Preferred morning delivery,unknown,NaN
30,2023-01-31,1291.0,150.0,4.0,23.66,0.08,87.0688,4.0,East,Credit Card,...,Clothing,4.9,Returned,Negative,15.11,WELCOME5,NaN,no_data,value_4,NaN
31,2023-02-01,1889.0,177.0,2.0,70.58,0.01,139.7484,8.0,East,Online,...,Electronics,1.4,Not Returned,Negative,NaN,SAVE10,NaN,unknown,unknown,NaN
32,2023-02-02,1903.0,108.0,7.0,27.18,0.15,161.7210,6.0,North,Cash,...,Electronics,4.4,Returned,Neutral,9.51,WELCOME5,1.8,unknown,no_data,NaN
33,2023-02-03,1849.0,194.0,4.0,53.74,0.17,178.4168,5.0,West,Cash,...,Books,1.8,Returned,Neutral,13.40,nan,NaN,Used loyalty points,value_2,NaN
34,2023-02-04,1543.0,197.0,8.0,88.31,0.16,593.4432,8.0,South,Cash,...,Electronics,4.8,Not Returned,Positive,12.07,FREESHIP,2.8,unknown,no_data,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 09:**
</div>

In [23]:
# Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values
dropped_df = df.dropna(subset=['shipping_cost', 'coupon_code', 'delivery_rating'])
dropped_df

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
2,2023-01-03,1914.0,146.0,9.0,79.75,0.06,674.6850,5.0,East,Cash,...,Food,1.7,Not Returned,Positive,16.51,FREESHIP,1.6,First-time customer,value_3,NaN
6,2023-01-07,1475.0,167.0,8.0,27.04,0.15,183.8720,3.0,South,Credit Card,...,Books,2.0,Returned,Neutral,19.13,nan,3.8,no_data,unknown,NaN
8,2023-01-09,1399.0,128.0,2.0,10.07,0.06,18.9316,1.0,North,Cash,...,Electronics,4.4,Not Returned,Neutral,17.71,SAVE10,3.5,no_data,value_2,NaN
10,2023-01-11,1407.0,166.0,8.0,51.08,0.21,322.8256,4.0,West,Cash,...,Books,4.3,Returned,Negative,17.06,WELCOME5,2.8,First-time customer,value_3,NaN
11,2023-01-12,1755.0,119.0,4.0,51.18,0.05,194.4840,1.0,West,Online,...,Food,1.9,Returned,Negative,8.19,FREESHIP,1.9,unknown,no_data,NaN
12,2023-01-13,1901.0,196.0,5.0,28.29,0.14,121.6470,1.0,North,Cash,...,Books,2.5,Not Returned,Negative,17.73,nan,1.1,no_data,no_data,NaN
13,2023-01-14,1505.0,101.0,5.0,74.96,0.05,356.0600,5.0,East,Credit Card,...,Books,2.3,Returned,Neutral,8.38,nan,1.5,no_data,no_data,NaN
14,2023-01-15,1263.0,102.0,4.0,72.15,0.21,227.9940,7.0,East,Cash,...,Clothing,3.8,Returned,Neutral,17.81,nan,4.3,unknown,value_5,NaN
19,2023-01-20,1891.0,195.0,8.0,12.35,0.25,74.1000,1.0,North,Cash,...,Electronics,4.2,Returned,Positive,7.70,nan,2.4,no_data,value_1,NaN
20,2023-01-21,1886.0,147.0,1.0,28.06,0.23,21.6062,6.0,West,Cash,...,Electronics,4.0,Returned,Positive,10.64,FREESHIP,1.6,Requested gift wrap,value_3,NaN
22,2023-01-23,1225.0,112.0,9.0,39.73,0.08,328.9644,5.0,North,Credit Card,...,Clothing,2.2,Returned,Neutral,6.02,FREESHIP,1.3,Preferred morning delivery,no_data,NaN
24,2023-01-25,1670.0,100.0,6.0,70.51,0.04,406.1376,5.0,North,Online,...,Books,4.0,Returned,Negative,16.60,FREESHIP,3.2,Used loyalty points,value_1,NaN
25,2023-01-26,1102.0,191.0,6.0,56.65,0.17,282.1170,5.0,East,Online,...,Electronics,3.9,Returned,Positive,16.76,nan,2.8,no_data,value_4,NaN
28,2023-01-29,1460.0,103.0,1.0,80.10,0.01,79.2990,9.0,East,Cash,...,Clothing,3.5,Returned,Neutral,19.37,WELCOME5,2.7,Frequent buyer,value_2,NaN
32,2023-02-02,1903.0,108.0,7.0,27.18,0.15,161.7210,6.0,North,Cash,...,Electronics,4.4,Returned,Neutral,9.51,WELCOME5,1.8,unknown,no_data,NaN
34,2023-02-04,1543.0,197.0,8.0,88.31,0.16,593.4432,8.0,South,Cash,...,Electronics,4.8,Not Returned,Positive,12.07,FREESHIP,2.8,unknown,no_data,NaN

<div class="alert alert-warning">

**10. Keep Only Valid Entries**

**Write a Pandas program to keep the valid entries of a given DataFrame.**

</div>

In [24]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1387.0,158.0,1.0,16.06,0.16,13.4904,1.0,South,Online,...,Books,4.9,Returned,Neutral,NaN,FREESHIP,1.2,unknown,no_data,NaN
1,2023-01-02,1097.0,163.0,1.0,34.46,0.29,24.4666,5.0,South,Online,...,Food,2.6,Not Returned,Negative,15.52,SAVE10,1.6,Used loyalty points,unknown,NaN
2,2023-01-03,1004.0,170.0,2.0,96.62,0.01,191.3076,1.0,North,Cash,...,Books,2.9,Not Returned,Positive,17.97,SAVE10,NaN,no_data,unknown,NaN
3,2023-01-04,1162.0,199.0,9.0,20.46,0.02,180.4572,1.0,South,Cash,...,Clothing,5.0,Not Returned,Neutral,17.47,nan,NaN,unknown,value_2,NaN
4,2023-01-05,1837.0,192.0,2.0,17.28,0.10,31.1040,9.0,South,Online,...,Books,4.2,Not Returned,Positive,17.00,nan,1.9,Preferred morning delivery,unknown,NaN
5,2023-01-06,1192.0,199.0,5.0,86.85,0.11,386.4825,6.0,South,Credit Card,...,Food,2.0,Not Returned,Negative,9.23,FREESHIP,3.1,Used loyalty points,unknown,NaN
6,2023-01-07,1186.0,198.0,2.0,92.92,0.00,185.8400,6.0,West,Cash,...,Books,2.0,Returned,Neutral,9.34,FREESHIP,4.8,Used loyalty points,no_data,NaN
7,2023-01-08,1213.0,172.0,4.0,43.05,0.23,132.5940,7.0,South,Credit Card,...,Books,4.4,Not Returned,Negative,13.44,SAVE10,NaN,unknown,value_5,NaN
8,2023-01-09,1269.0,143.0,5.0,65.41,0.27,238.7465,6.0,West,Cash,...,Electronics,3.0,Not Returned,Neutral,NaN,nan,2.4,Requested gift wrap,value_3,NaN
9,2023-01-10,1091.0,127.0,4.0,80.53,0.10,289.9080,8.0,South,Online,...,Electronics,1.3,Returned,Positive,13.26,nan,2.2,no_data,no_data,NaN
10,2023-01-11,1703.0,184.0,8.0,73.52,0.01,582.2784,4.0,South,Credit Card,...,Books,2.9,Not Returned,Positive,16.25,WELCOME5,4.7,unknown,no_data,NaN
11,2023-01-12,1840.0,136.0,4.0,69.52,0.04,266.9568,7.0,South,Online,...,Books,3.5,Not Returned,Positive,7.41,WELCOME5,NaN,no_data,unknown,NaN
12,2023-01-13,1647.0,181.0,6.0,78.22,0.10,422.3880,1.0,North,Cash,...,Clothing,3.9,Returned,Negative,7.35,WELCOME5,1.6,no_data,unknown,NaN
13,2023-01-14,1138.0,164.0,7.0,51.42,0.17,298.7502,8.0,West,Cash,...,Electronics,4.1,Returned,Negative,NaN,WELCOME5,NaN,Preferred morning delivery,unknown,NaN
14,2023-01-15,1575.0,140.0,7.0,25.19,0.13,153.4071,4.0,West,Credit Card,...,Food,3.7,Not Returned,Positive,14.93,SAVE10,1.9,Requested gift wrap,value_2,NaN
15,2023-01-16,1641.0,135.0,2.0,19.22,0.29,27.2924,6.0,North,Credit Card,...,Food,4.1,Not Returned,Positive,5.65,nan,1.2,unknown,unknown,NaN
16,2023-01-17,1795.0,145.0,8.0,75.25,0.10,541.8000,4.0,North,Credit Card,...,Electronics,5.0,Not Returned,Neutral,6.55,nan,NaN,unknown,unknown,NaN
17,2023-01-18,1042.0,159.0,9.0,17.21,0.00,154.8900,5.0,North,Credit Card,...,Books,1.0,Returned,Neutral,8.10,FREESHIP,1.2,no_data,value_1,NaN
18,2023-01-19,1702.0,132.0,2.0,75.01,0.25,112.5150,5.0,South,Online,...,Books,2.1,Not Returned,Negative,14.02,FREESHIP,NaN,Frequent buyer,unknown,NaN
19,2023-01-20,1055.0,169.0,3.0,89.90,0.12,237.3360,5.0,East,Credit Card,...,Food,3.5,Not Returned,Negative,9.61,FREESHIP,3.0,Requested gift wrap,value_3,NaN
20,2023-01-21,1137.0,160.0,6.0,13.39,0.28,57.8448,7.0,West,Online,...,Electronics,3.2,Not Returned,Positive,5.36,FREESHIP,5.0,Preferred morning delivery,no_data,NaN
21,2023-01-22,1907.0,188.0,2.0,38.15,0.12,67.1440,3.0,East,Cash,...,Clothing,2.2,Returned,Negative,19.64,nan,3.1,no_data,no_data,NaN
22,2023-01-23,1158.0,111.0,4.0,86.45,0.19,280.0980,8.0,North,Credit Card,...,Clothing,3.9,Returned,Positive,NaN,SAVE10,4.8,Used loyalty points,unknown,NaN
23,2023-01-24,1321.0,125.0,6.0,82.49,0.09,450.3954,1.0,West,Credit Card,...,Books,4.6,Not Returned,Negative,7.71,SAVE10,NaN,no_data,value_1,NaN
24,2023-01-25,1038.0,198.0,2.0,17.24,0.14,29.6528,1.0,North,Online,...,Electronics,3.2,Not Returned,Neutral,NaN,nan,NaN,no_data,no_data,NaN
25,2023-01-26,1268.0,157.0,8.0,79.59,0.04,611.2512,6.0,North,Online,...,Clothing,3.6,Returned,Neutral,NaN,WELCOME5,2.8,Requested gift wrap,unknown,NaN
26,2023-01-27,1752.0,172.0,1.0,26.89,0.10,24.2010,7.0,North,Online,...,Books,1.4,Returned,Positive,9.56,nan,1.1,unknown,value_4,NaN
27,2023-01-28,1557.0,138.0,6.0,73.70,0.30,309.5400,6.0,North,Cash,...,Electronics,1.0,Returned,Negative,NaN,nan,3.7,Frequent buyer,value_2,NaN
28,2023-01-29,1436.0,163.0,6.0,40.06,0.03,233.1492,9.0,North,Credit Card,...,Clothing,3.7,Not Returned,Positive,19.75,FREESHIP,NaN,First-time customer,value_1,NaN
29,2023-01-30,1361.0,108.0,9.0,92.51,0.04,799.2864,9.0,South,Online,...,Books,4.5,Returned,Negative,18.56,FREESHIP,1.1,Used loyalty points,unknown,NaN
30,2023-01-31,1900.0,172.0,2.0,12.47,0.16,20.9496,6.0,South,Online,...,Electronics,3.9,Returned,Neutral,14.37,SAVE10,1.3,Used loyalty points,value_2,NaN
31,2023-02-01,1378.0,134.0,7.0,59.93,0.15,356.5835,8.0,East,Credit Card,...,Clothing,4.3,Returned,Positive,NaN,nan,1.5,Frequent buyer,value_2,NaN
32,2023-02-02,1336.0,182.0,8.0,94.71,0.04,727.3728,8.0,South,Credit Card,...,Food,1.1,Returned,Positive,14.20,nan,2.3,Preferred morning delivery,value_4,NaN
33,2023-02-03,1095.0,116.0,1.0,25.28,0.21,19.9712,9.0,West,Credit Card,...,Books,4.5,Returned,Neutral,5.09,SAVE10,NaN,no_data,value_5,NaN
34,2023-02-04,1662.0,128.0,3.0,82.21,0.24,187.4388,5.0,South,Cash,...,Clothing,4.7,Returned,Negative,11.39,SAVE10,3.5,no_data,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 10:**
</div>

In [25]:
# Write a Pandas program to keep the valid entries of a given DataFrame
valid_entries_df = df.dropna(subset=['customer_id', 'product_id', 'quantity', 'price', 'revenue', 'delivery_rating'])
display(valid_entries_df)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1387.0,158.0,1.0,16.06,0.16,13.4904,1.0,South,Online,...,Books,4.9,Returned,Neutral,NaN,FREESHIP,1.2,unknown,no_data,NaN
1,2023-01-02,1097.0,163.0,1.0,34.46,0.29,24.4666,5.0,South,Online,...,Food,2.6,Not Returned,Negative,15.52,SAVE10,1.6,Used loyalty points,unknown,NaN
4,2023-01-05,1837.0,192.0,2.0,17.28,0.10,31.1040,9.0,South,Online,...,Books,4.2,Not Returned,Positive,17.00,nan,1.9,Preferred morning delivery,unknown,NaN
5,2023-01-06,1192.0,199.0,5.0,86.85,0.11,386.4825,6.0,South,Credit Card,...,Food,2.0,Not Returned,Negative,9.23,FREESHIP,3.1,Used loyalty points,unknown,NaN
6,2023-01-07,1186.0,198.0,2.0,92.92,0.00,185.8400,6.0,West,Cash,...,Books,2.0,Returned,Neutral,9.34,FREESHIP,4.8,Used loyalty points,no_data,NaN
8,2023-01-09,1269.0,143.0,5.0,65.41,0.27,238.7465,6.0,West,Cash,...,Electronics,3.0,Not Returned,Neutral,NaN,nan,2.4,Requested gift wrap,value_3,NaN
9,2023-01-10,1091.0,127.0,4.0,80.53,0.10,289.9080,8.0,South,Online,...,Electronics,1.3,Returned,Positive,13.26,nan,2.2,no_data,no_data,NaN
10,2023-01-11,1703.0,184.0,8.0,73.52,0.01,582.2784,4.0,South,Credit Card,...,Books,2.9,Not Returned,Positive,16.25,WELCOME5,4.7,unknown,no_data,NaN
12,2023-01-13,1647.0,181.0,6.0,78.22,0.10,422.3880,1.0,North,Cash,...,Clothing,3.9,Returned,Negative,7.35,WELCOME5,1.6,no_data,unknown,NaN
14,2023-01-15,1575.0,140.0,7.0,25.19,0.13,153.4071,4.0,West,Credit Card,...,Food,3.7,Not Returned,Positive,14.93,SAVE10,1.9,Requested gift wrap,value_2,NaN
15,2023-01-16,1641.0,135.0,2.0,19.22,0.29,27.2924,6.0,North,Credit Card,...,Food,4.1,Not Returned,Positive,5.65,nan,1.2,unknown,unknown,NaN
17,2023-01-18,1042.0,159.0,9.0,17.21,0.00,154.8900,5.0,North,Credit Card,...,Books,1.0,Returned,Neutral,8.10,FREESHIP,1.2,no_data,value_1,NaN
19,2023-01-20,1055.0,169.0,3.0,89.90,0.12,237.3360,5.0,East,Credit Card,...,Food,3.5,Not Returned,Negative,9.61,FREESHIP,3.0,Requested gift wrap,value_3,NaN
20,2023-01-21,1137.0,160.0,6.0,13.39,0.28,57.8448,7.0,West,Online,...,Electronics,3.2,Not Returned,Positive,5.36,FREESHIP,5.0,Preferred morning delivery,no_data,NaN
21,2023-01-22,1907.0,188.0,2.0,38.15,0.12,67.1440,3.0,East,Cash,...,Clothing,2.2,Returned,Negative,19.64,nan,3.1,no_data,no_data,NaN
22,2023-01-23,1158.0,111.0,4.0,86.45,0.19,280.0980,8.0,North,Credit Card,...,Clothing,3.9,Returned,Positive,NaN,SAVE10,4.8,Used loyalty points,unknown,NaN
25,2023-01-26,1268.0,157.0,8.0,79.59,0.04,611.2512,6.0,North,Online,...,Clothing,3.6,Returned,Neutral,NaN,WELCOME5,2.8,Requested gift wrap,unknown,NaN
26,2023-01-27,1752.0,172.0,1.0,26.89,0.10,24.2010,7.0,North,Online,...,Books,1.4,Returned,Positive,9.56,nan,1.1,unknown,value_4,NaN
27,2023-01-28,1557.0,138.0,6.0,73.70,0.30,309.5400,6.0,North,Cash,...,Electronics,1.0,Returned,Negative,NaN,nan,3.7,Frequent buyer,value_2,NaN
29,2023-01-30,1361.0,108.0,9.0,92.51,0.04,799.2864,9.0,South,Online,...,Books,4.5,Returned,Negative,18.56,FREESHIP,1.1,Used loyalty points,unknown,NaN
30,2023-01-31,1900.0,172.0,2.0,12.47,0.16,20.9496,6.0,South,Online,...,Electronics,3.9,Returned,Neutral,14.37,SAVE10,1.3,Used loyalty points,value_2,NaN
31,2023-02-01,1378.0,134.0,7.0,59.93,0.15,356.5835,8.0,East,Credit Card,...,Clothing,4.3,Returned,Positive,NaN,nan,1.5,Frequent buyer,value_2,NaN
32,2023-02-02,1336.0,182.0,8.0,94.71,0.04,727.3728,8.0,South,Credit Card,...,Food,1.1,Returned,Positive,14.20,nan,2.3,Preferred morning delivery,value_4,NaN
34,2023-02-04,1662.0,128.0,3.0,82.21,0.24,187.4388,5.0,South,Cash,...,Clothing,4.7,Returned,Negative,11.39,SAVE10,3.5,no_data,unknown,NaN

<div class="alert alert-warning">

**11. Total Number of Missing Values in DataFrame**

**Write a Pandas program to calculate the total number of missing values in a DataFrame.**

</div>

In [26]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1766.0,137.0,4.0,29.91,0.09,108.8724,2.0,South,Credit Card,...,Clothing,1.8,Not Returned,Positive,17.55,nan,1.7,unknown,value_1,NaN
1,2023-01-02,1740.0,113.0,4.0,48.05,0.13,167.2140,6.0,North,Online,...,Books,1.6,Not Returned,Positive,12.31,WELCOME5,2.4,unknown,value_3,NaN
2,2023-01-03,1486.0,198.0,9.0,29.09,0.10,235.6290,3.0,North,Credit Card,...,Books,4.2,Not Returned,Negative,19.28,nan,NaN,Frequent buyer,value_2,NaN
3,2023-01-04,1930.0,128.0,5.0,25.92,0.14,111.4560,5.0,South,Credit Card,...,Clothing,2.8,Not Returned,Positive,14.52,SAVE10,1.6,no_data,no_data,NaN
4,2023-01-05,1736.0,184.0,3.0,91.41,0.02,268.7454,6.0,East,Online,...,Electronics,3.2,Returned,Negative,9.45,SAVE10,2.0,unknown,unknown,NaN
5,2023-01-06,1542.0,148.0,5.0,82.53,0.17,342.4995,2.0,North,Online,...,Electronics,1.0,Returned,Positive,15.48,WELCOME5,NaN,unknown,no_data,NaN
6,2023-01-07,1548.0,129.0,2.0,86.97,0.13,151.3278,5.0,North,Cash,...,Books,1.3,Returned,Neutral,18.63,FREESHIP,NaN,Used loyalty points,unknown,NaN
7,2023-01-08,1173.0,167.0,1.0,18.41,0.04,17.6736,5.0,East,Online,...,Books,2.3,Not Returned,Positive,9.99,SAVE10,2.9,unknown,no_data,NaN
8,2023-01-09,1447.0,126.0,8.0,87.29,0.18,572.6224,3.0,South,Online,...,Clothing,1.4,Returned,Negative,16.58,nan,3.4,no_data,value_3,NaN
9,2023-01-10,1374.0,134.0,5.0,28.68,0.14,123.3240,8.0,West,Online,...,Electronics,3.0,Returned,Positive,NaN,SAVE10,3.1,Frequent buyer,value_5,NaN
10,2023-01-11,1618.0,187.0,5.0,16.35,0.05,77.6625,6.0,East,Credit Card,...,Food,2.1,Returned,Negative,12.36,WELCOME5,1.8,no_data,value_4,NaN
11,2023-01-12,1211.0,175.0,6.0,40.90,0.19,198.7740,6.0,East,Credit Card,...,Books,1.8,Not Returned,Positive,17.78,nan,3.0,Frequent buyer,unknown,NaN
12,2023-01-13,1618.0,100.0,8.0,12.91,0.27,75.3944,5.0,North,Credit Card,...,Books,2.9,Returned,Positive,16.70,WELCOME5,3.8,Frequent buyer,no_data,NaN
13,2023-01-14,1302.0,116.0,2.0,63.28,0.03,122.7632,1.0,West,Cash,...,Electronics,2.8,Returned,Neutral,6.44,nan,NaN,unknown,value_5,NaN
14,2023-01-15,1196.0,120.0,8.0,31.51,0.27,184.0184,1.0,West,Cash,...,Books,4.5,Not Returned,Negative,19.55,WELCOME5,4.1,Used loyalty points,value_2,NaN
15,2023-01-16,1773.0,199.0,2.0,76.65,0.22,119.5740,3.0,East,Online,...,Books,1.2,Returned,Negative,18.97,WELCOME5,NaN,unknown,value_5,NaN
16,2023-01-17,1487.0,181.0,1.0,62.14,0.10,55.9260,5.0,East,Cash,...,Food,2.8,Not Returned,Neutral,18.60,SAVE10,1.5,no_data,no_data,NaN
17,2023-01-18,1202.0,191.0,9.0,43.72,0.08,362.0016,5.0,South,Cash,...,Food,3.2,Not Returned,Neutral,NaN,nan,4.7,Preferred morning delivery,no_data,NaN
18,2023-01-19,1420.0,157.0,2.0,94.95,0.21,150.0210,2.0,West,Cash,...,Books,3.9,Not Returned,Negative,13.28,nan,2.8,Used loyalty points,no_data,NaN
19,2023-01-20,1893.0,104.0,3.0,88.13,0.07,245.8827,3.0,North,Cash,...,Electronics,4.2,Not Returned,Positive,NaN,nan,2.5,Used loyalty points,value_1,NaN
20,2023-01-21,1889.0,112.0,5.0,38.52,0.20,154.0800,7.0,West,Credit Card,...,Food,1.1,Not Returned,Neutral,5.20,SAVE10,4.4,no_data,value_3,NaN
21,2023-01-22,1341.0,127.0,4.0,58.44,0.07,217.3968,4.0,North,Cash,...,Books,3.5,Returned,Negative,15.01,WELCOME5,1.7,no_data,unknown,NaN
22,2023-01-23,1305.0,148.0,6.0,30.12,0.07,168.0696,6.0,East,Cash,...,Electronics,1.2,Returned,Negative,7.43,nan,4.5,Used loyalty points,value_2,NaN
23,2023-01-24,1494.0,155.0,3.0,91.36,0.14,235.7088,9.0,North,Credit Card,...,Electronics,1.8,Returned,Neutral,18.40,nan,NaN,First-time customer,value_5,NaN
24,2023-01-25,1419.0,115.0,9.0,16.45,0.24,112.5180,2.0,West,Credit Card,...,Electronics,3.5,Returned,Neutral,18.02,nan,2.7,unknown,value_1,NaN
25,2023-01-26,1808.0,156.0,9.0,44.38,0.26,295.5708,6.0,North,Cash,...,Food,4.2,Returned,Negative,5.22,FREESHIP,1.5,no_data,unknown,NaN
26,2023-01-27,1999.0,177.0,6.0,48.67,0.25,219.0150,7.0,South,Credit Card,...,Clothing,1.3,Not Returned,Positive,12.21,FREESHIP,1.7,First-time customer,no_data,NaN
27,2023-01-28,1369.0,159.0,4.0,39.62,0.18,129.9536,1.0,East,Cash,...,Clothing,3.8,Not Returned,Neutral,NaN,nan,1.9,Used loyalty points,no_data,NaN
28,2023-01-29,1434.0,128.0,8.0,19.12,0.28,110.1312,6.0,East,Online,...,Clothing,2.8,Not Returned,Neutral,6.48,nan,3.9,unknown,no_data,NaN
29,2023-01-30,1075.0,121.0,1.0,58.76,0.19,47.5956,2.0,North,Cash,...,Electronics,2.1,Returned,Neutral,6.12,SAVE10,2.8,First-time customer,no_data,NaN
30,2023-01-31,1297.0,120.0,1.0,61.61,0.26,45.5914,9.0,South,Cash,...,Clothing,1.2,Returned,Positive,5.58,SAVE10,2.8,First-time customer,no_data,NaN
31,2023-02-01,1599.0,122.0,2.0,11.46,0.30,16.0440,1.0,North,Online,...,Books,3.9,Returned,Positive,9.73,nan,4.7,First-time customer,value_3,NaN
32,2023-02-02,1478.0,107.0,3.0,86.52,0.14,223.2216,8.0,North,Online,...,Electronics,1.0,Not Returned,Negative,11.17,FREESHIP,2.0,Preferred morning delivery,unknown,NaN
33,2023-02-03,1728.0,174.0,4.0,89.12,0.27,260.2304,7.0,South,Online,...,Books,3.3,Not Returned,Positive,6.27,FREESHIP,NaN,Frequent buyer,unknown,NaN
34,2023-02-04,1599.0,184.0,3.0,97.86,0.08,270.0936,4.0,East,Credit Card,...,Electronics,1.3,Returned,Positive,17.77,nan,NaN,Requested gift wrap,no_data,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 11:**
</div>

In [27]:
print(df.isna().sum().sum())

71

<div class="alert alert-warning">

**12. Replace NaNs with a Constant in Specified Columns**

**Write a Pandas program to replace NaNs with a single constant value in specified columns in a DataFrame.**

</div>

In [28]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1332.0,133.0,6.0,78.46,0.05,447.2220,8.0,East,Cash,...,Electronics,4.1,Not Returned,Positive,NaN,FREESHIP,2.9,Frequent buyer,value_5,NaN
1,2023-01-02,1760.0,159.0,6.0,50.90,0.14,262.6440,7.0,West,Cash,...,Books,1.7,Not Returned,Neutral,18.83,FREESHIP,4.8,unknown,value_1,NaN
2,2023-01-03,1869.0,183.0,2.0,78.31,0.25,117.4650,4.0,South,Cash,...,Electronics,1.1,Not Returned,Neutral,NaN,nan,1.3,Preferred morning delivery,value_5,NaN
3,2023-01-04,1872.0,148.0,6.0,77.36,0.05,440.9520,3.0,East,Online,...,Food,4.9,Returned,Negative,8.15,WELCOME5,4.4,unknown,value_3,NaN
4,2023-01-05,1114.0,189.0,4.0,13.54,0.14,46.5776,3.0,North,Credit Card,...,Food,4.8,Returned,Neutral,7.42,nan,NaN,Used loyalty points,value_2,NaN
5,2023-01-06,1681.0,126.0,9.0,92.21,0.06,780.0966,7.0,East,Online,...,Electronics,4.2,Not Returned,Neutral,6.71,WELCOME5,NaN,Frequent buyer,value_5,NaN
6,2023-01-07,1175.0,126.0,8.0,44.60,0.18,292.5760,6.0,East,Credit Card,...,Clothing,3.5,Not Returned,Positive,18.55,WELCOME5,NaN,Preferred morning delivery,unknown,NaN
7,2023-01-08,1487.0,121.0,7.0,80.40,0.13,489.6360,9.0,North,Credit Card,...,Food,4.3,Returned,Positive,NaN,nan,4.6,unknown,value_5,NaN
8,2023-01-09,1934.0,163.0,9.0,88.03,0.13,689.2749,4.0,South,Credit Card,...,Books,4.8,Not Returned,Negative,7.95,FREESHIP,2.9,no_data,no_data,NaN
9,2023-01-10,1704.0,132.0,8.0,90.37,0.14,621.7456,7.0,North,Cash,...,Clothing,3.1,Returned,Neutral,NaN,nan,1.4,First-time customer,no_data,NaN
10,2023-01-11,1088.0,158.0,2.0,63.22,0.06,118.8536,7.0,North,Credit Card,...,Books,3.0,Not Returned,Positive,17.90,SAVE10,3.8,First-time customer,value_2,NaN
11,2023-01-12,1359.0,144.0,3.0,98.38,0.25,221.3550,6.0,East,Cash,...,Food,3.3,Returned,Negative,14.33,SAVE10,NaN,First-time customer,value_2,NaN
12,2023-01-13,1400.0,121.0,1.0,92.68,0.20,74.1440,8.0,West,Online,...,Books,2.4,Returned,Neutral,6.89,SAVE10,3.8,Used loyalty points,value_1,NaN
13,2023-01-14,1566.0,127.0,2.0,59.27,0.22,92.4612,4.0,North,Cash,...,Books,3.3,Returned,Negative,14.70,WELCOME5,NaN,unknown,no_data,NaN
14,2023-01-15,1506.0,127.0,8.0,40.46,0.21,255.7072,6.0,South,Online,...,Books,4.2,Not Returned,Negative,14.04,FREESHIP,2.8,unknown,value_3,NaN
15,2023-01-16,1592.0,104.0,7.0,37.21,0.28,187.5384,4.0,East,Online,...,Books,4.0,Returned,Positive,15.97,SAVE10,NaN,no_data,value_5,NaN
16,2023-01-17,1718.0,112.0,5.0,56.89,0.22,221.8710,7.0,East,Credit Card,...,Books,2.7,Returned,Neutral,17.64,nan,1.6,Frequent buyer,no_data,NaN
17,2023-01-18,1707.0,159.0,6.0,34.33,0.23,158.6046,9.0,West,Credit Card,...,Clothing,1.4,Not Returned,Negative,5.38,FREESHIP,NaN,Preferred morning delivery,value_3,NaN
18,2023-01-19,1921.0,140.0,7.0,82.54,0.03,560.4466,4.0,West,Credit Card,...,Clothing,4.4,Not Returned,Neutral,16.02,FREESHIP,NaN,Preferred morning delivery,unknown,NaN
19,2023-01-20,1300.0,140.0,3.0,63.57,0.20,152.5680,3.0,South,Cash,...,Food,3.8,Not Returned,Neutral,13.43,FREESHIP,NaN,no_data,value_3,NaN
20,2023-01-21,1088.0,174.0,6.0,36.21,0.26,160.7724,9.0,West,Cash,...,Clothing,3.2,Returned,Neutral,12.61,WELCOME5,NaN,no_data,unknown,NaN
21,2023-01-22,1541.0,112.0,2.0,89.93,0.14,154.6796,6.0,South,Credit Card,...,Electronics,1.3,Returned,Positive,NaN,FREESHIP,2.3,unknown,no_data,NaN
22,2023-01-23,1801.0,126.0,1.0,16.21,0.25,12.1575,9.0,East,Online,...,Electronics,3.4,Not Returned,Negative,10.33,FREESHIP,2.3,Used loyalty points,no_data,NaN
23,2023-01-24,1817.0,113.0,4.0,94.83,0.19,307.2492,4.0,East,Online,...,Books,3.6,Returned,Negative,7.71,SAVE10,3.8,First-time customer,value_4,NaN
24,2023-01-25,1932.0,116.0,8.0,36.55,0.19,236.8440,9.0,East,Online,...,Food,1.5,Returned,Positive,NaN,nan,4.5,First-time customer,unknown,NaN
25,2023-01-26,1542.0,104.0,4.0,73.79,0.05,280.4020,4.0,South,Cash,...,Food,4.3,Not Returned,Positive,17.57,WELCOME5,1.8,First-time customer,value_4,NaN
26,2023-01-27,1452.0,103.0,2.0,74.04,0.27,108.0984,4.0,West,Cash,...,Electronics,2.5,Returned,Negative,NaN,FREESHIP,NaN,no_data,value_1,NaN
27,2023-01-28,1984.0,183.0,6.0,54.97,0.22,257.2596,2.0,South,Cash,...,Books,4.5,Not Returned,Positive,14.58,WELCOME5,4.4,Used loyalty points,unknown,NaN
28,2023-01-29,1792.0,166.0,3.0,45.97,0.11,122.7399,2.0,South,Cash,...,Food,4.7,Returned,Negative,13.82,FREESHIP,4.9,no_data,value_2,NaN
29,2023-01-30,1325.0,157.0,3.0,21.57,0.25,48.5325,6.0,East,Credit Card,...,Food,4.2,Not Returned,Neutral,14.94,SAVE10,2.8,unknown,unknown,NaN
30,2023-01-31,1084.0,129.0,7.0,58.68,0.00,410.7600,2.0,North,Cash,...,Food,1.5,Not Returned,Negative,11.86,nan,NaN,no_data,no_data,NaN
31,2023-02-01,1808.0,145.0,3.0,75.90,0.29,161.6670,2.0,North,Online,...,Clothing,1.8,Not Returned,Neutral,NaN,SAVE10,NaN,Preferred morning delivery,value_1,NaN
32,2023-02-02,1732.0,154.0,5.0,45.76,0.12,201.3440,2.0,South,Online,...,Books,3.7,Not Returned,Negative,16.02,WELCOME5,1.7,no_data,unknown,NaN
33,2023-02-03,1802.0,196.0,2.0,42.63,0.18,69.9132,8.0,North,Cash,...,Electronics,4.5,Returned,Positive,10.90,FREESHIP,2.1,no_data,unknown,NaN
34,2023-02-04,1198.0,194.0,8.0,67.59,0.20,432.5760,4.0,North,Credit Card,...,Clothing,2.7,Not Returned,Neutral,5.79,nan,NaN,Preferred morning delivery,value_1,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 12:**
</div>

In [29]:
# Write a Pandas program to fill the missing values in specific columns of a given DataFrame
df_filled = df.fillna({'shipping_cost': 0, 'coupon_code': 'NO_COUPON', 'delivery_rating': 0})
df_filled

# or we can use the `fillna` method directly on the DataFrame
df['shipping_cost'].fillna(0, inplace=True)

# or we can use the `fillna` method directly on the DataFrame with multiple columns
df.fillna(
    {
        'shipping_cost': 0
        , 'coupon_code': 'NO_COUPON'
        , 'delivery_rating': 0
    }
    , inplace=True
)

df

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/3401518830.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['shipping_cost'].fillna(0, inplace=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1332.0,133.0,6.0,78.46,0.05,447.2220,8.0,East,Cash,...,Electronics,4.1,Not Returned,Positive,0.00,FREESHIP,2.9,Frequent buyer,value_5,NaN
1,2023-01-02,1760.0,159.0,6.0,50.90,0.14,262.6440,7.0,West,Cash,...,Books,1.7,Not Returned,Neutral,18.83,FREESHIP,4.8,unknown,value_1,NaN
2,2023-01-03,1869.0,183.0,2.0,78.31,0.25,117.4650,4.0,South,Cash,...,Electronics,1.1,Not Returned,Neutral,0.00,nan,1.3,Preferred morning delivery,value_5,NaN
3,2023-01-04,1872.0,148.0,6.0,77.36,0.05,440.9520,3.0,East,Online,...,Food,4.9,Returned,Negative,8.15,WELCOME5,4.4,unknown,value_3,NaN
4,2023-01-05,1114.0,189.0,4.0,13.54,0.14,46.5776,3.0,North,Credit Card,...,Food,4.8,Returned,Neutral,7.42,nan,0.0,Used loyalty points,value_2,NaN
5,2023-01-06,1681.0,126.0,9.0,92.21,0.06,780.0966,7.0,East,Online,...,Electronics,4.2,Not Returned,Neutral,6.71,WELCOME5,0.0,Frequent buyer,value_5,NaN
6,2023-01-07,1175.0,126.0,8.0,44.60,0.18,292.5760,6.0,East,Credit Card,...,Clothing,3.5,Not Returned,Positive,18.55,WELCOME5,0.0,Preferred morning delivery,unknown,NaN
7,2023-01-08,1487.0,121.0,7.0,80.40,0.13,489.6360,9.0,North,Credit Card,...,Food,4.3,Returned,Positive,0.00,nan,4.6,unknown,value_5,NaN
8,2023-01-09,1934.0,163.0,9.0,88.03,0.13,689.2749,4.0,South,Credit Card,...,Books,4.8,Not Returned,Negative,7.95,FREESHIP,2.9,no_data,no_data,NaN
9,2023-01-10,1704.0,132.0,8.0,90.37,0.14,621.7456,7.0,North,Cash,...,Clothing,3.1,Returned,Neutral,0.00,nan,1.4,First-time customer,no_data,NaN
10,2023-01-11,1088.0,158.0,2.0,63.22,0.06,118.8536,7.0,North,Credit Card,...,Books,3.0,Not Returned,Positive,17.90,SAVE10,3.8,First-time customer,value_2,NaN
11,2023-01-12,1359.0,144.0,3.0,98.38,0.25,221.3550,6.0,East,Cash,...,Food,3.3,Returned,Negative,14.33,SAVE10,0.0,First-time customer,value_2,NaN
12,2023-01-13,1400.0,121.0,1.0,92.68,0.20,74.1440,8.0,West,Online,...,Books,2.4,Returned,Neutral,6.89,SAVE10,3.8,Used loyalty points,value_1,NaN
13,2023-01-14,1566.0,127.0,2.0,59.27,0.22,92.4612,4.0,North,Cash,...,Books,3.3,Returned,Negative,14.70,WELCOME5,0.0,unknown,no_data,NaN
14,2023-01-15,1506.0,127.0,8.0,40.46,0.21,255.7072,6.0,South,Online,...,Books,4.2,Not Returned,Negative,14.04,FREESHIP,2.8,unknown,value_3,NaN
15,2023-01-16,1592.0,104.0,7.0,37.21,0.28,187.5384,4.0,East,Online,...,Books,4.0,Returned,Positive,15.97,SAVE10,0.0,no_data,value_5,NaN
16,2023-01-17,1718.0,112.0,5.0,56.89,0.22,221.8710,7.0,East,Credit Card,...,Books,2.7,Returned,Neutral,17.64,nan,1.6,Frequent buyer,no_data,NaN
17,2023-01-18,1707.0,159.0,6.0,34.33,0.23,158.6046,9.0,West,Credit Card,...,Clothing,1.4,Not Returned,Negative,5.38,FREESHIP,0.0,Preferred morning delivery,value_3,NaN
18,2023-01-19,1921.0,140.0,7.0,82.54,0.03,560.4466,4.0,West,Credit Card,...,Clothing,4.4,Not Returned,Neutral,16.02,FREESHIP,0.0,Preferred morning delivery,unknown,NaN
19,2023-01-20,1300.0,140.0,3.0,63.57,0.20,152.5680,3.0,South,Cash,...,Food,3.8,Not Returned,Neutral,13.43,FREESHIP,0.0,no_data,value_3,NaN
20,2023-01-21,1088.0,174.0,6.0,36.21,0.26,160.7724,9.0,West,Cash,...,Clothing,3.2,Returned,Neutral,12.61,WELCOME5,0.0,no_data,unknown,NaN
21,2023-01-22,1541.0,112.0,2.0,89.93,0.14,154.6796,6.0,South,Credit Card,...,Electronics,1.3,Returned,Positive,0.00,FREESHIP,2.3,unknown,no_data,NaN
22,2023-01-23,1801.0,126.0,1.0,16.21,0.25,12.1575,9.0,East,Online,...,Electronics,3.4,Not Returned,Negative,10.33,FREESHIP,2.3,Used loyalty points,no_data,NaN
23,2023-01-24,1817.0,113.0,4.0,94.83,0.19,307.2492,4.0,East,Online,...,Books,3.6,Returned,Negative,7.71,SAVE10,3.8,First-time customer,value_4,NaN
24,2023-01-25,1932.0,116.0,8.0,36.55,0.19,236.8440,9.0,East,Online,...,Food,1.5,Returned,Positive,0.00,nan,4.5,First-time customer,unknown,NaN
25,2023-01-26,1542.0,104.0,4.0,73.79,0.05,280.4020,4.0,South,Cash,...,Food,4.3,Not Returned,Positive,17.57,WELCOME5,1.8,First-time customer,value_4,NaN
26,2023-01-27,1452.0,103.0,2.0,74.04,0.27,108.0984,4.0,West,Cash,...,Electronics,2.5,Returned,Negative,0.00,FREESHIP,0.0,no_data,value_1,NaN
27,2023-01-28,1984.0,183.0,6.0,54.97,0.22,257.2596,2.0,South,Cash,...,Books,4.5,Not Returned,Positive,14.58,WELCOME5,4.4,Used loyalty points,unknown,NaN
28,2023-01-29,1792.0,166.0,3.0,45.97,0.11,122.7399,2.0,South,Cash,...,Food,4.7,Returned,Negative,13.82,FREESHIP,4.9,no_data,value_2,NaN
29,2023-01-30,1325.0,157.0,3.0,21.57,0.25,48.5325,6.0,East,Credit Card,...,Food,4.2,Not Returned,Neutral,14.94,SAVE10,2.8,unknown,unknown,NaN
30,2023-01-31,1084.0,129.0,7.0,58.68,0.00,410.7600,2.0,North,Cash,...,Food,1.5,Not Returned,Negative,11.86,nan,0.0,no_data,no_data,NaN
31,2023-02-01,1808.0,145.0,3.0,75.90,0.29,161.6670,2.0,North,Online,...,Clothing,1.8,Not Returned,Neutral,0.00,SAVE10,0.0,Preferred morning delivery,value_1,NaN
32,2023-02-02,1732.0,154.0,5.0,45.76,0.12,201.3440,2.0,South,Online,...,Books,3.7,Not Returned,Negative,16.02,WELCOME5,1.7,no_data,unknown,NaN
33,2023-02-03,1802.0,196.0,2.0,42.63,0.18,69.9132,8.0,North,Cash,...,Electronics,4.5,Returned,Positive,10.90,FREESHIP,2.1,no_data,unknown,NaN
34,2023-02-04,1198.0,194.0,8.0,67.59,0.20,432.5760,4.0,North,Credit Card,...,Clothing,2.7,Not Returned,Neutral,5.79,nan,0.0,Preferred morning delivery,value_1,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,NO_COUPON,0.0,NaN,NaN,NaN

<div class="alert alert-warning">

**13. Replace NaNs Using Forward or Backward Fill**

**Write a Pandas program to replace NaNs with the value from the previous row or the next row in a given DataFrame.**

</div>

In [30]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1911.0,117.0,3.0,74.19,0.14,191.4102,9.0,North,Credit Card,...,Electronics,4.1,Returned,Negative,8.81,SAVE10,4.6,no_data,value_4,NaN
1,2023-01-02,1419.0,188.0,4.0,57.18,0.01,226.4328,7.0,South,Credit Card,...,Books,3.7,Returned,Neutral,15.24,SAVE10,NaN,no_data,no_data,NaN
2,2023-01-03,1166.0,168.0,2.0,39.23,0.13,68.2602,8.0,North,Online,...,Food,1.2,Returned,Neutral,5.05,WELCOME5,3.8,unknown,no_data,NaN
3,2023-01-04,1253.0,175.0,8.0,38.79,0.30,217.2240,7.0,West,Credit Card,...,Electronics,4.6,Returned,Neutral,6.60,nan,2.2,Used loyalty points,unknown,NaN
4,2023-01-05,1239.0,116.0,9.0,93.61,0.07,783.5157,4.0,West,Online,...,Clothing,3.6,Returned,Negative,17.22,nan,4.1,unknown,value_2,NaN
5,2023-01-06,1285.0,117.0,4.0,28.03,0.29,79.6052,7.0,South,Cash,...,Clothing,4.3,Returned,Negative,18.63,nan,2.6,Frequent buyer,value_1,NaN
6,2023-01-07,1204.0,136.0,2.0,35.24,0.02,69.0704,4.0,West,Credit Card,...,Electronics,1.5,Not Returned,Neutral,NaN,nan,2.5,Requested gift wrap,value_4,NaN
7,2023-01-08,1122.0,167.0,2.0,11.48,0.05,21.8120,4.0,South,Online,...,Food,1.9,Returned,Neutral,12.00,FREESHIP,1.6,no_data,no_data,NaN
8,2023-01-09,1549.0,148.0,9.0,81.29,0.18,599.9202,9.0,West,Cash,...,Electronics,2.2,Returned,Negative,14.85,FREESHIP,NaN,unknown,unknown,NaN
9,2023-01-10,1757.0,141.0,9.0,10.02,0.06,84.7692,9.0,East,Cash,...,Books,4.5,Not Returned,Positive,NaN,WELCOME5,3.2,no_data,no_data,NaN
10,2023-01-11,1987.0,163.0,5.0,70.77,0.03,343.2345,2.0,East,Cash,...,Food,4.6,Returned,Positive,16.88,WELCOME5,1.2,First-time customer,unknown,NaN
11,2023-01-12,1905.0,131.0,4.0,41.37,0.08,152.2416,8.0,East,Credit Card,...,Clothing,2.3,Not Returned,Positive,14.70,nan,NaN,unknown,value_4,NaN
12,2023-01-13,1969.0,157.0,2.0,26.11,0.02,51.1756,5.0,South,Cash,...,Books,1.6,Not Returned,Negative,9.18,nan,4.3,Preferred morning delivery,value_2,NaN
13,2023-01-14,1665.0,130.0,6.0,13.72,0.27,60.0936,2.0,North,Credit Card,...,Electronics,4.9,Returned,Negative,12.25,FREESHIP,1.6,no_data,unknown,NaN
14,2023-01-15,1924.0,119.0,2.0,24.94,0.17,41.4004,3.0,West,Cash,...,Books,1.9,Not Returned,Neutral,NaN,SAVE10,2.0,Preferred morning delivery,value_5,NaN
15,2023-01-16,1485.0,127.0,8.0,67.54,0.30,378.2240,8.0,East,Online,...,Food,1.6,Returned,Positive,16.81,nan,NaN,unknown,value_3,NaN
16,2023-01-17,1032.0,118.0,4.0,87.24,0.10,314.0640,7.0,North,Cash,...,Clothing,5.0,Returned,Negative,10.49,nan,2.2,no_data,value_3,NaN
17,2023-01-18,1514.0,109.0,7.0,24.47,0.01,169.5771,5.0,South,Online,...,Clothing,2.0,Not Returned,Neutral,6.07,nan,1.4,Requested gift wrap,value_5,NaN
18,2023-01-19,1469.0,193.0,6.0,10.09,0.19,49.0374,3.0,East,Credit Card,...,Books,1.3,Returned,Negative,5.96,SAVE10,1.1,no_data,unknown,NaN
19,2023-01-20,1854.0,128.0,7.0,95.39,0.23,514.1521,1.0,East,Credit Card,...,Food,2.9,Returned,Neutral,5.75,WELCOME5,1.1,First-time customer,unknown,NaN
20,2023-01-21,1137.0,116.0,3.0,12.52,0.14,32.3016,5.0,West,Online,...,Electronics,4.4,Returned,Neutral,NaN,WELCOME5,3.4,Requested gift wrap,value_1,NaN
21,2023-01-22,1799.0,196.0,3.0,27.24,0.19,66.1932,1.0,North,Online,...,Books,1.2,Returned,Neutral,10.74,nan,1.7,Frequent buyer,value_2,NaN
22,2023-01-23,1240.0,139.0,1.0,86.76,0.11,77.2164,4.0,South,Credit Card,...,Books,2.5,Not Returned,Neutral,10.87,WELCOME5,3.3,Frequent buyer,unknown,NaN
23,2023-01-24,1315.0,124.0,8.0,93.05,0.30,521.0800,6.0,West,Cash,...,Food,3.1,Not Returned,Positive,NaN,SAVE10,1.6,Preferred morning delivery,unknown,NaN
24,2023-01-25,1577.0,199.0,2.0,14.35,0.07,26.6910,9.0,West,Credit Card,...,Food,4.8,Not Returned,Neutral,11.71,nan,3.2,Requested gift wrap,value_3,NaN
25,2023-01-26,1306.0,195.0,3.0,22.13,0.28,47.8008,1.0,West,Credit Card,...,Food,1.8,Not Returned,Positive,NaN,WELCOME5,1.3,unknown,value_1,NaN
26,2023-01-27,1553.0,136.0,6.0,16.35,0.20,78.4800,9.0,West,Cash,...,Food,2.1,Returned,Positive,6.74,WELCOME5,3.0,unknown,no_data,NaN
27,2023-01-28,1642.0,103.0,2.0,42.42,0.06,79.7496,3.0,West,Cash,...,Electronics,2.5,Returned,Positive,5.89,WELCOME5,1.4,no_data,value_2,NaN
28,2023-01-29,1014.0,175.0,4.0,60.09,0.02,235.5528,5.0,North,Cash,...,Electronics,3.7,Not Returned,Neutral,7.16,WELCOME5,3.1,Frequent buyer,no_data,NaN
29,2023-01-30,1228.0,177.0,8.0,33.87,0.01,268.2504,7.0,North,Cash,...,Food,4.4,Not Returned,Negative,NaN,SAVE10,4.6,unknown,no_data,NaN
30,2023-01-31,1796.0,130.0,7.0,13.70,0.04,92.0640,7.0,West,Cash,...,Food,3.6,Not Returned,Neutral,NaN,WELCOME5,NaN,no_data,unknown,NaN
31,2023-02-01,1989.0,115.0,7.0,65.95,0.26,341.6210,4.0,West,Credit Card,...,Books,2.2,Returned,Positive,13.82,nan,1.8,no_data,no_data,NaN
32,2023-02-02,1492.0,123.0,8.0,82.91,0.13,577.0536,1.0,West,Cash,...,Clothing,2.0,Returned,Positive,14.77,nan,3.9,First-time customer,no_data,NaN
33,2023-02-03,1476.0,147.0,8.0,32.68,0.29,185.6224,9.0,South,Cash,...,Books,4.2,Returned,Neutral,17.69,WELCOME5,4.7,Frequent buyer,unknown,NaN
34,2023-02-04,1216.0,175.0,2.0,21.86,0.01,43.2828,7.0,South,Online,...,Food,2.6,Returned,Neutral,17.84,WELCOME5,3.7,First-time customer,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 13:**
</div>

In [31]:
# Write a Pandas program to replace NaNs with the value from the previous row or the next row in a given DataFrame.
pd.set_option('future.no_silent_downcasting', True)
df_bfill = df.bfill().infer_objects(copy=False)  # Backward fill
df_ffill = df.ffill().infer_objects(copy=False)  # Forward fill

display(df_bfill)
display(df_ffill)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1911.0,117.0,3.0,74.19,0.14,191.4102,9.0,North,Credit Card,...,Electronics,4.1,Returned,Negative,8.81,SAVE10,4.6,no_data,value_4,NaN
1,2023-01-02,1419.0,188.0,4.0,57.18,0.01,226.4328,7.0,South,Credit Card,...,Books,3.7,Returned,Neutral,15.24,SAVE10,3.8,no_data,no_data,NaN
2,2023-01-03,1166.0,168.0,2.0,39.23,0.13,68.2602,8.0,North,Online,...,Food,1.2,Returned,Neutral,5.05,WELCOME5,3.8,unknown,no_data,NaN
3,2023-01-04,1253.0,175.0,8.0,38.79,0.30,217.2240,7.0,West,Credit Card,...,Electronics,4.6,Returned,Neutral,6.60,nan,2.2,Used loyalty points,unknown,NaN
4,2023-01-05,1239.0,116.0,9.0,93.61,0.07,783.5157,4.0,West,Online,...,Clothing,3.6,Returned,Negative,17.22,nan,4.1,unknown,value_2,NaN
5,2023-01-06,1285.0,117.0,4.0,28.03,0.29,79.6052,7.0,South,Cash,...,Clothing,4.3,Returned,Negative,18.63,nan,2.6,Frequent buyer,value_1,NaN
6,2023-01-07,1204.0,136.0,2.0,35.24,0.02,69.0704,4.0,West,Credit Card,...,Electronics,1.5,Not Returned,Neutral,12.00,nan,2.5,Requested gift wrap,value_4,NaN
7,2023-01-08,1122.0,167.0,2.0,11.48,0.05,21.8120,4.0,South,Online,...,Food,1.9,Returned,Neutral,12.00,FREESHIP,1.6,no_data,no_data,NaN
8,2023-01-09,1549.0,148.0,9.0,81.29,0.18,599.9202,9.0,West,Cash,...,Electronics,2.2,Returned,Negative,14.85,FREESHIP,3.2,unknown,unknown,NaN
9,2023-01-10,1757.0,141.0,9.0,10.02,0.06,84.7692,9.0,East,Cash,...,Books,4.5,Not Returned,Positive,16.88,WELCOME5,3.2,no_data,no_data,NaN
10,2023-01-11,1987.0,163.0,5.0,70.77,0.03,343.2345,2.0,East,Cash,...,Food,4.6,Returned,Positive,16.88,WELCOME5,1.2,First-time customer,unknown,NaN
11,2023-01-12,1905.0,131.0,4.0,41.37,0.08,152.2416,8.0,East,Credit Card,...,Clothing,2.3,Not Returned,Positive,14.70,nan,4.3,unknown,value_4,NaN
12,2023-01-13,1969.0,157.0,2.0,26.11,0.02,51.1756,5.0,South,Cash,...,Books,1.6,Not Returned,Negative,9.18,nan,4.3,Preferred morning delivery,value_2,NaN
13,2023-01-14,1665.0,130.0,6.0,13.72,0.27,60.0936,2.0,North,Credit Card,...,Electronics,4.9,Returned,Negative,12.25,FREESHIP,1.6,no_data,unknown,NaN
14,2023-01-15,1924.0,119.0,2.0,24.94,0.17,41.4004,3.0,West,Cash,...,Books,1.9,Not Returned,Neutral,16.81,SAVE10,2.0,Preferred morning delivery,value_5,NaN
15,2023-01-16,1485.0,127.0,8.0,67.54,0.30,378.2240,8.0,East,Online,...,Food,1.6,Returned,Positive,16.81,nan,2.2,unknown,value_3,NaN
16,2023-01-17,1032.0,118.0,4.0,87.24,0.10,314.0640,7.0,North,Cash,...,Clothing,5.0,Returned,Negative,10.49,nan,2.2,no_data,value_3,NaN
17,2023-01-18,1514.0,109.0,7.0,24.47,0.01,169.5771,5.0,South,Online,...,Clothing,2.0,Not Returned,Neutral,6.07,nan,1.4,Requested gift wrap,value_5,NaN
18,2023-01-19,1469.0,193.0,6.0,10.09,0.19,49.0374,3.0,East,Credit Card,...,Books,1.3,Returned,Negative,5.96,SAVE10,1.1,no_data,unknown,NaN
19,2023-01-20,1854.0,128.0,7.0,95.39,0.23,514.1521,1.0,East,Credit Card,...,Food,2.9,Returned,Neutral,5.75,WELCOME5,1.1,First-time customer,unknown,NaN
20,2023-01-21,1137.0,116.0,3.0,12.52,0.14,32.3016,5.0,West,Online,...,Electronics,4.4,Returned,Neutral,10.74,WELCOME5,3.4,Requested gift wrap,value_1,NaN
21,2023-01-22,1799.0,196.0,3.0,27.24,0.19,66.1932,1.0,North,Online,...,Books,1.2,Returned,Neutral,10.74,nan,1.7,Frequent buyer,value_2,NaN
22,2023-01-23,1240.0,139.0,1.0,86.76,0.11,77.2164,4.0,South,Credit Card,...,Books,2.5,Not Returned,Neutral,10.87,WELCOME5,3.3,Frequent buyer,unknown,NaN
23,2023-01-24,1315.0,124.0,8.0,93.05,0.30,521.0800,6.0,West,Cash,...,Food,3.1,Not Returned,Positive,11.71,SAVE10,1.6,Preferred morning delivery,unknown,NaN
24,2023-01-25,1577.0,199.0,2.0,14.35,0.07,26.6910,9.0,West,Credit Card,...,Food,4.8,Not Returned,Neutral,11.71,nan,3.2,Requested gift wrap,value_3,NaN
25,2023-01-26,1306.0,195.0,3.0,22.13,0.28,47.8008,1.0,West,Credit Card,...,Food,1.8,Not Returned,Positive,6.74,WELCOME5,1.3,unknown,value_1,NaN
26,2023-01-27,1553.0,136.0,6.0,16.35,0.20,78.4800,9.0,West,Cash,...,Food,2.1,Returned,Positive,6.74,WELCOME5,3.0,unknown,no_data,NaN
27,2023-01-28,1642.0,103.0,2.0,42.42,0.06,79.7496,3.0,West,Cash,...,Electronics,2.5,Returned,Positive,5.89,WELCOME5,1.4,no_data,value_2,NaN
28,2023-01-29,1014.0,175.0,4.0,60.09,0.02,235.5528,5.0,North,Cash,...,Electronics,3.7,Not Returned,Neutral,7.16,WELCOME5,3.1,Frequent buyer,no_data,NaN
29,2023-01-30,1228.0,177.0,8.0,33.87,0.01,268.2504,7.0,North,Cash,...,Food,4.4,Not Returned,Negative,13.82,SAVE10,4.6,unknown,no_data,NaN
30,2023-01-31,1796.0,130.0,7.0,13.70,0.04,92.0640,7.0,West,Cash,...,Food,3.6,Not Returned,Neutral,13.82,WELCOME5,1.8,no_data,unknown,NaN
31,2023-02-01,1989.0,115.0,7.0,65.95,0.26,341.6210,4.0,West,Credit Card,...,Books,2.2,Returned,Positive,13.82,nan,1.8,no_data,no_data,NaN
32,2023-02-02,1492.0,123.0,8.0,82.91,0.13,577.0536,1.0,West,Cash,...,Clothing,2.0,Returned,Positive,14.77,nan,3.9,First-time customer,no_data,NaN
33,2023-02-03,1476.0,147.0,8.0,32.68,0.29,185.6224,9.0,South,Cash,...,Books,4.2,Returned,Neutral,17.69,WELCOME5,4.7,Frequent buyer,unknown,NaN
34,2023-02-04,1216.0,175.0,2.0,21.86,0.01,43.2828,7.0,South,Online,...,Food,2.6,Returned,Neutral,17.84,WELCOME5,3.7,First-time customer,unknown,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1911.0,117.0,3.0,74.19,0.14,191.4102,9.0,North,Credit Card,...,Electronics,4.1,Returned,Negative,8.81,SAVE10,4.6,no_data,value_4,NaN
1,2023-01-02,1419.0,188.0,4.0,57.18,0.01,226.4328,7.0,South,Credit Card,...,Books,3.7,Returned,Neutral,15.24,SAVE10,4.6,no_data,no_data,NaN
2,2023-01-03,1166.0,168.0,2.0,39.23,0.13,68.2602,8.0,North,Online,...,Food,1.2,Returned,Neutral,5.05,WELCOME5,3.8,unknown,no_data,NaN
3,2023-01-04,1253.0,175.0,8.0,38.79,0.30,217.2240,7.0,West,Credit Card,...,Electronics,4.6,Returned,Neutral,6.60,nan,2.2,Used loyalty points,unknown,NaN
4,2023-01-05,1239.0,116.0,9.0,93.61,0.07,783.5157,4.0,West,Online,...,Clothing,3.6,Returned,Negative,17.22,nan,4.1,unknown,value_2,NaN
5,2023-01-06,1285.0,117.0,4.0,28.03,0.29,79.6052,7.0,South,Cash,...,Clothing,4.3,Returned,Negative,18.63,nan,2.6,Frequent buyer,value_1,NaN
6,2023-01-07,1204.0,136.0,2.0,35.24,0.02,69.0704,4.0,West,Credit Card,...,Electronics,1.5,Not Returned,Neutral,18.63,nan,2.5,Requested gift wrap,value_4,NaN
7,2023-01-08,1122.0,167.0,2.0,11.48,0.05,21.8120,4.0,South,Online,...,Food,1.9,Returned,Neutral,12.00,FREESHIP,1.6,no_data,no_data,NaN
8,2023-01-09,1549.0,148.0,9.0,81.29,0.18,599.9202,9.0,West,Cash,...,Electronics,2.2,Returned,Negative,14.85,FREESHIP,1.6,unknown,unknown,NaN
9,2023-01-10,1757.0,141.0,9.0,10.02,0.06,84.7692,9.0,East,Cash,...,Books,4.5,Not Returned,Positive,14.85,WELCOME5,3.2,no_data,no_data,NaN
10,2023-01-11,1987.0,163.0,5.0,70.77,0.03,343.2345,2.0,East,Cash,...,Food,4.6,Returned,Positive,16.88,WELCOME5,1.2,First-time customer,unknown,NaN
11,2023-01-12,1905.0,131.0,4.0,41.37,0.08,152.2416,8.0,East,Credit Card,...,Clothing,2.3,Not Returned,Positive,14.70,nan,1.2,unknown,value_4,NaN
12,2023-01-13,1969.0,157.0,2.0,26.11,0.02,51.1756,5.0,South,Cash,...,Books,1.6,Not Returned,Negative,9.18,nan,4.3,Preferred morning delivery,value_2,NaN
13,2023-01-14,1665.0,130.0,6.0,13.72,0.27,60.0936,2.0,North,Credit Card,...,Electronics,4.9,Returned,Negative,12.25,FREESHIP,1.6,no_data,unknown,NaN
14,2023-01-15,1924.0,119.0,2.0,24.94,0.17,41.4004,3.0,West,Cash,...,Books,1.9,Not Returned,Neutral,12.25,SAVE10,2.0,Preferred morning delivery,value_5,NaN
15,2023-01-16,1485.0,127.0,8.0,67.54,0.30,378.2240,8.0,East,Online,...,Food,1.6,Returned,Positive,16.81,nan,2.0,unknown,value_3,NaN
16,2023-01-17,1032.0,118.0,4.0,87.24,0.10,314.0640,7.0,North,Cash,...,Clothing,5.0,Returned,Negative,10.49,nan,2.2,no_data,value_3,NaN
17,2023-01-18,1514.0,109.0,7.0,24.47,0.01,169.5771,5.0,South,Online,...,Clothing,2.0,Not Returned,Neutral,6.07,nan,1.4,Requested gift wrap,value_5,NaN
18,2023-01-19,1469.0,193.0,6.0,10.09,0.19,49.0374,3.0,East,Credit Card,...,Books,1.3,Returned,Negative,5.96,SAVE10,1.1,no_data,unknown,NaN
19,2023-01-20,1854.0,128.0,7.0,95.39,0.23,514.1521,1.0,East,Credit Card,...,Food,2.9,Returned,Neutral,5.75,WELCOME5,1.1,First-time customer,unknown,NaN
20,2023-01-21,1137.0,116.0,3.0,12.52,0.14,32.3016,5.0,West,Online,...,Electronics,4.4,Returned,Neutral,5.75,WELCOME5,3.4,Requested gift wrap,value_1,NaN
21,2023-01-22,1799.0,196.0,3.0,27.24,0.19,66.1932,1.0,North,Online,...,Books,1.2,Returned,Neutral,10.74,nan,1.7,Frequent buyer,value_2,NaN
22,2023-01-23,1240.0,139.0,1.0,86.76,0.11,77.2164,4.0,South,Credit Card,...,Books,2.5,Not Returned,Neutral,10.87,WELCOME5,3.3,Frequent buyer,unknown,NaN
23,2023-01-24,1315.0,124.0,8.0,93.05,0.30,521.0800,6.0,West,Cash,...,Food,3.1,Not Returned,Positive,10.87,SAVE10,1.6,Preferred morning delivery,unknown,NaN
24,2023-01-25,1577.0,199.0,2.0,14.35,0.07,26.6910,9.0,West,Credit Card,...,Food,4.8,Not Returned,Neutral,11.71,nan,3.2,Requested gift wrap,value_3,NaN
25,2023-01-26,1306.0,195.0,3.0,22.13,0.28,47.8008,1.0,West,Credit Card,...,Food,1.8,Not Returned,Positive,11.71,WELCOME5,1.3,unknown,value_1,NaN
26,2023-01-27,1553.0,136.0,6.0,16.35,0.20,78.4800,9.0,West,Cash,...,Food,2.1,Returned,Positive,6.74,WELCOME5,3.0,unknown,no_data,NaN
27,2023-01-28,1642.0,103.0,2.0,42.42,0.06,79.7496,3.0,West,Cash,...,Electronics,2.5,Returned,Positive,5.89,WELCOME5,1.4,no_data,value_2,NaN
28,2023-01-29,1014.0,175.0,4.0,60.09,0.02,235.5528,5.0,North,Cash,...,Electronics,3.7,Not Returned,Neutral,7.16,WELCOME5,3.1,Frequent buyer,no_data,NaN
29,2023-01-30,1228.0,177.0,8.0,33.87,0.01,268.2504,7.0,North,Cash,...,Food,4.4,Not Returned,Negative,7.16,SAVE10,4.6,unknown,no_data,NaN
30,2023-01-31,1796.0,130.0,7.0,13.70,0.04,92.0640,7.0,West,Cash,...,Food,3.6,Not Returned,Neutral,7.16,WELCOME5,4.6,no_data,unknown,NaN
31,2023-02-01,1989.0,115.0,7.0,65.95,0.26,341.6210,4.0,West,Credit Card,...,Books,2.2,Returned,Positive,13.82,nan,1.8,no_data,no_data,NaN
32,2023-02-02,1492.0,123.0,8.0,82.91,0.13,577.0536,1.0,West,Cash,...,Clothing,2.0,Returned,Positive,14.77,nan,3.9,First-time customer,no_data,NaN
33,2023-02-03,1476.0,147.0,8.0,32.68,0.29,185.6224,9.0,South,Cash,...,Books,4.2,Returned,Neutral,17.69,WELCOME5,4.7,Frequent buyer,unknown,NaN
34,2023-02-04,1216.0,175.0,2.0,21.86,0.01,43.2828,7.0,South,Online,...,Food,2.6,Returned,Neutral,17.84,WELCOME5,3.7,First-time customer,unknown,NaN
35,2023-02-04,1216.0,175.0,2.0,21.86,0.01,43.2828,7.0,South,Online,...,Food,2.6,Returned,Neutral,17.84,WELCOME5,3.7,First-time customer,unknown,NaN

<div class="alert alert-warning">

**14. Replace NaNs with Median or Mean**

**Write a Pandas program to replace NaNs with median or mean of the specified columns in a given DataFrame.**

</div>

In [32]:
# Create date range
date_range = pd.date_range(start='2023-01-01', periods=35, freq='D')

# Create a dictionary of data
data = {
    'date': date_range,
    'customer_id': np.random.randint(1000, 2000, size=35),
    'product_id': np.random.randint(100, 200, size=35),
    'quantity': np.random.randint(1, 10, size=35),
    'price': np.round(np.random.uniform(10.0, 100.0, size=35), 2),
    'discount': np.round(np.random.uniform(0, 0.3, size=35), 2),
    'revenue': lambda df: df['quantity'] * df['price'] * (1 - df['discount']),
    'store_id': np.random.randint(1, 10, size=35),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=35),
    'payment_method': np.random.choice(['Credit Card', 'Cash', 'Online'], size=35),
    'is_member': np.random.choice([True, False], size=35),
    'delivery_days': np.random.randint(1, 7, size=35),
    'customer_age': np.random.randint(18, 70, size=35),
    'gender': np.random.choice(['Male', 'Female', 'Other'], size=35),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Food'], size=35),
    'rating': np.round(np.random.uniform(1.0, 5.0, size=35), 1),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=35),
    'feedback': np.random.choice(['Positive', 'Neutral', 'Negative'], size=35),
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute revenue using the lambda function above
df['revenue'] = df['quantity'] * df['price'] * (1 - df['discount'])

# Add 'shipping_cost' with some missing values
df['shipping_cost'] = np.where(np.random.rand(len(df)) < 0.2, np.nan, np.round(np.random.uniform(5.0, 20.0, size=len(df)), 2))

# Add 'coupon_code' with some missing values
coupon_options = ['SAVE10', 'WELCOME5', 'FREESHIP', np.nan]
df['coupon_code'] = np.random.choice(coupon_options, size=len(df), p=[0.2, 0.2, 0.2, 0.4])

# Add 'delivery_rating' with some missing values
df['delivery_rating'] = np.where(np.random.rand(len(df)) < 0.3, np.nan, np.round(np.random.uniform(1.0, 5.0, size=len(df)), 1))

# Define informative and non-informative options
informative_notes = [
    "Requested gift wrap",
    "Preferred morning delivery",
    "Frequent buyer",
    "First-time customer",
    "Used loyalty points"
]

non_informative_notes = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_note():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_notes)
    else:
        return np.random.choice(informative_notes)

# Apply function to create the column
df['customer_note'] = [random_customer_note() for _ in range(len(df))]


# Define informative and non-informative options again for the second column
informative_values = [
    "value_1",
    "value_2",
    "value_3",
    "value_4",
    "value_5"
]

non_informative_values = ["no_data", "unknown"]

# Function to randomly pick one informative or one non-informative note
def random_customer_values():
    if np.random.rand() < 0.5:
        return np.random.choice(non_informative_values)
    else:
        return np.random.choice(informative_values)

df['customer_values'] = [random_customer_values() for _ in range(len(df))]

# Append a row of NaNs
df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

# Add a new all-NaN column
df['all_nan_column'] = np.nan

# Display the updated DataFrame
display(df)

/var/folders/fb/453r9d2j24g8x8tc93n2k6600000gn/T/ipykernel_2015/4116745759.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([[np.nan] * df.shape[1]], columns=df.columns)], ignore_index=True)

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1499.0,168.0,7.0,39.36,0.13,239.7024,4.0,North,Cash,...,Electronics,3.1,Not Returned,Negative,NaN,nan,2.5,Used loyalty points,value_1,NaN
1,2023-01-02,1195.0,177.0,8.0,82.21,0.05,624.7960,4.0,East,Credit Card,...,Electronics,4.0,Returned,Negative,11.43,SAVE10,NaN,Frequent buyer,no_data,NaN
2,2023-01-03,1276.0,195.0,5.0,84.73,0.23,326.2105,5.0,East,Credit Card,...,Food,2.4,Not Returned,Positive,NaN,FREESHIP,3.5,Requested gift wrap,value_3,NaN
3,2023-01-04,1108.0,155.0,2.0,26.61,0.14,45.7692,9.0,South,Online,...,Electronics,1.4,Returned,Neutral,10.49,SAVE10,4.1,Frequent buyer,value_5,NaN
4,2023-01-05,1046.0,151.0,9.0,17.58,0.16,132.9048,5.0,East,Credit Card,...,Books,3.8,Not Returned,Positive,10.77,FREESHIP,NaN,unknown,unknown,NaN
5,2023-01-06,1947.0,154.0,5.0,83.51,0.10,375.7950,4.0,North,Online,...,Food,4.5,Not Returned,Neutral,NaN,nan,NaN,Frequent buyer,value_3,NaN
6,2023-01-07,1925.0,114.0,9.0,12.30,0.09,100.7370,1.0,South,Credit Card,...,Electronics,1.2,Returned,Neutral,15.33,SAVE10,2.2,no_data,unknown,NaN
7,2023-01-08,1500.0,164.0,8.0,71.89,0.12,506.1056,8.0,East,Online,...,Clothing,1.8,Returned,Neutral,NaN,nan,NaN,Frequent buyer,value_3,NaN
8,2023-01-09,1820.0,108.0,6.0,74.24,0.15,378.6240,6.0,South,Online,...,Books,3.3,Returned,Positive,NaN,SAVE10,4.0,Preferred morning delivery,value_2,NaN
9,2023-01-10,1064.0,145.0,6.0,24.04,0.29,102.4104,9.0,South,Cash,...,Food,2.6,Not Returned,Negative,NaN,WELCOME5,2.9,Frequent buyer,unknown,NaN
10,2023-01-11,1945.0,168.0,2.0,99.72,0.16,167.5296,5.0,North,Credit Card,...,Food,1.8,Not Returned,Negative,NaN,WELCOME5,4.7,Used loyalty points,value_1,NaN
11,2023-01-12,1873.0,132.0,8.0,64.10,0.16,430.7520,8.0,East,Cash,...,Clothing,2.0,Returned,Neutral,5.14,SAVE10,2.7,Requested gift wrap,value_1,NaN
12,2023-01-13,1404.0,174.0,4.0,23.80,0.21,75.2080,7.0,North,Cash,...,Food,4.7,Returned,Neutral,NaN,nan,NaN,no_data,no_data,NaN
13,2023-01-14,1276.0,111.0,6.0,83.34,0.07,465.0372,9.0,North,Credit Card,...,Clothing,4.8,Not Returned,Positive,12.16,SAVE10,1.1,no_data,value_1,NaN
14,2023-01-15,1801.0,190.0,9.0,92.45,0.00,832.0500,4.0,East,Cash,...,Books,5.0,Returned,Neutral,13.32,WELCOME5,2.7,First-time customer,unknown,NaN
15,2023-01-16,1556.0,122.0,6.0,54.72,0.10,295.4880,3.0,South,Credit Card,...,Books,3.6,Not Returned,Positive,NaN,SAVE10,3.7,unknown,value_2,NaN
16,2023-01-17,1050.0,185.0,6.0,53.08,0.26,235.6752,3.0,North,Credit Card,...,Clothing,2.9,Returned,Negative,18.08,WELCOME5,4.6,no_data,no_data,NaN
17,2023-01-18,1756.0,144.0,5.0,91.39,0.17,379.2685,4.0,West,Cash,...,Food,2.4,Returned,Negative,19.51,WELCOME5,2.6,unknown,no_data,NaN
18,2023-01-19,1881.0,154.0,5.0,68.08,0.01,336.9960,2.0,North,Credit Card,...,Clothing,3.2,Returned,Neutral,NaN,nan,2.6,unknown,no_data,NaN
19,2023-01-20,1546.0,150.0,6.0,30.40,0.16,153.2160,7.0,East,Credit Card,...,Electronics,1.4,Returned,Negative,19.95,SAVE10,NaN,unknown,value_3,NaN
20,2023-01-21,1508.0,165.0,7.0,32.61,0.18,187.1814,2.0,West,Online,...,Food,4.5,Returned,Neutral,8.22,FREESHIP,4.5,Used loyalty points,value_2,NaN
21,2023-01-22,1985.0,171.0,9.0,57.28,0.24,391.7952,8.0,North,Cash,...,Books,4.6,Returned,Negative,11.15,WELCOME5,3.0,Requested gift wrap,no_data,NaN
22,2023-01-23,1501.0,132.0,4.0,28.87,0.24,87.7648,3.0,South,Online,...,Clothing,4.4,Not Returned,Negative,NaN,nan,4.8,First-time customer,value_1,NaN
23,2023-01-24,1704.0,109.0,6.0,53.42,0.04,307.6992,7.0,North,Cash,...,Clothing,4.6,Returned,Neutral,11.07,FREESHIP,2.7,Used loyalty points,value_5,NaN
24,2023-01-25,1158.0,128.0,5.0,47.56,0.05,225.9100,5.0,North,Credit Card,...,Electronics,2.3,Not Returned,Neutral,19.59,SAVE10,4.7,unknown,no_data,NaN
25,2023-01-26,1524.0,146.0,9.0,23.36,0.15,178.7040,6.0,North,Credit Card,...,Food,1.8,Not Returned,Positive,10.77,nan,2.0,First-time customer,value_2,NaN
26,2023-01-27,1212.0,141.0,6.0,47.79,0.18,235.1268,8.0,South,Online,...,Food,2.1,Returned,Neutral,5.35,SAVE10,3.9,Preferred morning delivery,value_5,NaN
27,2023-01-28,1125.0,101.0,7.0,45.47,0.27,232.3517,9.0,West,Cash,...,Books,2.2,Not Returned,Negative,15.78,nan,2.8,no_data,no_data,NaN
28,2023-01-29,1933.0,196.0,8.0,63.27,0.06,475.7904,5.0,East,Credit Card,...,Food,4.3,Returned,Negative,10.80,FREESHIP,1.4,Requested gift wrap,unknown,NaN
29,2023-01-30,1117.0,115.0,8.0,28.64,0.08,210.7904,3.0,East,Online,...,Electronics,4.1,Not Returned,Neutral,8.17,nan,4.5,Requested gift wrap,unknown,NaN
30,2023-01-31,1646.0,170.0,1.0,71.41,0.18,58.5562,3.0,North,Online,...,Books,4.5,Returned,Neutral,15.78,WELCOME5,2.3,unknown,no_data,NaN
31,2023-02-01,1005.0,141.0,9.0,63.62,0.02,561.1284,1.0,South,Online,...,Electronics,4.6,Returned,Negative,18.62,nan,3.3,unknown,value_4,NaN
32,2023-02-02,1626.0,119.0,8.0,28.63,0.01,226.7496,7.0,South,Online,...,Food,3.3,Not Returned,Positive,NaN,nan,1.0,Used loyalty points,no_data,NaN
33,2023-02-03,1959.0,170.0,2.0,66.30,0.08,121.9920,7.0,East,Credit Card,...,Clothing,3.2,Returned,Negative,13.09,WELCOME5,NaN,First-time customer,value_5,NaN
34,2023-02-04,1397.0,104.0,6.0,80.70,0.25,363.1500,1.0,East,Online,...,Clothing,1.2,Returned,Neutral,13.92,WELCOME5,1.4,no_data,value_4,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">

**Solution 14:**
</div>

In [33]:
df.fillna({
    'delivery_rating': df['delivery_rating'].median(),
    'shipping_cost': df['shipping_cost'].mean()
}, inplace=True)

df

,date,customer_id,product_id,quantity,price,discount,revenue,store_id,region,payment_method,...,product_category,rating,return_status,feedback,shipping_cost,coupon_code,delivery_rating,customer_note,customer_values,all_nan_column
0,2023-01-01,1499.0,168.0,7.0,39.36,0.13,239.7024,4.0,North,Cash,...,Electronics,3.1,Not Returned,Negative,12.977826,nan,2.50,Used loyalty points,value_1,NaN
1,2023-01-02,1195.0,177.0,8.0,82.21,0.05,624.7960,4.0,East,Credit Card,...,Electronics,4.0,Returned,Negative,11.430000,SAVE10,2.85,Frequent buyer,no_data,NaN
2,2023-01-03,1276.0,195.0,5.0,84.73,0.23,326.2105,5.0,East,Credit Card,...,Food,2.4,Not Returned,Positive,12.977826,FREESHIP,3.50,Requested gift wrap,value_3,NaN
3,2023-01-04,1108.0,155.0,2.0,26.61,0.14,45.7692,9.0,South,Online,...,Electronics,1.4,Returned,Neutral,10.490000,SAVE10,4.10,Frequent buyer,value_5,NaN
4,2023-01-05,1046.0,151.0,9.0,17.58,0.16,132.9048,5.0,East,Credit Card,...,Books,3.8,Not Returned,Positive,10.770000,FREESHIP,2.85,unknown,unknown,NaN
5,2023-01-06,1947.0,154.0,5.0,83.51,0.10,375.7950,4.0,North,Online,...,Food,4.5,Not Returned,Neutral,12.977826,nan,2.85,Frequent buyer,value_3,NaN
6,2023-01-07,1925.0,114.0,9.0,12.30,0.09,100.7370,1.0,South,Credit Card,...,Electronics,1.2,Returned,Neutral,15.330000,SAVE10,2.20,no_data,unknown,NaN
7,2023-01-08,1500.0,164.0,8.0,71.89,0.12,506.1056,8.0,East,Online,...,Clothing,1.8,Returned,Neutral,12.977826,nan,2.85,Frequent buyer,value_3,NaN
8,2023-01-09,1820.0,108.0,6.0,74.24,0.15,378.6240,6.0,South,Online,...,Books,3.3,Returned,Positive,12.977826,SAVE10,4.00,Preferred morning delivery,value_2,NaN
9,2023-01-10,1064.0,145.0,6.0,24.04,0.29,102.4104,9.0,South,Cash,...,Food,2.6,Not Returned,Negative,12.977826,WELCOME5,2.90,Frequent buyer,unknown,NaN
10,2023-01-11,1945.0,168.0,2.0,99.72,0.16,167.5296,5.0,North,Credit Card,...,Food,1.8,Not Returned,Negative,12.977826,WELCOME5,4.70,Used loyalty points,value_1,NaN
11,2023-01-12,1873.0,132.0,8.0,64.10,0.16,430.7520,8.0,East,Cash,...,Clothing,2.0,Returned,Neutral,5.140000,SAVE10,2.70,Requested gift wrap,value_1,NaN
12,2023-01-13,1404.0,174.0,4.0,23.80,0.21,75.2080,7.0,North,Cash,...,Food,4.7,Returned,Neutral,12.977826,nan,2.85,no_data,no_data,NaN
13,2023-01-14,1276.0,111.0,6.0,83.34,0.07,465.0372,9.0,North,Credit Card,...,Clothing,4.8,Not Returned,Positive,12.160000,SAVE10,1.10,no_data,value_1,NaN
14,2023-01-15,1801.0,190.0,9.0,92.45,0.00,832.0500,4.0,East,Cash,...,Books,5.0,Returned,Neutral,13.320000,WELCOME5,2.70,First-time customer,unknown,NaN
15,2023-01-16,1556.0,122.0,6.0,54.72,0.10,295.4880,3.0,South,Credit Card,...,Books,3.6,Not Returned,Positive,12.977826,SAVE10,3.70,unknown,value_2,NaN
16,2023-01-17,1050.0,185.0,6.0,53.08,0.26,235.6752,3.0,North,Credit Card,...,Clothing,2.9,Returned,Negative,18.080000,WELCOME5,4.60,no_data,no_data,NaN
17,2023-01-18,1756.0,144.0,5.0,91.39,0.17,379.2685,4.0,West,Cash,...,Food,2.4,Returned,Negative,19.510000,WELCOME5,2.60,unknown,no_data,NaN
18,2023-01-19,1881.0,154.0,5.0,68.08,0.01,336.9960,2.0,North,Credit Card,...,Clothing,3.2,Returned,Neutral,12.977826,nan,2.60,unknown,no_data,NaN
19,2023-01-20,1546.0,150.0,6.0,30.40,0.16,153.2160,7.0,East,Credit Card,...,Electronics,1.4,Returned,Negative,19.950000,SAVE10,2.85,unknown,value_3,NaN
20,2023-01-21,1508.0,165.0,7.0,32.61,0.18,187.1814,2.0,West,Online,...,Food,4.5,Returned,Neutral,8.220000,FREESHIP,4.50,Used loyalty points,value_2,NaN
21,2023-01-22,1985.0,171.0,9.0,57.28,0.24,391.7952,8.0,North,Cash,...,Books,4.6,Returned,Negative,11.150000,WELCOME5,3.00,Requested gift wrap,no_data,NaN
22,2023-01-23,1501.0,132.0,4.0,28.87,0.24,87.7648,3.0,South,Online,...,Clothing,4.4,Not Returned,Negative,12.977826,nan,4.80,First-time customer,value_1,NaN
23,2023-01-24,1704.0,109.0,6.0,53.42,0.04,307.6992,7.0,North,Cash,...,Clothing,4.6,Returned,Neutral,11.070000,FREESHIP,2.70,Used loyalty points,value_5,NaN
24,2023-01-25,1158.0,128.0,5.0,47.56,0.05,225.9100,5.0,North,Credit Card,...,Electronics,2.3,Not Returned,Neutral,19.590000,SAVE10,4.70,unknown,no_data,NaN
25,2023-01-26,1524.0,146.0,9.0,23.36,0.15,178.7040,6.0,North,Credit Card,...,Food,1.8,Not Returned,Positive,10.770000,nan,2.00,First-time customer,value_2,NaN
26,2023-01-27,1212.0,141.0,6.0,47.79,0.18,235.1268,8.0,South,Online,...,Food,2.1,Returned,Neutral,5.350000,SAVE10,3.90,Preferred morning delivery,value_5,NaN
27,2023-01-28,1125.0,101.0,7.0,45.47,0.27,232.3517,9.0,West,Cash,...,Books,2.2,Not Returned,Negative,15.780000,nan,2.80,no_data,no_data,NaN
28,2023-01-29,1933.0,196.0,8.0,63.27,0.06,475.7904,5.0,East,Credit Card,...,Food,4.3,Returned,Negative,10.800000,FREESHIP,1.40,Requested gift wrap,unknown,NaN
29,2023-01-30,1117.0,115.0,8.0,28.64,0.08,210.7904,3.0,East,Online,...,Electronics,4.1,Not Returned,Neutral,8.170000,nan,4.50,Requested gift wrap,unknown,NaN
30,2023-01-31,1646.0,170.0,1.0,71.41,0.18,58.5562,3.0,North,Online,...,Books,4.5,Returned,Neutral,15.780000,WELCOME5,2.30,unknown,no_data,NaN
31,2023-02-01,1005.0,141.0,9.0,63.62,0.02,561.1284,1.0,South,Online,...,Electronics,4.6,Returned,Negative,18.620000,nan,3.30,unknown,value_4,NaN
32,2023-02-02,1626.0,119.0,8.0,28.63,0.01,226.7496,7.0,South,Online,...,Food,3.3,Not Returned,Positive,12.977826,nan,1.00,Used loyalty points,no_data,NaN
33,2023-02-03,1959.0,170.0,2.0,66.30,0.08,121.9920,7.0,East,Credit Card,...,Clothing,3.2,Returned,Negative,13.090000,WELCOME5,2.85,First-time customer,value_5,NaN
34,2023-02-04,1397.0,104.0,6.0,80.70,0.25,363.1500,1.0,East,Online,...,Clothing,1.2,Returned,Neutral,13.920000,WELCOME5,1.40,no_data,value_4,NaN
35,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.977826,NaN,2.85,NaN,NaN,NaN